[2022-01-13 16:58] aws-rhsoln commented on #3290
So `out` tensor is expected to have its own storage in case of all view operations?

[2022-01-13 21:51] JackCaoG commented on #3290
yes, we will try to track view relationships between different tensors and update all of them to act as if they share the same underlying storage.. until a `mark_step` materized the tensor and break our view relationship tracking.

[2022-01-14 00:30] rnett commented on #3258
👍 I asked on the forums and didn't get any response, so repeating it here: will ATen support lazy tensor or something similar?  Or just the python bindings?

[2022-01-14 07:11] ZhongYFeng opened #3295 "Why is upsample not supported on GPU？"
## ❓ Questions and Help
Why is the upsample operation not supported on GPU? This is because the workload is relatively large and has not been completed, or is it impossible to achieve?
[code]
If I want to implement upsample on GPU, what do I need to do?

[2022-01-14 08:47] sipie800 opened #3296 "better rendervous and less waste of memory and tpu"
torch_xla use a map function to fork a program into each tpu core. The variable or anything are repeatly allocated in each process, which is not good at all. In most programs the thing need to be computed over processes is just very little.
There is rendervous and is_master_ordinal can deal such things in weird ways. It's confusing and often cause bugs. And the worst thing is the spawn doesn't out

[2022-01-14 08:48] miladm opened #3297 "Lower `torch.unique`"
Lower `torch.unique`

This operation is required to run Mask RCNN with Dynamic Shape support in PyTorch/XLA.

[2022-01-14 17:05] wconstab commented on #3258
We're working on landing the stuff that's in lazy_tensor_staging into pytorch master now.  It's integrated deeply with ATen (the dispatcher).  The idea is to provide a native way to capture a graph lazily and export it to XLA or torchscript IR backends.

[2022-01-14 17:09] rnett commented on #3258
Excellent, that's what I hoped!  I just saw a lot of code under `torch/csrc` and not much in ATen and got worried I wouldn't be able to use it from the C++ bindings.

[2022-01-14 17:13] wconstab commented on #3258
oh, i see what you mean.  it is possible to use from c++ bindings.  You can see the examples from our lazy tensor unit test:
https://github.com/pytorch/pytorch/blob/lazy_tensor_staging/lazy_tensor_core/test/cpp/test_aten_ltc_ts_tensor.cpp#L9451

This test is part of the test_ptltc binary that gets built by default if you build lazy_tensor_core following the [QUICKSTART.md](https://github.com/pytor

[2022-01-14 17:57] yeounoh commented on #3159
Thanks @seemethere for creating the repo. I've also created one in `gcr`. In case we want to go back and forth between our own and PyTorch ones, it would be easier to go back to the torch repo in `ecr` so we can just do a single authorisation for both.

[2022-01-14 18:23] JackCaoG commented on #3296
I think this behavior(spawn up #core TPU process) will change after we migrate our runtime from XRT to a new run time. The current target date is end of June 2022.

[2022-01-15 03:51] MrRobot2211 commented on #2434
Hi @davidel  thank you for your response. I will shar ewith you a kaggle [kernel ](https://www.kaggle.com/felipebihaiek/g2net-efficientnet-pytorch-xla-tpu/notebook#Issue-with-Datasets-an-iterators) where the issue is made evident.

I am also copying here part of the code in question.

[code]

Up to there everything works well, but then I do not lnow what to do with the `Sampler` so that the datase

[2022-01-15 13:16] davidel commented on #2434
It seems the snippet you posted uses **tf.data.TFRecordDataset** which is a different code base.
Internally they both end up into the same TF C++ code, but the upper API layer is different.

[2022-01-15 13:54] MrRobot2211 commented on #2434
Yes but, when using `TfRecordReader`, and then creating the `IterableDataset` from it I run into a similar issue. And the issue is in properly instantiating the `Sampler`  and or `Loader`.

In particular the error is related to `IterableDatasets` not having `__len__` defined. I could just define it, but it does not seem correct.

[code]

[2022-01-15 16:03] davidel commented on #2434
I see the issue.
The *Sampler* wants a *len()* function in order to partition the sample IDs. In that case an *IterableDataset* is not probably going to work.
One simple solution, if you have enough memory, is to slurp the whole dataset within a Python list, and create a normal *Dataset* with *__len__()* and *__getitem__()* APIs.

[2022-01-15 23:17] MrRobot2211 commented on #2434
My dataset is very heavy. So I do not think that will cut it. I am looking at the `WebDataset` library that works fine with `XLA` from the examples I have seen.  The only problem there is that I can not use the `TFRecord` format. There they use an `IterableDataset`. I will try to see if I can leverage part of their code.

[2022-01-17 08:00] davidel commented on #2434
Essentially a TF-Record file is a streaming-like format, and things like the *Sampler* or even a simple *shuffle* operation, wants to do random access.
IIRC a TF-Record file is a single compressed file, which means it is not even seek-able.
You could rewrite the TF-Record file into a file which supports random ops.
This is some code I did when we had users reporting high memory usage on *Colab* du

[2022-01-17 14:37] hackkhai opened #3302 "RuntimeError: abs does not support automatic differentiation for outputs with complex dtype."
## 🐛 Bug

## To Reproduce
import torch
import torch_xla
import torch_xla.core.xla_model as xm
device = xm.xla_device()
x1=torch.randn(2,2,2,2, dtype=torch.cfloat, requires_grad=True).to(device)
x1.abs()

Steps to reproduce the behavior:

1.Use colab TPU
2.Use the above code to reproduce the error

## Expected behavior

should support backpropogation for complex64 dtype normal pytorch 1.8 supports

[2022-01-18 17:58] hjm-aws commented on #3138
@miladm @JackCaoG Can you re-open this issue, because there are still `send`/`recv` ops to be worked on.

[2022-01-18 18:40] comaniac opened #3304 "Memory optimization for GPUs in torch/xla"
Hi there,

I'm trying to play with torch/xla and the result is very interesting. Specifically, since torch/xla leverages lazy tensor to capture IR graph for both forward and backward passes from PyTorch, I suppose _the peak memory consumption of PyTorch and torch/xla should be similar_, because the peak memory consumption usually happens at the end of forward pass, and its value is mostly determin

[2022-01-19 08:38] GipsonLeo opened #3305 "how to get relative commits of pytorch/pytorch and pytorch/xla ?"
## ❓ Questions and Help
For some reason, i need to install newest torch XLA from sources.  but i don't know the related pytorch/pytorch newest source.  if the pytorch/pytorch and pytorch/xla is not compatible, xla will not work.  how i get a newest relative pair of pytorch/pytorch commit and pytorch/xla commit ?

For example, an old pair is as flow, but too old:
pytorch/pytorch - HEAD git hash is

[2022-01-20 00:15] JackCaoG commented on #3305
we don't keep track of this kind of information on paper. What you could do is to find the pytorch commit on the same day. That usually just works.

For example the pytorch/xla pr you mentioned above is Mar 17, 2021, find the pytorch commit that is same day should just work.

[2022-01-20 00:24] JackCaoG commented on #3304
Hi @comaniac thanks for raising this question. PyTorch/xla itself did not do any GPU specified optimization, I think what happened is the XLA:GPU compiler and runtime contribute to the memory optimization you observed above. Let me see if I can find someone with more XLA:GPU background to take a look at your question.

[2022-01-20 00:34] comaniac commented on #3304
Hi @JackCaoG thank you for the reply, and thanks for helping point to the right person for this question!

[2022-01-20 01:11] GipsonLeo commented on #3305
thanks a lot. i'll try it.

[2022-01-20 01:25] JackCaoG commented on #3304
Here is what I get from our XLA:GPU team

"""
The fused memory kernel is supposed to be hugely more memory efficient as intermediate tensors are not materialized. Similar batch size improved is observed on TF+XLA:GPU.

Also XLA does ahead-of-time memory allocation, which can sometimes get significantly better packing as compared to an allocator that can't "see the future"
"""

[2022-01-20 01:38] JackCaoG commented on #3302
hmm.. something weird is going on. This error is thrown on the pytorch side, not the pytorch/xla side. However when convert the tensor to a cpu tensor, I did not see the same error. Will mark this bug and assign someone to take a look.

[2022-01-20 02:01] comaniac commented on #3304
Thanks for the quick cycle back! IIUC, XLA may perform aggressive fusion to avoid materializing intermediate tensors, even they may be required by the backward pass to compute gradients. These intermediate tensors will be regenerated when needed later on. Does that sound make sense?

Thanks again!

[2022-01-20 03:05] wyhhyw123 opened #3307 "XLA in openmmlab， report Check failed: ShapeUtil::Equal(param_shape, buffer_shape)"
im using XLA to accelerate openmmlab, but get the error report [ Check failed: ShapeUtil::Equal(param_shape, buffer_shape) ], i checked the input image shape and input label shape for several foward steps and it always keep the same. What are the possible reasons for this error ?   Thanks

[2022-01-20 03:10] wyhhyw123 commented on #3307
it could run dozens of  forward steps normally, but got breakdown suddenly

[2022-01-20 03:52] JackCaoG commented on #3307
can you post a small repo and full error log?

[2022-01-20 03:57] JackCaoG commented on #3304
XLA compiler actually doesn't have the notion of forward pass and backward pass, it only see graphs. For pytorch/xla, depending on how you write your model, forward pass and backward pass might be a single graph or two separate graph. In either case, XLA will make sure the output of the graph is correctly computed.

[2022-01-20 20:31] #3159 closed

[2022-01-22 05:39] rwightman commented on #1963
@JackCaoG I just ran into this error and same limit as last poster `(limit 3306)` ... working with a larger model (but not unreasonably large) that should fit in memory fine... I was actually training it with the TPUv4 while I had alpha access and it was going well, cannot get it working with a v3 TPU-VM. Using PyTorch XLA 1.10

[2022-01-22 05:55] JackCaoG commented on #1963
I dropped this project to work on something else last year. @rwightman My guess is that v4 we have larger `smem` hence more parameter can fit in. We are working on runtime migration which will solve this issue permanently. The target timeline is end of June. We can potentially fix this issue on existing runtime(my estimation is it will take ~ 2 weeks) but it will likely be wasted in ~ 6 months whe

[2022-01-22 15:02] cajoek commented on #3186
Hi, has any progress been made on 1.10 for colab? Can I track the progress somewhere?

[2022-01-22 17:49] rwightman commented on #1963
@JackCaoG I'm running through some larger candidate vision models for medium-large scale CLIP / LiT / etc image-text model pretraining. I hope to include a script with working hparams for reproducing such training on TPU, GPU, (maybe IPU) w/ PyTorch ... so models are fairly large, and hope to go a bit larger still... but so far I've kept within what I thought would be reasonable to test on a singl

[2022-01-24 14:48] Lezcano commented on #2755
After https://github.com/pytorch/pytorch/pull/69827, we should be able to lower `_linalg_svd`, as `linalg_svd` and `linalg_svdvals` are composite functions of this one.

Note that this function is not a helper function per se anymore, but a fully fledged function that is used to be able to write `svdvals` as a composite kernel that does not compute the singular vectors when not needed. It is also

[2022-01-24 17:55] #3267 closed

[2022-01-24 18:37] JackCaoG commented on #1963
sounds good, I will keep you updated regarding this issue.

[2022-01-25 01:36] wonjoolee95 opened #3310 "[LTC, Phase 1] Migrate to upstream torch::lazy::Node"
Migrate torch_xla::ir::Node to upstream torch::lazy::Node.

[2022-01-25 19:47] zou3519 opened #3314 "[PT_BREAK] Changed how {index_copy, index_fill, masked_scatter, masked_fill, index_put} dispatch"
## 🐛 Bug

https://github.com/pytorch/pytorch/pull/71751 breaks XLA CI (or at least, a previous version of it did -- the new version is still running through CI). The failures looked like:
[code]
and the full log is over at https://github.com/pytorch/pytorch/runs/4931891041?check_suite_focus=true

## What the PR does

All of the above-mentioned operators used to be CompositeImplicitAutograd and dis

[2022-01-26 01:06] JackCaoG commented on #3314
Thanks Richard.. I think the fix is to lower the operator instead of the in-place version. I will take a look.

[2022-01-27 07:13] wonjoolee95 opened #3316 "Fix disabled TestConv3DNonSquare"
With https://github.com/pytorch/xla/pull/3298 merge, we noticed that `TestConv3DNonSquare` is failing without much logs:
[code]
While we're trying to debug this (and figure out how to add the LOGFILE into PyTorch artifact), we're disabling this test to merge the TF update changes.

[2022-01-27 08:49] #3307 closed

[2022-01-27 19:21] zou3519 commented on #3314
Cool! Please keep me updated on how the fix goes, I'm hoping to get this change in by the PyTorch branch cut (2/1)

[2022-01-27 19:24] JackCaoG commented on #3314
@zou3519 Working in the test failure, hopefully I can get it done by the eod

[2022-01-28 00:50] wonjoolee95 opened #3318 "[LTC, Phase 1] Migrate to upstream torch::lazy::Util"
[LTC, Phase 1] Migrate to upstream torch::lazy::Util

[2022-01-28 18:02] #3318 closed

[2022-01-28 18:16] yeounoh opened #3321 "Build failure with the latest tensorflow changes"
## 🐛 Bug

Having some compilation issues within pytorch/xla with the latest tensorflow changes.

[code]
## To Reproduce

- Pin tensorflow to `fe5345ed0a56e9b6deb9b46b0ab1a99fc8934547` (nightly from 1/27/22)
- Install `libtpu-nightly` version `0.1.dev20220127`

## Additional context

This is a follow-up to #3298

[2022-01-28 22:02] JackCaoG opened #3322 "GPU AMP syncfree optimizer test failure"
## 🐛 Bug

[code]
## To Reproduce

run GPU CI on pytorch/xla master. @ymwangg Could you take a look? I remembered this test passed on your CI. It might just be a glitch that we need to increate the tolerance.

[2022-01-28 22:17] ymwangg commented on #3322
@JackCaoG thanks for reporting, will take a look.

[2022-01-28 22:19] will-cromar commented on #3265
It looks like we are not the first people to get confused by the meaning of the `sorted` flag of `topk`. `sorted` doesn't indicate that the input array is sorted, it indicates that the output array is guaranteed to be sorted. However, while elements are returned in an undefined order when `sorted=False`, that output ordering may still be sorted.

These bugs explain the `sorted` flag:
- https://git

[2022-01-28 23:21] wonjoolee95 opened #3323 "[LTC, Phase 1] Migrate to upstream torch::lazy::helpers.h functions"
[LTC, Phase 1] Migrate to upstream torch::lazy::helpers.h functions

[2022-01-28 23:27] wonjoolee95 opened #3325 "[LTC, Phase 1] Migrate to upstream torch::lazy::ir_metadata.h"
[LTC, Phase 1] Migrate to upstream torch::lazy::ir_metadata.h

[2022-01-31 23:32] will-cromar opened #3327 "Lower `linspace`"
## 🚀 Feature

Lower [torch.linspace](https://pytorch.org/docs/stable/generated/torch.linspace.html)

<details>
<summary>Starting point from @JackCaoG:</summary>
<br>

[code]

</details>

[2022-02-01 22:10] wonjoolee95 opened #3328 "[LTC, Phase 1] Migrate to upstream torch::lazy::ir_metadata.h"
[LTC, Phase 1] Migrate to upstream torch::lazy::util.h

[2022-02-01 23:46] ronghanghu opened #3330 "tensor `.data` assignment fails in PyTorch XLA when shapes are different (unlike on CPUs)"
## 🐛 Bug

One cannot assign a different tensor to a tensor's `.data` attribute in PyTorch XLA due to its IR tracing. Instead of pointing a tensor's `.data` handle to a new memory blob, this assignment would cause the code to crash. (This is unlike in the vanilla PyTorch on CPU or GPU, where one can do it without errors.)

(Is this an expected behavior in PyTorch XLA or a bug?)

## To Reproduce

Th

[2022-02-02 00:21] JackCaoG commented on #3330
Thanks @ronghanghu for reporting, I will take a look

[2022-02-02 00:33] ronghanghu commented on #3330
@JackCaoG Upon further look, it seems that the error is because PyTorch XLA's IR tracing does not allow assigning a tensor's `.data` to a slice of itself (although it still allows assigning its `.data` to another tensor of a different shape).

A simpler snippet to reproduce the error is as follows
[code]

The last slicing step comes from my ZeRO implementation where I try to trim the padding dimen

[2022-02-02 03:07] ronghanghu commented on #3330
Note that on the other hand, in-place slicing assignment could work for a tensor's `.grad` as below, which makes it further weird that it won't work for a tensor's `.data`

[code]

[2022-02-02 07:01] JackCaoG commented on #3330
Ah, OK, this is an interesting problem. @bdhirsh since he implemented the `UpdateView`

I used
[code]
to repo and it crashed on `t1.data = t1_slice`. This only happens when you are trying to assign the the value to a tensor's data when it has a view tensor associated with it.

What happened is that `t1_slice` is a view of `t1`. When we try to assign something to `t1.data`, pt'/xla knows there is a

[2022-02-02 19:23] wonjoolee95 opened #3333 "Fix disabled tests on TPU"
We've had op tests failing for a while in TPU. Since our tests are always failing, it's hard to distinguish new potential bugs coming in.

As of https://github.com/pytorch/xla/pull/3332, we have disabled  some tests on TPU. Need to further investigate and fix these issues.

[2022-02-02 19:43] JackCaoG commented on #3330
When doing a copy we certainly don't want to materialize the ir of the base tensor so we pretty much just do a copy of the IR. This is usually fine but when the tensor we want to clone is a view tensor then pt/xla behavior diverge from the pytorch. One possibility is when a `clone` is issued, we make a copy of the base tensor and rebuild the IR based on the new copied base tensor. It sounds compli

[2022-02-02 23:20] JackCaoG commented on #3265
Thanks, I think we can drop this one for now

[2022-02-02 23:20] #3265 closed

[2022-02-03 06:19] sipie800 opened #3336 "slow compiling"
I am using xla on google colab tpu.
I am editting model and testing.
Everytime I've edited model , I just need one time testing run.
Thought I just add a simple nn.ReLu and re-run. Xla compile again and took more than 5min to begin training.
It drives a researcher mad. We want to edit and run without a weird waiting. Please consider to make xla better.

[2022-02-03 06:30] JackCaoG commented on #3336
Thanks for reporting. The slow compile is due to the nature of the xla compiler. Optimizing a graph takes time and we expect user to compile a graph and run it many times to take advantage of the faster step time.

That being said, if all you need is an okish speed and you know you need to constantly change the graph, consider using the `opbyop` mode. You can check [this doc](https://github.com/py

[2022-02-03 17:18] #3323 closed

[2022-02-04 20:57] wonjoolee95 opened #3341 "[LTC, Phase 1] Migrate to upstream torch::lazy::Node"
[LTC, Phase 1] Migrate to upstream torch::lazy::Node

[2022-02-04 20:58] wonjoolee95 opened #3342 "[LTC, Phase 1] Migrate to upstream torch::lazy::Output"
[LTC, Phase 1] Migrate to upstream torch::lazy::Output

[2022-02-04 20:58] wonjoolee95 opened #3343 "[LTC, Phase 1] Migrate to upstream torch::lazy::Value"
[LTC, Phase 1] Migrate to upstream torch::lazy::Value

[2022-02-04 20:58] wonjoolee95 opened #3344 "[LTC, Phase 1] Migrate to upstream torch::lazy::LoweringContext"
[LTC, Phase 1] Migrate to upstream torch::lazy::LoweringContext

[2022-02-04 21:14] wonjoolee95 opened #3346 "[LTC, Phase 1] Migrate to upstream torch::lazy::BackendDevice"
[LTC, Phase 1] Migrate to upstream torch::lazy::BackendDevice

[2022-02-05 01:17] ymwangg opened #3347 "Calling torch.cuda.is_available() with multiprocessing exhausts memory."
## 🐛 Bug

We saw calling `torch.cuda.is_available` or `torch.cuda.device_count` globally or within data classes will exhaust GPU memory when training fairseq or transformers models using multi-GPUs.

## To Reproduce
[code]

If run the above code snippet using `GPU_NUM_DEVICES=8 python test.py` on a 8-GPU node, you can see there are a total of 8x8=64 processes launched by checking `nvidia-smi`.

##

[2022-02-05 14:37] sipie800 commented on #2247
xla has many issues. It might be the only bad part of torch.

[2022-02-07 19:22] JackCaoG commented on #3347
Hmm I am guessing this has something to do with how XRT server handles GPU training. My hand is a bit tight right now given 1.11 release is coming. I will try to take a look sometime this week.

[2022-02-07 23:13] #3321 closed

[2022-02-08 08:06] yeounoh opened #3351 "Use PyTorch/XLA circleci base image in the upstream testing"
## 🚀 Feature
Expand the current PyTorch/XLA circleci base image, so that it works in the upstream XLA testing -- and use this image in the upstream XLA testing (requires PyTorch-side change as well).

here is the sister feature request in PyTorch [issue](https://github.com/pytorch/pytorch/issues/72693)

## Motivation

Changes in the downstream (PyTorch/XLA) break the upstream OSS CI tests, and vic

[2022-02-08 09:28] cicirori opened #3352 "[Questions] long bernoulli time usage"
## ❓ Questions and Help
I'm using torch xla to train some transformer-like models, and I got the timeline using PyTorch profiler and saw something very strange.
code:
[code]

command:

[code]

Looking at the timeline there are many bernoulli operators that take a long time and show an obvious synchronization behavior between the GPU execution, which I understand is not reasonable?
In this case the

[2022-02-08 23:17] #3314 closed

[2022-02-09 04:43] reidsanders opened #3354 "XLA CompileTime too slow error, error said to post graph dump"
## ❓ Questions and Help
I am running Pytorch XLA using Pytorch lightning on a tpu vm v3-8. I got lots of errors repeating ~this:

I enabled XLA_SAVE_TENSORS_FILE and XLA_METRICS_FILE and post them here: (XLA_SAVE_TENSORS_FILE is truncated because it was too large to upload here, and I understand multiple runs are appended. I can do a different
 file share if it is needed in full.)
[XLA_SAVE_TENSOR

[2022-02-09 04:58] JackCaoG commented on #3354
Compilation is actually fine, it stays at `11` after step 10 and never incremented.
[code]

`TransferFromServerTime` too frequent is usually an indication that you are trying to print something for every step. I was looking at your metric and I saw `TransferFromServer` incremented 4 types per step.

[code]

The total amount of time it taken is not significant through. If you want to optimize this

[2022-02-09 05:07] JackCaoG commented on #3352
hmm, weird. I didn't expect you to see `aten::` ops in the profiler. Did you see `CollectSyncTensors` section where we mark in https://github.com/pytorch/xla/blob/master/torch_xla/csrc/tensor.cpp? There are a couple places we mark certain function to make profiler to see it.

Could you also dump the metric of your run using
[code]
after a couple steps?

I want to make sure this is not caused by th

[2022-02-09 05:12] reidsanders commented on #3354
Ah, thanks! Speed seems fine, but I assumed I had something hurting performance based on that message (I'm new to tpu training, and don't have a good idea of what speeds to expect). I appreciate your help!

[2022-02-09 05:12] #3354 closed

[2022-02-09 06:38] cicirori commented on #3352
Thanks for your reply!

[code]

And by adding the timing code, I'm currently sure it's the long elapsed time that occurs inside this function: https://github.com/pytorch/xla/blob/v1.10.0/torch_xla/csrc/aten_xla_type.cpp#L885

![image](https://user-images.githubusercontent.com/32845984/153135388-85c98316-7a65-4951-ba85-9eaa8c66a140.png)

[2022-02-09 11:53] cicirori commented on #3352
Some updates, I found that TensorToXlaData is taking a lot of time in the subsequent call stack of bernoulli_.
However this code path is not always triggered, it happens whenever devctx->seed_ir_value is false.
And devctx->seed_ir_value will only be set to false in MarkStep.
Does this seem to be the answer to the whole problem?
I'm still trying to figure out if this situation is expected and the e

[2022-02-09 15:00] hannanjgaws opened #3356 "Roberta pre-training using torch-xla fails on GPU"
## 🐛 Bug

I would like to pre-train the FairSeq Roberta base model using torch-xla on GPU. I am following the FairSeq [Pretraining RoBERTa using your own data tutorial](https://github.com/pytorch/fairseq/blob/main/examples/roberta/README.pretraining.md) to preprocess the WikiText-103 dataset and train RoBERTa base using 8 A100 GPUs. I added `common.tpu=True` to enable the XLA flow.

The first trai

[2022-02-09 21:59] JackCaoG commented on #3356
Thanks for reporting. Have you tried running it woth 1/2/4 gpus? If we can repo the same failure using 1 gpu then it will be much easier to debug.

[2022-02-09 22:37] miladm commented on #3347
It should be because of how [`xla_multiprocessing`](https://github.com/pytorch/xla/blob/master/torch_xla/distributed/xla_multiprocessing.py#L364-L365) configures threads.

@ymwangg can you try this line in your script? Let me know how it goes please.

[code]

[2022-02-09 23:05] JackCaoG commented on #3352
Ahh ok, this is the seed sending issue. I have https://github.com/pytorch/xla/pull/3292 which will make random seed uploading async.... Do you want to try it out 😄 . I am trying to merge this pr but it is a large pr.

[2022-02-09 23:06] hannanjgaws commented on #3356
Hi JackCao, thank you for getting to this so quickly! Yes, this can be reproduced using fewer GPUs. Training hangs using just a single GPU (i.e. using `export GPU_NUM_DEVICES=1`).

Please let me know if I can provide any additional info to help you reproduce and debug.

[2022-02-09 23:09] JackCaoG commented on #3356
@hannanjgaws Let's enable a couple more debugging flags to see what's hanging. Can you do
[code]

Hanging can happens at multiple places like device init, data uploading, data preprocessing and etc...

[2022-02-09 23:13] wonjoolee95 opened #3357 "PT CircleCI failures due to change in op args"
Fixes https://github.com/pytorch/pytorch/pull/70873

[2022-02-09 23:35] hannanjgaws commented on #3356
Here's what I see with those flags:
[code]

[2022-02-09 23:40] wonjoolee95 commented on #3357
Now trying to pull the PR and reproduce and error locally.

[2022-02-09 23:52] JackCaoG commented on #3356
hmm, everything seems fine here. The last line was PyTorch/XLA trying to compile a graph to execute. Is this the end of the log? I saw
[code]
so all 8 GPU is being picked up by the runtime.

[2022-02-09 23:59] hannanjgaws commented on #3356
The log keeps going after that last line. I didn't paste the full log because it continues to show the same re-compilation over and over again (and doesn't stop after nearly an hour).

Here's the next chunk of the log starting from the last line I pasted above above:
[code]

[2022-02-10 00:05] JackCaoG commented on #3356
well then it is not stuck, it is executing the graph as intended. you might want to print the metric every couple steps to verify if you don't see any recompilation through(doesn't seem like that is the case since every execution is only 1s apart).

Here is how you print the metrics
[code]

[2022-02-10 00:30] ymwangg commented on #3347
@miladm Thanks for the pointer. Using `xmp.spawn(_mp_fn, nprocs=8, start_method='fork')` did seem to solve the 8x8 processes issue in the above script with the following warning:
[code]
However, if adding some computations like:
[code]
You will get the following error with the `fork` method:
[code]
The full output can be found [here](https://github.com/pytorch/xla/files/8037076/debug.txt).

[2022-02-10 02:14] wonjoolee95 commented on #3357
Was able to reproduce locally:

[code]

[2022-02-10 08:31] cicirori commented on #3352
I cherry picked this pr to our internally maintained branch based on torch_xla 1.10 with some syncfree optimizer commits.
I found that the bernoulli op is no longer stretched, but the single-step time has increased from 420ms to 600ms. The main time overhead should come from the tracing not being overlap, I wonder if this pr will slow down the tracing?
![image](https://user-images.githubuserconten

[2022-02-10 08:35] cicirori commented on #3352
By the way, as I mentioned that we have an internal version of torch_xla, I made the following change when merging this pr, I don't know if it has any impact.

[code]

[2022-02-10 16:49] hannanjgaws commented on #3356
@JackCaoG I confirmed that recompilation is happening every training step using the XLA metrics.

I added the following to the FairSeq Roberta training loop:
* Add `import torch_xla.debug.metrics` as met at the [beginning of the training loop](https://github.com/pytorch/fairseq/blob/5551a1995bea28e47b388dc21fe683efee2d53f6/fairseq/trainer.py#L797)
* Add `print(met.metrics_report())` at the [end of

[2022-02-10 17:23] dedeswim opened #3361 "Cannot backprop through `nn.BatchNorm` in `eval` mode"
## 🐛 Bug

If I try to backdrop through an `nn.BatchNorm` layer which is part of a model on which I have called `.eval()` my script crashes.

## To Reproduce

Steps to reproduce the behavior:

1. Create a model with a BatchNorm layer
2. Call `.eval()` on the model
3. Compute some loss
4. Backprop through the model with `autograd.grad(loss, x)` or with `loss.backward()` to compute the gradient w.r.t

[2022-02-10 19:26] #3327 closed

[2022-02-10 22:44] JackCaoG commented on #3361
Thanks @dedeswim for reporting the issue! I will try to repo it locally.

[2022-02-11 00:16] JackCaoG commented on #3352
@cicirori Can you dump the metric and check counter `HandleBarrierWait `, `TensorToData` and `TransferToServerTime`? Dump this between steps and see how they incremented.

In each step we need to upload a new rng seed to the server. Without the async pr this operation is synchronous hence it will block the tracing. What this pr does is creating a dummy Data and let the actual upload happens in the

[2022-02-11 01:27] JackCaoG commented on #3356
Does this behavior persist? It is generally OK if you recompile in the maybe first 10 epochs, but if it keeps recompiling then it is a problem.

What you could do as a next step is to dump the graph being executed using
[code]
Try to compare the Graph being executed and do a diff to figure out what has changed.

In general please take a look at our [guide](https://github.com/pytorch/xla/blob/maste

[2022-02-11 01:27] JackCaoG commented on #3356
`PT_XLA_DEBUG=1` is your friend too, it is an auto analyzer to help you figure out what might went wrong.

[2022-02-11 04:45] Pasinduekanayake commented on #3186
Hi @JackCaoG any updates on 1.10 for colab?

[2022-02-11 07:18] cicirori commented on #3352
And is there any call stack trace api provided in torch xla？This should be helpful for my debugging. Thanks！

[2022-02-11 07:57] miladm opened #3367 "Lower `upsample_bilinear2d`"
Lower `upsample_bilinear2d`

This op falls back to `aten` in PyTorch/XLA. Start by investigating why it seems the op is already lowered but is not properly lowered. ([reference](https://github.com/pytorch/xla/blame/master/xla_native_functions.yaml#L320-L321))

This op is required for running Mask RCNN efficiently.

[2022-02-11 08:00] miladm opened #3368 "Lower `upsample_nearest2d.vec`"
Lower `upsample_nearest2d.vec`

This op falls back to `aten` in PyTorch/XLA. Start by investigating why it seems the op is already lowered but is not properly lowered. ([reference](https://github.com/pytorch/xla/blame/master/xla_native_functions.yaml#L323))

This op is required for running Mask RCNN efficiently.

[2022-02-11 08:03] miladm opened #3369 "Lower `randperm`"
Lower `randperm.generator_out`

This op falls back to `aten` in PyTorch/XLA. This op is required for running Mask RCNN efficiently.

[2022-02-12 00:16] JackCaoG opened #3370 "master build push doc fails"
## 🐛 Bug

CI link https://app.circleci.com/pipelines/github/pytorch/xla/10327/workflows/9dae915a-32db-45fd-aa94-86ab7e4033d8/jobs/21545

[code]

[2022-02-12 01:30] ymwangg commented on #3352
@cicirori Interesting, I've been looking into the same issue recently. Did you see any improvements with @JackCaoG's async RNG seed PR #3292? Maybe I'm missing something but I couldn't see any improvements with this PR. I noticed the XLA RNG may have some room for improvements. Below is a throughput comparison between models with/without the dropout layer:

| model | master | master + async seed P

[2022-02-12 02:29] hannanjgaws commented on #3356
It turns out the continuous recompilation was happening because FairSeq was feeding the XLA model dynamic inputs. The continuous recompilation can be fixed by padding the inputs to a max sequence length. Pre-training Roberta base using torch-xla + fairseq is now successful on 8 GPUs.

For posterity's sake, here's how I debugged the issue:
* I used `PT_XLA_DEBUG=1` to determine that re-compilation

[2022-02-12 02:29] #3356 closed

[2022-02-12 03:27] JackCaoG commented on #3370
Issue persist.. Will take another look Monday

[2022-02-12 05:09] cicirori commented on #3352
@ymwangg
In my test model, this pr didn't got speeded up e2e, instead the performance degraded.
But I am currently focusing on how to overlap trace and execution perfectly, so I am not too focused on e2e speed.

Also, I sent an email to your private email, please check it when you have time~

[2022-02-14 18:16] miladm opened #3372 "Add a highly stable `main` branch"
## 🚀 Feature
Add a `main` branch

## Motivation

We would like to offer PyTorch/XLA users and developers a stable branch that is frequently updated from `master`. This branch enjoys a high guarantee of stability, remains always green, and closely tracks `master`. `main` is expected to rebase `master` every week, unless `master` is unstable. `main` pins the latest version of PyTorch `master commit`

[2022-02-14 18:16] miladm commented on #3372
Currently, `master` is unstable. I will create `main` once `master` becomes stable.

[2022-02-16 04:03] JackCaoG commented on #3352
Hmm OK. That pr was created to address a slightly different issue. We observed that in some workload, when the execution is really heavy, rng seed uploading can be blocked by the execution. In this case making the seed send async will improve the tracing time significally.

In the workload you guys are running it seems like transfer to server is not blocked, hence making it async won't help the sp

[2022-02-16 04:04] JackCaoG commented on #3352
I will circle back tmr..

[2022-02-16 17:03] miladm opened #3380 "`torch.float` causing a seg fault"
## 🐛 Bug

Running into this Seg Fault issue when using `torch.float` tpye in the following code snippet:

[code]

[code]

With `a3 = torch.cat((a2,a2),dim=1)`, the code functions correctly.

[2022-02-16 17:09] miladm commented on #3380
This issue happens on `a2`, most likely because this tensor is dynamic and dynamic shape is not fully supported yet.

[2022-02-16 19:14] #3351 closed

[2022-02-16 19:15] JackCaoG commented on #3370
fixed by https://github.com/pytorch/xla/commit/513baa5569d15d036511dbb26c1cb2ae4cfb952c

[2022-02-16 19:15] #3370 closed

[2022-02-16 19:26] JackCaoG commented on #3352
@cicirori Did you figure out why
[code]

stretched? Looking at your metric, `HandleBarrierWait` is really short. This means that program is not blocked by the rng seed value inspection.

[2022-02-16 19:26] #3336 closed

[2022-02-16 20:25] ronghanghu commented on #3330
@JackCaoG @bdhirsh Upon further inspections, I found that the following code snippet using `torch.split` would allow me to get around the issue above and assign a tensor's `.data` to its slice.
[code]

The trick of ``torch.split` also works for me in practical use cases beyond the toy example above. However, it is a little confusing as according to the [documentation](https://pytorch.org/docs/stab

[2022-02-16 22:36] JackCaoG commented on #3330
@ronghanghu I checked our code and we did not lower split as a view op. This is where we are misaligned with the pytorch behavior. I tried to modify the result of `split` and it didn't update the base tensor.

I checked the pr https://github.com/pytorch/xla/commit/3d1bc39624d7e493c49ec403e99c97267392f94f and it is one of those earlier ops we lowered so my guess is either we forgot to make it a vie

[2022-02-16 22:52] bdhirsh commented on #3330
@JackCaoG yep, the pass today generates a list of "non-composite aliasing ops" that a backend would need to write _copy() variants of. This list is pretty long because it includes *every* (non-composite) aliasing op, including some that aren't very common and/or are private ops, but for completeness:
[code]

[2022-02-16 23:18] JackCaoG commented on #3330
@bdhirsh I felt like it would be much easier to fix after funcitonization pass, wdyt?

[2022-02-16 23:31] ronghanghu commented on #3330
@JackCaoG Thanks for the explanation!

I think the current XLA implementation of `torch.split` works for me in training, but I'm still trying to understand its memory implication. I would like to explain my usage as follows and hope to get some insights from you.

---

My actual use case is the ZeRO optimizer, where I'm trying to concatenate all the parameters in a `nn.Module` layer into a single

[2022-02-17 06:04] JackCaoG commented on #3330
Let me use this example to answer your question
[code]

In short, split will allocate new memory. Setting the tensor value to None(and make sure this is the only reference to the tensor) will free the memory on the server side.

Let me check with the xla team to see if there is a way to use the buffer while "splitting" a tensor. My feeling is that it would be difficult. We do have the mechanism to

[2022-02-17 13:08] dedeswim commented on #3361
Hi @JackCaoG, by chance, did you manage to reproduce this locally? Please, let me know if you need more information to do so 😊

[2022-02-17 15:02] bdhirsh commented on #3330
@JackCaoG yeah, if you think that implementing a `split_copy()` lowerings on the XLA side will be significantly easier than trying to support `split()` directly for now, then I think this will be easier to implement after the functionalization pass.

[2022-02-17 18:45] JackCaoG commented on #3361
Will try to do that today

[2022-02-17 20:00] ronghanghu commented on #3330
@JackCaoG Thanks again for the explanation!

I tried your exact `test_view.py` snippet above and its output is somehow *not deterministic* for me. On a v3-8 TPU with `tpu-vm-pt-1.10`, its possible print output for this exact snippet include 4 cases:
* case 0: prints `None`
* case 1: prints `(1, 13612258.0, ((1645121786.7991533, 13612258.0),))`
* case 2: prints `(2, 14260672.0, ((1645121749.394338,

[2022-02-18 06:16] JackCaoG opened #3386 "No able to set `GLIBCXX_USE_CXX11_ABI` in the cpp test"
## 🐛 Bug

I was working on the release wheel building and I found that cpp test build will fail at linking due to the `CXX_ABI` issue. During the release we set `CXX_ABI` to 0 and that was done by a check in [here](https://github.com/pytorch/xla/blob/master/test/cpp/CMakeLists.txt#L19). To be even more sure, I manually set [this line](https://github.com/pytorch/xla/blob/master/test/cpp/CMakeLists.

[2022-02-18 06:19] JackCaoG commented on #3386
by manually removing the `-D_GLIBCXX_USE_CXX11_ABI=1` in `test/cpp/build/CMakeFiles/test_ptxla.dir/flags.make` I was able to build cpp test with `CXX_ABI=0`

The workaround I am thinking right now is
1. don't build CPP test for the release wheel
2. run the cmake, have a script to update `test/cpp/build/CMakeFiles/test_ptxla.dir/flags.make` then redo the make

Both solutions are not ideal through..

[2022-02-18 06:22] JackCaoG commented on #3330
Let me get back to you tmr

[2022-02-18 07:12] davidel commented on #3386
Hi @JackCaoG , you have to match that flag to everything that links to PT, otherwise you are going to have linking issues.
Why do you want to manually override?
Today we explicitly get that flag from the PT library binary, and match it to all the stuff we build.

[2022-02-18 08:21] JackCaoG commented on #3386
right, so today pytorch sets `_GLIBCXX_USE_CXX11_ABI=0` on their release build. The problem I run into is when I follow what we had today(using `import torch; print(int(torch._C._GLIBCXX_USE_CXX11_ABI))` for our tf build and test build), for some reason our c++ test still build with  `_GLIBCXX_USE_CXX11_ABI=1`.

I did some debugging above and found that there is a mystery `_GLIBCXX_USE_CXX11_ABI=1

[2022-02-18 08:27] JackCaoG commented on #3386
I verified that my local environment that `CXXFLAGS` is not being set, and I tested that this flag is not added by the CMake file. Given that it is being appended at the end of the `CXX_FLAGS` I am guessing something must happen after our call of `target_compile_options` in CMakeLists.txt but I was not able to figure out what that is..

[2022-02-18 08:30] JackCaoG commented on #3386
Ehh.. OK I found the issue. it is coming from https://github.com/pytorch/xla/pull/3282/files#diff-ee67c9755b4b36019b46fbe0f36c2a1587c9d66915ba13d78dfc46226477574cR11 @yeounoh We should not hardcode the CXX_ABI... I should of review it more carefully....

[2022-02-18 08:41] JackCaoG commented on #3386
Some change between 1/20 and now breaks the ABI=0 use case.. might easier for me to just bisect the prs...

[2022-02-18 21:01] wonjoolee95 opened #3387 "[LTC | Phase 1] Migration to upstream torch::lazy"
- torch_xla::ir::Node -> torch::lazy::Node
- torch_xla::ir::Output -> torch::lazy::Output
- torch_xla::ir::Value -> torch::lazy::Value
- torch_xla::ir::LoweringContext -> torch::lazy::LoweringContext
   - Blocked due to xla::Computation 0> torch::lazy::Computation migration
- torch_xla::Device -> torch::lazy::BackendDevice - https://github.com/pytorch/xla/pull/3383
- torch_xla::ir::DumpUtil -> tor

[2022-02-18 21:02] wonjoolee95 commented on #3346
Moving to https://github.com/pytorch/xla/issues/3387.

[2022-02-18 21:02] #3346 closed

[2022-02-18 21:02] wonjoolee95 commented on #3344
Moving to https://github.com/pytorch/xla/issues/3387.

[2022-02-18 21:02] #3344 closed

[2022-02-18 21:02] wonjoolee95 commented on #3343
Moving to https://github.com/pytorch/xla/issues/3387.

[2022-02-18 21:02] wonjoolee95 commented on #3342
Moving to https://github.com/pytorch/xla/issues/3387.

[2022-02-18 21:02] #3342 closed

[2022-02-18 21:03] wonjoolee95 commented on #3341
Moving to https://github.com/pytorch/xla/issues/3387.

[2022-02-18 21:05] wonjoolee95 commented on #3328
Moving to https://github.com/pytorch/xla/issues/3387.

[2022-02-18 22:21] yeounoh commented on #3286
This was fixed in PyTorch [pr](https://github.com/pytorch/pytorch/pull/71065). Closing.

[2022-02-18 22:21] #3286 closed

[2022-02-19 00:29] #3316 closed

[2022-02-19 00:30] JackCaoG commented on #3305
I am going to close this issue for now, let me know if you need more help!

[2022-02-19 00:30] #3305 closed

[2022-02-19 00:30] JackCaoG commented on #3304
I will close this issue for now, let me know if you need more help!

[2022-02-19 00:32] JackCaoG commented on #3295
Sorry, I missed this one.. It used to be case that our XLA:GPU backend does not support this custom call, I am not sure if it is still the case. Do you still need this feature?

[2022-02-19 00:35] JackCaoG commented on #3293
Pytorch/XLA currently does not support convert a op from Complex64 to any other type. It seems like you want to convert a C64 to float, what;s the expected behavior?

[2022-02-19 04:35] ronghanghu commented on #3330
On a separate issue -- there seems to be a bug with the implementation of `.view` in PyTorch XLA that causes different behaviors between CPU/GPU and PyTorch XLA. This discrepancy gives **different computation results** when running the same model code on GPUs vs on TPUs (which might be a surprise to users). I found this bug when tracing a model that have different results between GPU and TPU.

In

[2022-02-21 05:41] JackCaoG commented on #3386
Well it seem like this breakage is introduced by a pytorch pr.

If I ping PyTorch/XLA to
[code]

and pytorch to
[code]

CXX_ABI=0 PyTorch/XLA test build will fail with CMake flag.
[code]

If I instead ping PyTorch to a earlier date
[code]

build passed and in the CMake Flag I saw
[code]

Bisecting PyTorch prs..

[2022-02-21 07:25] cicirori commented on #3352
@JackCaoG
Sorry, I've been busy with other internal things lately. I will continue to investigate this problem in the next few days and will continue to update this issue with any progress. Thank you for your previous help.

[2022-02-22 03:40] #3099 closed

[2022-02-22 03:41] ZhongYFeng commented on #3099
Problems caused by not enabling cuda

[2022-02-22 03:46] ZhongYFeng commented on #3295
Really hope the community can support this op. This op is too common, I found that many of my models gave up running with XAL because of this.

[2022-02-22 05:48] JackCaoG commented on #3295
Thanks, I will make a note about this.

[2022-02-22 06:12] JackCaoG commented on #3386
https://github.com/pytorch/pytorch/commit/1cc824ef598c7d249ff48643f9148c40988e6fdd seems to be the offending pr.

[2022-02-22 10:52] davidel commented on #3386
AFAICT, even though the following line explicitly sets the flag in the compile options (now for all **Linux** instead of **GCC**), if the PT build machinery would be consistent, we would find a matching flag with our Python script poking, and there would be no problem:

https://github.com/pytorch/pytorch/commit/1cc824ef598c7d249ff48643f9148c40988e6fdd#diff-c181594976c3ae3ca5a3c731ef2da63b409050fa9

[2022-02-22 19:10] JackCaoG commented on #3386
Right, I think what happened is that during our wheel build, in the base Dockerfile we set the env
[code]
and then read it in our build script we do
[code]

By manually setting the `CFLAGS` and `CXXFLAGS`, we control how pytorch and pytorch/xla ABI build seeting. However when we build the test, it reads upstream pytorch CMake, which is checking the `_GLIBCXX_USE_CXX11_ABI` we did not set. Therefor

[2022-02-23 00:32] JackCaoG commented on #3386
Internal wheel build passed with above changes. Close this issue for now. Opening a new one to test remove
[code]

since `_GLIBCXX_USE_CXX11_ABI` should be enough to control pytorch CXXABI setting. PyTorch/XLA should just read pytorch setting by `import torch; print(int(torch._C._GLIBCXX_USE_CXX11_ABI))` in `setup.py`

[2022-02-23 00:32] #3386 closed

[2022-02-23 00:34] JackCaoG opened #3390 "Clean up CXX_ABI setup in pytorch/XLA"
## 🚀 Feature
Test if we can remove
[code]
in `scripts/build_torch_wheels.sh` since _GLIBCXX_USE_CXX11_ABI should be enough to control pytorch CXXABI setting. PyTorch/XLA should just read pytorch setting by import torch; print(int(torch._C._GLIBCXX_USE_CXX11_ABI)) in setup.py.

[2022-02-23 00:38] JackCaoG commented on #3390
More context in https://github.com/pytorch/xla/issues/3386

[2022-02-23 06:33] JackCaoG commented on #3330
There are quite a fee questions, let me answer then one by one

I think I mislead you about what `ReleaseDataHandlesTime` metric means. It actually means "the number of the times we attempt to release data handles.". The trick here is that each time we can release more than one data handles.

A better way to count the amount of data handles we release (instead of how many bulk of handles we releas

[2022-02-23 06:52] ZhongYFeng opened #3391 "I want to Multi-Node Multi GPU training, how should I configure the environment"
## ❓ Questions and Help
Running XLA MultiGPU MultiNode，I know that I need to set XRT_SHARD_WORLD_SIZE and XRT_WORKERS, but I don't know how to configure the variable value of XRT_WORKERS.
Are there some examples that exist for me to refer to?

[2022-02-23 06:57] ronghanghu commented on #3330
I see, then I can try out `DestroyDataHandles` to debug my memory usage.

I think `DestroyDataHandles` will be sufficient for my debugging use case :)

[2022-02-23 07:04] JackCaoG commented on #3330
Looking at the example 3 I am not sure if it is doing what you are expected.

[code]
I run it with `XLA_SAVE_TENSORS_FILE="/tmp/ir.txt"` to get a IR text dump and I saw

[code]

You see that all 4 huge tensor coexist in the executed graph. This is because execution does not happen until you call `xm.mark_step()`. Even if you drop the reference for `p` by setting its data to 0, `loss_p` actually st

[2022-02-23 07:11] JackCaoG commented on #3330
Running the above example, I saw
[code]

Pytorch/XLA did not allocate any handle for the 12GB because it is a result of a `expand` of constant and after the `mark_step` `p`, `q`'s value has been updated to 0. However if `p` and `q` are real datas, we actually need to transfer both of them to the HBM before executing the above graph, which will result in a OOM.

[2022-02-23 07:13] JackCaoG commented on #3330
@ronghanghu Do you mind opening a separate issue for this one? This thread is getting long and might be hard to follow.

[2022-02-23 07:41] cicirori commented on #3352
@JackCaoG
It's all about TensorToXlaData. I went through a few of the stretched ops (bernoulli_, index, add, addcdiv_, and I'm sure there are more, but I didn't go further) and found that the most timing cost function were always `TensorToData`.

So I changed the `transfer_async`'s default value of  `TensorToData` and `CreateTensorsData` to `true`.

Something exciting happened, the GPU execution t

[2022-02-23 07:45] cicirori commented on #3352
I haven't read the implementation of transfer_async carefully yet, so I have two concerns now:

1. is it safe to set its default value to true?
2. are `transfer_async=true` and `transfer_async=false` equivalent from an algorithm engineer's point of view (like model convergence)?

[2022-02-23 08:30] ronghanghu opened #3392 "PyTorch XLA erroneously update `t`'s views when it shouldn't (because `t.data` isn't in-place modified)"
## 🐛 Bug

There seems to be a bug in the IR implementation of `.view` in PyTorch XLA that causes different behaviors between CPU/GPU and PyTorch XLA. This discrepancy gives **different computation results** when running the same model code on GPUs vs on TPUs (which might be a surprise to users). I found this bug when tracing a model that have different results between GPU and TPU.

In short, the b

[2022-02-23 08:31] ronghanghu commented on #3330
Submitted a new issue to https://github.com/pytorch/xla/issues/3392

[2022-02-23 08:54] ronghanghu commented on #3330
@JackCaoG Thanks for the detailed explanation here!

That's great to know -- the XLA compiler is smart. I tried out switching to `torch.randn` and indeed got OOM in Example 3 above.

I still didn't understand it. Could you elaborate a bit further on this? In particular, when is it required that all tensors transfer to HBM?

For example, I tried the following case which simulates a neural network w

[2022-02-24 01:05] ymwangg opened #3394 "Inconsistent tensor.expand(...) behavior"
## 🐛 Bug

I recently found torch_xla has different behavior in `tensor.expand(..)` comparing to native torch. It looks like torch_xla performs real expansion using `xla::BroadcastInDim` while pytorch doc says "Expanding a tensor does not allocate new memory, but only creates a new view on the existing tensor".
## To Reproduce
[code]
[code]
[code]

## Expected behavior
[code]

[2022-02-24 02:17] JackCaoG commented on #3394
This goes back to how view is implemented in pytorch/xla. Short answer is that xla does not expose the memory space to the user hence there really isn't a way to achieve the same "multiple tensor pointing to the same storage" trick. We implement the view ops using functionization which pretty much just allocate a new tensor and keep track of them, update them together if we need to. You might want

[2022-02-24 06:27] JackCaoG commented on #3361
The good news is that we almost finished our colab wheel issue so when we fix the issue you will get it working on the colab. The bad news is I have yet to have time rootcausing this issue.. We are in the process of preparing for 1.11 release so my hand is a bit tight.. I will keep you updated.

[2022-02-24 07:11] JackCaoG commented on #3330
Hmm, I need to talk with the xla team to understand the full detail, I can tell you what I know right now.

`torch.tensor(1,2,3,4,5, device='xla:0')` and `torch.randn(5, device='xla:0')` are not the same to the pytorch/xla even they all supposedly take up 20 bytes of device storage.

For the `torch.tensor(1,2,3,4,5, device='xla:0')`, we need to allocate the tensor with 20 byte storage and transfer

[2022-02-24 07:21] JackCaoG commented on #3330
I guess the question is more of how does xla compiler handles the intermediate tensor and what if total size of the intermediate tensor exceed the HBM. By intermediate I mean this tensor is not the input of the graph (in this case `randn` was generated during the execution, same for `expand`) or the output of the graph(we drop the reference to it so it is also not the output of the graph).

[2022-02-24 08:09] ronghanghu commented on #3330
@JackCaoG Thanks again for the explanation. The `randn` or intermediate computation is the case I'm encountering in my usage. I don't need the large tensor to be transferred to the runtime (in the case of `data`). Instead, the large tensors will be generated as part of the intermediate computation ops such as concatenation, matrix multiplication, or `xm.all_gather`.

I hope to get a better underst

[2022-02-24 10:44] dedeswim commented on #3361
Thanks a lot for the update. I'd be happy to help in case there is something I can do

[2022-02-24 10:51] jaideep11061982 commented on #2241
@dlibenzi any work around

[2022-02-24 18:21] ymwangg commented on #3394
@JackCaoG  Thanks for the info. I found this op is inefficient when debugging the t5 model. It sounds like this is due to a limitation in xla and cannot be solved easily. I'll see if this op can be replaced by others.

[2022-02-24 22:27] JackCaoG commented on #3330
I checked with the XLA team. I think the conclusion is that XLA compiler reclaim the unneeded buffer is a best effort basis. It is not perfect but has been pretty affective so far. What user needs to do is to make it clear that certain tensor value is not needed after the computation(by dropping the reference to it making it an intermediate value instead of output of the graph exeuction) and XLA c

[2022-02-25 01:12] JackCaoG commented on #3330
Using your example 5(only difference being that I changed `num_layers` to 5)

[code]

with `XLA_SAVE_TENSORS_FMT="hlo" XLA_SAVE_TENSORS_FILE="/tmp/ir2.txt"` I see

[code]

This means this computation takes 1 `s64` input and return 5 `f32` output. That one `s64` is the RNG seed and 5 output are layer output we stored in `out_list`. Everything else is considered intermediate and XLA will take care o

[2022-02-25 01:14] JackCaoG commented on #3394
Thanks, if you find a work around that works well I would. love to learn about that 😄 .

[2022-02-25 01:17] JackCaoG commented on #3392
@bdhirsh Could you take this one?

[2022-02-25 01:23] JackCaoG commented on #3394
I will close this issue for now since there isn't much we can do right now, but please let us know if you find a work around that works well 😄 .

[2022-02-25 01:23] #3394 closed

[2022-02-25 01:25] JackCaoG commented on #3391
I have not tried it personally, seems like @[cicirori](https://github.com/cicirori) has done it before. Do you mind sharing the config?

[2022-02-25 03:43] ronghanghu commented on #3330
I see. I'll try to free and remove references to the intermediate tensors so that the XLA compiler can free them.

The example you showed above is quite helpful. I'll try using these two env variables and torch_xla._XLAC._xla_tensors_report for debugging in case I run into further memory issues.

So the only remaining issue for my use case is https://github.com/pytorch/xla/issues/3392 (it would be

[2022-02-25 03:43] #3330 closed

[2022-02-25 05:50] JackCaoG commented on #3361
Ok I find the issue. Basically pt/xla was complaining about `mean` passed to  the `native_batch_norm_backward` has different dimension than the `feature`. In your example, feature dimension is 3 and mean was 0.

The cause of this mismatched is actually
[code]

In `XLANativeFunctions::native_batch_norm`  a running mean was passed to pytorch/xla and we will update this running mean and return it to

[2022-02-26 20:14] zirismetov commented on #3186
+1 got same error on google COLAB . To fix i removed "import torch" ran the code(got the error that package is missing), and again imported it. Worked for me

[2022-02-27 00:36] JackCaoG commented on #3186
Hey sorry. We are almost there.. We fixed the build issue internally and will build a wheel for 1.10 and update the instruction hopefully next week. @yeounoh

[2022-02-28 03:37] cicirori commented on #3391
@JackCaoG with pleasure

When xmp.spawn starts a GPU task, it ends up using a process to manage a card. xmp.spawn configures some environment variables for each process for distributed launch. The following lists the allowed environment variables and their meanings.

| env name | meaning | example value |
| --- | --- | --- |
| XRT_HOST_WORLD_SIZE | number of nodes | INT
| XRT_HOST_ORDINAL | node i

[2022-02-28 03:40] cicirori commented on #3391
@JackCaoG I also develop a multi-node torch xla launch utility just like `torchrun`, would the community be willing to accept this feature?

[2022-02-28 03:43] cicirori commented on #3391
@JackCaoG and strayed from this topic...  I need help of [issue#3352](https://github.com/pytorch/xla/issues/3352)...

[2022-02-28 04:50] JackCaoG commented on #3352
Sorry I let this one slipped.. Will take a look tmr.

[2022-02-28 04:52] JackCaoG commented on #3391
@cicirori We'd love to take that change. FYI we are wokring on runtime migration so the way to start gpu training will likely change in the future(targeting q3 2022). We will keep XRT as runtime option at least until end of year through.

[2022-02-28 06:07] cicirori commented on #3391
Okay, but our pytorch version is fixed at 1.10 and I will evaluate the workload of merging into master (`xlarun` called some `torchrun` APIs).
And where can I see the progress related to runtime migration? Or does the corresponding item exist only internally in google?

[2022-02-28 13:02] ZhongYFeng commented on #3391
Thanks a lot for the answer. But I still encountered some problems, it should be a bug
In torch_xla/distributed/xla_multiprocessing.py file ，
https://github.com/pytorch/xla/blob/9917e41f60354ce96b3181acf30dff422d3c8716/torch_xla/distributed/xla_multiprocessing.py#L54-L63
https://github.com/pytorch/xla/blob/1f71ef2a7b99c6d148a006891a79d53db82f7f3b/torch_xla/distributed/xla_multiprocessing.py#L147-L

[2022-02-28 13:14] ZhongYFeng commented on #3391
I still have a question. I have two nodes, each node has two gpus. A total of four cards for training
In all_reduce
https://github.com/pytorch/xla/blob/1f71ef2a7b99c6d148a006891a79d53db82f7f3b/torch_xla/core/xla_model.py#L578

[2022-02-28 20:59] amithrm opened #3399 "Incorrect lowering of torch.arange for 64-bit long"
## 🐛 Bug

When torch.arange() is used to generate a sequence with long dtype, it maps to  constant({...})  i.e. '...' token. For 64-bit values, this generates garbage as indicated in: https://github.com/tensorflow/tensorflow/blob/5e1bc2d8f8a10cf28d36d593a322e7eb4ab11780/tensorflow/compiler/xla/service/hlo_parser.cc#L3576

## To Reproduce

Steps to reproduce the behavior:

1. torch.arange(start=0,

[2022-02-28 22:39] #3387 closed

[2022-02-28 22:40] yeounoh commented on #3399
Hi @amithrm , thanks for reporting the bug. We will take a look and circle back soon.

[2022-02-28 22:42] yeounoh commented on #3390
I can take a look, have a build environment setup to test already.

[2022-03-01 03:22] cicirori commented on #3391
don't use any launch utility or functions.
i don't know how much you known about `torch.distributed.launch` (version before pytorch 1.8 has more simple and clear implements).
just follow it, configure the env var above correctly, and do some minor change of you training code, multi-node training will be running as exceptly.

[2022-03-01 03:54] ZhongYFeng commented on #3391
Does XLA Multi-Node and Multi-GPU need to use torch.distributed.launch to start? Can't start using only torch_xla.distributed.xla_multiprocessing？
I know that in One-Node and Multi-GPU, only need to use torch_xla.distributed.xla_multiprocessing to start it, like this,
https://github.com/pytorch/xla/blob/3ceb226cdf32496f8d6270a50f80528a4e014d78/test/test_train_mp_mnist.py#L177-L189
If possible, can

[2022-03-01 05:36] JackCaoG commented on #3352
I tested `transfer_async=true` by default and observe some minor slow down(~5%) on resnet50 on TPU, I am not sure if that slow down is real through.

If I understand correctly, sending the RNG seed aysnc slow down your training a bit, but sending all data async will give significant better overlap between tracing and execution? Is my understanding correct?

To your question
1. is it safe to set it

[2022-03-01 06:06] yeounoh commented on #3186
Hi @SankhaJay , could you try re-installing `torch torchvision torch-xla` with the following commands on your colab notebook?
[code]
The `torch_xla==1.10` wheel supports/requires `torch==1.10` cc @Arka161 @Pasinduekanayake @cajoek

[code]

[2022-03-01 06:52] JackCaoG commented on #3361
@mruberry @bdhirsh Could you give me some guidance regarding this behavior?

[2022-03-01 16:39] bdhirsh commented on #3361
@JackCaoG I compared the CPU and XLA behavior - in that code snippet for XLA batch norm ([link](https://github.com/pytorch/xla/blob/cf2763033d1051dfe96984f44516edd50b444dd6/torch_xla/csrc/tensor_methods.cpp#L2040)), where is it actually overwriting `running_mean`? It looks like it takes in a `running_mean` tensor, and (without modifying the input), it returns a new zero-sized `mean` tensor.

The d

[2022-03-01 17:39] ymwangg commented on #3347
After some investigation, I found the main reason is `CUDA_VISIBLE_DEVICES` is ignored by CUDA driver if `torch.cuda.is_available()` is called before setting `CUDA_VISIBLE_DEVICES` so that each process tries to initialize all GPUs.
Below is the minimum example:
[code]
With `torch.cuda.is_available()`:
[code]
Without `torch.cuda.is_available()`:
[code]

[2022-03-02 06:09] JackCaoG commented on #3361
`but that's fine because what gets passed to the backward is the original running_mean input (which has the correct size`
I felt like this is not the case for pytorch/xla, but I need to verify.

[2022-03-02 07:25] cicirori commented on #3352
I didn't see obvious performance difference on running  resnet50 training with **fake data**

here is the overview generated by torch.profiler:
[code]
![image](https://user-images.githubusercontent.com/32845984/156313080-f76c69a8-6125-4419-a102-2c1fa27f17e2.png)
[code]
![image](https://user-images.githubusercontent.com/32845984/156313101-921feb57-3e6d-4d7b-bc1f-d99e19bd5119.png)

It seems that asy

[2022-03-02 11:09] rwbfd opened #3403 "PyTorch ResNet18 GPU Training Failed on Colab"
## 🐛 Bug

PyTorch ResNet18 GPU Training has failed on Colab.

## To Reproduce

I am using [this official notebook](https://colab.research.google.com/github/pytorch/xla/blob/master/contrib/colab/resnet18-training.ipynb) to test out the GPU utility. Unfortunately, while the TPU works fine, the GPU doesn't work, despite !nvidia-smi returns a valid GPU. The error is

<code>
RuntimeError: tensorflow/co

[2022-03-02 14:39] bdhirsh commented on #3361
Sounds good. I think I would expect it to be the case for XLA though... since that is the "default" derivative formula for `native_batch_norm` (defined in [core](https://github.com/pytorch/pytorch/blob/95204c4e2b30bda85d8907eb47763c05af8b474c/tools/autograd/derivatives.yaml#L1083)), meaning that all backends would use that same derivative formula by default. And I didn't see any place where pytorc

[2022-03-02 15:59] ronghanghu commented on #3392
Hi @bdhirsh and @JackCaoG, do we have a plan and an ETA for this issue? (It is currently blocking our use case on scaling.)

I'm happy to provide additional info or examples if needed. Thanks!

[2022-03-02 16:29] #3079 closed

[2022-03-02 16:29] #3043 closed

[2022-03-02 16:29] #3095 closed

[2022-03-02 16:29] #3104 closed

[2022-03-02 16:29] #3103 closed

[2022-03-02 16:29] #3108 closed

[2022-03-02 21:29] JackCaoG commented on #3352
Hmm, I guess I can start with adding the env var to enable async upload for all datas (except the one from parallel loader) and leave it off for now. Then we can benchmark it a bit more and decide whether we want to change the default value. I will try to do that after the 1.11 release.

[2022-03-02 22:06] JackCaoG commented on #3392
Sorry for the delay, I will try to take a look today or tmr.

[2022-03-02 22:40] ronghanghu commented on #3392
@JackCaoG Thank you!

[2022-03-02 22:40] bdhirsh commented on #3392
@ronghanghu One thing I'm wondering - are you able to update your code to not use `.data`?

I tried running the following in colab, and it seems to run fine (the same results on cpu vs xla):
[code]

`a.data` is a pretty weird tensor property (AFAIK it shouldn't be necessary to do anything you need) - it effectively returns a new tensor, but:
- it points to the same storage as `a`
- it removes auto

[2022-03-03 00:03] ronghanghu commented on #3392
Hi @bdhirsh, unfortunately, my use case has to rely on the `.data` property. This allows me to keep the same variable `a` (e.g. so that it can be added to an optimizer, a module's parameter, etc) but point it to different storage at different times by changing `a.data`.

This `.data` assignment or editing is a frequent use case in gradient checkpointing and scaling scenarios (for example, there ar

[2022-03-03 04:30] hjm-aws commented on #3138
`send`/`recv` are yet to be added.

[2022-03-03 04:50] JackCaoG commented on #3403
You need to change the runtime type to GPU instead of TPU. Click `Runtime` -> `Change Runtime Type`. Let me know if this still doesn't work :D.

[2022-03-03 05:09] rwbfd commented on #3403
I have changed the runtime to GPU and tested using nvidia-smi to see whether there is actually a GPU available. Still, the error remains.

[2022-03-03 05:14] JackCaoG commented on #3399
Sorry I don't quite understand the issue here, we are lowering `arange` using the `xla::constant`, I didn't quite get `but for 64-bit, it essentially concats pairs (32-bit each) leading to wrong results`

I tried
[code]

on `xla:cpu` and it seems correct to me. Could you provide a case that arange will provide incorrect result?

[2022-03-03 05:28] JackCaoG commented on #3403
Ah ok, I think the wheel link in the beginning is incorrect. We need to use one of those gpu-build torch_xla wheel. Let me see if I can quickly fix that.

[2022-03-03 05:50] JackCaoG commented on #3347
Thanks @ymwangg . This sounds like a bug or at least we should document this somewhere? I am assuming issue does not arise if we don't call `torch.cuda.device_count()` within the spawn function?

[2022-03-03 16:23] bdhirsh commented on #3392
Would `detach()` get you the behavior that you want (which I think should get you similar behavior to `.data()` - it returns you a new tensor that views the same "data" as the old tensor, but detached from the autograd graph).
[code]

[2022-03-03 16:31] ronghanghu commented on #3392
Hi @bdhirsh, unfortunately `detach()` cannot get what we need. We need to **edit** a Variable's underlying `.data` to point it to a new storage (while keeping the same Variable python object for auto-grad, module parameter, and optimizer), so `detach` cannot let us accomplish this purpose.

[2022-03-03 17:11] ronghanghu commented on #3392
The expected behavior of tensor/variable in PyTorch is that that **accessing `x` is equivalent (except for PyTorch's auto-grad tracing) to accessing the exact version of `x.data` at that moment when `x` being accessed**. So in the example above, calling `y = x.view(2, 2)` should give the same view as calling `y = x.data.view(2, 2)` (except that the former allows us to back-propagate to `x` and put

[2022-03-03 17:28] ronghanghu commented on #3392
The expected behavior of tensor/variable in PyTorch (in the case of CPU/GPU) is that accessing `x` is equivalent (except for PyTorch's auto-grad tracing) to accessing the exact version of `x.data` at that moment when `x` being accessed. So in the example above, calling `y = x.view(2, 2)` should give the same view as calling `y = x.data.view(2, 2)` (except that the former allows us to back-propagat

[2022-03-03 20:22] ptrblck commented on #3347
This is expected behavior, as `CUDA_VISIBLE_DEVICES` has to be set before the first CUDA call.

[2022-03-03 22:47] #3390 closed

[2022-03-04 01:54] ymwangg commented on #3347
@ptrblck Thanks for the quick response. @JackCaoG You are right, the issue does arise if we don't call functions like `torch.cuda.device_count()` that perform pytorch cuda initialization. List it as a known issue somewhere will be very helpful. I found this issue when training NLP models using transformers library or fairseq library on multiple GPUs. Maybe this issue can be fixed by moving `CUDA_V

[2022-03-04 07:45] JackCaoG commented on #3392
OK, I think I root caused the issue

using example
[code]

[code]
calls
https://github.com/pytorch/xla/blob/3ceb226cdf32496f8d6270a50f80528a4e014d78/torch_xla/csrc/tensor.cpp#L888

and then
https://github.com/pytorch/xla/blob/3ceb226cdf32496f8d6270a50f80528a4e014d78/torch_xla/csrc/tensor.cpp#L622

In `SetIrValue` we have a incorrect assumption that
[code]
In this case `SetIrValue` is call but we a

[2022-03-04 13:36] KrishPro commented on #3186
I think this issue should be closed ?

[2022-03-04 15:47] ronghanghu commented on #3392
Thanks, @JackCaoG! Even if it won't be part of the 1.11 release, it's still very helpful to have it in a nightly version.

[2022-03-04 18:30] JackCaoG commented on #3186
We still need to setup the nightly wheel for colab, will close after that.

[2022-03-04 21:19] JackCaoG commented on #3399
@amithrm If you could provide a code snippet that fails for you that would be very helpful.

[2022-03-04 21:25] amithrm commented on #3399
Hi Jack,

Parsing this:
 HloModule SyncTensorsGraph.7

ENTRY %SyncTensorsGraph.7 () -> (s64[4]) {
  %constant.2760 = s64[4]{0} constant({...})
  ROOT %tuple.6 = (s64[4]) tuple(s64[4] %constant.2760)
}

gives us 4 integers 4294967296, 12884901890, 21474836484, 30064771078

Trying to get more repro cases

[2022-03-05 01:32] JackCaoG commented on #3392
I think I fixed the data issue mentioned here locally, trying to see if that fix will also fix the shape issue we discussed in previous pr. The change is pretty small but very deep under our stack, I think I will just fix it in the nightly and provide you with a working wheel after I verified everything works.

[2022-03-05 02:17] yeounoh opened #3406 "xla_multiprocessing._setup worker parsing error for GPU"
## 🐛 Bug

`xla_multiprocessing._setup_worker` (parsing error) call breaks the XLA:GPU workflow on a GPU colab [example](https://colab.research.google.com/github/pytorch/xla/blob/master/contrib/colab/resnet18-training.ipynb).
[code]
## To Reproduce
Run the [example](https://colab.research.google.com/github/pytorch/xla/blob/master/contrib/colab/resnet18-training.ipynb) on GPU runtime, with
[code]

#

[2022-03-05 19:25] yeounoh commented on #3403
Hi @rwbfd , thanks for reporting the issue, we will release `torch_xla==1.11` with GPU support in the coming weeks. Meanwhile, could you try
[code]
and
[code]
to see if this can unblock you for now?

There has been some changes to the colab GPU box, and we will update the colab instructions post release.

[2022-03-07 19:27] amithrm commented on #3399
An update on this issue..looks like we see this issue if we take the path of compilation via pbtxt files i.e. we dump the HLOs to a text format and then pick these up for the compilation. The parser that does this breaks while seeing the HLO module snippet posted earlier. Otherwise, using the standard path of protobuf for HLOs has no issues.

We are doing more probing to see what the issue is with

[2022-03-07 19:37] JackCaoG commented on #3399
right, Blake from the XLA team also mentioned that this is only an issue when you convert it the string format.

[2022-03-07 20:10] amithrm commented on #3399
correct..the string format is causing the parser to induce this behavior.

[2022-03-07 20:45] #3406 closed

[2022-03-07 21:43] JackCaoG commented on #3392
@ronghanghu All of the shape related issue also seems to be fixed. Let me clean up the pr and submit it. Hopefully we can get you the nightly wheel with the fix this Wednesday.

[2022-03-07 21:56] ronghanghu commented on #3392
This is very nice! Thanks again @JackCaoG

[2022-03-08 00:29] yeounoh opened #3412 "xm.all_gather issue with non-empty groups"
## 🐛 Bug

`torch_xla.core.xla_model.all_gather` function fails when its `groups` arg is non-empty. This is causing our data parallel tests to fail with the following error:
[code]

The non-empty `groups` forces `shard_count=None` ([code](https://github.com/pytorch/xla/blob/e39c40506bc87e5d291f458e5cc078885302e07d/torch_xla/core/xla_model.py#L606)), and it's breaking the call.

## To Reproduce
Run

[2022-03-08 03:24] #3392 closed

[2022-03-09 00:10] miladm opened #3415 "`metrics_report()` fails on crashes distributed GPU"
We are running data parallel training with PT-XLA on 8 NVIDIA v100 GPUs. It turns out that calling `torch_xla.debug.metrics.metrics_report()` during the training throws the following XRT runtime error.

Code:
[code]

`torch_xla.debug.metrics.metrics_report() # <-- throws XRT runtime error`

Error Log
[code]

[2022-03-09 04:16] #3412 closed

[2022-03-09 21:57] JackCaoG commented on #3361
I checked the pytorch implementation and find that `save_mean` is a `CPUFloatType{0}` if `BatchNorm` is only run in the eval mode. After `BatchNorm` being run in the `train` mode, it will be updated to the same as `running_mean`.

when `BatchNorm(train=false)`
[code]

when `BatchNorm(train=true)`
[code]

There is a shape mismatched between `running_mean` and `saved_mean` when only eval mode is use

[2022-03-09 23:13] JackCaoG commented on #3361
hmm, so every time `eval` mode is enabled, `save_mean` will become a `CPUFloatType{0}` and pt/xla uses `save_mean` to compute the backward pass. Checking pytorch implementation to see what's the right thing to do here.

[2022-03-09 23:21] JackCaoG commented on #3361
I will follow pytorch implementation in https://github.com/pytorch/pytorch/blob/5dbec7c07c5eedd748fd56359c2d1b980dfa1037/aten/src/ATen/native/cpu/batch_norm_kernel.cpp#L59 to fix the backward pass when `train==false`

[2022-03-10 01:02] JackCaoG commented on #3361
I found out that this is not just a simple replacement, eval mode backward actually have a [different logic](https://github.com/pytorch/pytorch/blob/5dbec7c07c5eedd748fd56359c2d1b980dfa1037/aten/src/ATen/native/cpu/batch_norm_kernel.cpp#L413) compared to training. We currently only implement the logic to backward  the training `batchnorm` using `xla::BatchNormGrad`, I didn't find the corresponding

[2022-03-10 20:00] yeounoh commented on #3403
FYI some boxes (?) seem to have cudnn 8.0.5 pre-installed, which doesn't support cuda 11.2 and torch_xla 1.11. I am working with Colab, to change this.

[2022-03-13 18:07] KrishPro commented on #3186
`torch_xla==1.9.0` and `torch_xla==1.10.0` both are working quite well on Google Colab.

But recently, I tested on Kaggle Kernels.

`torch_xla==1.9.0` is working as expected. But, `torch_xla==1.10.0` doesn't seem to work.
Btw, It is giving the same error ('GLIBC_2.28' not found').

[code]
Also doesn't work !

I have also tried multiple solutions, Including : -

[code]

[code]

[code]

[2022-03-13 18:10] KrishPro commented on #3186
For Now, I am converting my code to work with `torch==1.9.0`.

Waiting for response from `torch/xla` developers, @yeounoh  @JackCaoG

[2022-03-15 05:36] JackCaoG opened #3421 "[PT_BREAK] Update torch.eye parameter"
## 🐛 Bug

In https://github.com/pytorch/pytorch/pull/72443, an offset parameter was added to `torch.eye`. PyTorch/XLA needs to handle it

[2022-03-15 06:56] ronghanghu opened #3423 "new `all_gather` together w/ `reduce_scatter` causes GRPC error on v3-128 and v3-256 (nightly 20220308)"
## 🐛 Bug

The nightly PyTorch XLA build (20220308 for torch, torchvision, torch_xla, and libtpu) gives an unexpected GRPC error when `all_gather` is used together with `reduced_scatter`.

After some debugging, I think this GRPC error is related to the all_gather update in https://github.com/pytorch/xla/pull/3275. The error goes away after I revert to the older all_gather implementation via all_red

[2022-03-15 12:00] evelynkyl opened #3424 "Training gets stuck at loss.backward() or self.optimizer.step()?"
## ❓ Questions and Help

Hi, I am trying to fine-tune a pre-trained language model (~400M) using ParlAI and XLA. But the training gets stuck at `loss.backward()` step or the `self.optimizer.step`. I would really appreciate it If anyone could take a look and advise on how to fix this issue.

Below is the output of the metric report along with other print statements I used for debugging.
[code]

##

[2022-03-15 17:48] JackCaoG commented on #3424
Thanks for reporting. Can you rerun your training with
[code]

and see what's the output when it is stuck?

[2022-03-15 22:03] evelynkyl commented on #3424
Thanks so much for the prompt response! I reran the training script and got this output:
[code]

[2022-03-16 22:06] rwightman opened #3427 "Lower torch.roll"
## 🚀 Feature
A lowering of torch.roll would be helpful so code model code using it can be common across gpu/tpu.

[code]

## Additional context

Roll can be implemented fairly easily with cat across relevant dimensions, however, torch.roll can be specified across multiple dim, which are done in the same CUDA kernel so making code common by reverting to cat will slow down models on GPU.

[2022-03-17 12:01] evelynkyl commented on #3424
I am wondering if the issue might stem from the device_coordinates showing both 0 and 1? What's your insights @JackCaoG ?

[2022-03-17 12:23] evelynkyl commented on #3424
new update: there is finally some output after the `xm.optimizer_step(self.optimizer)` step. please see the following:
[code]

[2022-03-17 18:17] aws-rhsoln opened #3429 "Doing a boolean `OR` between xla tensor and float results in an extra compile"
## 🐛 Bug

Doing an `OR` between XLA tensor and a float value results in a graph execution at that line.

## To Reproduce
Consider the example script below:
[code]
Running this script should show two compilations and executions in the metrics. The two HLOs are as follows:
1. This HLO is generated when we do `sample_size or 1.0`
[code]

2. The second HLO is generated at mark_step:
[code]

## Expecte

[2022-03-17 22:34] JackCaoG commented on #3429
Thanks Rahul, we will take a look

[2022-03-17 22:35] JackCaoG commented on #3427
Thanks Ross, we will take a look.

[2022-03-17 23:57] Danc2050 commented on #3186
I also have this issue with `1.11.0`.

[2022-03-18 00:02] JackCaoG commented on #3186
1.11 should work.. @yeounoh Could you take a look when you have time?

[2022-03-18 00:23] evelynkyl commented on #3424
@JackCaoG  Thanks for the fast response! I tried moving the step functions in fp16.py to tpu to lower ops but am not sure if it works because after that it still gets stuck in the optimizer step.

I added the env variables and here's the outputs of `/tmp/error.hlo`
[code]

This time there's also more error messages.
[code]

[2022-03-18 00:32] JackCaoG commented on #3424
OK, I don't think it is stuck then. It is just making very slow progress.  You see that it is keep compiling different graph.
[code]

each graph takes ~1 minute to compile. My guess is that these are due to the unlowered ops.

some of them like `rsqrt_out`,  `mul_out` we can help. but things like `masked_select` requires dynamic shape support that we are working on right now.

you also have a lot

[2022-03-18 00:34] evelynkyl commented on #3424
Thanks for the prompt response @JackCaoG ! I tried lowering the ops by moving the optimization step in fp16 to tpu, but I'm not sure if it works because the training is still stuck in the optimization step.

I've added the env variables and here's some of the output (the files is quite big so I only copied the top part of the file).
[code]

This time there's also a lot more error messages in the o

[2022-03-18 00:38] JackCaoG commented on #3424
by lowering I mean pytorch/xla need to implement those ops. You can check out https://github.com/pytorch/xla/blob/master/OP_LOWERING_GUIDE.md. It is something we need to fix. However, there are some limitations as I stated in above comments.

[2022-03-18 08:38] hgt312 opened #3430 "Unexcepted result caused by `module.to(dtype)`"
## To Reproduce

[code]

it failed, also for `add/mul`:

[code]

## Expected behavior

if I let `m.half()` before `m.to(device)`, it works well

## Environment

 - Reproducible on XLA backend [CPU/TPU]: CPU
 - torch_xla version: 1.9

use colab with:

[code]

[2022-03-18 20:11] JackCaoG commented on #3430
Hmm, I know on XLA:TPU we do not support f16(half), not sure about XLA:CPU. Can you try to use `bf16` and see it fixed the issue?

[2022-03-19 10:14] hgt312 commented on #3430
[code]

bf16 not fixed.

I also test with f64 -> f32 case on CPU, it works.

[2022-03-21 03:17] kurianbenoy commented on #3186
@KrishPro can you share the installation file for pytorch v1.9 which worked for you. Apparently pytorch/xla is not working in kaggle and colab

[2022-03-21 03:32] Danc2050 commented on #3186
@kurianbenoy I used this (includes tensorboard):
[code]

[2022-03-21 21:31] aws-rhsoln opened #3434 "RunPostOrder and FetchTensorData methods adds overhead and prevents complete pipelining of two executions"
## 🐛 Bug

When training model with multiple workers, two `ExecuteComputation` are not completely pipelined. The two `ExecuteComputation` are separated by execution of two methods RunPostOrder and FetchTensorData. These two methods end up taking around 5-7% of the total execution. Here is the profile from the MNIST script ran on GPU instance with 8 workers.
![Screen Shot 2022-03-21 at 1 21 12 PM](h

[2022-03-21 23:24] coleridge72 opened #3435 "Computing mean loss efficiently with lazy tensors"
## ❓ Questions and Help
Hi all

In my graph I compute the loss and take a gradient step in the standard way.
I then append the loss to a buffer which is averaged at the end of the epoch and saved on Tensorboard.

I am curious what the most efficient way to do this is without running the entire graph twice. Below when I call `.backward()` and `.cpu()` on the loss will this run the graph twice? Or i

[2022-03-22 02:58] JackCaoG commented on #3435
`xm.optimizer_step(opt, barrier=True)` should be enough. It will cut the graph, execute the pending graph and materialized all tensor to a concrete value. Next time you access any live tensor(loss in this case) it will just do a device side fetch instead of execute the graph.

You can take a look at https://github.com/pytorch/xla/blob/c74deb63385d7d5c5db3312629a7adc83d075745/torch_xla/core/xla_mod

[2022-03-22 03:19] JackCaoG commented on #3434
[RunPostOrder](https://github.com/pytorch/xla/blob/master/torch_xla/csrc/tensor.cpp#L1272) will run a post order traversal on all live tensors and provide a po_data that will be used for lowering_context to lower to HLO text. It also walk through all tensors and figure out which tensor would be the parameter(input) of the graph. Even for a cached graph this step is necessary since we need to figur

[2022-03-22 03:21] JackCaoG commented on #3434
@wconstab and his team is exploring how to optimize the tracing if the graph being traced is identical. Maybe there is a way to avoid traversing the graph to determine the `data` for input and output of the graph?

[2022-03-22 04:19] JackCaoG commented on #3429
Ah OK.. This is actually expected. There is no way for us to trace the python `or`. It will early evaluate the `sample_size` hence the execution. I guess the right thing to do is to use pytorch `or` operation and that sounds like your fix too.

[2022-03-22 04:20] JackCaoG commented on #3399
Should we close this issue since you are no longer blocked?

[2022-03-22 04:31] JackCaoG commented on #3430
I tried to run your code and it passed.

[code]

[2022-03-22 05:25] amithrm commented on #3399
yes, we can close this.

[2022-03-22 05:25] #3399 closed

[2022-03-22 09:46] hgt312 commented on #3430
which torch/torch-xla version do you use?

[2022-03-22 10:45] coleridge72 commented on #3435
Ah ok thanks, would this slow down training compared to not reporting the loss/using the barrier?

I was thinking of recording loss at a less frequent interval but maybe this would not make any difference.

[2022-03-22 15:34] miladm commented on #3423
Thanks @ronghanghu! I will take a look at the issue this week.

[2022-03-22 16:35] wconstab commented on #3434
Tagging @desertfire as he is taking a look at tracing performance

[2022-03-22 17:06] JackCaoG commented on #3430
I am using nightly

[2022-03-22 19:08] ymwangg commented on #3434
One interesting and promising solution to avoid this overhead is to introduce graph `record` and `replay` API similar to the pytorch cuda graph feature (https://pytorch.org/blog/accelerating-pytorch-with-cuda-graphs/), so that the user has more control over the graph tracing + compilation + execution pipeline.

[2022-03-22 23:58] JackCaoG commented on #3435
generally speaking larger graph will result in better performance since it will give xla compiler more room to optimize. This is model by model through, I would encourage you to try both and see if it makes any difference for you in the e2e time.

[2022-03-23 09:59] #3435 closed

[2022-03-23 11:03] swaroop-nath commented on #1969
I have the same issue - running A3C algorithm with Pytorch Multiprocessing - everything works fine on my laptop, but the processes never seem to advance in Google colab

[2022-03-23 11:28] hgt312 commented on #3430
Seems it's fixed by https://github.com/pytorch/xla/pull/3411

[2022-03-23 11:28] #3430 closed

[2022-03-23 17:55] ronghanghu opened #3441 "Major speed regression in the nightly libtpu (20220308) compared to the 1.10 environment"
## 🐛 Bug

There is a notable speed regression in a few models with the nightly 20220308 PyTorch XLA builds. For example, in [MAE ViT-L](https://arxiv.org/abs/2111.06377) (code attached below) the **training time increased from 0.46 s/iter to 0.61 s/iter on a v3-128 pod** when changing to the nightly 20220308 version. after switching from tpu-vm-pt-1.10 to the 20220308 builds of torch, torchvision,

[2022-03-23 17:56] JackCaoG commented on #3441
@yeounoh Can you take a look?

[2022-03-23 22:08] aws-rhsoln commented on #3434
For short-term, is there a way we can optimize those two methods? Also, do we have any timeline on the tracing work?

[2022-03-23 22:09] aws-rhsoln commented on #3429
Yeah that might work! Thanks! Will give it a try

[2022-03-24 15:23] pat266 opened #3445 "xmp.spawn() stucks, never progress in TPU:0"
## 🐛 Bug

I have ran it 3 times now and experienced the same issue. The spawn() method would get stuck forever when the model is loading into each of the TPU cores.

This is where the error occurs: https://colab.research.google.com/drive/1Ur_vTUos18u4ze563Oj7wlm9BgrBZ8yR#scrollTo=H4WfXKVLu4NU

## To Reproduce

Steps to reproduce the behavior:

I know that my notebook is not very clear, so if there

[2022-03-24 15:35] desertfire commented on #3434
The problem is really about the synchronization from `DeviceLockWait`, not that the two functions themselves are computation intensive. I am trying to see if there is a way to get rid of that for GPU on the lazy_tensor_staging branch. Just confirm, your case is also running on GPU, right?

For the tracing speed improvement work, we are trying to have something more concrete in the coming weeks.

[2022-03-24 15:59] ronghanghu opened #3446 "XLA profiler cannot capture TPU device trace when running on a pod"
## 🐛 Bug / 🚀 Feature request

Currently, the XLA profiler can capture the TPU device trace when running on a v3-8 TPU VM, but **cannot capture the device trace in trace_viewer when running on a TPU pod** (e.g. a v3-128 pod). This is unlike the [TensorFlow profiler](https://cloud.google.com/tpu/docs/cloud-tpu-tools#trace_viewer_interface) which is able to capture TPU device traces when running on a

[2022-03-24 17:12] miladm commented on #3446
Thanks @ronghanghu. I will do a repro and circle back. Looks like you tried TPU VM here. Did you also try to run the profiler on a 2VM setup?

[2022-03-24 17:30] ronghanghu commented on #3446
Thanks @miladm! I've only tried running on the XLA profiler for the pod case on TPU VMs (since it's my practical use case and TPU VMs are generally faster than TPU nodes), and haven't tried the older way of using a compute engine VM + TPU nodes.

I think this issue (that the profiler cannot capture the TPU device on a pod) can be reproduced on both a v3-32 pod (with 4 TPU VM nodes) and a v3-128 po

[2022-03-24 18:32] miladm commented on #3423
Quick update:
@ronghanghu I was able to reproduce your issue. We are drilling into the details to learn more.

[2022-03-24 18:40] ronghanghu commented on #3423
@miladm Sounds great, thanks for the update!

[2022-03-24 22:48] JackCaoG commented on #3445
Thanks for reporting. Can you rerun your training with environment variable
[code]
and see what's the output when it is stuck?

[2022-03-25 06:04] pat266 commented on #3445
@JackCaoG Thank you for responding. I now think that the problem lies on WandB. Here are some of my observations that lead to the conclusion:

1. (First and Second run - signed in to WandB): The TPUMonitor outputs a healthy graph that shows that the TPU is being used. The reason why I thought that xmp.spawn() stucks was that there no progress bar for epoch and iteration (as shown in second point).

[2022-03-25 06:04] #3445 closed

[2022-03-25 18:35] JackCaoG opened #3448 "Head doc push breaks"
## 🐛 Bug

currently doc push failed with message
[code]

Seems like we need to update some dependency.

[2022-03-25 21:12] JackCaoG commented on #3448
Issue seems to be related to Jinja2 version, it used to be `Jinja2-3.0.3`, now it become `Jinja2-3.1.0`. This version seems to cause the issue. I will try to pin the  Jinja2

[2022-03-25 21:22] #3448 closed

[2022-03-25 21:32] yeounoh commented on #3441
Hi @ronghanghu thanks for reporting the issue. I was able to reproduce and also confirm the issue with the latest `libtpu-nightly` as well. We will continue debugging and keep you posted.

[2022-03-25 23:16] ronghanghu commented on #3441
@yeounoh That's awesome, thanks for your help!

[2022-03-26 00:24] JackCaoG commented on #3423
able to confirm that hlo
[code]

crashed the xrt server
[code]

Hard to tell why it crashed but might just be a OOM. I will circleback next Monday.

[2022-03-26 03:06] dhruvrnaik commented on #2405
I am using Resize inside Pytorch lightning training step and it makes my code terribly slow. Is there a solution for this?

[2022-03-26 06:19] dsuess commented on #3006
@Dr-Noob Have you managed to solve this issue? It doesn't seem to be pytorch-xla related. I get the same issue with the CPU-only version of pytorch 1.11 on a standard VM in GCP (operating system version Ubuntu 20.04.4 LTS (GNU/Linux 5.13.0-1019-gcp x86_64))

[2022-03-26 18:36] ronghanghu commented on #1571
I'm observing a similar issue here that `torch.utils.checkpoint` doesn't save any memory when implementing a ViT-G model from [Scaling Vision Transformers](https://arxiv.org/abs/2106.04560).

I'm looking into this issue and will follow up when I have more findings.

[2022-03-26 22:21] JackCaoG commented on #2405
affine_grid should be supported now. To get a better understanding of the problem, doing a metric report
[code]
after a step will help

[2022-03-26 23:05] dhruvrnaik commented on #2405
@JackCaoG I am using Resize in my training step, more specifically `transforms.Resize(size=224, interpolation=transforms.InterpolationMode.BICUBIC, max_size=None, antialias=None)`.

I am using the metric report function, but the training seems to be stuck at the resize(tensor) operation, so the code doesn't reach that step.

[2022-03-27 12:07] KrishPro commented on #3186
[code]

I have manually changed the versions of `torchtext` and `torchaudio`.
Because the `env-setup.py` changes (upgrade/downgrade) only the version of `torch` and `torchvision` to work with `torch/xla`.
You can also confirm from the logs and the version of `torchtext` and `torchaudio` before and after running the script.

Note: PyTorch lightning was also having some issues the in-compatible `tor

[2022-03-27 16:39] Linux-cpp-lisp opened #3451 "Can torch-xla be used with C++ libtorch inference?"
PyTorch supports the use of TorchScript models in C++ programs using `libtorch`.

Is it possible to use `torch-xla` with C++? How would one install / link / load `torch-xla` in a C++ program? And finally, in the C++ API, how do you get the XLA device to pass to PyTorch? (I assume everything else is the same, including synchronization happening automatically upon transfer of tensors to the CPU?)

T

[2022-03-27 16:57] Linux-cpp-lisp opened #3452 "Do transfers from PyTorch CUDA to XLA CUDA round trip to CPU?"
If I have a PyTorch CUDA tensor and am using `torch-xla` on GPU, will this code roundtrip to CPU?:
[code]

(Context: we run models for inference in a context where the input data is provided already on the GPU and put into a torch tensor using `torch::from_blob`; it would be wasteful and likely eliminate any performance gains from XLA if we had to round trip the input data to CPU.)

Thanks!

[2022-03-28 06:12] aws-rhsoln commented on #3434
In this example, yes its running on GPU. Is your work specific only to GPU or is it generic enough to extend for other devices too?

[2022-03-28 12:11] ikergarcia1996 commented on #1963
Same problem here, I can reproduce the error even with a tiny 9M parameter model.
TPU v3-8
tensorflow 2.9.0
torch 1.11.0
torch-xla 1.11
pytorch-lightning==1.6.0rc1
cloud-tpu-client==0.10

I am trying to train this model: https://github.com/ikergarcia1996/Self-Driving-Car-in-Video-Games/blob/master/model.py#L778 from this repository: https://github.com/ikergarcia1996/Self-Driving-Car-in-Video-Games

[2022-03-28 12:55] ikergarcia1996 opened #3453 "Computation requires more parameters (3311) than supported (limit 3305)."
## 🐛 Bug

I am trying to train a model form this repository: https://github.com/ikergarcia1996/Self-Driving-Car-in-Video-Games using a TPU v3-8 VM
Even when I train a tiny 9M parameter model with a small batch size, I get the following error:
[code]

The error always seems to happen at step 9. The model works as expected when running in a GPU/CPU.

I found that other people also found this issue w

[2022-03-28 17:52] miladm commented on #3369
@thisisalbertliang can you take a pass at this issue please?

[2022-03-28 19:35] shauheen commented on #3453
Thanks for filing this issue @ikergarcia1996

[2022-03-28 19:38] miladm commented on #3453
@thisisalbertliang can you please take a look at this issue?

[2022-03-29 03:23] ronghanghu opened #3455 "gradient checkpointing isn't effectively triggered and fails to save memory"
## 🐛 Bug

Gradient checkpointing (activation checkpointing) via [`torch.utils.checkpoint.checkpoint`](https://pytorch.org/docs/stable/checkpoint.html#torch.utils.checkpoint.checkpoint) is supposed to save memory by recomputing the intermediate activations in the backward pass (rather than storing all intermediate activations of the entire computation graph) and has been working well in the vanilla

[2022-03-29 20:59] desertfire commented on #3434
@aws-rhsoln , can you cherry-pick https://github.com/pytorch/pytorch/pull/74864 for a try? It is a change on the lazy_tensor_staging branch, but its logic applies to the pytorch/xla code as well.

[2022-03-29 22:33] KrishPro commented on #3186
Are there any updates on this issue ?
I am in a Kaggle Completion,
I want to use label smoothing which is only present in 1.10+

I've currently created a custom cross entropy which offers label smoothing for 1.9.
But still, We can't be on out-dated version of our main framework.
Eagerly waiting for response from official developers.

This doesn't work on kaggle either.

[2022-03-29 23:43] yeounoh commented on #3186
Hi @KrishPro , we moved the colab wheels to a different path. Could you try `--force-reinstall` using the following:
[code]

cc @Danc2050

[2022-03-30 00:10] Danc2050 commented on #3186
@yeounoh Works like a charm 🍀:

[code]

[2022-03-30 04:06] aws-rhsoln commented on #3434
Cool, I can try that. Will update the results with the change. Thanks!

[2022-03-30 04:08] JackCaoG commented on #3434
@aws-rhsoln I tried https://github.com/pytorch/xla/pull/3457 and it failed some test.

[2022-03-30 04:12] aws-rhsoln commented on #3434
Oh okay.. Will monitor the PR and once you have a fix, can try it out. Thanks for pointing out.

[2022-03-30 04:29] JackCaoG commented on #3423
I think the real error is

[code]

I will ask xla team to take a look.

[2022-03-30 09:08] KrishPro commented on #3186
I am sorry for not being clear enough. But,
`torch/xla` works great on colab for me too. I am having issues running it on kaggle.

Please let me know, if it works for you on kaggle and share me a working example

[2022-03-30 09:17] Danc2050 commented on #3186
[code]
I believe the Kaggle notebooks use Google-backed spare/preemptible VMs, as do Google Colab machines, so it should be compatible.

[2022-03-30 09:41] KrishPro commented on #3186
Can you make a public kaggle kernel and setup `torch/xla` on it and share it's link

[2022-03-30 09:42] cicirori commented on #3455
I've also recently been implementing gradient checkpointing on torch xla.
I haven't observed any memory savings by lowering torch.utils.checkpoint to xla either.
Based on some experiments and graph analysis I have some guesses so far.
1. the forward computation and backward re-computation are fused or merged together. This was verified on a very simple linear model I written for test only: adding

[2022-03-30 10:31] cicirori commented on #3455
I also tested the effect of HloRematerialization, and one of the more serious problems is that it skips the custom-call operator. Again, to avoid CSE optimizations, it is recommended in the comments that it be executed as far back as possible. By this time the hlo graph already has a large number of custom-calls (cudnn/cublas etc.). Also it skips the random operator, which is very common in the po

[2022-03-30 10:52] cicirori commented on #3427
@rwightman

I implemented a version of roll's lower mainly refer to [tf2xla roll op](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/compiler/tf2xla/kernels/roll_op.cc), and in the meantime I read [torch roll_cuda implementation]( https://github.com/pytorch/pytorch/blob/344ecb2e7103b4d92ec3859318643a66dd50a4ed/aten/src/ATen/native/cuda/TensorTransformations.cu#L102)

Unfortunately

[2022-03-30 17:46] JackCaoG commented on #3455
Thanks for the discussion, I should be able to work on this issue today or tmr. If there is a feature you think would be nice to have, please open a feature request and we will prioritizing that.

[2022-03-30 18:35] JackCaoG commented on #3453
Hey @ikergarcia1996. This is a known problem and we are working on a long term fix (hopefully to land by q3). One workaround I can think of is to explicitly insert `xm.mark_step`  between steps.

My guess is that you are currently using `parallel_loader`(if you are not, you should since it will upload the data async). `parallel_loader` will call [mark_step](https://github.com/pytorch/xla/blob/223c

[2022-03-30 18:37] JackCaoG commented on #3453
Another thing is is weird is you run into this issue at step 9. This seems to indicate that number of parameter increases as you training the model(since step 1-8 run without error). This is unexpected since the graph should be the same for every step otherwise it will keep recompiling. One quick way to check is use `PT_XLA_DEBUG=1` env var and it will print some auto-debug message. Please checkou

[2022-03-30 19:24] ronghanghu commented on #3423
Thanks a lot @JackCaoG!

[2022-03-30 20:33] ronghanghu commented on #3455
Thanks, @JackCaoG!

I think in my case, I would like to learn more about how the XLA compiler allocates and frees tensors on TPU, and if there is a way to have fine-grained control over the compiler (such as encouraging it to optimize for memory reduction rather than speed). Do you know if there is any documentation on the XLA compiler I can look at?

[2022-03-30 21:25] wonjoolee95 opened #3458 "CircleCI failing"
As of https://github.com/pytorch/xla/pull/3402, the CI build (https://app.circleci.com/pipelines/github/pytorch/xla/10815/workflows/42a2dbfe-3ad6-4c71-ab6c-e8b58c74eb10/jobs/22804) is failing:
[code]

[2022-03-30 21:25] wonjoolee95 commented on #3458
FYI @yeounoh

[2022-03-30 23:34] #3458 closed

[2022-03-31 01:02] rwightman opened #3460 "TPU v4 (Early Access) issues with PyTorch XLA (resources exhausted on larger models)"
## 🐛 Bug

I'm running into issues with PT XLA 1.10 and current TPU v4-8 VM instances.

Most notably trying to run equivalent model + batch sizes that work on v3-8 TPU-VM fail to compile on v4-8 TPU with resource exhaustion or OOM errors.

In the Dec 21/Jan 22 time frame I had access to alpha TPU v4. I had it working quite well with PyTorch XLA. There were 4 logical devices (2 cores per, 'MegaCore'

[2022-03-31 02:34] JackCaoG commented on #3460
@miladm Can you take this one? Thanks

[2022-03-31 06:07] JackCaoG opened #3462 "Incorrect device name"
## 🐛 Bug

Currently `device.ToString` sometimes giving unkown
[code]

Steps to reproduce the behavior:

1. TF_CPP_MIN_LOG_LEVEL=0 TF_CPP_VMODULE=tensor=5 python test/test_operations.py TestParallelTensorMNIST --verbosity=2

## Environment

 - XLA:CPU
 - torch_xla version: nightly

## Additional context

It is weird as we overwrite `Device.ToString` in [here](https://github.com/pytorch/xla/blob/mas

[2022-03-31 16:17] Linux-cpp-lisp commented on #3452
I see, thanks for the info— I guess one could check this in a hacky way by just benchmarking:
[code]
vs
[code]

[2022-03-31 18:26] wonjoolee95 commented on #3462
Thanks for the detailed info, assigning it to myself.

[2022-03-31 21:46] rwightman commented on #3460
Some more info..

One of the models I've been focused on recently is a swin transformer v2 variant. `swin_v2_cr_small_224` in timm to be specific. I've been training one on a v3-8 w/ batch size 64. I had to step down to 16 to get it working on a v4-8. Otherwise lots of crashes like
[code]

[2022-03-31 21:49] rwightman commented on #3460
And regarding the devices, as I mentioned to @JackCaoG , when I'd used PyTorch with a v4 in alpha phase a few months back, I quicly realized there were 4 logical devices (2 cores per device). There were errors if I tried to use 8. But now using 8 seems to work, and is 2x as fast as forcing 4 with `export TPU_NUM_DEVICES=4` ...

However, even more puzzling, when I install v4 compatible jax on one o

[2022-03-31 22:22] rwightman commented on #3460
I just figured out something re devices... on a new v4-8 instance I had installed jax + jaxlib w/ their libtpu to check `jax.device_count()`. I updated pytorch + xla to 1.10 and left the libtpu as is and now it's a 4-device setup (and errors out with a topology error on device id > 4 that I recall running into in the past), which does not happen with the lib tpu installed as per the first post in

[2022-03-31 23:40] rwightman commented on #3460
okee dokee, my `swin_v2_cr_small_224` just ran at batch size 128 (2x the v3-8) without a resource exhaustion error after the jax/jaxlib/libtpu pip install.

[code]

It's still not exactly clear what's going on, none of this seems to touch the system lib folders (/lib, /usr/lib, etc), it changes a libtpu in the python site-packaages, perhaps that has priority over the system lib?

Now last bit, the

[2022-03-31 23:43] JackCaoG commented on #3460
I think I missed few pieces when I build the custom libtpu to bypass the pod issue. I am running some experiments to see how to fix that.

[2022-03-31 23:44] JackCaoG commented on #3460
pip installed libtpu has higher priority than the `/lib` one

[2022-04-01 00:00] JackCaoG commented on #3460
Let me assign this to myself, this is related to another bug I am trying to fix for v4 pod. Hopefully the same solution also works for this bug.

[2022-04-01 03:41] JackCaoG commented on #3460
I think I made a mistake by not enabling the correct mega core config when compiling the 1.10 libtpu wheel. After I tweak it a bit I can observe that single "core" rate of running the resnet 50 example from ~750 to ~1200. I am suspecting this change will also fix the batch size issue.

I am finalizing some changes but should be able to update the libtpu for v4-pod with 1.10 soon.

[2022-04-01 03:50] JackCaoG commented on #3455
By reading the issue description, I think the problem is that we fused the forward and backward pass into one single graph. As you can image, this won't save any memory because there is no notion about `foward` and `backward` if it is in one graph.

On top of that I think xla compiler is smart enough to figure out the repeated computation you performed in the backward pass is unnecessary when it i

[2022-04-01 05:45] ronghanghu commented on #3455
@JackCaoG Thanks for the comments!

I think in the case of gradient checkpointing, even if the forward pass and the backward pass are fused into a single graph, as long as the program is executed in the compute graph DAG's order and intermediate tensors are freed when they are no longer used in subsequent parts of the graph, then gradient checkpointing should still be effective (and I believe this

[2022-04-01 09:26] cicirori opened #3466 "core dump when copying tensor from cuda to xla gpu device"
## 🐛 Bug

core dump when copying a tensor from cuda to xla gpu device

## To Reproduce

[code]

## Expected behavior

exit successfully

## Environment

 - Reproducible on XLA backend: GPU
 - torch_xla version: 1.10

## Additional context

core dump call stack
[code]

[2022-04-01 10:46] cicirori commented on #3452
@Linux-cpp-lisp  Hi, did you running this code? I am doing the same test. And it will alway trigger a core dump.  see https://github.com/pytorch/xla/issues/3466

With you demo code got core dump too:

[code]

[2022-04-01 16:58] Linux-cpp-lisp commented on #3452
@cicirori I did not; I've been away from my GPU and wanted to find out more about support for this feature (or lack thereof) before devoting significant resources to compiling `torch-xla` with CUDA support. (Direct CUDA to XLA-GPU transfers, and TorchScript support, are dealbreakers for me.)

[2022-04-01 17:38] JackCaoG commented on #3455
Let me follow up with xla team to see what's the best solution here.

[2022-04-01 20:13] #3325 closed

[2022-04-01 22:35] JackCaoG commented on #3460
I updated the new wheel, close this bug for now

[2022-04-01 22:35] #3460 closed

[2022-04-02 01:22] cicirori commented on #3452
XD, actually I also spent nearly one day to build a torch xla image both torch cuda available and torch xla cuda available (mostly because access websites like GitHub is slow in my dev environment).

@JackCaoG I noticed there are cuda supported images in  https://console.cloud.google.com/gcr/images/tpu-pytorch/GLOBAL/xla. But unfortunately PyTorch in the ”cuda“ images isn't compiled with cuda enab

[2022-04-02 08:33] wyhhyw123 opened #3468 "Do evaluation and save checkpoint while using multi TPUs/GPUs"
## ❓ Questions and Help
Hello, I am curious about the evalution method in `xla/test/test_train_mp_mnist.py`. There is a operation 'mesh_reduce'  in 'test_loop_fn', i don't understand why the operation is needed. Does this mean both the evaluation result and model parameters derived from different TPUs/GPUs were not the same? If the answer is yes, so how to save the model ckpt?

In my mind, model p

[2022-04-04 12:44] jotron opened #3470 "Training Resnet50 on ImageNet using TPU leads to OOM after a few epochs."
## 🐛 Bug

I have a GCE TPU-VM setup with Pytorch 1.11. Running the provided test_train_mp_imagenet.py on the ImageNet dataset with 8 cores leads to an OOM error after a nondeterministic amount of epochs (e.g. 7 epochs).

## To Reproduce

I am using a TPU-VM on GCE with software version *pu-vm-pt-1.11*.  I have attached an SSD disk with ImageNet data.

Steps to reproduce the behavior:

1. Set `expo

[2022-04-04 23:03] miladm opened #3471 "Develop a profiler tool that enables "programmable" and "interactive" profile capture"
Develop a profiler tool that enables "programmable" and "ineteractive" profile capture. This work is already implemented by @thisisalbertliang as part of his internship (see [PR](https://github.com/thisisalbertliang/training/pull/24)). It'd be useful to make it available to PyTorch/XLA clients directly.

@thisisalbertliang let's start by adding your work to the `scripts` directory. When porting th

[2022-04-04 23:08] miaoshasha commented on #3470
Thanks @jotron! I was able to reproduce this error. Would you please use 1.10 for now, and we'll fix this asap and let you know!

[2022-04-04 23:46] JackCaoG opened #3472 "Support LTC codegen for PyTorch/XLA"
## 🚀 Feature
Replace PyTorch/XLA's existing op lowering code structure with the lTC code gen

## Motivation
1. Clean up the stub code we have to copy paste for each lowering
2. Get Meta tensor output shape inference for PyTorch/XLA(useful for Dynamic shape)
3. Reduce the cost for later LazyTensor class migration.

FYI @wconstab @wonjoolee95 @miladm

[2022-04-04 23:46] JackCaoG commented on #3472
I am able to see some output using the code gen, what I did was
1. Create a `gen.py` file under `pytorch`(this is a workaround we need to fix later)

[code]

This code is modified from ltc version in https://github.com/pytorch/pytorch/blob/b9e535a64a98e24d1c0e18dcffaabe9879845386/tools/setup_helpers/generate_code.py#L200

What I ended up are 5 files
[code]

[2022-04-04 23:46] JackCaoG commented on #3472
Let's go over the file one by one

`RegisterXLA.cpp` is something we already generated today, it is under `torch_xla/csrc`. Looking at the file, the new one is almost identical, which is expected since they call the same helper function.

The only difference is extra include in the newly generated file
[code]

I think it is something related to ts_backend and we should remove those.

`RegisterAuto

[2022-04-04 23:47] JackCaoG commented on #3472
`LazyIr.h` reads `xla_native_functions.yaml`'s `full_codegen:` tab. If I didn't put anything there it is empty. I tried to add `abs` under this tab

[code]

and now I am seeing
[code]

couple things I noticed that is off
1. we need to fix the `#include "xla/torch_xla/csrc/ir.h"`, `xla` should not be included in the path
2. ideally namespace should be `torch_xla` instead of `torch::lazy`. I wonder

[2022-04-04 23:47] JackCaoG commented on #3472
`XLANativeFunctions.h` is the same as what we have today, namespace is also correctly set to `torch_xla`.

`XLANativeFunctions.cpp` looks like

[code]

Couple things I notcied
1. We should get rid of `torch/csrc/lazy/ts_backend/ts_eager_fallback.h` and call to `force_eager_fallback`
2. We might need our metric header instead of the lazy one (at least for now), same for call to `TORCH_LAZY_FN_COUNT

[2022-04-05 08:58] taylanbil commented on #3468
When this workload runs on a v3-8 for example, it runs in a "data parallel" way on 8 different devices.

What this means is that there are 8 processes, each containing the **exact same** copy of the model. However, the data that each process sees is different (if that was also the same, there would be no reason to run the same job on all devices, that would be just duplicate work.)

Since the inpu

[2022-04-05 08:58] #3468 closed

[2022-04-05 14:36] jotron commented on #3468
Hi, what you said makes sense to me for *xla/test/test_train_mp_imagenet.py*. But in *xla/test/test_train_mp_mnist.py*  the data seen is the same as I understand it, see [the code](https://github.com/pytorch/xla/blob/master/test/test_train_mp_mnist.py#L104).
But still when I print the accuracy for each core I still get very slightly different values.

[code]

So does this mean that the models acro

[2022-04-05 16:05] wconstab commented on #3472
You should be able to just directly invoke `gen_lazy_tensor.py` with cmd line args provided to argparse.  the `run_gen..` function was added to let us invoke it from other python scripts like the torch autograd codegen as part of the main torch build, but you shouldn't feel required to use that `run_` function.  If there are some argparse flags missing, we can add them.

[2022-04-05 16:07] wconstab commented on #3472
I thought you already moved to using ir.h Node base from ltc.

[2022-04-05 16:12] wconstab commented on #3472
[code]

I think even xla is actually using these includes (e.g. copy_from).  You should have generated 'inplace' kernels that call functional kernels and use copy_from to set the result.

The reason for this change is that under some torch CI configs, we enforce one of 2 things
 - that specific ops/* files are included, but no global 'Functions.h' is included
 - that only 'Functions.h' is included

[2022-04-05 16:21] wconstab commented on #3472
For the LazyIr.h file:

I think these 2 would both be fixed if you change the parameters you pass to the codegen, although I'm not clear which direction you want to go.  If you want to change from Node to XlaNode, then i think you must keep the xla/.../ir.h include.  Or if you want to get rid of the xla include, it would imply you want to use our 'Node' base right?
[code]

- [ ] @wconstab use code

[2022-04-05 16:28] wconstab commented on #3472
RE NativeFunctions.cpp

If you are not ok keeping the force fallback option, which is mainly for debugging perf (might be useful for you?), we can make that an option to the codegen so that block of code is omitted.

- [ ] @wconstab make force fallback codegen optional

Should we share some part of fallback code at this time?  An idea is to separate ts_eager_fallback into 2 parts, one part is a si

[2022-04-06 03:30] JackCaoG commented on #3466
I think eventually it will call

https://github.com/pytorch/xla/blob/94d71650159ea6ef958abd7f8374922c4a536705/torch_xla/csrc/tensor_util.cpp#L520

not exactly sure what this will output for a `at::Tensor` on a gpu device.

[2022-04-06 03:32] JackCaoG commented on #3452
@cicirori I actually never think of that. We disable PyTorch cuda because we never think of a use case of both pytorch and pytorch/xla use cuda at the same setup. I am not sure if that is allowed(seems like it is actually supported)?

[2022-04-06 04:50] JackCaoG commented on #3455
Let me get back to your comment https://github.com/pytorch/xla/issues/3455#issuecomment-1085448513 later. I did a quick test by adding `xm.mark_step()` and `xm.wait_device_ops()` after the forward pass and I observe the expected memory saving.

with `grad_checkpoint 0` I saw
[code]

with `grad_checkpoint 1` I saw
[code]

so the issue seems to be that cse(common expression eliminator) detected and

[2022-04-06 07:02] cicirori commented on #3452
I will encounter many cases where I need to compare the performance of torch cuda and torch xla gpu.

Or maybe I need to do a quick demo on torch cuda (since torch xla compilation is quite long on some models).

By itself, it makes sense to provide an official environment that supports both, for developers using torch xla on gpu devices to develop some features (e.g. fallback to torch cuda other t

[2022-04-06 13:48] bdhirsh commented on #3466
Hmmm I think the `.data_ptr()` call on a cuda tensor is fine, but it looks like `CopyData` eventually calls one of `std::copy()` or `std::memcpy()`, which would probably both break if the source buffer isn't on cpu ([here](https://github.com/pytorch/xla/blob/7dbb5845513060e58e035b7f15ee0af9a0c30faa/torch_xla/csrc/tensor_util.cpp#L357))

[2022-04-06 14:11] Linux-cpp-lisp commented on #3452
@JackCaoG: while I second everything @cicirori said, we have an even more direct need for both PyTorch and XLA CUDA, which is running performance-sensitive inference on data that is already on the GPU. Because XLA tensors are opaque, we cannot create an XLA CUDA tensor directly from CUDA memory, but we can (using `torch::from_blob`) create PyTorch CUDA tensors directly from CUDA memory blobs.

The

[2022-04-06 14:45] ronghanghu commented on #3455
@JackCaoG Thanks for the follow-up. It's great to have the new operator `optimizationbarrier` introduced in PyTorch/XLA. Really looking forward to it!

[2022-04-06 17:27] bdhirsh commented on #3466
Although I wonder if we can do something inside of that function like:
[code]

[2022-04-07 21:25] JackCaoG commented on #2223
I will reopen this issue add add it to our list of ops to lower.

[2022-04-07 21:27] JackCaoG commented on #3468
I reopen the previous issue, we can follow up with the syncbn op lowering.

[2022-04-08 03:41] JackCaoG commented on #3455
I introduced a new api `xm.optimization_barrier`, the usage is pretty straightforward, you call this api on the output of the forward pass. In the example posted above, you simply need to do

[code]

this ensures that all of its inputs(in this case the result of the forward pass) are evaluated before any operators that depend on the `optimization_barrier`'s outputs, and XLA is forbidden from elidi

[2022-04-08 04:02] ronghanghu commented on #3455
Thanks for introducing this new API. This is exactly what we need here.

Yeah, the speed is a little puzzling, but the memory consumption looks more reasonable now. I'm going to test it on more cases on my end to further verify.

[2022-04-08 09:40] adamantboy opened #3483 "compile xla using gcc7.5.0"
## Issue description

It fails when i use gcc7.5.0 to. compile xla. It seems that bazel can not find file libmpc.so.2, but i config it in LD_LIBRARY_PATH. it is useless when i clean bazel cache and rebuild it.

## Error Info
+ bazel build --define framework_shared_object=false -c opt --cxxopt=-D_GLIBCXX_USE_CXX11_ABI=1 --cxxopt=-std=c++14 //tensorflow/compiler/xla/xla_client:libxla_computation_cli

[2022-04-08 19:02] ymwangg commented on #3455
@JackCaoG Adding optimization_barrier is a great feature! I'm experimenting with this op recently and I found adding a barrier can sometimes help save memory by reducing the overlap among buffer live ranges. This feature may be helpful to improve the performance of large models as we noticed xla has superlinear computational time growth as model size increases.

FYI currently I got the following e

[2022-04-08 19:11] JackCaoG commented on #3455
@ymwangg Ah nice. I plan to update tf version in ~10 days. I will also test it after we updated.

[2022-04-08 19:20] ronghanghu commented on #3455
I can confirm that gradient checkpointing is working well in ViT-G in https://arxiv.org/abs/2106.04560. I'm testing it in more models and also checking whether it fixes my previous FSDP ZeRO-3 cases in #3431.

 Another interesting/weird observation I had is that on ViT-G `xm.optimization_barrier` not only fixes my gradient checkpointing (i.e. **reduces** memory consumption) but also **increases**

[2022-04-09 01:25] miladm opened #3485 "`HLO` generation flags crash several tests in `test_operations.py`"
`HLO` generation flags crash several tests in `test_operations.py`.

Running the `test_operations.py` against today's `master` causes several tests to fail such as: `test (__main__.TestAsyncRNG)`, `test_view_data_slice (__main__.TestAtenXlaTensor)`, `test (__main__.TestParallelLoader)`, etc. I created this github [issue]() for addressing this issue + including `HLO` generation tests in `test_opera

[2022-04-09 07:12] ronghanghu opened #3486 "the new `xm.optimization_barrier` API breaks the gradient flow"
## 🐛 Bug

The new `xm.optimization_barrier` API introduced in https://github.com/pytorch/xla/pull/3482 provides a great feature to avoid XLA compiler fusion between different parts of the graph (e.g. forward pass and backward pass) -- very useful for gradient checkpointing application such as in https://github.com/pytorch/xla/issues/3455.

However, applying the `xm.optimization_barrier` API leads

[2022-04-09 07:38] ronghanghu commented on #3486
I tried digging into it further. I think the root cause of the problem is that in https://github.com/pytorch/xla/blob/cf19c0c656f138dfd18c877955cac6996cdcbb47/torch_xla/csrc/init_python_bindings.cpp#L284-L287, `GetXlaTensor` and `make_variable` breaks the PyTorch autograd graph -- `GetXlaTensor` essentially works similar to `.detach()` in PyTorch and removes the autograd reference.

After I change

[2022-04-09 16:44] ronghanghu commented on #3455
Update: even when preserving the PyTorch autograd via `x.data, = xm.optimization_barrier([x])` as in https://github.com/pytorch/xla/issues/3486#issuecomment-1093778852, it seems that gradient checkpointing still doesn't work with this new API.

@JackCaoG I'm thinking could the underlying reason be that we need to apply `optimization_barrier` to more tensors than `x` alone? Since this API is also u

[2022-04-10 04:33] cicirori commented on #3455
This is consistent with the results of my previous experiments.

I have experimented with gradient checkpoint on the bert model, CSE is only one possible cause, and the optimizer barrier op (if I understand its implementation correctly) currently only prevents CSE optimization.

In addition to this I suspect that the two main types of optimization passes, simplification and fusion, also cause the

[2022-04-11 02:41] cicirori opened #3487 "Why doesn't torch.Tensor.type support XLA backend."
## ❓ Questions and Help
I noticed when call tonsor.type() on torch xla tensor will raise an error: Unimplemented backend XLA.

[code]

I wonder know why disable this function on xla？Because it's a common usage in many torch libraries(like, apex). And just add XLA path here will enable this function on XLA: https://github.com/pytorch/pytorch/blob/v1.10.2/torch/csrc/utils/tensor_types.cpp#L27

[code

[2022-04-11 11:24] rwbfd commented on #3403
Hi, I have tried to use the newest script. It still doesn't work. [This Colab Note](https://colab.research.google.com/github/pytorch/xla/blob/master/contrib/colab/resnet18-training.ipynb#scrollTo=_2nL4HmloEyl) explains what happens.

[2022-04-11 16:19] amithrm opened #3488 "Using transposes causes a pair of HLOs being generated for same code"
## 🐛 Bug

A pair of HLOs is being generated because of the presence of transpose operator. This is an issue since F.linear uses transposes and we get two HLOs for the same code path across multiple iterations. A simple repro is attached below.
## To Reproduce

Steps to reproduce the behavior:

1. Use the following code snippet (test.py) :

[code]
2. python test.py3.
3. The following output is obse

[2022-04-11 17:57] JackCaoG commented on #3487
@bdhirsh Can we simply add XLA to above function?

[2022-04-11 17:59] bdhirsh commented on #3487
Adding the XLA case in that code to get `.type()` to work sounds fine to me.

[2022-04-11 18:00] JackCaoG commented on #3486
@bdhirsh What's the correct way of make a new PyTorch tensor in C++ while not breaking the auto-grad?

[2022-04-11 18:02] JackCaoG commented on #3487
I guess part of the proble, is that there isn't really a `torch.xla` class. Maybe better to add something like `torch_xla` instead of `torch.xla`

[2022-04-11 18:03] JackCaoG commented on #3487
@cicirori Do you want to submit a pr to pytorch repo?

[2022-04-11 18:30] #3423 closed

[2022-04-11 18:33] bdhirsh commented on #3486
Hmmm. If I'm understanding correctly, the "normal" way to do this would be through a native pytorch op. For example, take `at::add`:

[code]

And it sounds like this `optimization_barrier` node is like an operator from the perspective of XLA, since it creates a new tensor IR node with an "optimization_barrier" reference.

@JackCaoG instead of having `optimization_barrier` generate a new tensor, do

[2022-04-11 18:54] JackCaoG commented on #3486
Good point.. I think one thing I can do is to make it an in-place operation. I was referring to JAX example but then I realized JAX is purely functional hence no in place update(I think).

[2022-04-11 23:20] JackCaoG commented on #3488
Can you fix the indentation of
[code]

I am guessing `mark_step` is outside of the for loop?

[2022-04-11 23:30] JackCaoG commented on #3472
I felt like `full_codegen` might be too much for us right now as
1. lower function generated for ltc is very different than what we need and we lack a `fall_back` method for lower
2. We still need to compute the `xla::shape` for each node which will be very awkward to support using existing code gen

I think we can partially using codegen by only generate current `aten_xla_type.cpp` to `XLANativeF

[2022-04-12 00:04] amithrm commented on #3488
Jack, updated the indentation. Sorry about that..
The mark_step is inside the loop.

[2022-04-12 03:55] JackCaoG commented on #3472
Trying to run `gen_lazy_tensor.py` direcly but run into issue with relative import

[code]

removing the `.` in import to workaround it for now.

now under the `pytorch/xla` repo I can run
[code]

I have to pass a relative path or absolute path for `shape_inference_hdr` otherwise it won't be able to find the shape inference file. However now in the generate `XLANativeFunctions.cpp` I am seeing
[co

[2022-04-12 04:26] JackCaoG opened #3490 "Use upstream `BackendDevice` instead of inherit from it"
## 🚀 Feature
Currently  we inherit a Device from `torch::lazy::BackendDevice` but that should be unneceaary.
https://github.com/pytorch/xla/blob/94d71650159ea6ef958abd7f8374922c4a536705/torch_xla/csrc/device.h#L24

We should use `BackendDevice` directly in PyTorch/XLA.

## Motivation

Going forward we will need to use functions like `torch::lazy::GetBackendDevice` which returns a `c10::optional<Ba

[2022-04-12 04:36] JackCaoG commented on #3472
now in the `XLANativeFunctions.cpp`, we have
[code]

filed https://github.com/pytorch/xla/issues/3490 to switch to use upstream `BackendDevice` directly.

we also need to have a xla version of
[code]

which should be pretty easy.

Other outstanding item is we use a lot of `input.CreateFrom`. LTC uses `Create` directly.
[code]

One of the difference is that `CreateFrom` calls `MaybeCastIrValue` whi

[2022-04-12 14:23] bdhirsh commented on #3472
If that works, then sounds good :) You might also be able to run `python -m tools.codegen.gen_lazy_tensor`

Yep agreed, if we can arrange for the include to always start with `torch` then that sounds ideal.

[2022-04-12 15:18] jotron opened #3491 "Expected Epoch Time for Resnet50 on Imagenet1k"
## ❓ Questions and Help

Hi,

What would be the expected duration of one epoch of Resnet50 on ImageNet1k, using pytorch_xla on one TPUv2-8 TPU-VM (over GCE). As a training_script I currently use [test_train_mp_imagenet.py](https://github.com/pytorch/xla/blob/master/test/test_train_mp_imagenet.py).

I currently get around 16min if use all 8 cores, but I feel that this is somewhat slow.

Thank you f

[2022-04-12 16:20] lucasc896 opened #3492 "Lowered hardswish"
## 🚀 Feature

A lowered version of hardswish to enable performant use of `torchvision.models.mobilenet_v3_small` and other models on TPU
[code]

[2022-04-12 17:21] JackCaoG commented on #3492
Thanks for reporting, I will add this to our op lowering queue.

[2022-04-12 17:28] JackCaoG commented on #3491
Can you share the training command you used? This will help us to figure out things like batch size you sued. We usually tested on v3-8 or we don't have v2-8 data on our end.

[2022-04-12 19:10] JackCaoG commented on #3488
hmm, yea this is weird. Looking at the output ` f32[10,3]{1,0}` was return directly so I am a bit unsure why does it needs to be a output in the first place.. Let me dig into the code a bit more.

[2022-04-12 19:21] JackCaoG commented on #3488
I think issue is somewhere within
https://github.com/pytorch/xla/blob/4037ca7f2febe0de03edfcd69a871ef5668b488f/torch_xla/csrc/tensor.cpp#L1160

Need to dump a bit more info to root cause it.

[2022-04-12 19:27] alanwaketan commented on #3490
Yea, I believe the discussion was about XLA inheriting from `BackendDeviceType` instead of `BackendDevice`.

[2022-04-12 21:19] lucasc896 commented on #3492
Would it be simple enough to replicate [this PR](https://github.com/pytorch/xla/pull/1940), but with the function calculation changed? I'm happy to give it a shot, but have minimal experience with under the hood of this codebase.

[2022-04-12 21:33] JackCaoG commented on #3492
it would be pretty similar to that I think. Some of the things in that pr is out of date (like we no longer has `scripts/gen.py`) but it mostly applied to what you want to do.

Please refer to https://github.com/pytorch/xla/blob/master/CONTRIBUTING.md for building pt/xla and https://github.com/pytorch/xla/blob/master/OP_LOWERING_GUIDE.md for how to lower an op. Happy to help if you run into issues

[2022-04-12 21:55] wonjoolee95 commented on #3490
One discrepancy I noticed that the `torch_xla::ir::Device` has a constructor:
[code]
This constructor parses the `device_spec` string, but I noticed that this is marked as deprecated and is umimplemented in the `torch::lazy::Device` constructor:
[code]
I don't think PT/XLA uses this specific constructor directly, so it should be okay but I'll post updates as I get the PR ready.

cc @JackCaoG

[2022-04-13 00:01] JackCaoG commented on #3488
The issue itself doesn't have too much to do with the transpose. it is the fact that
1. You are moving cpu tensor by `torch.randn(10,3).to(device)`, this will evulate randn on CPU and then move to xla device. We usually do `torch.randn(10,3, device=device)` to compute the randn on device instead of host(CPU).

2. `weight` is left out of the for loop but being pulled into the compuation by `transpo

[2022-04-13 00:14] wonjoolee95 commented on #3490
So there seems to multiple places where we need this string parse constructor ([ex1](https://github.com/pytorch/xla/blob/master/torch_xla/csrc/op_by_op_executor.cpp#L111), [ex2](https://github.com/pytorch/xla/blob/master/torch_xla/csrc/tensor_util.cpp#L834)). We'll add a util function `ParseDeviceString` that takes in `std:str device_spec` and returns the appropriate `torch::lazy::BackendDevice` o

[2022-04-13 07:48] jotron commented on #3491
On a fresh TPU-VM with software version *tpu-vm-pt-1.11* I do the following:
[code]
Using a higher batch_size, e.g. 192, does not improve performance siginificantly in my case.

[2022-04-13 14:37] lucasc896 commented on #3492
Thanks for the pointers. I've got a branch ready to push, but I can't access the repo. I'm not sure whether the problem is on my side or not, so naive question: should I have push/write access to the repo by default?

[2022-04-13 17:10] JackCaoG commented on #3492
Ah, so since you do not have `write` access to PyTorch/XLA repo, what you want to do just fork a `PyTorch/XLA` repro, push a new branch to your fork, and open a pull request from you new branch to master.

Before you opening a pull requiest, also make sure to run the formater and build is passing. You can refer to https://github.com/pytorch/xla/blob/master/CONTRIBUTING.md#before-submiting-a-pull-r

[2022-04-13 17:14] lucasc896 commented on #3492
"No more forks can be created. View existing forks.
<https://github.com/pytorch/xla/network/members>"
Perhaps I can just use an existing fork?

On Wed, 13 Apr 2022 at 18:11, JackCaoG ***@***.***> wrote:

[2022-04-13 17:18] JackCaoG commented on #3492
Seems like you already fork a pytorch/xla in https://github.com/lucasc896/xla

[2022-04-13 17:49] miladm commented on #3491
@jotron thanks for submitting this issue. I will look into this and circle back.

[2022-04-13 23:41] JackCaoG commented on #3486
Some update and finding, I submitted https://github.com/pytorch/xla/pull/3493 to fix the gradient not being compute issue but it does not solve the memory usage. I think I am using barrier incorrectly.

Here is a JAX example
[code]

Note that in above function `f` is being called twice to save the peak memory. In order to make similar things to work for pytorch/xla I think we need to do

1. when d

[2022-04-13 23:48] JackCaoG commented on #3486
I also need to change the current `optimzation_barrier` API to tuplify the inputs before passing to `Xla::OptimziationBarrier` and untuplify the output before returning to user which will force `Xla::OptimziationBarrier` happened after all inputs is ready.

[2022-04-14 01:08] ronghanghu commented on #3486
@JackCaoG Thanks for the update! For (1) above, I think it's fine to accomplish gradient checkpointing in another way other than calling `torch.utils.checkpoint.checkpoint`. For example, the FairScale library has its own custom wrapper [`fairscale.nn.checkpoint.checkpoint_wrapper`](https://fairscale.readthedocs.io/en/stable/api/nn/checkpoint/checkpoint_activations.html) and we can have a separate

[2022-04-14 01:59] JackCaoG commented on #3486
mostly done with the `tuplify the inputs` part of the `optimzation_barrier`. Will try to wrap it up tmr and modifying `torch.utils.checkpoint.checkpoint` directly to see if I can get the expected hlo.

[2022-04-14 05:59] #3471 closed

[2022-04-14 12:01] lucasc896 opened #3500 "ExecuteTime too slow with Resnet-50"
My model is a resnet-50 with some simple output heads attached after the pooling layer. I'm loading a small dataset from GCS using a webdataset loader.

I'm getting error messages as below:

[code]
I've used XLA_SAVE_TENSORS_FILE and XLA_METRICS_FILE and uploaded example outputs here:
[xla_debug.tar.gz](https://github.com/pytorch/xla/files/8488920/xla_debug.tar.gz)

I truncated the metrics to just

[2022-04-14 15:39] cjolivier01 opened #3501 "CMake?"
## ❓ Questions and Help
I know I offerred this befor,e but how do you all think about a CMakeLists.txt and cmake setup.py compatibility similar to pytorch so that it can be built together with pytorch as well as integrate seamlessly in a cmake-capable IDE such as CLion or VSCode?  I have one that I could clean up.

[2022-04-14 17:55] ronghanghu commented on #3446
Following up on this issue: in our internal test on TPU v4, the XLA profiler worked well on v4-8 but failed to capture TPU device traces on v4-32 or v4-128.

[2022-04-14 18:29] ronghanghu commented on #3392
@JackCaoG it seems that the `.data` assignment example above (w/ different shape) has been broken again and now breaking XLA FSDP (https://github.com/pytorch/xla/pull/3431)

The previous example
[code]
is working on nightly 20220408 but is broken on 20220413

After installing 20220413 builds with
[code]
now gives
[code]

[2022-04-14 18:32] JackCaoG commented on #3392
@ronghanghu Can you open a new issue and I can follow up.

[2022-04-14 18:44] ronghanghu opened #3502 "PyTorch XLA `.data` assignment fails when the new tensor is a different shape"
## 🐛 Bug

In the latest nightly 20220413 PyTorch XLA build, the shape assignment example in https://github.com/pytorch/xla/issues/3392#issue-1147798655 is broken again. This is now breaking XLA FSDP implementation in (https://github.com/pytorch/xla/pull/3431).

## To Reproduce

1. Allocate a v3-8 TPU VM with `tpu-vm-pt-1.10` runtime and install the nightly 20220413 environment

[code]

2. Run the

[2022-04-14 19:01] yeounoh commented on #3441
Hi @ronghanghu , we were able to address an issue with one of the collective ops and it seems to yield slightly better performance (~10us improvement in ExecuteTime at 50%). FWIW, if you'd like to try latest `torch_xla` with newer `libtpu-nightly`, feel free to try `sudo pip3 install https://storage.googleapis.com/cloud-tpu-tpuvm-artifacts/wheels/libtpu-nightly/libtpu_nightly-0.1.dev20220413-py3-n

[2022-04-14 20:16] ronghanghu commented on #3392
Thanks, @JackCaoG! I just submitted a new issue to #3502.

[2022-04-14 20:17] ronghanghu commented on #3441
This is great to hear, thanks for the update, @yeounoh!

[2022-04-14 21:19] JackCaoG commented on #3501
I am OK with providing it as an option to the user but I want to keep our current setup as default. It will also adds some maintenance burden to us so if you are volunteer to maintain this script that would make thing easier.

[2022-04-15 01:35] JackCaoG commented on #3486
WIth https://github.com/pytorch/xla/pull/3493 and a patch to pytorch file
[code]

I am able to see with gradient checkpointing turn on
[code]

with it turn off
[code]

With checkpointing, memory usage is lower but execution takes longer. This is expected. I will post my finding to the github issue.

User do not need to call `optimzation_barrier` since it is being done by the `CheckpointFunction`

[2022-04-15 01:47] ronghanghu commented on #3502
Update: I found that this error is due to the nightly20220413 version of libtpu. It's independent of torch, torch_xla or torchvision.

If we only use `20220413` version of torch, torchvision and torch_xla but keep `20220408` version of libtpu, then everything is still good.
[code]
gives
[code]
in the example above.

[2022-04-15 01:48] JackCaoG commented on #3486
Let me also explained a bit on what is going on. I will use `ir text` instead of `hlo` since it is more clean
[code]

The first optimization barrier is
[code]
`%15` is the input to the checkpointing function and `%19` is the output of the checkpointing function. checkpointing function in this case is 2 conv + 2 relu. What `xm.optimization_barrier_` does is it bind the input and output of the funct

[2022-04-15 02:05] thisisalbertliang commented on #3369
The PR for lowering `aten::randperm.generator_out` has been created.

[2022-04-15 02:46] AdamW1002 opened #3504 "Error with computation requiring more parameters than supported"
## ❓ Questions and Help
Hi all, I am working in Colab with cloud tpu client and torch 1.11. I am using a dataset for code clone detection and using pre-trained CodeBERT for embeddings then building an FFN for binary classification on top of that.  My model outputs a single logit per input (with batch_size it actually comes out to a tensor of size [BATCH_SIZE]). I've tried batch sizes of 128 and 25

[2022-04-15 06:59] ronghanghu opened #3506 "All-reduce together w/ reduce-scatter causes crash on nightly 20220413 build"
## 🐛 Bug

The nightly PyTorch XLA build (20220413 for torch, torchvision, torch_xla) gives an unexpected error when `all_reduce` is used together with `reduced_scatter` as follows
[code]

This error doesn't happen on the 20220408 build. This is likely a side effect of https://github.com/pytorch/xla/pull/3484 that removes `reduce_scatter`'s layout pining.

## To Reproduce

1. Allocate a v3-8 TPU VM

[2022-04-15 17:00] ronghanghu commented on #3486
This is awesome! I confirm that gradient checkpointing now also works well on my end with this new optimization barrier API and the patched torch/utils/checkpoint.py above.

I'm now trying it out in my FSDP cases to prevent the fusion of full parameter gathering and freeing in #3431.

[2022-04-16 03:23] #3486 closed

[2022-04-16 04:11] ronghanghu commented on #3502
Update: closing this issue went away with the nightly `20220415` version of libtpu.

The example above works now with
[code]
It seems that the error was only due to a problematic `20220413` version of libtpu and was mitigated in newer libtpu versions.

[2022-04-16 06:10] ronghanghu commented on #3502
Update: there seem to be other problems with `20220415` version of libtpu that break things. I'll try to update it later. For now, `20220408` version of libtpu works well.

[2022-04-16 13:43] #3102 closed

[2022-04-16 13:43] #3113 closed

[2022-04-16 13:43] #3024 closed

[2022-04-16 13:43] #3136 closed

[2022-04-16 13:43] #3120 closed

[2022-04-16 13:43] #3122 closed

[2022-04-16 13:43] #3129 closed

[2022-04-16 13:43] #3152 closed

[2022-04-16 13:43] #3153 closed

[2022-04-16 13:43] #3156 closed

[2022-04-16 13:43] #3157 closed

[2022-04-16 13:43] #3123 closed

[2022-04-16 13:43] #3124 closed

[2022-04-16 13:43] #3134 closed

[2022-04-16 13:43] #3194 closed

[2022-04-16 13:43] #3196 closed

[2022-04-16 13:44] #3105 closed

[2022-04-16 13:44] #3187 closed

[2022-04-16 13:44] #3215 closed

[2022-04-16 13:44] #3212 closed

[2022-04-16 13:44] #3232 closed

[2022-04-16 13:44] #3226 closed

[2022-04-16 13:44] #3240 closed

[2022-04-16 13:44] #3241 closed

[2022-04-16 13:44] #3244 closed

[2022-04-16 13:44] #3216 closed

[2022-04-16 13:44] #3257 closed

[2022-04-16 13:44] #3284 closed

[2022-04-16 13:44] #3290 closed

[2022-04-16 13:44] #3291 closed

[2022-04-16 14:43] #3258 closed

[2022-04-16 14:43] #3296 closed

[2022-04-16 14:43] #3302 closed

[2022-04-17 14:02] dedeswim commented on #3361
This is not actually stale, it would be great if the issue got fixed! Thanks :blush:

[2022-04-18 03:17] adamantboy commented on #3483
I solved this problem by recompiling my gcc-7.5.0

[2022-04-18 03:17] #3483 closed

[2022-04-18 03:25] cicirori commented on #3455
@JackCaoG
I have tested the latest solution https://github.com/pytorch/xla/issues/3486 on a bert class model. I do see a memory save, this is exciting. But there is still a big gap with torch native.

| V100 16GB | bs=256 no gc  | bs=256 with gc  | bs=1536 with gc |
|  ----  | ----  | ---- | ---- |
| torch xla  | 5.934GiB | 4.560 GiB | 24.83GiB(OOM) |
| torch native| 6.561GiB | 2.560 GiB | 13.192G

[2022-04-18 04:36] adamantboy opened #3508 "Support GSPMD for Pytorch/XLA?"
## 🚀 Feature
Support GSPMD on xla_spmd_test branch

## Motivation

1.fix spelling mistake of nullptr in xla/torch_xla/csrc/ir.h
2.fix import error of MetaData and UserMetaData in xla/torch_xla/csrc/ir.h
3.implement Output class in ir namespace in that it can not recognize ir::Output in xla/torch_xla/csrc/xla_sharding_util.cpp
4.other unimplemented structures

@yeounoh ,hello, it seems that this br

[2022-04-18 05:03] ronghanghu commented on #3455
Hi @cicirori, thanks for the analyses! I'm also looking at applying `xm.optimization_barrier_` in another use case (#3431).

I wonder if you have compared the solution in https://github.com/pytorch/xla/issues/3486#issuecomment-1099773576 with the alternative of explicitly calling a `xm.mark_step` between the forward and the backward pass? Does the case of explicit mark-step match torch native's me

[2022-04-18 17:25] JackCaoG commented on #3508
That branch is mostly for the poc, we are still working with upstream to finalize APIs and we are testing something on the backend. We will most likely open a new pr when we think we are ready for the implementation. We might also share the design doc when it is final.

[2022-04-18 17:32] ronghanghu opened #3510 "New all-gather API takes much more memory than 1.10 all-gather implementation via all-reduce"
## 🐛 Bug

In our internal tests, the new `xm.all_gather` API implemented in https://github.com/pytorch/xla/pull/3275 is shown to take significantly more memory to execute than the previous all-gather implementation via all_reduce in PyTorch XLA 1.10 (in https://github.com/pytorch/xla/blob/v1.10.0/torch_xla/core/xla_model.py#L583-L615).

For example, as shown in the reproducing steps below, the new

[2022-04-18 17:33] JackCaoG commented on #3361
I think I know the issue but I don't have bandwidth to fix it now. I will ask around and see if I can find someone else to fix it.

[2022-04-18 17:55] dedeswim commented on #3361
Thanks a lot! :)

[2022-04-18 18:53] JackCaoG commented on #3510
Thanks for reporting. I am able to repro this on my end. I am checking with Blake from the xla team, this seems like coming from `all_gather` is not optimized for the 1d tensor. If I change the input shape to `1024,1024**2` test above will pass. I am working with Blake to optimize this on the compiler end.

I am assuming you are not blocked right now since you can use the old `all_gather` for now,

[2022-04-18 19:03] ronghanghu commented on #3510
@JackCaoG Thanks for quickly reproducing this issue!

Actually, I'm blocked on this because I cannot revert to the old `all_gather` implementation via `all_reduce` at this moment -- so far `all_reduce` doesn't work with `reduce_scatter` as in https://github.com/pytorch/xla/issues/3506, while I often need to use all-gather and reduce-scatter together

Yeah, this indeed looks weird (since in princip

[2022-04-18 20:08] JackCaoG commented on #3510
@ronghanghu I want to get some context here. Does FSDP requires all_gather to happen on 1d tensor?

[2022-04-18 20:21] ronghanghu commented on #3510
I think I can also try hacking FSDP and get it to work on 2D tensors. But it seems that naively changing the tensor to 2D as `t1 = torch.ones(1, 1024**3 // world_size, device=device)` still doesn't work here.

I wonder is there a specific requirement for the tensor shape for the current all-gather implementation to work efficiently (e.g. the first dimension should be as large as possible, such as

[2022-04-18 20:34] JackCaoG commented on #3510
Can you try padding to a 128 multiple and reshape to (x,128). I can also try to do that on pt/xla end so you don't need to worry about that.

[2022-04-18 20:43] ronghanghu commented on #3510
Thanks! I can first try on my end padding to `(x,128)` and see if it resolves my use case. It seems working in the example above, so I can try it on more cases.

As a long-term solution, I feel it's probably good to address it upstream in the XLA ops in `libtpu` rather than `torch_xla` (but this is not urgent to me).

[2022-04-18 21:08] JackCaoG commented on #3510
@ronghanghu Can you give me some example that why FSDP needs to do `all_gather` on a giant 1d tensor? XLA team is under the impression that this is unlikely to be a real use case, so if we can prove that this is a requirement it would be easier to push a fix.

[2022-04-18 22:37] ronghanghu commented on #3510
@JackCaoG For FSDP or ZeRO implementation, we often flatten all the parameters in a layer (such as a transformer block) into a single 1D full_parameter vector. Then we shard this full_parameter vector to each device as sharded_parameter (1D). Then during training, we do all_gather on this 1D sharded_parameter tensor to rebuild the full_parameter. The example above in this issue reflects this use c

[2022-04-19 04:01] JackCaoG commented on #3455
Pending item for this pr would be make a pytorch/xla version of the checkpointing following diff in https://github.com/pytorch/xla/issues/3486#issuecomment-1099773576

[2022-04-19 04:05] miladm commented on #3470
Thanks for reporting this bug. I will work on it later in the week.

[2022-04-19 04:19] ronghanghu commented on #3510
Update on this:
* padding 1D tensor size to a multiple of 128 and reshaping to (x, 128) worked well on v3-8. Now I can get a 10B+ parameter transformer model trained with FSDP in #3431
* However, this workaround of padding & reshaping to (x, 128) still doesn't work on a v3-128 pod and goes to TPU OOM. The same 10B+ param transformer model goes to OOM on v3-128, even though in this case the paramet

[2022-04-19 04:19] JackCaoG commented on #3472
There are a couple of todo item on my ened
1. https://github.com/pytorch/xla/issues/3490 to use the upstream device. @wonjoolee95 is working on this
2. I need to introduce a pytorch/xla version of `GetLtcTensorOrCreateForWrappedNumber`
3. Make a way to codegen the IR or modify the existing node to take `lazy::shape`
4. Try to use `XLATensor::Create` instead of `XlaTensor::CreateFrom`

4 is a bit t

[2022-04-19 06:15] adamantboy commented on #3508
@yeounoh @JackCaoG Thank you for your prompt reply. May i ask , is there an approximate time when it can be ready for the GSPMD implementation, i am very interested in it and it's meaningful for big model training.

[2022-04-19 07:53] #3506 closed

[2022-04-19 16:56] wconstab commented on #3472
1,2 both sgtm.

3a - a way to codegen the IR: meaning, the codegen needs to know how to
* derive from XlaNode instead of TsNode (already possible)
* define a Lower method with XlaNode return type, and do NOT generate the lowering body (needs codegen change)
* customize XlaNode constructor call so it initializes Xla::Shape from lazy::Shape
* anything else?

3b- or modify the existing node to take l

[2022-04-19 19:44] ronghanghu commented on #3510
A further update on this: switching to the old all-gather via all-reduce implementation (using 20220419 builds containing https://github.com/pytorch/xla/pull/3511) didn't resolve the problem.

On v3-8, the alternative implementation of all-gather using padding + all-reduce takes much more memory to run compared to directly using all-gather after reshaping to (x, 128). This is true even if I change

[2022-04-19 20:15] JackCaoG commented on #3510
My understanding is that `padding` trick is only useful for the native `all-gather`.

[2022-04-19 20:19] ronghanghu commented on #3510
(The "padding" in the old all-gather via all-reduce refers to padding the tensor to all-gather output shape and then reduce it as in https://github.com/pytorch/xla/blob/v1.10.0/torch_xla/core/xla_model.py#L615, not padding to a multiple of 128)

So my current observation is that old all-gather via all-reduce still takes more memory on v3-8 than the new all-gather with reshaping to (x, 128)

[2022-04-19 21:01] yeounoh commented on #3508
Hi @adamantboy , thank you for the questions. I have been on and off for working on other issues, but will revisit soon. As you've seen the `xla_spmd_test` and the associated PR is in draft, and we have a plan to implment a PoC in the next few months.

[2022-04-19 21:53] yeounoh commented on #3441
Hi @ronghanghu realized that you were having an [issue](https://github.com/pytorch/xla/issues/3502#issuecomment-1099777942) with the libtpu-nightly. Let me also take a look...

[2022-04-19 21:54] ronghanghu commented on #3441
Thank you!

[2022-04-19 22:28] JackCaoG commented on #3510
Ah, I guess it is a good thing then? Using the new `all-gather` + padding seems to work better.

[2022-04-19 22:50] ronghanghu commented on #3510
Yeah, the new all-gather + padding works better on v3-8.

But its memory consumption seems to grow with the number of TPU cores (for the same gather output tensor size) and I cannot apply it on v3-128 for now. I'm still looking into it. On the other hand, the total memory consumption of all-reduce doesn't grow with the number of TPU cores.

[2022-04-19 22:56] ronghanghu commented on #3510
(In our case, getting the model to run on v3-8 is not very useful by itself, and we need to get it to run on pod such v3-128 and v3-256 for actual model experimentation, which I'm trying to debug now. It seems that some of the behavior of v3-8 doesn't always hold true on pod.)

[2022-04-19 22:58] JackCaoG commented on #3510
@ronghanghu Can you provide a small repro? I can check with the XLA team.

[2022-04-19 22:59] ronghanghu commented on #3510
Yeah, this is exactly what I'm working on now. Thanks for your help :)

[2022-04-20 09:28] adamantboy commented on #3508
Thanks for reply, looking forward to your work.

[2022-04-20 16:14] suo opened #3513 "XLA tests are flaky on PyTorch master"
Hey, I've noticed an uptick on flaky XLA test failures on PyTorch master. Some recent examples:
- https://github.com/pytorch/pytorch/runs/6097653892?check_suite_focus=true
- https://github.com/pytorch/pytorch/runs/6041716960?check_suite_focus=true
- https://github.com/pytorch/pytorch/runs/6041275327?check_suite_focus=true
- https://github.com/pytorch/pytorch/runs/6041716960?check_suite_focus=true

[2022-04-20 17:15] JackCaoG commented on #3513
Thanks I will take a look, seems like error is related to start the grpc server
[code]

[2022-04-20 18:58] JackCaoG commented on #3513
All of the mp test should not get run on CPU anyway, I think what happened is it will still try to start a new server which in some time failed due to the address issue. Let me try to explicitly disable the test on CPU.

[2022-04-20 19:14] JackCaoG commented on #3513
another option is we don't really need to keep restarting xrt server in our test, we can use a long running one. Let me try this idea first.

[2022-04-20 22:55] JackCaoG commented on #3472
had a chat with @wconstab and we are aligned on the changes we need to make

I generate below files with
[code]

in `XLANativeFunctions.cpp`, we currently have
[code]

TODO here
- [ ] XLA to create a `xla_native_function_include.h` that contains all of the header that `XLANativeFunctions.cpp` would need, this includes `Counter`, `aten_xla_bridge.h` and ...
- [ ] LTC to create a way for XLA to plug

[2022-04-20 23:00] JackCaoG commented on #3472
Generated `LazyIr.h` currently looks like
[code]
- [ ] XLA to create a general header to include all of the header that needs to be presented in `LazyIr.h`
- [ ] XLA to rename Node to XLANode
- [ ] XLA to update Node constructor to take both xla::shape and lazy::shape
- [ ] LTC to call $(NodeName)OutputShape in constructor, parameter is the same as the constructor
- [ ] LTC to add a Lower declarat

[2022-04-20 23:45] d4l3k opened #3515 "TPU Docker Images much larger than necessary 24.7GB"
## 🐛 Bug

The current xla docker images are much bigger than they need to be due to having a lot of build artifacts and cache left over from the build step. Removing some of those files significantly reduces the size of the docker image from 24.7GB down to 8.78GB which is a much more manageable size.

## To Reproduce

[code]

## Expected behavior

With a multi-stage build it's pretty easy to delet

[2022-04-21 19:05] yeounoh commented on #3441
Hi @ronghanghu , we were able to address the regression -- this [PR](https://github.com/pytorch/xla/pull/3507) will land sometime today, you can pull the change and do `git submodule update --recursive` to run the latest `libtpu-nightly`.

Here is the result I got using `libtpu-nightly==0.1.dev20220413`
[code]

[2022-04-21 20:41] ronghanghu commented on #3441
Great, I'll check it out. Thank you!

[2022-04-21 23:17] JackCaoG commented on #3515
@miaoshasha Did you also look into this issue previously? Seems to be something we can clean up.

[2022-04-21 23:21] JackCaoG commented on #3441
The tf is pin to 04/07 so I expect both `dev20220422` and `dev20220413` to work. If you run into issue with `dev20220422` you can let us know and use `dev20220413` while we debug the regression..again :D.

[2022-04-21 23:32] JackCaoG commented on #3502
@ronghanghu Let us know if our side tf update fixed the issue, otherwise I can take another pass of this bug.

[2022-04-21 23:43] ronghanghu commented on #3502
Thanks! I'll checkout the nightly build 20220422 tomorrow and get back to you

[2022-04-22 00:41] JackCaoG commented on #3490
@wonjoolee95  Let's also make some update to upstream device
1. We should remove https://github.com/pytorch/pytorch/blob/2e2cfa2ef77ff95741f7ebc21a24846567d8630b/torch/csrc/lazy/backend/backend_device.h#L48 which does not do anything and it caused some very hard to debug issue on our end.
2. I want to init the `ordinal_` to `-1` instead of `0`, this way it will fail early if we ever accidentally c

[2022-04-22 02:05] ronghanghu commented on #3510
Following up on this: my TPU OOM issue on v3-128 is actually due to fusion by the XLA compiler, not the all-gather op itself. It seems that the XLA fusion behavior of the same/similar program on v3-128 is sometimes different on v3-8.

If I insert `xm.mark_step` at a few places in my program (only for debugging purposes here as many mark-step calls significantly slow down the execution), then the T

[2022-04-22 17:00] ronghanghu commented on #3510
It seems very hard to prevent some XLA fusions and I still cannot get the same memory usage with `xm. optimization_barrier_` as using explicit mark-step `xm.mark_step`. I'll try and see if I can create a small repro example on this XLA fusion problem and submit a new issue.

[2022-04-22 18:44] JackCaoG commented on #3510
I chatted with Blake, there is a Flag on the XLA end that will optimize the 1d vector all-gather. However it is currently being turn off in v3 TPU(it is on for v4) due to some `nan` issue. XLA team is looking into this bug but it is unsafe to turn on this optimization until they root cause the `nan`.

In the meantime let's use the reshape trick to unblock the fsdp if that is OK with you :D.

[2022-04-22 19:19] alanwaketan commented on #3490
I think you basically need a way to set the default ordinal for XLA. I remember that we discussed before that we can provide a backend interface for you to overwrite the ordinal. Do you still love this idea? The reason for that is I want to have BackendDevice() to always construct an object that represents the default setting tailored to each backend.

On the other hand, ‘-1’ might also work. Let

[2022-04-22 19:44] alanwaketan commented on #3490
Looks like -1 won’t break anything. Then, let’s go ahead with the -1 change.

[2022-04-22 22:03] ronghanghu commented on #3510
Sounds good, and thanks for the update! I'll first use the reshape (x, 128) trick in my FSDP use case.

[2022-04-25 15:53] #3490 closed

[2022-04-26 02:50] JackCaoG opened #3527 "[LTC] Use upstream ScopePusher, ScopeContext and"
## 🚀 Feature
PyTorch/XLA should not maintain its own Scope related helper function since they have been upstream in https://github.com/pytorch/pytorch/blob/14affba79963c5f67700c5acf591d367a923d0b8/torch/csrc/lazy/core/ir_metadata.cpp#L43.

We should also add test if there isn't already one to make sure we don't introduce any regression.

## Motivation
Clean up the code

[2022-04-26 04:33] JackCaoG commented on #3455
https://github.com/pytorch/xla/pull/3524 is merged, I will close this pr for now.

[2022-04-26 04:33] #3455 closed

[2022-04-26 05:12] JackCaoG commented on #3472
I am playing around with the new code gen, with
[code]

I can get
[code]

I think this is really close to what I need. Next thing to do is to overwrite `GenLazyIR` and have a `GenXLALazyIR`

[2022-04-26 08:07] cicirori opened #3529 "Sometimes the way of XLA updating tensors may be confusing."
## 🐛 Bug

[code]

## Expected behavior

Always print 2

## Additional context

I can understand that the reason for this comes from the fact that the tensor.item() call does not clear the IR grpah of the tensor.

But this is a common code pattern for algorithm engineers to record loss and output, and xm.add_step_closure might be the answer to this problem. But it was still very annoying at first (

[2022-04-26 16:02] wconstab commented on #3472
yea looks good to me.

oh, one thing that i was wondering, RE this point:

do I need to add another arg for you to pass a new header, or does it work for you to pass one of the existing headers (e.g. the 'node_base' header) as your 'general header' which also includes the node base header itself?

[2022-04-26 17:34] dupur opened #3530 "Training stuck at start_processes() on Google Colab"
## ❓ Questions and Help
I was trying to pretrain a Bert model on google colab TPU with Huggingface library. But the training never starts. Not sure what I am doing wrong. Any help is appreciated. The code is

`
    VERSION = "1.8.1"
    curl https://raw.githubusercontent.com/pytorch/xla/master/contrib/scripts/env-setup.py -o pytorch-xla-env-setup.py
    python pytorch-xla-env-setup.py --version $V

[2022-04-26 18:35] wonjoolee95 commented on #3462
This is resolved by https://github.com/pytorch/xla/pull/3495.

[2022-04-26 18:35] #3462 closed

[2022-04-27 01:46] JackCaoG commented on #3472
@wconstab I think we are really close, I would need some additional changes from the code gen

- [ ] Let XLA to overwrite the `torch::lazy::LazyTensorPtr` to `XlaTensor` or change it `auto`
- [ ] Let XLA to overwrite `bridge_str` since we need `bridge::AtenFromXlaTensor` instead of `torch::lazy::CreateAtenFromLtcTensor`
- [ ] Let XLA to overwrite `torch::lazy::Value` to `torch_xla::XlaVlaue` since

[2022-04-27 08:54] Francis-Zhuang opened #3532 "A strange Bug"
## ❓ Questions and Help
When I use pytorch to train a 3D neural network,a very strange bug will appear.
When batchsize is 1, the model will get stuck at the 48th iteration  image and report to OMM "  (0) RESOURCE_EXHAUSTED: Ran out of memory in memory space hbm. Used 29.80G of 7.98G hbm. Exceeded hbm capacity by 21.82G."
When batchsize is 2, the model will get stuck at the 48th iteration  image an

[2022-04-27 17:51] miladm commented on #3532
Thanks for sharing this issue @Francis-Zhuang! It's likely we are having a combination of memory padding + memory usage accumulation happening here.

Can you look at the HBM usage of your program at every epoch to see how memory usage grows over time? ([ref API](https://github.com/pytorch/xla/blob/master/torch_xla/csrc/init_python_bindings.cpp#L1103))

[2022-04-28 00:10] #3424 closed

[2022-04-28 00:10] #3333 closed

[2022-04-28 00:10] #3247 closed

[2022-04-28 00:10] #3357 closed

[2022-04-28 00:10] #3297 closed

[2022-04-28 00:10] #3367 closed

[2022-04-28 00:10] #3368 closed

[2022-04-28 00:10] #3372 closed

[2022-04-28 00:10] #3380 closed

[2022-04-28 00:10] #2487 closed

[2022-04-28 00:10] #3293 closed

[2022-04-28 00:10] #3266 closed

[2022-04-28 00:10] #3254 closed

[2022-04-28 00:10] #3221 closed

[2022-04-28 00:10] #3162 closed

[2022-04-28 00:10] #3295 closed

[2022-04-28 00:10] #3391 closed

[2022-04-28 00:10] #3352 closed

[2022-04-28 00:10] #3347 closed

[2022-04-28 00:10] #3421 closed

[2022-04-28 02:01] cicirori commented on #3532
Can setting `XLA_SYNC_WAIT=1` avoid this problem?

I had a similar problem and found out that torchxla requests the full GPU memory almost all at once, so if there is a recompile and the current memory needed is a bit larger it can easily lead to not having enough contiguous memory space.

I did some hacking in tensorflow to get around this problem, and the first time tf encountered a large memory

[2022-04-28 02:33] JackCaoG commented on #3488
I think I root cause the issue, this has to be with View construcot did not correctly init its ir_value_ hence https://github.com/pytorch/xla/blob/d9dc45fce19aa3f27bb00f4cd9f4420a58b30da1/torch_xla/csrc/view.h#L152 incorrectly return false and then clear the xla_data. Should be a pretty easy fix.

[2022-04-28 05:09] #3434 closed

[2022-04-29 02:57] yeounoh commented on #3441
Hi @ronghanghu we've resolved the build issue regarding the tensorflow update. Once we land #3535, #3541, you should be able to checkout the latest master and use it with `libtpu-nightly==0.1.dev20220413`. Let me know if you have any question.

[2022-04-29 04:12] ronghanghu commented on #3441
@yeounoh Thanks! I'll check it out when these PRs are merged

[2022-04-29 17:31] JackCaoG commented on #3427
roll lowering is merged, closing this issue.

[2022-04-29 17:31] #3427 closed

[2022-04-29 17:40] aws-rhsoln commented on #3352
@JackCaoG any update on this? I saw an issue when using the optimizer from hugging face transformers repo. Here in this [optimizer.step](https://github.com/huggingface/transformers/blob/main/src/transformers/optimization.py#L369-L380) , the two lines [transfers a scalar to the server.](https://github.com/pytorch/xla/blob/master/torch_xla/csrc/tensor.cpp#L777) This TransferToServer ends up blocking

[2022-04-30 00:37] JackCaoG commented on #3472
Fixing last couple build issue related to `abs` op is being used in other lowering, WIP pr in https://github.com/pytorch/xla/pull/3544.

[2022-04-30 04:38] ronghanghu opened #3545 "Host-side memory leak when moving an `nn.Module` object to TPU devices (and sharding it)"
## 🐛 Bug

There seems to be a host-side memory leak when we move an `nn.Module` object to a TPU device via `module.to(device)`. Specifically, when constructing a `module` on the host CPU side and then moving it to a TPU device, one would expect that all the parameters in `module` should no longer occupy any host CPU memory after we call `module = module.to(device)` and `xm.mark_step()`, where `dev

[2022-04-30 14:36] ronghanghu commented on #3502
Update: I tried out the latest torch_xla and torch nightly 20220430 wheels that contain https://github.com/pytorch/xla/pull/3535, https://github.com/pytorch/xla/pull/3541, and tested it against libtpu dev20220413. Now it works well and this error goes away. So it seems that previously the issue was because of the outdated TensorFlow version.

Thanks for your help on this!

Also, note that the late

[2022-04-30 14:36] #3502 closed

[2022-04-30 20:27] ronghanghu commented on #3441
Update: following up on this -- I tried out the nightly 20220430 wheels for torch_xla, torch, and torchvision that contain https://github.com/pytorch/xla/pull/3535, https://github.com/pytorch/xla/pull/3541, and tested the speed again on a v3-128 pod. **It seems that the speed regression issue persists in this nightly 20220430 version.**

Actually, the speed regression in the case above seems *wors

[2022-05-02 17:58] yeounoh commented on #3441
Hi @ronghanghu sorry to hear, will take a look.

[2022-05-02 18:51] ronghanghu commented on #3441
@yeounoh Thanks again! I haven't retried on v3-8 yet (our real use case was on TPU pod). I can probably take another look at it this evening.

[2022-05-02 20:47] #3488 closed

[2022-05-02 20:48] JackCaoG commented on #3488
@amithrm Fis is merged, I verified that it fixed the issue above. Let me know if you still see the issue with the fix.

[2022-05-03 06:15] Francis-Zhuang commented on #3532
Thanks,but it doesn't seem to work.I think it is because the memory of Colab's TPU is too small，8 cores have 64G，but every core has only 8G.

[2022-05-03 06:15] Francis-Zhuang commented on #3532
Thanks!

[2022-05-03 14:22] ronghanghu commented on #3441
Update: the v3-8 speed also got much slower with nightly 20220430 `torch`, `torch_xla`, and `torchvision` wheels than the previous `tpu-vm-pt-1.10` runtime.

[code]

The 50% percentile of `ExecuteTime` is now as long as 644ms243.938us. This is now a lot worse than the corresponding metric of 348ms614.947us in `tpu-vm-pt-1.10`, almost doubling the execution time.

---

It's measured as follows:

[c

[2022-05-03 22:19] JackCaoG commented on #3545
Thanks for reporting, issue seems to come from the xrt server side, I saw
![image](https://user-images.githubusercontent.com/59073027/166576163-9a2b54cb-c0ac-4164-b319-c2125e866b87.png)

when I run the server in a separate process. Let me look into it a bit more.

[2022-05-04 01:34] JackCaoG commented on #3545
couple observation
1. `block = block.to(device)` is the line that caused the server memory usage increase
2. graph being executed in each step(block building) is the same
3. CPU memory consumed by xrt_server does not get reset when traning process exited

Here is the ir_graph being executed
[code]
it is pretty much just upload tensor(parameter) to the device, it is not a real execution.

looked at

[2022-05-04 01:44] JackCaoG commented on #3545
Also, I was doing above test on a `v2-8`, so the HBM available is only 8GB. after block 5, it can no longer fit the parameter in  HBM which might be why it started to use host memory as a virtual memory.

[2022-05-04 05:26] ronghanghu commented on #3545
Thanks for the updates! It's interesting to see that the XRT server uses the CPU memory as its virtual memory (in the case where we commented out the `create_module_shard` and make `num_core` to 1 instead of 8) instead of raising an OOM error.

Earlier I thought that `xm.mark_step` would force all tensors to materialize on the TPU HBM but from the example above this seems not the case -- the param

[2022-05-04 05:43] JackCaoG commented on #3545
I can try with `create_module_shard` tmr with 8 core. To me materialize means we evaluate the computation and turn it to a concrete value. Device data is always materialized since the  value is known.  One thing you can try is to switch the order of
[code]

This should avoid sending full parameter to each device, that might be the case of unexpected virtual memory usage.

[2022-05-04 07:23] ronghanghu commented on #3545
Thanks, this sounds clear then

This could be hard to do, because in our real use cases `create_module_shard` may also involve collective ops such as `xm.all_reduce` or `xm.reduce_scatter` that cannot run on CPU tensors easily (the `create_module_shard` in the example above is a largely simplified version). While I can probably try figuring out a way to get around it, it would be great if we can k

[2022-05-05 00:45] JackCaoG commented on #3545
hmm, I uninstall everything and run your script unmodified
[code]

the memory usage on both CPU and TPU both seems reasonable to me. I was not able repro the memory leak you observed.
[code]

I didn't start XRT server in a separate process too, so it should be identical to your experiment. Let me try it on couple other TPUVM i have.

[2022-05-05 01:02] JackCaoG commented on #3545
I switched to a `tpu-vm-pt-1.10`  TPUVM, now I am able to observe the issue you mentioned.. let me try to figure out what was the difference between 2 vms...

[2022-05-05 01:13] JackCaoG commented on #3545
Let me create a new v3-8 and try to repo again.

[2022-05-05 01:16] nkaretnikov opened #3551 "addcdiv and addcmul fail type promotion with float64 and complex128"
## 🐛 Bug

After enabling type promotion in PyTorch for `addcdiv` and `addcmul` and adding a test checking the desired behavior, an error was uncovered on XLA.

https://github.com/pytorch/pytorch/pull/74234#issuecomment-1117169366
https://github.com/pytorch/pytorch/runs/6284808400?check_suite_focus=true

[code]

## To Reproduce

Run the above tests.

## Expected behavior

Promotion works as on othe

[2022-05-05 02:47] ronghanghu commented on #3545
Thanks for the further update! Also, as mentioned in the "Additional context" section above, the CPU memory consumption of this same script seems to get worse with the nightly 20220430 wheels with libtpu 20220413, so I guess  this could be related to XRT versions as well.

---

Starting from a v3-8 TPU VM with `tpu-vm-pt-1.10` runtime and do
[code]
it prints
[code]

[2022-05-05 03:37] JackCaoG commented on #3545
This is weird, so I created a new v3-8 with `tpu-vm-pt-1.10` and I did
[code]

but I am still unable to repro the memory leak above, I saw
[code]

I also verified that `torch` and `torch_xla` version is correct
[code]

@ronghanghu Do you mind creating a fresh vm and redo the step I posted above? Did I miss anything?

[2022-05-05 03:39] ronghanghu commented on #3545
Hmm, this is weird. Thanks for reporting it! I'll first check it again on my end

[2022-05-05 04:46] ronghanghu commented on #3545
OK, I figured out the issue here. It's because I didn't have `LD_PRELOAD=/usr/lib/x86_64-linux-gnu/libtcmalloc.so.4` in my environment variables. I was running `unset LD_PRELOAD` (as part of my `.bashrc`) as in https://cloud.google.com/tpu/docs/pytorch-xla-ug-tpu-vm to use the standard `malloc` on TPU VMs when running on v3-8, to get rid of some warnings like in the screenshot below.

![277197962_

[2022-05-05 09:35] cicirori opened #3552 "[Questions] Why use sub computation other than a few instructions?"
## ❓ Questions and Help

I am trying to use torch xla to train a model with 1.3B parameters. However, it takes more than two hours to compile the model. I found that part of the time overhead comes from choosing the memory schedule algorithm. Looking at the logs, I think it is probably the sub computation that adds a lot of time to this section.

I would like to know Why use sub computation other

[2022-05-05 10:38] cicirori commented on #3552
Or can these subcomputations be reused?

[2022-05-05 17:13] JackCaoG commented on #3545
Thanks, I will retry. I guess our doc is a bit confusing, `unset LD_PRELOAD` is only recommended for DLRM at the moment. For Resnet we see a significantly better speed using `tcmalloc`. On pod `tcmalloc` is also the default so you don't need to manually set the `LD_PRELOAD`.

[2022-05-05 18:08] JackCaoG commented on #3552
Can you provide a bit more detail, like HLO snapshot you are referring to?

[2022-05-05 22:27] mruberry opened #3553 "Use device agnostic fp32 matmul math mode flag and new default setting"
Hey PyTorch/XLA!

Recently PyTorch added a new global device-agnostic flag for controlling fp32 matmul math modes, see https://github.com/pytorch/pytorch/pull/76509 for the implementation details and https://github.com/pytorch/pytorch/issues/76440 for the design. This flag is based on JAX's own device agnostic fp32 matmul math mode options. We also changed our default fp32 math mode to be the high

[2022-05-06 02:54] ronghanghu commented on #3441
A minor update: given that `unset LD_PRELOAD` could cause a memory leak in https://github.com/pytorch/xla/issues/3545#issuecomment-1118164381, I tried running the v3-8 speed test (under the nightly 20220430 wheels, and libtpu 20220413) with either `export LD_PRELOAD=/usr/lib/x86_64-linux-gnu/libtcmalloc.so.4` or `unset LD_PRELOAD`.

In both cases, the 50% percentile of `ExecuteTime` on v3-8 is 630

[2022-05-07 07:33] ronghanghu commented on #3545
I verified that the host-side memory issue is resolved in all our cases via `LD_PRELOAD=/usr/lib/x86_64-linux-gnu/libtcmalloc.so.4`, one should keep using tcmalloc on TPU VMs instead of the standard C++ malloc.

[2022-05-07 07:33] #3545 closed

[2022-05-07 08:54] ronghanghu commented on #3453
Update: we also encountered this issue when we are trying to scale to large transformer models with FSDP in #3431

[code]

[2022-05-09 17:25] JackCaoG commented on #3453
The fix(runtime migration) is WIP, will update here when that is ready.

[2022-05-09 19:27] JackCaoG commented on #3453
FYI @will-cromar PJRT has an option to tuplify the input during compilation and execution, we should (maybe optionally) use https://github.com/tensorflow/tensorflow/blob/master/tensorflow/compiler/xla/pjrt/pjrt_client.h#L222 when we switch to PJRT.

[2022-05-09 20:52] jbeck9 opened #3557 "Proper way to write images (MD tensors) from multi-core training / eval to SummaryWriter"
I'm using XLA to train GANs on the Google Colab Pro platform. The decrease in training time for my models has been tremendous. However, logging images is quite important to monitoring the progress of GAN training.

On a GPU, this one liner has always worked for me for logging the 0th element of the batch.

`writer.add_image('Images/TestImage', batch[0].data)`

No matter what I seem to do, any atte

[2022-05-09 22:19] JackCaoG commented on #3557
Hey @jbeck9 , thanks for reporting. Can you provide a small repo that we can try?

[2022-05-09 22:28] JackCaoG commented on #3553
Hey @mruberry, thanks for the heads up. I think PyTorch/XLA needs to handle `float32_matmul_precision` and set the corresponding xla flag. All of our existing benchmark and customer is running on "fast" mode, given that 1.12 branch cut is very close, I would leaning toward not to include change in pytorch/xla 1.12. We will have a pr and do more intensive test internally to figure out the speed imp

[2022-05-10 03:37] jbeck9 commented on #3557
I seem to have resolved the problem by setting `run_async= True` in xm.add_step_closure. This led me to believe there was some sort of timing issue, so I went back added a rendezvous after the step closure, and this resulted in a "failed to meet rendezvous" error for all processes. Unfortunately I'm too ignorant to how the xla repo works to speculate further.

Everything works fine for me now, but

[2022-05-10 14:16] jungscott opened #3559 "assert outputs.is_cuda or outputs.device.type == 'xla'"
File ~\anaconda3\envs\pvt2\lib\site-packages\torch\cuda\amp\grad_scaler.py:161 in scale
    assert outputs.is_cuda or outputs.device.type == 'xla'

AssertionError

[2022-05-10 17:04] JackCaoG commented on #3559
Thanks for reporting, If you could provide a small repo we might be able to take a look. I am guessing the issue is the outputs is on CPU but I can't tell why that is the case from the error message.

[2022-05-10 17:19] jungscott commented on #3559
I am running on a Windows 10 with Anaconda. Does the code run better on a Linux or a Cloud TPU?

[2022-05-10 17:29] yeounoh commented on #3441
Hi @ronghanghu , wanted to give a quick update.

I was able to reproduce the (worsened) regression using the same `torch_xla-nightly+20220430` and  `libtpu-nightly-0.1.dev20220413`:
[code]

Now, I took the torch_xla 1.11 release branch and applied a few manual patches and ran again with the same libtpu-nightly-0.1.dev20220413,
[code]
The same libtpu (with the all_reduce path) runs just fine (this

[2022-05-10 19:53] ronghanghu commented on #3441
@yeounoh I see, thanks for the update!

[2022-05-10 22:09] wonjoolee95 opened #3560 "PyTorch/XLA Codegen Migration"
## 🚀 Feature
As PyTorch/XLA migrates to the LTC (Lazy Tensor Core), we need to clean up the existing stub code (which spans over 6+ files) that were used to do the op lowering. The complete process and file structure for the old op lowering can be found in [this doc](https://github.com/pytorch/xla/blob/master/OP_LOWERING_GUIDE.md). Replacing the supported op with the codegen SHOULD NOT introduce a

[2022-05-11 23:06] codeislife99 commented on #2487
Just checking in on this issue, if I understand correctly, the status is still the same correct, XLA is not supporting detection models from torchvision ?

[2022-05-11 23:09] JackCaoG commented on #2487
Short answer is yes. @miladm has more info. We are working on the dynamic shape support from the infra side with pytorch core team, without the properly support at the framework level(for example what does `tensor.size` return for a dynamic tensor and how does dynamic dimension propagate) op level support will not be sufficient.

[2022-05-11 23:24] codeislife99 commented on #2487
Thank you

[2022-05-12 08:29] cicirori commented on #3552
[code]

There are thousands of such computations in one of my hlo snapshots.
In some cases, I think they slow down hlo compilation significantly.

I did a profiling of the `OptimizeHloModule` function and the results are as follows(click to see full pic)：

![SyncTensorsGraph 221795 11523](https://user-images.githubusercontent.com/32845984/168025762-f469b12e-ed34-43ac-bd96-44438ecaf28e.svg)

There

[2022-05-12 08:42] cicirori commented on #3552
Sorry I looked at the implementation of multi_output_fusion again, each time it rebuild is the current sub-computation, so the number of computation may not affect much, but the overall number of instructions caused by too much.

[2022-05-12 08:45] cicirori commented on #3552
I have another thought, is it possible that for a hlo module with n*n instructions in total. Will it be much slower to compile a computation with n*n instruction than n computations with n instructions?

[2022-05-12 09:07] cicirori commented on #3552
Sorry, it's been a bit long, just recalled some other details.

There is a lot of trivial computation that will definitely bring about increased compilation overhead from the choice of gpu memory scheduler algorithm.

I observed that for these very small computation, dfs, post-order, list does not make a difference, the main computation dfs works best. So I added an option to the tf to skip this s

[2022-05-12 22:37] JackCaoG commented on #3559
Windows or Linux shouldn't make difference. Depending on how which actual device you want to run on you can do
`GPU_NUM_DEVICES=1`  or any number will trigger GPU mode,
[code]
for XLA:CPU (single CPU)

`export XRT_TPU_CONFIG="tpu_worker;0;$TPU_IP_ADDRESS:8470"` for TPU

[2022-05-13 18:34] yeounoh commented on #3441
Hi @ronghanghu a quick update -- we were able to track down a bug in our `torch.gather` implementation where `sparse_grad=true` is forced. This shouldn't be always be the case. I will tag you in a relevant PR to fix it; meanwhile,

this is the new nightly number after the patch:
[code]

There is still +/- 20ms gap from the baseline (`torch_xla==1.11` with `libtpu-nightly-0.1.dev20220413`), we will

[2022-05-13 18:54] ronghanghu commented on #3441
Thanks, @yeounoh, this is good to know and the new numbers look much better. Looking forward to the fix!

[2022-05-14 09:40] RobinGeibel commented on #3136
Hey, I have the exact same issue. Everything works fine on TPU and when I launch the notebook with an extended rum it crashes. Did you figure out how to solve this?

[2022-05-14 10:19] quantitative-technologies commented on #3136
No, I never solved it.

I don't think the dev @jysohn23 really bothered to look at this either.

I'm not seeing a way to reopen this issue.

[2022-05-16 23:21] yeounoh opened #3569 "Build slowdown issue"
## 🐛 Bug

`torch_xla` build has slowed downed significantly since the last tensorflow update #3535 , mainly due to the `sandboxed` bazel build strategy.

## To Reproduce

Both local and CI builds are experiencing slowdown, and it is more severe on a remote VM. It takes ~2hr 15min in circleci.

## Expected behavior

Circleci build used to take just under an hour.

## Additional context

The fix was

[2022-05-18 19:01] codeislife99 opened #3582 "PT 1.11 Build Error for GPU ; Error compiling objects for extension"
## ❓ Questions and Help
I am getting an error building PT 1.11 XLA along with PT 1.11 with

`

subprocess.CalledProcessError: Command '['ninja', '-v']' returned non-zero exit status 1.
--
 
The above exception was the direct cause of the following exception:
 
Traceback (most recent call last):
File "setup.py", line 319, in <module>
setup(
File "/root/anaconda3/envs/pytorch/lib/python3.8/site-pack

[2022-05-18 19:14] JackCaoG commented on #3582
Hmm, I think build is passing our end. For 1.11 we have we have docker image
[code]

If you can't resolve the build error you can try to build inside this docker which should have all of the build env ready.

[2022-05-18 21:27] codeislife99 commented on #3582
Yeah, looking at the container I am seeing that I am using the correct PT and PT-XLA commits for my build. But do you think you or someone else has seen this error before or have an idea on why it might be happening

[2022-05-18 23:17] yeounoh commented on #3441
That's great, @ronghanghu thank you for conforming. I was able to use the 1.11 release branch, apply some patches, and run with the `libtpu-nightly-0.1.dev20220413` to match the 1.10 performance. However, I am still struggling to close out the remaining gap between 1.10, 1.11 (~350ms @50p, v3-8) and the current nightly (~370ms @50p, v3-8). We will continue and let you know when we fix it.

[2022-05-18 23:30] ronghanghu commented on #3441
Sounds great, thanks @yeounoh!

[2022-05-19 06:26] codeislife99 commented on #3582
Okay, I found the reason for the error. The tag v1.11.0 is a bit different from the branch r1.11. The build for r1.11 works fine which is what you used to build the container whereas it doesn't work for the tag. I am using the branch now, but perhaps it might be useful to fix the bug.

[2022-05-19 09:55] MikaYGu commented on #3162
@codeislife99 Have you solve this problem? I get the same question. After I set XRT_DEVICE_MAP & XRT_LOCAL_WORKER,  and edit  file: xla_client/xrt_computation_client.cc xla_multiprocessing.py

error log:
RuntimeError: tensorflow/compiler/xla/xla_client/mesh_service.cc:329 : Check failed: impl_->channel->WaitForConnected( std::chrono::system_clock::now() + std::chrono::seconds(connect_wait_seconds)

[2022-05-19 10:14] codeislife99 commented on #3162
Yes, I am able to run multi gpu and multi node training successfully. There is no good documentation around it unfortunately , so I can see understand your trouble. You need to make changes to certain environment variables. Right now , I am a bit busy but I can share the env variable changes here after that.

[2022-05-19 11:03] MikaYGu commented on #3162
@codeislife99 Thank you very much for your share.  Expect your reply.

[2022-05-19 17:10] JackCaoG commented on #3582
What is tag v1.11.0?

[2022-05-19 18:16] codeislife99 commented on #3162
Assuming you have two nodes with 4 GPUs on each node. I first make the following patch to `xla_multiprocessing.py` and then configure a number of environment variables.
[code]
On both nodes:
[code]

On First Node:
`export XRT_HOST_ORDINAL=0
`
On Second Nodes:
`export XRT_HOST_ORDINAL=1
`

`python3 test_train_mp_mnist.py --num_worker 0`

[2022-05-19 19:32] yeounoh opened #3587 "Update XLA torch.gather heuristics for multi-platforms"
## 🚀 Feature
There are two code paths for composing and executing `torch.gather` in PyTorch/XLA, that relies on a custom heuristic to decide between the two. The heuristic requires a major update to better serve various platforms and use cases. cc @ymwangg @ronghanghu

## Motivation

Based on the recent [study](https://github.com/pytorch/xla/pull/3566#issuecomment-1126592037) for GPU/CPU, and also

[2022-05-19 19:33] yeounoh commented on #3587
Hi @ymwangg I will follow up with you once I create a PR to address this -- stay tuned!

[2022-05-19 21:53] JackCaoG commented on #3582
Thanks, I just fix the v1.11.0 tag, now it should be aligned with r1.11 branch.

[2022-05-19 22:26] miladm opened #3589 "PyTorch/XLA `gtest` needs to be updated"
I am running into the following error when building PyTorch/XLA CPP tests using `python setup.py install`.

**Error report from: `xla/test/cpp/build/gtest/src/googletest-stamp/googletest-build-err.log`**
[code]

Please investigate.

---

**Blocker:**
- [ ] https://github.com/tensorflow/tensorflow/issues/56021

[2022-05-19 22:28] miladm commented on #3589
Turns out this problem has existed with the current pin (i.e. commit `6f5fd0d7199b9a19faa` in googletest version `1.10`) for quite some time ([ref](https://stackoverflow.com/questions/69935158/dummy-may-be-used-uninitialized)). The solutions is to upgrade to version `1.11.0`. Doing it now.

[2022-05-19 22:31] miladm commented on #3589
I tried a few pin from version `1.11.0` including `e2239ee6043f73722e7aa812a459f54a28552929` and `4679637f1c9d5a0728bdc347a531737fad0b1ca3`. None of them gave me a successful build result.

Observations:
* The initial error that prompted this issue is indeed fixed in version `1.11`
* I run into a new set of errors. A snippet of the errors I observe is listed below.

[code]

[2022-05-19 22:36] wonjoolee95 commented on #3589
Just FYI, I've been observing the `LsbMask` error for a while and haven't been able to resolve it. FWIW, I noticed that another user has opened a related ticket in tensorflow -- https://github.com/tensorflow/tensorflow/issues/56021. On the issue, if you click expand, you'll see the error that this user is experiencing is:
[code]

[2022-05-19 22:38] JackCaoG commented on #3589
`LsbMask` is the error I see locally

[2022-05-19 22:49] miladm commented on #3589
Thanks @wonjoolee95. I included the tensorflow ticket as a blocker to this issue.

[2022-05-20 02:05] Mika-Gu commented on #3162
@codeislife99 Got it!

[2022-05-20 02:34] Mika-Gu commented on #3162
Finally I solved the multi-node training problem. Thanks for @codeislife99 help.

code:
[code]

env:
[code]

[2022-05-20 04:27] miladm commented on #3589
The ticket remains open as the issue is blocked on the tensorflow ticket at the moment. Reopening.

[2022-05-20 14:48] siddk opened #3593 "OOM when running Gradient Accumulation"
## 🐛 Bug

When I write my own (single-core, haven't tested multi-core yet!) loop for running a PyTorch model training with gradient accumulation on TPUs, I get an OOM error when running with gradient accumulation (but no OOM when running without it!).

I think this is a problem of how the underlying graphs get compiled. Other issues in the repo seem to suggest adding an explicit `xm.mark_step()` b

[2022-05-21 00:22] miladm opened #3596 "Codegen doesn't support ops with multiple output tensors (e.g. `slogdet`)"
Codegen doesn't support ops with multiple output tensors (e.g. `slogdet`). Below is the codegen results as well as the error reported. This issue blocked full codegen integration of `slogdet` in this [PR](https://github.com/pytorch/xla/pull/3576).

**Issue 1:**

[code]
Looks like `torch_xla::XLATensor::Create(torch::lazy::Value(node, i), *common_device)` creates a pointer while the vector requires

[2022-05-21 00:24] miladm commented on #3596
To unblock https://github.com/pytorch/xla/pull/3576, I have commented out `slogdet` implementation to merge in `logdet` only. Once this issue is resolved, I will uncomment the codegen segment as a separate PR.

[2022-05-21 23:15] codeislife99 opened #3598 "Disabling cuDNN frontend for the following convolution"
## ❓ Questions and Help
Hi I am running PT XLA 1.11 built with CUDA 11.3 and CUDNN 8.2. When I run `test_train_mp_imagenet_amp.py` I get the following warning(not an error). Is it normal to get such a warning?

[code]

[2022-05-22 09:09] Letmebelegend opened #3599 "Simple question to use TPU"
## ❓ Questions and Help
I've question that if I use colab TPUv2, and can make same model with pytorch(with xla for TPU)  and tensorflow, which way would be faster? Sure that tensorflow would be faster but how much it would be different normally?

Anyway, I appreciate all works on xla, incredible work

[2022-05-23 20:20] wconstab commented on #3596
@miladm

Why is there a :: in front of the function return type?

Are you referring to this return type?

That type is generated by the non-LTC portions of the torchgen infra.  I can look deeper into why, but, it seems correct to me to absolutely qualify the std::tuple.  Is it causing an issue?

[2022-05-23 20:24] JackCaoG commented on #3596
`::std::tupleat::Tensor` should be fine, we can revisit if it becomes an issue.

[2022-05-23 20:38] JackCaoG commented on #3598
It is from https://github.com/tensorflow/tensorflow/blob/e12b397b5a3f8e1dbbc8d638011e945b5df78f16/tensorflow/stream_executor/cuda/cuda_dnn.cc#L4586. From what I can tell this log was changed from `ERROR` to `INFO` which is why you started seeing this.

[2022-05-23 20:55] codeislife99 commented on #3598
From the code, it looks like my PT code is not using the CuDNN frontend? When I try to do `torch.backends.cudnn_version()` I do get 8200 , so I don't know what might be the issue.

[2022-05-23 21:00] JackCaoG commented on #3593
graph execution won't happen until the `xm.mark_step()` call, everything before that is just graph building. From a quick look with your code, what ended up happening in this case is you are trying to executing a 8x larger graph which caused the oom.

[2022-05-23 21:25] wconstab commented on #3596
I tried adding `slogdet` to the ts_native_functions.yaml and found that codegen generates the following code:

[code]
In our case, the LazyTensor::Create function does return LazyTensorPtr objects, which is also what the vector expects.

I wonder if the expectations on what type is returned from ::Create function are getting ambiguous or changing?
https://github.com/pytorch/pytorch/blob/master/tor

[2022-05-23 21:31] yeounoh commented on #3508
Closing the issue after answering the original question. cc @adamantboy feel free to leave a comment in #3476 if you have any other questions. I will also keep you posted if we have any update. Thanks!

[2022-05-23 21:31] #3508 closed

[2022-05-23 21:33] JackCaoG commented on #3596
I think it is because I asked you to make LTC to use `LazyTensorPtr` instead of `LazyTensor` class so I can inherit `XLATensor` from `LazyTensor`. I am working on phase3 of LTC migration and part of that change includes adapting upstream LazyTensor class(inheritance). As a quick workaround I can also make PyTorch/XLA pass `XLATensor` as Ptr  which should unblock this change.

[2022-05-23 22:12] siddk commented on #3593
Got it - I went ahead and added the `xm.mark_step()` at the end of the loop. For reference, are there docs around when to call `xm.mark_step()` and what it's actually doing?

[2022-05-23 22:14] JackCaoG commented on #3593
https://github.com/pytorch/xla/blob/master/API_GUIDE.md#xla-tensors-are-lazy should be a good start. You might also want to read https://github.com/pytorch/xla/blob/master/TROUBLESHOOTING.md and https://pytorch.org/blog/understanding-lazytensor-system-performance-with-pytorch-xla-on-cloud-tpu/

[2022-05-24 01:55] ff7250 commented on #3598
Do we run the regression cases for GPU daily?

[2022-05-24 02:23] JackCaoG commented on #3598
We have test running daily but mostly verified the correctness not the speed. There is another test to verify AMP feature is working as intended.

[2022-05-24 02:26] cicirori opened #3604 "Unintended compilation by device 打他"
## 🐛 Bug

adam sync free optimizer will trigger unexepected  re-compile.

## To Reproduce

train a net with sync free optimizer, which lr is constantly changing, and eps stay in default value: 1-e8
when lr become 1-e8, even graph IR hash not changed, but parameter sequence will change, then recompile happens.

## Expected behavior

no re-compile
its time consuming when train a large model. In my o

[2022-05-24 02:30] JackCaoG commented on #3604
Can you share a small repo? Device data cache is at the pytorch/xla layer so runtime won't matter in this case.

[2022-05-24 03:32] cicirori commented on #3604
it's very simple to reproduce.
let's use https://github.com/pytorch/xla/blob/master/test/test_train_mp_mnist_amp.py with a small diff:
[code]

[code]

## unintended recompile:

[code]

![image](https://user-images.githubusercontent.com/32845984/169942311-4022bef3-edc9-4751-b109-f84f299d7238.png)
Tensors graph hash is the same, but when lr became 1-e8 (same with momentum), momentum and lr will use

[2022-05-24 03:42] cicirori commented on #3604
@JackCaoG  maybe device data cache is in glue layer of torch xla and runtime?
I took a cursory look at the recent implementation of switching to pjrt and felt that it would have some impact on this part of the behavior. But I'm not sure.

[2022-05-24 04:01] Letmebelegend commented on #3599
Appreciate you reply. I'm preparing transformer model and would try xla :D

[2022-05-24 04:08] JackCaoG commented on #3599
Thanks, I will close this issue for now. Feel free to open more specified issue when you running into problems :D.

[2022-05-24 04:08] #3599 closed

[2022-05-24 21:47] ymwangg commented on #3604
Very interesting corner case. A simpler example to reproduce this behavior:
[code]

[2022-05-24 21:54] JackCaoG commented on #3604
I see what is going on.. It is kind of by design since transfer to server can be expensive. One way of getting rid of this error is to disable the DeviceDataCache which I think which is not a good idea.

There is not an easy way to tell pytorch/xla not to reuse DeviceData when it will cause additional compilation. hmm

[2022-05-25 04:51] codeislife99 commented on #3598
Is this a performance issue or expected behavior?

[2022-05-30 12:28] hgt312 opened #3619 "Unexpected behavior/IR size growing when operate on view"
## 🐛 Bug

Each loop generates new IR, and the size of IR is getting bigger.

## To Reproduce

In colab with tpu

[code]

[code]

[code]

## Expected behavior

The loops share the same IR generated in first (or first two) loop. This kind of logic are frequently used by DeepSpeed ZeRO3, which make multiple FWD+BWD in a single IR, hurt the performance.

## Additional context

the log file:
multiple `

[2022-05-31 22:05] JackCaoG commented on #3619
I will assign this to myself right now, from the first glance it seems like view relationship is not being clean up after mark_step which is weird....

We are moving toward functionization pass, hopefully in a couple of months we don't need to deal with view in pt/xla layer...

[2022-06-01 18:37] will-cromar opened #3625 "DistributedDataParallel initialization hanging forever with XLA backend"
## 🐛 Bug

The call to DistributedDataParallel's constructor does not complete with a simple example model and the `xla` backend.

## To Reproduce

Steps to reproduce the behavior:

1. Patch this change to fix `TypeError: allgather() takes 3 positional arguments but 4 were given`

[code]

2. Run this code snippet with some XLA device (CPU or TPU) to log all Python function calls during DDP initiali

[2022-06-01 18:47] hjm-aws commented on #3625
Looking.

[2022-06-01 19:14] hjm-aws commented on #3625
@will-cromar Hi Will, to help me understand the problem better, could you please share the printed dump by your `tracefunc`? Also, if you can include `co_filename` and `co_firstlineno` in your `tracefunc`, it would be more helpful. Thanks!

[2022-06-01 23:57] hjm-aws commented on #3625
@will-cromar Thanks Will, that's very helpful.

Can I ask you to do me another favor, and try changing the line 199 in your local installation of `/home/ptxla/.local/lib/python3.8/site-packages/torch_xla-1.12-py3.8-linux-x86_64.egg/torch_xla/distributed/xla_backend.py` from the following:
[code]
to the following:
[code]

After making that change, can you try running your test again?

My theory is

[2022-06-02 00:13] will-cromar commented on #3625
I had the same thought, so I tried adding this to `WorkXla` earlier, but still no luck

[code]

[2022-06-02 00:34] will-cromar commented on #3625
I just tried changing line 199, and the script still gets stuck after `allgather`

[2022-06-06 09:17] cicirori opened #3631 "[BUG] ScopePusher not available"
## 🐛 Bug

I always use the following code snippet to help me do hlo dump graph analysis, which has always worked well on version 1.10.

[code]

However, I recently did some tests based on the master version and found that the dumped hlo graphs were missing the scope information. It's needed to switch the namespace of the `ScopePusher` from `torch_xla::` to `torch::lazy::` as well, just like we did

[2022-06-06 10:05] XBWGC commented on #3589
got this error again, is there any workround ?

[2022-06-06 15:49] mrnikwaws opened #3633 "Tensorflow parity on HLO metadata for debug and extensions"
## 🚀 Feature
Currently the meta-data included in torch-xla in lowered HLO protobufs is inferior to the data provided by tensorflow.  This feature request proposes that the embedded data should be equivalent to the information provided by tensorflow, and/or extended to enrich profiling and debugging.  This comes at some additional cost to both space and compute (to extract call-stack scopes), but t

[2022-06-06 18:25] JackCaoG commented on #3589
You can build with `BUILD_CPP_TESTS=0` to get around this issue.

[2022-06-06 22:15] JackCaoG commented on #3631
oh ok.. This is interesting. I thought the primary use case of the `ScopePusher` was we have some composite Node in pytorch/xla layer and we are cleaning up those ops. Do you know why this doesn't work anymore? I didn't look into the code but given that it compiles I was under the impression that it still works.

[2022-06-06 22:34] JackCaoG commented on #3633
This sgtm. Note that a lot of these utils has been moved to upstream, for example, python frame info has been moved to https://github.com/pytorch/pytorch/blob/14affba79963c5f67700c5acf591d367a923d0b8/torch/csrc/lazy/core/ir_metadata.cpp#L9 and do a env var mapping in https://github.com/pytorch/xla/pull/3469/files#diff-12cff199d1701b121499c962ef4dabbe2bba7b134cae3f6b54d8082a52a1c85aR706