[2021-06-16 09:49] codeislife99 commented on #2997
This is how a small section of the output will look like.
[code]

[2021-06-16 09:49] #2997 closed

[2021-06-16 16:52] stas-sl opened #3001 "Slowdown on larger images on Colab TPU (network bandwidth bottleneck?)"
## ❓ Questions and Help

Hello.

I was trying to train a simple ResNet18 network on CIFAR dataset. And I observed that is worked much slower on TPU than on GPU. In order to localize the reason of slowdown I tried to vary input image dimensions (using `transforms.Resize` in dataset), but keeping the same dimensions inside the network (the first operation in network is `F.interpolate(input, same_siz

[2021-06-16 18:13] swolchok opened #3002 "[PT_BREAK] https://github.com/pytorch/pytorch/pull/58935 fixes Tensor const correctness"
PyTorch PR: https://github.com/pytorch/pytorch/pull/58935

build error:
[code]

recommended fix: change both `Tensor&` in signature of `mv_out` (https://github.com/pytorch/xla/blob/master/torch_xla/csrc/aten_xla_type.cpp#L1914-L1915) to `const Tensor&`

[2021-06-16 18:37] kaushikb11 commented on #2773
Hi @zcain117 @JackCaoG, you could reproduce the issue in the following steps:

1. pip install lightning-flash[image]
2. Add `tpu_cores=8` in the Trainer object in this [script](https://github.com/PyTorchLightning/lightning-flash/blob/master/flash_examples/finetuning/image_classification.py).

[2021-06-16 18:54] JackCaoG commented on #3002
Thanks for reporting, will take a look

[2021-06-16 21:06] JackCaoG commented on #3001
Colab TPU is using the old 2vm architecture with a not very powerful cpu machine as red vm. I am suspecting data processing is the bottleneck. If you want to try out our new TPUVM architecture on Google cloud(It is on public preview right now) which allow you directly access the TPU host(a very powerful CPU machine as well), please checkout [this page](https://github.com/pytorch/xla#-running-on-a-

[2021-06-16 21:39] JackCaoG commented on #3002
I think the change needs to be done for more than 1 op. @bdhirsh Brian I think this is why we want to implement https://github.com/pytorch/xla/issues/2979. The build error only surfaced because we tried to call `AtenXlaTypeDefault` version of the `mv_out` but the real error is the function declation in `XLANativefunction.h` has now diverge from the implemnetation in `aten_xla_type.cc`.

[2021-06-16 21:50] bdhirsh commented on #3002
Yeah, agreed that this definitely makes it harder to iterate on schema changes, especially since this particular PR has a lot of them. I have a version of the fix to #2979 that's close to ready. I've just had some other semi-dependent changes that I've been trying to push through CI first.

I'll prioritize getting the better error messages in, that way you can use them to track down the schema cha

[2021-06-16 22:04] stas-sl commented on #3001
Thanks for the answer @JackCaoG

Can you clarify what you mean by "red vm" and data processing?

As I understand the VM where all data reading/resizing happens (where Colab notebook is running) is quite powerful (35Gb RAM, 40 CPU cores) and CIFAR dataset is not that large and resizing it to 256x256 is not very resource-intensive operation. So I don't think there should be CPU bottleneck in Colab V

[2021-06-16 23:30] #2684 closed

[2021-06-16 23:30] #2670 closed

[2021-06-16 23:58] stas-sl commented on #3001
What puzzles me is that I'm not doing anything crazy, although there are newer TPU VMs, people were using somehow those 2 VMs TPUs for several years. Training on 256x256 images seems to me a pretty basic task and shouldn't cause any slowdowns like this.

[2021-06-17 00:55] zcain117 commented on #2773
repro is like this:

1. create TPUVM (Kaushik mentioned it also happens on 2VM) - must use `v2-alpha` since `v2-nightly` seems completely broken for PyTorch right now (I pinged the internal hangouts chat about that)
2. `git clone https://github.com/PyTorchLightning/lightning-flash.git`
3. `cd lightning-flash/`
4. `pip3 install lightning-flash[image]`
5. `export XRT_TPU_CONFIG="localservice;0;local

[2021-06-17 01:32] kaushikb11 commented on #2773
[code]

Seems like it only supports Tensor objects for transfer.

[2021-06-17 02:19] zcain117 commented on #2773
It seems like the parallel loader is calling `send_cpu_data_to_device` on some kind of intermediate model representation (e.g. weights and/or callbacks etc, not a pytorch model object)

Do you have a sense of whether your code is crashing during the loading step or during the saving step?  Have you tried `xm.save` and then stopping?

[2021-06-17 13:30] jysohn23 commented on #2997
Thanks for posting that info on this issue.

[2021-06-17 20:29] jysohn23 commented on #3001
Taking a look, it is indeed a bit weird why transfer is taking so long. Taking a deeper look at the transfer and focussing on the allocation time on device on server side:

256x256:
[code]

64x64:
[code]

Similarly metrics like `TransferToServerTransformTime` are very small so it must be some other thing contributing to transfer overhead. Since the `XrtAllocateFromTensorTime` is so short, I'm incl

[2021-06-17 23:01] stas-sl commented on #3001
Thanks, @jysohn23, for looking at it.

I also was thinking that maybe smth is wrong with pytorch-lightning, but then I tried vanilla pytorch, I just modified a few lines in the notebook that is referenced in the README - [Training a ResNet18 Network on CIFAR10](https://colab.research.google.com/github/pytorch/xla/blob/master/contrib/colab/resnet18-training.ipynb) to resize input image and change b

[2021-06-17 23:29] stas-sl commented on #3001
It just feels a bit weird that I'me the first who is reporting it, as it is the first issue I encountered when I started training on a bit larger images than MNIST or CIFAR. I actually thought that I was doing smth wrong.

Or maybe it worked fast before and just smth got broken now?

[2021-06-21 17:22] stas-sl commented on #3001
I compared it to Kaggle TPUs which have newer version (v3 vs v2) but, I believe, still use 2 VMs. It appeared that both TransferFromServerTime and TransferToServerTime are much faster on Kaggle, though still takes significant amount of time. Could TPU version affect data transfer speed or it depends on specific datacenter network performance?

Colab TPU v2, 256x256 images, 1 epoch:
[code]

Kaggle

[2021-06-22 12:51] jysohn23 commented on #3001
Thanks for collecting this additional data. It seems like this is a networking issue almost that's only specific to Colab TPU setup. I will check internally if the TPUs on Colab are setup incorrectly (maybe the VM and TPUs aren't collocated in the same zone).

[2021-06-22 17:40] Dr-Noob opened #3006 "Can't retrieve data in main from a function called with xmp.spawn"
## ❓ Questions and Help
My goal is to compute something inside a function called with `xmp.spawn` and then use it in the main function, but I'm unable to write to any shared data object between the function and main. Consider the following example:

[code]

This prints:
[code]
And I was expecting:
[code]
Why it doesn't work? How can I fix it?

[2021-06-22 17:43] #2846 closed

[2021-06-22 17:43] #2851 closed

[2021-06-22 17:43] #2845 closed

[2021-06-22 17:43] #2772 closed

[2021-06-22 17:43] #2847 closed

[2021-06-22 17:43] #2856 closed

[2021-06-22 17:43] #2855 closed

[2021-06-22 17:43] #2832 closed

[2021-06-22 17:43] #2881 closed

[2021-06-22 17:43] #2883 closed

[2021-06-22 17:43] #2875 closed

[2021-06-22 17:43] #2843 closed

[2021-06-22 17:43] #2907 closed

[2021-06-22 17:43] #2836 closed

[2021-06-22 17:43] #2901 closed

[2021-06-22 17:43] #2917 closed

[2021-06-22 17:43] #2870 closed

[2021-06-22 17:43] #2923 closed

[2021-06-22 17:43] #2927 closed

[2021-06-22 17:43] #2924 closed

[2021-06-22 17:43] #2919 closed

[2021-06-22 17:43] #2939 closed

[2021-06-22 17:43] #2735 closed

[2021-06-22 18:31] zcain117 commented on #3006
under the hood, the `torch-xla` version of `spawn` is calling `torch.multiprocessing.start_processes`: https://github.com/pytorch/xla/blob/master/torch_xla/distributed/xla_multiprocessing.py#L388

I think by default the args are copied, but maybe it's possible to use shared memory if using a `Tensor` and/or `multiprocessing.Queue`. See here: https://pytorch.org/docs/stable/notes/multiprocessing.ht

[2021-06-23 08:36] Dr-Noob commented on #3006
I've tried this simple code:

[code]
But crashes with a SEGFAULT:

[code]
Probably related to: https://discuss.pytorch.org/t/segfault-with-multiprocessing-queue/81292. I've tried using `spawn` and `fork` in the `start_method`, but get SIGSEGV in both cases. Using the print to debug, the address of the queue in the main is different than the address of the queue in each of the processes in `simple_

[2021-06-24 05:12] JackCaoG opened #3009 "test_corrcoef_xla_float32 failed on xla"
test added in https://github.com/pytorch/pytorch/pull/60420, failure message
[code]

test is currently disabled for pt/xla

[2021-06-25 07:05] ashaw596 commented on #2054
Just wondering. Its more than a year later. Do we have a timeline on when there will be dataloading parity?

[2021-06-25 16:36] JackCaoG commented on #2054
@ashaw596 Cloud TPUVM is under Public Preview right now, please check out [this section](https://github.com/pytorch/xla#-running-on-a-cloud-tpu-vm)

[2021-06-25 23:44] anijain2305 commented on #2918
Name | Num_calls | Total time (ms) | Percentage | Acc Percentage
-- | -- | -- | -- | --
CompileTime | 5 | 4017533.72 | 39.76 | 39.76
DeviceLockWait | 3248 | 3056176.38 | 30.25 | 70.01
ExecuteTime | 1601 | 3002535.26 | 29.72 | 99.73
ReleaseDataHandlesTime | 40632 | 21675.14 | 0.21 | 99.94
TransferToServerTime | 1211 | 2493.14 | 0.02 | 99.97
IrValueTensorToXlaData | 202 | 1446.48 | 0.01 | 99.98
Tran

[2021-06-25 23:56] JackCaoG commented on #2918
It is expected, this is a metric I get when I run transformer on TPUVM

[code]

You see that `DeviceLockWait` often is a bit longer than the `ExecuteTime`. What happened was that pt/xla execution is async. Before the synchronous operations can start(fetch the actual value for example), they need to wait that the pending asynchronous operations have completed. If we want to start another async exec

[2021-06-26 02:22] #2704 closed

[2021-06-26 02:22] #2644 closed

[2021-06-26 02:22] #2725 closed

[2021-06-26 02:22] #2734 closed

[2021-06-26 02:22] #2737 closed

[2021-06-26 02:22] #2740 closed

[2021-06-26 02:22] #2742 closed

[2021-06-26 02:22] #2753 closed

[2021-06-26 02:22] #2763 closed

[2021-06-26 02:22] #2777 closed

[2021-06-26 02:22] #2779 closed

[2021-06-26 02:22] #2758 closed

[2021-06-26 02:22] #2796 closed

[2021-06-26 02:22] #2815 closed

[2021-06-26 02:22] #2808 closed

[2021-06-26 02:22] #2806 closed

[2021-06-26 02:22] #2756 closed

[2021-06-26 02:22] #2690 closed

[2021-06-26 02:22] #2774 closed

[2021-06-26 02:22] #2831 closed

[2021-06-26 02:22] #2948 closed

[2021-06-28 01:58] ronghanghu commented on #2989
Following up on this issue: I believe one can copy of the implementation from PyTorch's `torch.distributed.nn.*` in https://github.com/pytorch/pytorch/blob/8c798e062216278673a75bac0848ea69a8bd3f03/torch/distributed/nn/functional.py#L210-L263 for autograd version of all_reduce and all_gather.

[2021-06-28 23:03] JackCaoG commented on #2989
@ronghanghu I saw https://github.com/pytorch/pytorch/issues/58005 claims `torch.distributed.nn.*` implementation incorrectly scale up the gradients and it will be fixed in the upcoming releases. Could you confirm that this is the expected behavior? It is kind of confusing that `torch.distributed.nn.all_reduce` and `torch.distributed.all_reduce` has different behavior.

[2021-06-29 04:19] ronghanghu commented on #2989
@JackCaoG Yes, I believe the current `torch.distributed.nn.*` implementation is the desired behavior. I replied in https://github.com/pytorch/pytorch/issues/58005#issuecomment-870214108, but perhaps I can wait for a confirmation from the PyTorch maintainer in https://github.com/pytorch/pytorch/issues/58005

[2021-06-29 16:43] JackCaoG commented on #2989
@ronghanghu thanks! It would be nice if we can get some confirmation from the pytorch maintainer that this behavior will persist.

[2021-06-29 17:18] ezyang opened #3016 "[PT_BREAK] Structured kernels"
Most of the diffs in https://github.com/pytorch/pytorch/pull/60817 stack need XLA changes. I think it applies to any diff that affects a Scalar overload.

cc @Freey0

[2021-06-29 21:31] JackCaoG commented on #3016
I replied in https://github.com/pytorch/pytorch/pull/60813#issuecomment-870830872, want to understand whether type promotion of boolean to byte is intenional.

[2021-06-30 07:02] kshitij12345 opened #3017 "[docs] Contributing.md states that Pytorch does not build with GCC 6.X, 7.X, 8.X"
Reference: https://github.com/pytorch/xla/blob/master/CONTRIBUTING.md#build-from-source

I have built PyTorch with `gcc-7.5` previously. Is the above line still true?

[2021-06-30 21:31] JackCaoG commented on #3016
Updated https://github.com/pytorch/pytorch/pull/60811#issuecomment-871740423, seems like something we should fix in the pytorch side.

[2021-07-01 19:31] ultrons opened #3020 "Lowering for aten::as_strided"
aten::as_strided lowering is Needed to support atom3d enn training of LBA dataset.

[2021-07-01 19:48] JackCaoG commented on #3020
as_stride is already lowered https://github.com/pytorch/xla/blob/74168789dfad6834a359ccb25c5bdf09ae58f9f8/torch_xla/csrc/aten_xla_type.cpp#L607, there are some cases that it can not handle through

cpu and gpu have storage and hence it can do stride with share memory. XLA does not have storage so we usually fake it with some reshape. There are some cases that we can't support due to this limiation

[2021-07-02 01:45] miladm commented on #2790
This feature request is available in the master branch.

[2021-07-02 01:51] JackCaoG commented on #2790
Thanks @miladm Close this issue since it is fixed.

[2021-07-02 01:51] #2790 closed

[2021-07-02 02:47] JackCaoG commented on #3016
Regarding Ed's comment in https://github.com/pytorch/pytorch/pull/60811#issuecomment-871859505, in fact pt/xla already handles binary OP between XLA tensor with CPU tensor through [this function](https://github.com/pytorch/xla/blob/f735104319c5ab264acf25a3c2bbfde9f7567ada/torch_xla/csrc/aten_xla_type.cpp#L115). In https://github.com/pytorch/xla/pull/1757 we even supported (`CPU tensor` op `XLA ten

[2021-07-02 11:52] jinluyang commented on #909
Hi，I encountered the same problem, and found directly printing Tensors will introduce aten::_local_scalar_dense(). Just in case someone else run into similar problems.

[2021-07-04 13:01] sumansahoo16 opened #3024 "RuntimeError : (Aborted: Session 018370a5591ff66c is not found. vs. OK)"
## Issue description

I am Randomly getting this runtime error in mid-epochs.

## Code example
[code]

[code]

## System Info

I installed xla (in kaggle tpu kernel) with :
[code]

Thanks.

[2021-07-05 07:27] luchangli03 opened #3025 "Arange op does not support float16"
## 🐛 Bug

`
import torch
import torch_xla
import torch_xla.core.xla_model as xm

device = xm.xla_device(devkind='GPU')

key_length = 100
position_sequence = torch.arange(key_length, -1, -1.0, device=device,
                                 dtype=torch.float16)

print(position_sequence.dtype)
`
above codes (used in GPT-2) will be failed and give error message: XLA type not supported: 10

[2021-07-06 15:10] ezyang commented on #3016
@JackCaoG Yes I agree it's a bit awkward. It would be really nice to have some better strategy for scalars; right now wrapping scalar in CPU tensor helps reduce the number of functions backend has to implement, but at the cost of more framework overhead. I don't really want to ask people to implement ALL the scalar overloads for all functions either...

[2021-07-08 09:11] #2957 closed

[2021-07-08 09:11] #2937 closed

[2021-07-08 09:21] tgisaturday opened #3028 "Running codes on large TPU VM Pod causes SIGSEGV"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:
1. Create TPU VM Pod instance (minimum v3-128)
2. Git clone https://github.com/tgisaturday/dalle-lightning-tpu
3. Run `pip install -r requirements.txt`
4. Run main.py with fake_data generator
`python3 -m torch_xla.distributed.xla_dist --tpu= POD_NAME --restart-tpuvm-pod-server -- python3 /home/taehoon.kim/taming-transformers-tpu/main.py -

[2021-07-08 09:30] tgisaturday commented on #3028
Here's full error log.

2021-07-08 08:28:12 10.164.0.33 [0] *** SIGSEGV (@0x7f97c0e8e528), see gl__________25#s15 received by PID 16710 (TID 16710) on cpu 32; stack trace: ***
2021-07-08 08:28:12 10.164.0.33 [0] PC: @     0x7f98b808cb51  (unknown)  (unknown)
2021-07-08 08:28:12 10.164.0.33 [0]     @     0x7f96c2d8a1e0        976  (unknown)
2021-07-08 08:28:12 10.164.0.33 [0]     @     0x7f98bbe712

[2021-07-08 12:29] vivekvkashyap opened #3029 "Not able to Run Hugging Face GPT2 model for jax on TPU's"
Hi,Trying to do FlaxGPT2ForMultipleChoice.I am trying to run GPT2 using hugging face for TPU's.It is showing tuple out of index.But when i run it in CPU there is no such error.Even when i run a simple model without any code of mine it is also behaving the same in TPU.

![image](https://user-images.githubusercontent.com/58116635/124922271-f5a3ff00-e016-11eb-8679-3258fc3727e9.png)

This below exampl

[2021-07-08 12:40] vivekvkashyap commented on #3029
@patrickvonplaten

[2021-07-08 13:21] #3029 closed

[2021-07-08 18:59] miladm commented on #2967
Added the `amin` implementation as an extra feature for this issue.

[2021-07-08 19:01] codeislife99 opened #3031 "PT-XLA 50% slowdown for R-50 relative to PT (perhaps due to BFC Allocator PR) and OOM issues"
## 🐛 Bug

PT-XLA is ~50% slower for R-50 training with AMP compared to PT for a batch size of 128. For a batch size of 256 , it runs OOM whereas on PT it works just fine.
## To Reproduce

Steps to reproduce the behavior:

1. Use the latest image : gcr.io/tpu-pytorch/xla:nightly_3.7_cuda_11.2
2. Run `GPU_NUM_DEVICES=1 python3 /pytorch/xla/test/test_train_mp_imagenet_amp.py --fake_data` from [here](

[2021-07-08 19:07] zcain117 commented on #3031
do you see the same behavior for cuda 10.2 or cuda 10.1 ?

[2021-07-08 21:37] codeislife99 commented on #3031
I didn't try it yet with 10.2 or 10.1, should I do that ? Any reason you see 11.2 should deviate so much from 10.2/10.1 ?

[2021-07-08 22:03] JackCaoG commented on #3031
Thanks for reporting, I will try to repo and see where the slowdown is coming from.

[2021-07-08 23:02] JackCaoG commented on #3025
Close this issue as the fix is merged.

[2021-07-09 00:26] JackCaoG opened #3033 "[PT_BREAK] Head build failure"
Build with pytorch head currently fail with
[code]

suspecting this is caused by some pytorch pr merged this morning since some pr has passing test this morning.

[2021-07-09 00:31] JackCaoG commented on #3033
Suspecting it is because https://github.com/pytorch/pytorch/commit/8bc2ba3fe325817f87370eb15fd627fbc4ac8294 merged, I think we need to merge https://github.com/pytorch/xla/pull/3012

[2021-07-09 01:48] byronyi commented on #3031
Any chance you could share the training throughput and GPU device kind?

[2021-07-09 02:31] miladm commented on #3033
Turns out unit tests break when compiling pytorch and pytorch/xla heads. I tested `Max` and `Min`.

[2021-07-09 03:28] JackCaoG commented on #3033
@miladm I tried the test on my end and it passed. [Circle CI](https://app.circleci.com/pipelines/github/pytorch/xla/9125/workflows/9af6482b-727c-480e-a888-58b98b3329f9/jobs/17990) also seems to be passing. Maybe you need to do a clean before rebuilding pytorch and pytorch xla?

[2021-07-09 06:33] codeislife99 commented on #3031
Yes the GPU device is Tesla-V100. I will edit this post with the training throughput numbers tomorrow.

[2021-07-09 17:58] JackCaoG commented on #3033
Head is green again, close this issue

[2021-07-09 17:58] #3033 closed

[2021-07-09 17:58] #3025 closed

[2021-07-10 00:45] zcain117 commented on #3028
I've looked a little this week and don't have a fix yet. I was able to confirm that the SIGSEGV is not really specific to your model. It seems like any model in pytorch lightning will crash on v3-128 if the images are moderately large (e.g. 28x28x3 image is OK but 256x256x3 image like yours results in crash)

I had a few clarification questions for the Lightning team in https://github.com/PyTorchL

[2021-07-12 22:46] JackCaoG commented on #3031
I used v-100 and CUDA 11.2. In my experiment, turning on amp actually slow things now on nightly.

Without AMP I get
[code]

With AMP I get
[code]

I think this is aligned with what @rwightman reported a while back. Trying to figure out what is happening here..

[2021-07-12 22:55] codeislife99 commented on #3031
With a batch size of 256 with AMP,  I get 1145 instead of 382.19

[2021-07-12 22:59] JackCaoG commented on #3031
@codeislife99 Can you post the speed for all configs(batch size, cuda version, with/without amp) you have? I will try to repo on my end too.

[2021-07-13 01:06] JackCaoG commented on #3031
Seems like my workload is cpu bounded, I was using 32 core cpu, let me switch to 1 96 core one

[2021-07-13 01:22] JackCaoG commented on #2979
This is fixed by https://github.com/pytorch/xla/pull/3012

[2021-07-13 01:22] #2979 closed

[2021-07-13 18:04] JackCaoG commented on #3031
I don't think bfc allocator pr is one to be blame with, I revert that [commit](https://github.com/tensorflow/tensorflow/commit/03cb2b9d8393d2c841c7387ad279dfc3280e5fc1) locally, rebuild pt/xla and rerun the model.

Without AMP I got
[code]

With AMP I got
[code]

The speed was about half as slow comparing to use bfc allocator.

[2021-07-13 18:15] rwightman commented on #3031
@JackCaoG yeah, similar to what I've seen with the recent cuda nightlies, float32 was a bit faster than AMP, but I also have stream/sync crashes and other issues on the most recent 10.2 and 11.2 containers. A noteable speed drop for both AMP and float32 existed prior to those other issues (for me at least). I'm running my own training code though so may stress things a little differently

[2021-07-13 20:44] codeislife99 commented on #3031
This means that it might be related to switching to CUDA 11.2. All of my following measurements are on CUDA 10.2 :

  | Batch Size | PT (Native)samples/sec | PT (XLA)samples/sec | Speedup w/ XLA
-- | -- | -- | -- | --
ResNet-50 | 256 | 770 | 1145 | 1.49
ResNet-50 | 128 | 750 | 940 | 1.25

[2021-07-14 20:58] JackCaoG commented on #3031
I am able to repo the number reported above(1200 sample/sec)  using 04/16 nightly (cuda 10.2) + bfc allocator [patch](https://github.com/tensorflow/tensorflow/commit/03cb2b9d8393d2c841c7387ad279dfc3280e5fc1)

So bfc allocator is not the source of the slowness, I will try to spend a bit more time in metric to understand what has changed bettwen mid April to know.

[2021-07-15 08:11] mkhoshle opened #3041 "using FP16 precision with TPU"
Hi all,

I am trying to run a library (which is previously written to run on GPU and multi-GPUs) on TPU. I am using google Colab and testing my code on  a single TPU. [Here](https://colab.research.google.com/drive/1TRcoQ1_Jay6g32dU-CIyACMjawsWluq-#scrollTo=7_R0JpwMF12a) is the link to my notebook. When running I convert the model from BF16 to FP16, otherwise, I face out of memory issue. When I con

[2021-07-15 08:29] byronyi commented on #3041
AFAIK TPU only supports fp32 and bf16. Maybe you could try running your model in fp32?

[2021-07-15 08:54] mkhoshle commented on #3041
@byronyi I will have memory issue then. The reason we are using FP16 is to avoid memory issue.

[2021-07-15 15:41] thepurpleowl opened #3042 "Code runs GCP v3-8 TPU but not on v3-64 | torch.multiprocessing.spawn.ProcessExitedException: process 0 terminated with exit code 17"
## ❓ Questions and Help
I have followed the [official documentation](http://pytorch.org/xla/release/1.9/index.html#running-on-multiple-xla-devices-with-multi-processing) to implement a simple NN model to run on Multiple XLA Devices with Multi-processing. The code runs on a GCP v3-8 TPU node, doesn't run on GCP v3-64 TPU.

pytorch version: 1.9.0
TPU node pytorch version: pytorch-1.9

I searched in

[2021-07-15 17:15] JackCaoG commented on #3041
Bairen is correct that TPU doesn't support fp16 well. If it is a memory issue, could you keep the model in bf16? You can also take a look at [this doc](https://github.com/pytorch/xla/blob/master/API_GUIDE.md#xla-tensors-and-bfloat16). You can use these flags to reduce the precision across the board instead of doing it manually.

[2021-07-15 17:26] zcain117 commented on #3042
what was the command you used to kick off the training for v3-8 and what was the command for v3-64?

Take a look at this guide: https://cloud.google.com/tpu/docs/tutorials/pytorch-pod

That one is a better tutorial if you want to try using a TPU that is bigger than the v3-8. In particular note that the training command is a bit different for the v3-64 case - you have to use `torch_xla.distributed.

[2021-07-15 19:40] codeislife99 commented on #3031
Actually I am getting the same problem even in the CUDA 10.2 containers. These are the results for the gcr.io/tpu-pytorch/xla:nightly_3.7_cuda_10.2 containers.

  | Batch Size | PT (Native)samples/sec | PT (XLA)samples/sec | Speedup w/ XLA
-- | -- | -- | -- | --
ResNet-50 | 256 | 770 | OOM | N/A
ResNet-50 | 128 | 750 | 375 | 0.5

[2021-07-15 19:40] codeislife99 commented on #3031
So I think its not a CUDA version issue but some other PR between the BFC allocator patch and the current master is causing this large slowdown.

[2021-07-15 19:43] JackCaoG commented on #3031
It is a pt/xla problem, I dump the graph of amp runs of nightly and it is not reallying converting f32 to f16.  I will fix it and add more tests.

[2021-07-15 20:03] rwightman commented on #3031
@JackCaoG I'm not sure if it's possible for my other issue to be related to whatever changes caused the f32/f16 regression, but here is a bit of context for my other problem that popped up on CUDA nightlies and didn't used to exist for CUDA and has never been a problem on TPU.

Below is some pseudo-ish code for an eval loop that involves a model and tracking loss/accuracy stats on device tensors (

[2021-07-15 21:33] anijain2305 commented on #2918
Thanks @JackCaoG . We did a little more profiling and found that a lot of time goes in the forward and backward calls.

[code]

I observed that in addition to XLA runtime, a lot of time is spent in these `fwd` and `bwd` python calls (highlighted by comments. I think during this time, we are building XLA graph. Do you know what is happening during this time? And is it possible to share the code pat

[2021-07-15 21:50] JackCaoG commented on #2918
@anijain2305 You can consider using https://github.com/pytorch/xla#-performance-profiling-and-auto-metrics-analysis to profile your runs. You should be able to see what happened during that time. I think it is just building the ir graph during forward and backward but it shouldn't take that long.

Also please open an new github issue since it is not related to the original topic.

[2021-07-15 22:25] anijain2305 opened #3043 "Debugging BERT Performance bottleneck"
We are training BERT with PT-XLA. The script for training is present here - https://github.com/codeislife99/xla/blob/master/test/test_train_mp_bert_mlm.py

## End to End results

  | Iteration time (sec) | GPU time (sec)
-- | -- | --
PT-native | 0.17 | 0.1654
PT-XLA | 0.188 | 0.1105
Speedup PT-native vs PT-XLA | 0.90426 | 1.49683

We observe these performance numbers. Iteration time is forward pas

[2021-07-15 22:27] anijain2305 commented on #2918
Opened a new issue - https://github.com/pytorch/xla/issues/3043

[2021-07-15 23:34] anijain2305 commented on #3043
Also, I added timestamp prints in the `torch_xla/csrc/aten_xla_type.cpp` for `add` and `cmul` operator. And I can see lots of prints in the forward pass call. This leads me to believe that it is actually building the XLA graph during that time. On subtracting the timestamps of first and last line, we can see that they are 26 ms apart. Is that expected?

[code]

[2021-07-16 01:42] tgisaturday commented on #3028
Found out the cause and fixed it.

I'll leave the link for those who are having similar problem with TPU + xla + lightning

https://github.com/PyTorchLightning/pytorch-lightning/issues/8358#issuecomment-881111005

[2021-07-16 01:42] #3028 closed

[2021-07-16 06:32] mkhoshle commented on #3041
@JackCaoG @byronyi Yes even with `BF16` I get the OOM error. Here is how the log looks like.
memory profile:
[code]

metrics:
[code]

I am not really sure how I can resolve this.

[2021-07-16 17:27] mkhoshle commented on #3041
@JackCaoG @byronyi  In the output for memory profile it is written:
[code]
Do you know what does arguments refer to?

[2021-07-16 17:37] JackCaoG commented on #3041
Arguments refer to the input to the graph, which is your training data. It seems like you are using v2-8 through colab which only has 8gb of HBM, Cloud TPU v3-8 has 16gb of HBM which should fit your model. @jysohn23 @zcain117 does colab only come with v2-8?

[2021-07-16 17:40] jysohn23 commented on #3041
Colab has only provided v2-8 as far as I know. Arguments should also include model parameters, no @JackCaoG?

[2021-07-16 17:48] JackCaoG commented on #3041
yea, Daniel is right, it is model parameter + training data. Since the parameter itself takes 7G of HBM, I would suggest you either reduce the mode size + input or try to v3-8 using GCP (we have instruction in [here](https://github.com/pytorch/xla#-running-pytorch-on-cloud-tpus-with-google-cloud-platform))

[2021-07-16 17:58] mkhoshle commented on #3041
@JackCaoG @byronyi Thanks for the help. I am doing inference. I load a pre-trained model and my input data is just a single line of text (text to image conversion). Does this mean that the argument is the size of the pre-trained model?
What does program refer to then?

[2021-07-16 18:11] miladm opened #3044 "Lower torch.sgn"
Lower [torch.sgn](https://pytorch.org/docs/stable/generated/torch.sgn.html)

[2021-07-16 18:48] JackCaoG commented on #3041
program is the executable we compiled for your model, this program take input data + model weights and the output is your prediction.

[2021-07-16 18:55] jysohn23 commented on #3041
Program should also include other temporaries like intermediate activations and gradients, which is why it's quite large.

[2021-07-17 03:54] JackCaoG commented on #3031
Hey @rwightman I think that is a separate issue, feel free to open an new issue

[2021-07-17 03:57] JackCaoG commented on #3031
I think I know what is going on, amp now has to be manually registered to device in [here](https://github.com/pytorch/pytorch/blob/f89ae9cb8dbd442ee85f39a0bb9572f9be823c21/aten/src/ATen/autocast_mode.cpp#L268) after [this pr](https://github.com/pytorch/pytorch/pull/57386/files#diff-b99d3aff6a9039f8abada80fa8c2647a85d8248fa22b64310a0cc9ca620dad62R275). PyTorch/XLA AMP was just a alias of cuda amp w

[2021-07-17 04:11] JackCaoG commented on #3031
submitted a pytorch issue https://github.com/pytorch/pytorch/issues/61804

[2021-07-17 15:30] thepurpleowl commented on #3042
Yes. That seems to be the reason.

As per guide -

Which means there's a one-to-one correspondence between one VM-> 8 cores. So in pytorch_xla the batch size should be decided considering 8 cores or 64 cores, in case of v3-64 tpu?

For example- if batch size = 128, then [sharded TPU batch size](https://cloud.google.com/tpu/docs/performance-guide#model_processing_performance) will be 16 or 2?

[2021-07-17 15:46] zcain117 commented on #3042
In case of v3-64 tpu, there will be 8 VMs driving 8 cores each. So I think each VM would receive 1/8th the dataset

Here is some example code from our team that works well on TPU pod slices such as v3-64: https://github.com/pytorch/xla/blob/master/test/test_train_mp_imagenet.py#L155

`xm.xrt_world_size()` will return the number of VMs, or you can think of it as (number of total TPU cores / 8)

[2021-07-17 16:11] thepurpleowl commented on #3042
Ok. So if a batch size of 16 is not getting OOM on a v3-8, then a batchsize of 128 should not be getting OOM on a v3-64, correct?

[2021-07-17 18:16] zcain117 commented on #3042
what do you mean by batch size?  If it's the `batch_size` arg to a torch data loader, then if you pass `batch_size=128` then I think there will be 128 images passed for each forward pass regardless of the TPU pod size. It's the dataset that gets sharded. So each VM will have a shard of the dataset ready to split into batches to pass into each training pass

[2021-07-18 06:52] #3042 closed

[2021-07-19 08:49] mkhoshle commented on #3041
@jysohn23 @JackCaoG If the model parameter + training data is the size of arguments then I should get the out-of-memory error as soon as the pre-trained model is loaded. However, this out-of-memory error does not happy until a specific line of code. Any idea why this is the case?

[2021-07-19 12:29] jysohn23 commented on #3041
First of all the way PT/XLA operates is "lazy" as in we trace the PyTorch op IR and only compile/execute when needed. So the line you're referring to must be when we're trying to run your graph. Although your model weights are already loaded, it's only at compile time that we factor things like the activations and gradients, which may be what's ultimately pushing over the line to OOM.

[2021-07-19 12:53] mkhoshle commented on #3041
@jysohn23 I see. Thank you so much for your help.

[2021-07-19 23:16] Pwang001 commented on #2405
Hi, get a solution new? I just met the same issue  when training GPT-neo model using TPUs on Colab

[2021-07-20 07:24] magicknight opened #3046 "functional.conv3d asking for a parameter which I cannot provide."
## 🐛 Bug

conv3d asking for a parameter which I cannot provide. I am using pytorch xla nightly on a google cloud vm.

## To Reproduce
[code]

Then I got this error msg. It asking output_padding parameter which is not in conv3d document.

---------------------------------------------------------------------------
RuntimeError                              Traceback (most recent call last)
<ipython-i

[2021-07-20 18:22] JackCaoG commented on #3046
Hi @magicknight this is not an pt/xla issue since the device is not on the xla device. If you want to try that, you should do something similar to
[code]

now back to your question, I think your input side is invalid, I tried something like
[code]
and it works. You can take a look at [this doc](https://pytorch.org/docs/stable/generated/torch.nn.functional.conv3d.html?highlight=conv3d#torch.nn.func

[2021-07-20 18:47] JackCaoG commented on #3043
Sorry for the late reply, the metric actually seems pretty reasonable to me. Compilation take a long time(compared to the Execution) but it should stabilize after first few epoch(no more compilation and only execution). When you say `the overall iteration time is 10% slower` how many epoch did you test? You can image that if after first epoch, no compilation happens, the step time will be much fas

[2021-07-20 18:50] halcy opened #3047 "pytorch-xla-profiling-colab.ipynb doesn't work"
## 🐛 Bug

Currently, running pytorch-xla-profiling-colab.ipynb on colab seems to result only in an empty tfevents file without any profiling data.

## To Reproduce

Steps to reproduce the behavior:

1. Open https://colab.research.google.com/github/pytorch/xla/blob/master/contrib/colab/pytorch-xla-profiling-colab.ipynb
2. Run All

## Expected behavior

A tensorboard instance that shows some (client

[2021-07-20 18:50] anijain2305 commented on #3043
@JackCaoG Thanks for the reply. The above numbers are reported after second epoch. I have already removed the first epoch, where compilation happens. Therefore, the above time I am pointing towards is potentially just parsing the PyTorch ops to XLA ops. The compilation of the resulting XLA graph is already done in the first epoch, so no compilation here.

[2021-07-20 18:55] anijain2305 commented on #3043
I also varied the batch size to get some more confidence that it is indeed parsing time. Again, this is after second epoch. I observe that graph creation time is more or less same for different batch sizes (which is expected).

Batch size = 8 |   |   |  
-- | -- | -- | --
Category | Time (ms) | Percent (%) | Accumated Perc (%)
Forward graph creation time | 24 | 12.9 | 12.9
Backward graph creation

[2021-07-20 19:00] JackCaoG commented on #3047
@jysohn23 Can you take a look?

[2021-07-20 20:11] #2967 closed

[2021-07-20 20:58] JackCaoG commented on #3043
Thanks for the detail analysis! I think you are right that bottleneck here is the (IR) graph building time, we will do that every epoch but we won't perform the `IR -> HLO -> executable` compilation unless IR graph changed. This can become a burden when execution time is relatively short. I don't think there is much we can do about the graph building since pt/xla is an eager runtime after all. I w

[2021-07-20 22:04] anijain2305 commented on #3043
@JackCaoG Thanks for the reply. Just want to confirm one thing on your statement

When you say `epoch` here, do you mean `iteration`? My analysis shows that (IR) graph building happens in every iteration OR specifically every time we make forward() and backward() calls. Just wanted to confirm if you also meant the same.

[2021-07-20 22:22] qinggangz commented on #3043
Thanks for the suggestions, @JackCaoG. "we won't perform the IR -> HLO -> executable compilation unless IR graph changed" Is there an easy way to determine if IR graph changed without creating it? It seems 8%~12% overhead is for creating IR graph alone.

[2021-07-20 23:47] byronyi commented on #3043
I believe @JackCaoG means every step. I doubt we have any API that users can call to inform the tracer that IR graph won't change across each iteration. Maybe we could add one, like https://github.com/pytorch/pytorch/issues/15623?

[2021-07-21 00:21] #2981 closed

[2021-07-21 00:33] JackCaoG commented on #3024
Sorry for the late reply, `session is not found` is the symptom when there is a server side crash and the XRT client and not found the server anymore. Does you code always fail at the same spot? Can you make a small repo we can run at our end?

[2021-07-21 00:39] byronyi commented on #3043
It would also be helpful to add an utility to detect whether the IR graph changes, much like `check_inputs` for `torch.jit.trace`:

[code]

When this occurs, we could fallback to pure eager runtime while prints a nice error like the following for TS:

[code]

[2021-07-21 00:49] JackCaoG commented on #3043
yup, I meant every step. It is also common to see IR being built every `forward` and `backward` call.

Currently there is no way to skip the IR graph building process. We compute the hash of the IR graph as we are building it and we use hash to determine if two graph is the same.

Tracing a graph once and run it many time is actually not easy for the eager frontend. For the most of XlaTensor we ha

[2021-07-21 00:52] byronyi commented on #3043
Or we could do a little bit of branch prediction, i.e. let the frontend tracing and runtime execution occur concurrently, assuming the IR graph is not changing. When it changes though, we cancel the in-progress runtime execution, print a warning that in which line the IR graph starts to diverge.

[2021-07-21 00:55] JackCaoG commented on #3043
@byronyi We do the feature of detecting IR graph changed, if you do a [debug run](https://github.com/pytorch/xla/blob/master/TROUBLESHOOTING.md#using-debug_runpy-to-collect-debug-information) and there will be a graph report. Within the report, you will see something like
[code]

[2021-07-21 07:28] luchangli03 opened #3049 "adaptive_max_pool2d is not supported"
## 🚀 Feature
Support adaptive_max_pool2d

## Motivation
Currently adaptive_avg_pool2d is supported, but the adaptive_max_pool2d is not. When I try to train U-GAT-IT (https://github.com/znxlwm/UGATIT-pytorch), the module is lowered to multiple graph and thus result in bad performance due to this problem.

[2021-07-21 13:22] bdhirsh commented on #2981
Sorry for missing this. Let me know if you're still getting the error. XLANativeFunctions.h is generated as part of the build process, through this codegen script: https://github.com/pytorch/xla/blob/master/scripts/generate_code.sh

[2021-07-21 13:50] jysohn23 commented on #3047
Are you selecting the `PROFILE` tab from the dropdown here?
![image](https://user-images.githubusercontent.com/19496130/126499718-fdf11e96-96cd-458f-85d8-90bb0812c865.png)

From a quick repro I was able to get traces in the `xplane.pb` file generated (ex. under `/tmp/tensorboard/plugins/profile/2021_07_21_13_44_21/localhost_9012.xplane.pb`).

[2021-07-21 15:18] halcy commented on #3047
I do see the files now (I didn't check into the plugin folder before - probably should have), however, my tensorboard (inside the colab cell output) is stuck on this screen:

![image](https://user-images.githubusercontent.com/59633/126513115-fe202742-7d9f-4617-8ac5-3418db5b589a.png)

Tried on both firefox (slightly outdated) and chrome (current), can't get it to show anything, even after 5 minutes

[2021-07-21 17:02] anijain2305 commented on #3043
Is it possible to overlap the IR graph creation of this step with the kernel execution of previous step?

[2021-07-21 17:35] qinggangz commented on #3043
In real-life training, many steps would be needed. The IR graph creation + training in multiple steps are in a sequence,  such as:
graph creation(step 0) -> compiling -> forward(0) -> backpro(0) -> SGD/weight update (0) -> graph creation(step 1) -> forward(1) -> backpro(1) -> SGD/weight update (1) ->graph creation(2) -> forward(2) -> backpro(2) -> SGD/weight update (2) -> ... ...
The question is w

[2021-07-21 17:55] ultrons opened #3050 "Lowering for aten::logical_and_out"
@JackCaoG , @jysohn23

Reported in the client side profiling log, but the full trace is not printed.
This is creating a bottleneck for training performance.

[2021-07-21 23:39] codeislife99 opened #3052 "Running regular PyTorch with PT-XLA CUDA Container"
With the PT-XLA containers for CUDA, it is only possible to run PT-XLA. If one tries to run regular PyTorch, then we get
`Torch not compiled with CUDA enabled`. Is there any change that can be made to the Dockerfile so that both regular CUDA PyTorch and PT-XLA can be run on the same container ?

[2021-07-22 01:59] jysohn23 commented on #3052
I don't think we've tested it but you could try enabling this for https://github.com/pytorch/pytorch/blob/3d6aa3a2f6e67140a21ca1e33fab089a57600fe7/setup.py#L14: https://github.com/pytorch/xla/blob/c297289b2724549df874418d8ea4cd4161e47f47/docker/Dockerfile#L20

[2021-07-22 11:59] jysohn23 commented on #3047
I also observed the tensorboard inline cell output for profile tab not progressing from the loading data screen. I'll try to take a look at this issue today.

Alternatively, what I did was download the output from `/tmp/tensorboard` and then spin up a separate tensorboard server locally to visualize.

[2021-07-23 04:51] #3050 closed

[2021-07-23 06:13] jinluyang opened #3055 "UNKNOWN ERROR (4) on GPU"
## ❓ Questions and Help
Hi, I am running on GPU using direct session. In some net works, the cuda driver throws UNKNOWN ERROR (4). I found this has something to do with ReleaseHandle and ReleaseHandles in xrt_computation_client.cc，it occurs after calling them.
My question is, there is a function TriggeredTask::Stop, but I cannot find anywhere in the code that calls it. It is never executed, why?

[2021-07-23 08:15] luchangli03 commented on #3049
@JackCaoG I have also met a problem that upsample can’t be lowered when I try to train U-GAT-IT using XLA-GPU backend. Do you know where the custom call of upsample for TPU is implemented and do you have some tips about how to implement the custom call of upsample for GPU backend? Thank you very much.

[2021-07-23 08:16] jinluyang commented on #3055
And by the way, is there any conclusion on which part of building the graph of ir::Node consumes most of the time? Would like to try some optimization to accelerate inference.

[2021-07-23 10:04] chenweicdw commented on #1431
For some reasons, is it possible to get the address of the real data when I forced it (for example, printing tmp), even I checked ComputationClient::ExecuteComputation, but I still can't get the real data, is there something I missed? Thanks very much.

[2021-07-23 11:16] byronyi commented on #3043
You could actually try gradient accumulation, i.e. only run optimizer.step() for several fwd+bwd. xm.mark_step should still happen each step, but it doesn’t block tracing of the next step. I suspect that sync is only related to AMP as it always checks if there is nan in gradients. If we use GA then the sync cost could be amortized.

[2021-07-23 14:38] jysohn23 commented on #3047
Cause of it is https://github.com/tensorflow/tensorboard/issues/5088, you can update the `%tensorboard` command to `%tensorboard --logdir /tmp/tensorboard --load_fast=false`. Will send PR to fix notebook too.

[2021-07-23 17:15] asuhan commented on #1431
@chenweicdw Outputs from an XLA computation don't expose their underlying storage as pointers, so it's not possible to get the storage pointers. What are you trying to do? There should be ways to achieve it without having the storage pointers available.

[2021-07-23 18:16] JackCaoG commented on #3049
I implemented the custom call `EmitPadToStatic` and `EmitSliceToDynamic` for gpu, you can check my cl https://github.com/tensorflow/tensorflow/commit/64a5248407af3532c5eb282414fe95b62ee3bfec. The code currently lives in [here](https://github.com/tensorflow/tensorflow/blob/9b3485fbcea62b402299311b668f94fcaf536376/tensorflow/compiler/xla/service/gpu/ir_emitter_unnested.cc#L932)

[2021-07-24 01:18] chenweicdw commented on #1431
@asuhan
Thanks very much for your answer. I want to get the storage pointers to construct the Memref Descriptor structure, then pass it as input to MLIR, the final goal is passing the real user input data to MLIR.
Is it possible to get the real data in XLATensorImpl? Thanks very much.

[2021-07-24 01:44] asuhan commented on #1431
@chenweicdw You can call `cpu()` on the XLA tensor from which you want the data, then use `storage()` to get a pointer to the storage you can then pass to MLIR. There's no "real" data in behind an XLA tensor until you actually force its evaluation, which `cpu()` does and it also transfers that data to host memory.

[2021-07-24 03:29] chenweicdw commented on #1431
@asuhan
Thanks very much.

[2021-07-24 03:29] chenweicdw commented on #1431
@asuhan

[2021-07-24 03:32] chenweicdw commented on #1431
@asuhan
Thanks very much. In python side, I can call XLATensor.cpu().storage() to get the real data, how about in C++ source code, I checked  the definition of XLATensor in tensor.h (~/pytorch/xla/torch_xla/csrc/tensor.h), it seems there is no cpu() method, it seems I should use GetTensors() method in C++, right?
Thanks a lot.

[2021-07-24 05:55] asuhan commented on #1431
@chenweicdw `XLATensor::GetTensors()` would work, yes.

[2021-07-24 07:26] #3006 closed

[2021-07-24 09:11] magicknight commented on #3046
Thank you for comment!

[2021-07-24 09:11] #3046 closed

[2021-07-24 12:25] awasthiabhijeet commented on #2399
+1 for having the CTC_loss op lowered.

[2021-07-24 18:34] khursani8 commented on #2399
+1 this will help ASR/OCR research in future

[2021-07-26 00:44] chenweicdw commented on #1431
@asuhan

[2021-07-26 01:06] chenweicdw commented on #1431
@asuhan
Thanks a lot.
I set a break point in the XLATensor::GetTensors() method, and when I force printing the result, the process will come to the break point, and then I tried to get the real data and address in gdb, it works.
But before I force printing the result, is it possible to get the input real data and address?
I tried an "add" op, and tried to call XLATensor::GetTensors() in ~/pytorch/

[2021-07-26 04:27] asuhan commented on #1431
@chenweicdw What's the address space of the `0x3040200050403` pointer, are you running on CPU? Because it doesn't look like CPU address space to me and of course you wouldn't be able to print its contents on host then, if it's GPU or TPU.

Also, did you call `XLATensor::GetTensors()` on the inputs or the output? Because if you call it on output, not sure what would you expect to happens for the in

[2021-07-26 05:48] chenweicdw commented on #1431
@asuhan
I call it on input, and I run on CPU in fact.
For example, I execute the following code in python:

import os
import torch
import torch_xla
import torch_xla.utils.utils as xu
import torch_xla.core.xla_model as xm
os.environ['XRT_DEVICE_MAP'] = 'CPU:0;/job:localservice/replica:0/task:0/device:XLA_CPU:0'
os.environ['XRT_WORKERS'] = 'localservice:0;grpc://localhost:40934'
device = xm.xla_devi

[2021-07-26 17:58] JackCaoG commented on #2399
Sorry for the late response. We currently don't have the resource to implement this lowering given it is a bit more complicated comparing to other ops. We will prioritize this op given many user request and update here when we have a more concrete plan.

[2021-07-26 23:11] #3047 closed

[2021-07-26 23:28] JackCaoG commented on #3043
@qinggangz Graph execution of step i-1 is already overlap with the graph building of step i. You can take a look at graph example at [here](https://cloud.google.com/tpu/docs/pytorch-xla-performance-profiling-tpu-vm#pytorch_xla_client_profiling). To get a better sense of where to optimize, you can do a client side profiling.

[2021-07-27 19:00] JackCaoG commented on #3031
FYI, the [pytorch side fix](https://github.com/pytorch/pytorch/commit/5408f739f79eb1ab2a6b3ef889e8a86a7bd20bdb) is merged. I verified that amp speed come back to ~1230 img/sec with batch size 256 and amp enabled(with pytorch pr patched). I add the test for `autocast` in https://github.com/pytorch/xla/pull/3057. Remaining item is to run `resnet50` with amp on our gpu test gramwork daily to make sur

[2021-07-29 06:36] krshrimali opened #3061 "PyTorch Op Fails with 0d tensor and `dim` arg"
## 🐛 Bug

With scalar tensors, PyTorch on XLA throws an error when an op is passed with a `dim` argument `0`. This isn't the case with CPU/CUDA devices though.

## To Reproduce

[code]

*ERROR*:

<details><summary>Error on XLA</summary>
<p>

[code]
</p>
</details>

Also, the error doesn't look message correct: since `0` is in the range `[0, -1]`.

## Expected behavior

IMO, it should be consistent

[2021-07-29 15:11] pulkitgo opened #3062 "Converting GPU ops to TPU (XLA)"
## ❓ Questions and Help
Hi! I am trying to port the following StyleGAN code to TPU: [Op Code](https://github.com/rosinality/stylegan2-pytorch/tree/master/op). Is it possible to convert these ops to XLA ? (I am relatively new to PyTorch XLA, so not sure if something similar can be done here).

Thanks!

[2021-07-29 17:23] JackCaoG commented on #3061
@krshrimali Thanks for reporting! I will take a look.

[2021-07-29 22:55] JackCaoG commented on #3062
Hmm, this is something I am less familiar with. I am looking at [this file](https://github.com/rosinality/stylegan2-pytorch/blob/f8dc9ad21746c81029c86eb8a3bfaf92a3988ce6/op/fused_act.py#L15) and it seems like `fused_bias_act.cpp` defines function prototype and `fused_bias_act_kernel.cu` defines the lowering. @bdhirsh Do you know if pt/xla can also do something like this?

[2021-07-29 23:00] JackCaoG commented on #3062
For the lowering part, you can take a look at [this guide](https://github.com/pytorch/xla/blob/master/OP_LOWERING_GUIDE.md), but I am not sure how we can generate a custom op that xla can lower. One alternative is to build a `XlaBuilderOP`. Some example would be [this pr](https://github.com/pytorch/xla/pull/2507).

[2021-07-29 23:09] JackCaoG commented on #3031
Close this bug since fix, amp op test, resnet-50 amp test all merged.

[2021-07-29 23:09] #3031 closed

[2021-07-29 23:50] JackCaoG commented on #3061
I think this is a common problem(feature gap) between Pytorch and pt/xla. In PyTorch, most op can consider a 0dim tensor(scalar) to be a 1dim tensor, but there isn't a clean way to do that for pt/xla. We have an [issue](https://github.com/pytorch/xla/issues/1958) open for this. If this blocks upstream pytorch pr, I can send a pr to disable the `log_softmax` op info test for pt/xla.

[2021-07-30 03:51] krshrimali commented on #3061
Hi, @JackCaoG - Thanks for taking a look. I understand the feature gap. We discussed it (cc: @mruberry @kshitij12345), and thought it will be best to just not include the particular input when the device type is XLA: https://github.com/pytorch/pytorch/pull/62077/files#diff-18a0c3e7cd07089b34760028c387d39de1aa393172f1d5f123692106b3a3d144R3684-R3687.

Hence, it doesn't block the upstream PR. :) I am

[2021-07-30 16:55] JackCaoG commented on #3061
Sounds good, thanks @krshrimali !

[2021-07-31 00:46] codeislife99 commented on #3043
@JackCaoG - If it already overlaps with the kernel execution of step i-1, then it shouldn't be the bottleneck for performance correct. So if that is true, do you mind telling me why you mentioned earlier that graph creation is the bottleneck?

[2021-07-31 03:50] byronyi commented on #3043
@codeislife99

Dynamic loss-scaling in BERT AMP training leads to the following [high-level training procedure](https://docs.nvidia.com/deeplearning/performance/mixed-precision-training/index.html#scalefactor):

1. Maintain a primary copy of weights in FP32.
1. Initialize S to a large value.

For each iteration:
1. Make an FP16 copy of the weights.
1. Forward propagation (FP16 weights and activati

[2021-08-02 17:12] JackCaoG commented on #3061
Close this bug as we have https://github.com/pytorch/xla/issues/1958 to track the scalar 0 dim issue

[2021-08-02 17:12] #3061 closed

[2021-08-02 17:32] trevor-m commented on #3043
Hi @byronyi, thank you for the explanation. I have a few follow-up questions.

1. I'm curious how the pipelining works. How is the dependency in step 5 detected by PyTorch?
2. I'm wondering if we can improve this behavior by speculatively running the next iteration before we know if there is an Inf/Nan. If there is one, we could invalidate the running iteration. Has this idea been considered and d

[2021-08-02 22:40] codeislife99 commented on #3043
@trevor-m @byronyi Regarding 2. I am seeing that despite the running of the next iteration, the CUDA execution doesn't happen as is shown in the screenshots I showed. And I assume that's because its not a fixed scaling factor for BERT. Let me know if I said anything incorrectly.

[2021-08-03 02:23] byronyi commented on #3043
https://github.com/pytorch/xla/blob/master/torch_xla/amp/grad_scaler.py#L10-L11

`v.item()` will trigger `aten::_local_scalar_dense` which will trigger a sync from Python frontend to device runtime: https://github.com/pytorch/xla/pull/2770

[2021-08-03 02:36] #2988 closed

[2021-08-03 02:36] #2773 closed

[2021-08-03 07:55] tgisaturday opened #3068 "xmp.spawn fails with models containing register_buffer on large TPU Pods( >=v3-128)"
## 🐛 Bug

Hi, I'm trying to run my code on Cloud TPU Pod and models with self.register_buffer fails on large pods (>=v3-128) with SIGSEGV. I'm not sure self.register_buffer is the only cause but models without register_buffer doesn't cause any SIGSEGV.

## To Reproduce
clone this repo,
https://github.com/tgisaturday/dalle-lightning

pip install with requirements.txt

Here are example for TPU setup

[2021-08-04 07:40] pitneitemeier opened #3070 "lower complex number operations (view_as_real, view_as_complex, conj, abs)"
## 🚀 Feature
Multiple operations on complex numbers default to cpu (visible by aten:: in metrics report) or just do not work.
Specifically I have found:
defaulting to cpu:
- torch.real(x), x.real
- torch.imag(x) x.imag
- torch.conj(x)

not working:
- torch.abs(x) when x.requires_grad==True
      prints: abs does not support automatic differentiation for outputs with complex dtype

There are probab

[2021-08-04 09:17] tgisaturday commented on #3068
@zcain117 I removed register_buffer from evqvae models and SIGSEGV still happens. xmp.spawn seems to fail while building graph.

[2021-08-04 12:25] awasthiabhijeet commented on #2681
Hi @ultrons,
Could you please point me to a wav2vec2 fork that works on TPUs?

Thanks :)

[2021-08-04 22:11] trevor-m commented on #3043
Hi @byronyi
Thanks for the info! That all makes sense. We have done a few experiments, and found for this particular BERT model that even without AMP and without printing loss, we aren't able to get the computation and IR graph build to overlap. We don't see any `_local_scalar_dense` either.

I noticed that in the `test_profile_mp_mnist.py` script (the trace of this model clearly shows the overlap

[2021-08-04 22:47] JackCaoG commented on #3043
@trevor-m Mnist called `mark_step` implicitly in [`optimizer_step`](https://github.com/pytorch/xla/blob/815197139b94e5655ed6b347f48864e73dc73011/torch_xla/core/xla_model.py#L795).

`mark_step` will collect all live tensors and compile/execute the corresponding graph then truncate the pending IR graph of these tensors. It shouldn't block the new xla tensors being created(IR graph tracing). If you o

[2021-08-04 22:58] trevor-m commented on #3043
Hi @JackCaoG
The MNIST model doesn't appear to call `mark_step` in `optimizer_step` because `barrier` is false by default:
https://github.com/pytorch/xla/blob/master/test/test_train_mp_mnist.py#L130

Thanks for the pointers! I will look into those logs.

[2021-08-04 23:04] JackCaoG commented on #3043
Ah, my bad. I think `mark_step` is done by data loader in [here](https://github.com/pytorch/xla/blob/223ca031bd7ac92ea55107a9d79e73b035e6cdec/torch_xla/distributed/parallel_loader.py#L46)

[2021-08-04 23:39] JackCaoG commented on #3070
Lowering `real` and `imag` are pretty easy but lowering them as a view operator is a bit tircky. @bdhirsh Do you think it would make sense to wait for your functionalization change. `Real` and `imag` also changes dtype of the tensor (`complexfloat` -> `f32` for example) which makes it a bit more tricky.

[2021-08-05 03:03] tgisaturday commented on #3068
Using nn.Parameter as a workaround to replace .copy_() solved this issue in evqvae model. Still working on dalle model.
https://github.com/tgisaturday/dalle-lightning/commit/53ad4644321d444a9d45772e012788e82c320582

@zcain117 Is inplace copy operations is not currently supported by torch-xla?

[2021-08-05 03:49] JackCaoG commented on #3068
`copy_` is supported, looking in the [implementation](https://github.com/pytorch/xla/blob/9146a54254a94233aa17fae55a16a3d190f71529/torch_xla/csrc/tensor_methods.cpp#L2158), it just make a copy of the `other tensor` and clear `self tensor`'s metadata. It is a bit weird that this behavior will casue a crash.

[2021-08-05 05:40] tgisaturday commented on #3068
Maybe certain combination of operations with copy_ causes graph building failure or OOM.

[2021-08-05 15:26] zcain117 commented on #3068
I guess immediately after the copy we would have at least double the amount of memory for that tensor since we store it in the intermediate var `copy_value`. So maybe if it's a large tensor it could lead to OOM? I think `copy_value` would get garbage collected after that method returns so it wouldn't be around for too long

Strange that this happens on v3-128 and not on v3-64

[2021-08-05 15:47] bdhirsh opened #3072 "torch.split doesn't respect aliasing"
## 🐛 Bug

According to the [documentation](https://pytorch.org/docs/stable/generated/torch.split.html) for `torch.split`, the returned tensors are supposed to alias the original tensor. It doesn't look like the xla implementation maintains the aliasing.

## To Reproduce

[code]
The above prints `tensor([0, 1], device='xla:0')` - mutating a didn't mutate b.

Swapping out `device=device` for `device

[2021-08-05 17:42] prikmm opened #3074 "Not able to load the model saved using xser.load() because xser.save() creating a directory instead of file."
## 🐛 Bug

I have finetuned huggingface t5-large on xsum and saved the model using `xser.save()`, this creates a directory but `xser.load()` requires a file. I get the following error:
[code]

[code]

I checked [`serialization.py`](https://github.com/pytorch/xla/blob/master/torch_xla/utils/serialization.py) and found that `load()` requires a file but `save()` saves model weights into different file

[2021-08-05 20:03] prikmm commented on #3074
My bad, I was giving the complete path name like `t5-large-model.tensors` which is wrong. It should only be `t5-large-model`.
I literally spend 2 hrs going through the XLA code and this hit me:laughing:.

[2021-08-05 20:03] #3074 closed

[2021-08-06 01:19] ultrons commented on #2681
@awasthiabhijeet ,
The master branch works.
It has instruction to run as in the examples/wav2vec README
Use config file something like this:
[code]

With one modification:
add batch_size = 4 in the dataset section.
Let me know if you have any issues.

[2021-08-06 01:21] #3020 closed

[2021-08-06 06:29] awasthiabhijeet commented on #2681
Hi @ultrons ,

Does it also support supervised fine-tuning using the CTC-loss?

README in examples/wav2vec mentions that "Wav2Vec2 is now supported on TPUs! It's currently pre-training only."

I am looking for a code that allows me to finetune wav2vec2 on TPUs using CTC-loss.
CTC-loss provided by PyTorch is currently not lowered in pytorch/xla. (https://github.com/pytorch/xla/issues/2399)

[2021-08-06 18:29] JackCaoG commented on #3072
I found t https://github.com/pytorch/xla/pull/277 I think it is international, but I don't have too much context. @asuhan since he implemented the lowering.

[2021-08-06 19:17] ultrons commented on #2681
Currently W2V2 on tpu is only used for pre-training
CTC loss is in the fine tuning code which has not been optimized for TPUs yet.

[2021-08-06 21:23] trevor-m commented on #3043
Hi @JackCaoG, thanks again for all of the advice.
I did some experimenting with 1) FP32 bert and 2) AMP Bert with the [if condition v.item()](https://github.com/pytorch/xla/blob/master/torch_xla/amp/grad_scaler.py#L10-L11) removed so that optimizer.step() is always called regardless of nan or inf.
Using the logging statements, I was able to find that for both 1) and 2) the graph builds are only tr

[2021-08-07 03:42] asuhan commented on #3072
It's not intentional, I'm pretty sure I wasn't aware of this behavior. I don't think it'd be hard to make each piece a view, though.

[2021-08-09 15:07] DayuanJiang opened #3076 "What is xm.RateTracker? Why there is no document for this class?"
`xm.RateTracker()` is used in the example script. But I can' find any document for this class(even the doc string does not exist).
What is this class?
## ❓ Questions and Help
https://github.com/pytorch/xla/blob/81eecf457af5db09a3131a00864daf1ca5b8ed20/test/test_train_mp_mnist.py#L123

[2021-08-09 17:57] JackCaoG commented on #3076
It is pretty self-explanatory, you can check the code in [here](https://github.com/pytorch/xla/blob/815197139b94e5655ed6b347f48864e73dc73011/torch_xla/core/xla_model.py#L328). It is tracking the rate of certain events in a period of time.

[2021-08-09 18:02] JackCaoG commented on #3049
I am working on `adaptive_max_pool2d` lowering, but we can only support the `input_size % output_size == 0` case. The reason is that pt/xla use `xla::maxpool` to implement the `max_pool` which requires fixed `kernel` and `stride`. For a input size(using 1d as example) of [10] and output size of [4], pytorch will max pool from windows [0, 2], [2,4], [5,7], [7,9], where stride is not constant.

[2021-08-09 18:19] JackCaoG commented on #3043
@trevor-m You might want to use `ParallelLoader` overlap the input feeding. Please checkout [this comment](https://github.com/pytorch/xla/issues/2723#issuecomment-758256526) and this [blog post](https://huggingface.co/blog/pytorch-xla#pytorch--xla-input-pipeline).

It also isn't enough to remove [item ](https://github.com/pytorch/xla/blob/master/torch_xla/amp/grad_scaler.py#L10-L11) if you want to

[2021-08-09 18:37] JackCaoG commented on #3016
Close this issue as pytorch and pt/xla are both merged.

[2021-08-09 18:37] #3016 closed

[2021-08-09 19:39] kungfu-eric opened #3077 "Can't pull gcr.io image"
## 📚 Documentation

I followed the Consume Prebuilt Compute VM Images but should I be able to pull an image? Gcr.io isnt resolving from inside the compute VM.

`sudo docker run --shm-size 16G -e XRT_TPU_CONFIG="tpu_worker;0;$TPU_IP_ADDRESS:8470" gcr.io/tpu-pytorch/xla:r1.9 python /pytorch/xla/test/test_train_mp_mnist.py
Unable to find image 'gcr.io/tpu-pytorch/xla:r1.9' locally
docker: Error respo

[2021-08-09 21:25] JackCaoG commented on #3077
Sorry about this, it seems like we didn't tag 1.9 correctly. Can you do
[code]
or
[code]
depending on your python version. @jysohn23 Can you help to fix this?

[2021-08-10 00:30] jysohn23 commented on #3077
Could you retry @kungfu-eric?

[2021-08-10 03:42] kungfu-eric commented on #3077
Works now, thanks!

[2021-08-10 03:42] #3077 closed

[2021-08-10 05:02] kungfu-eric opened #3078 "Mnist not working?"
## 🐛 Bug

The Mnist script that comes with the VM or container isn't working on a fresh Cloud TPU VM. I know my TPU is connected because if I change the TPU IP, I get a 'not connected' error.

## To Reproduce

I ran:
[code]
## Environment

 - torch_xla version: Conda activate (torch-xla-1.9)
- TPU type: v3-8, v2-alpha-pod, TPU VM, both VM on us-central-1b
## Additional context

Full trace:
`(torch

[2021-08-10 06:43] JackCaoG commented on #3078
seems to be a downloading dataset issue, if you just want to run a simple example, you can try the imagenet with fake data
[code]

[2021-08-10 17:00] kungfu-eric commented on #3078
Unfortunately still getting an op error?

`(torch-xla-1.9) user@pytpu:/usr/share/torch-xla-1.9/pytorch/xla$ python test/test_train_mp_imagenet.py --fake_data
==> Preparing data..
Exception in device=TPU:0: tensorflow/compiler/xla/xla_client/xrt_computation_client.cc:421 : Check failed: session->session()->Run(session_work->feed_inputs, session_work->outputs_handles, &outputs) == ::tensorflow::Stat

[2021-08-10 17:11] jysohn23 commented on #3078
First of all, your logs it looks like you're on [TPU 2VM setup](https://cloud.google.com/tpu/docs/tutorials/resnet-pytorch) not our new [TPU VM setup](https://cloud.google.com/tpu/docs/pytorch-xla-ug-tpu-vm).

From the logs it looks like your TPU version in 2VM mode might not be `pytorch-1.9`. Can you make sure you're using the correct TPU node version on the TPU side?

[2021-08-10 18:10] kungfu-eric commented on #3078
Whoa that was kind of a journey. Thanks so much for the replies. I'm gettting this error on a TPU single VM.
`Python 3.8.5 (default, Jan 27 2021, 15:41:15)
[GCC 9.3.0] on linux
Type "help", "copyright", "credits" or "license" for more information.

2021-08-10 18:02:02.701266: E tensorflow/core/framework/op_kernel.cc:1623] OpKernel ('op: "TPURoundRobin" device_type: "CPU"') for unknown op: TPURound

[2021-08-10 20:09] jysohn23 commented on #3078
`Couldn't open device: /dev/accel0` in TPU VM typically means that there's another process holding the TPU up. You can find which process is holding the device with: `lsof -w /lib/libtpu.so`. After killing the processes can you retry?

[2021-08-10 22:28] kungfu-eric commented on #3078
Unfortunately no change. lsof didn't have any output and the result is the same after rerunning.

Do these settings look correct for the TPU node?

[2021-08-10 22:39] jysohn23 commented on #3078
Oh you're using a v2-alpha-pod version. No, you should be using plain
v2-alpha as in our tutorials.

On Tue, Aug 10, 2021, 6:29 PM kungfu-eric ***@***.***> wrote:

[2021-08-10 23:20] kungfu-eric commented on #3078
Alright, yea changing to v2-alpha works outside the container. https://cloud.google.com/tpu/docs/tutorials/resnet-alpha-py#create_tpu resolves to 404 error, which is the link for 'you create a Cloud TPU node' that I think normally the tutorial would indicate the specific steps.

Outside container I ran:
`export XRT_TPU_CONFIG="localservice;0;localhost:51011"
python /pytorch/xla/test/test_train_mp_

[2021-08-11 01:53] DayuanJiang commented on #3076
@JackCaoG  Thanks!

[2021-08-11 01:54] #3076 closed

[2021-08-11 02:48] DayuanJiang opened #3079 "Why should we scale learning rate to num cores?"
https://github.com/pytorch/xla/blob/bc4aee9b854e8325fdbcccf514f0342263a0c8fe/test/test_profile_mp_mnist.py#L121

In the test scripts, the learning rate is scaled to num cores. Why should we do that?

And if I use a scheduler like [transformers.get_cosine_schedule_with_warmup](https://huggingface.co/transformers/main_classes/optimizer_schedules.html#transformers.get_cosine_schedule_with_warmup) in

[2021-08-11 04:17] #3078 closed

[2021-08-12 05:49] david-littlefield opened #3080 "Slow training on multiple TPUs from bottleneck"
## 🐛 Bug

`pt-xla-profiler: TransferFromServerTime too frequent: 314 counts during 80 steps
pt-xla-profiler: Op(s) not lowered: aten::sgn_out,  Please open a GitHub issue with the above op lowering requests.`

It takes longer to train an epoch with TPUs on Colab using 8 cores than my 1080 ti 11GB GPU. I've been stumbling my way through using the TPU in PyTorch Lightning. I've also been informed th

[2021-08-12 22:34] yaochengji opened #3081 "Treat Weights as Constants When Inferencing"
## 🚀 Feature
When using torch/xla for inferencing, could we treat weights as constants? If it is done, there will be more chance for XLA to optimize the graph better, Ex. fusing BN into Conv.

[2021-08-12 22:35] JackCaoG commented on #3081
I think the challenge here is that when weights changes we will have to recompile the graph. That's why we only make 0 and 1 to be constant and leave the rest of them to be the device data.

[2021-08-12 22:41] yaochengji commented on #3081
We could let user control this. There could be a flag named `TREAT_WEIGHTS_AS_CONSTANTS` and if it is set to `1` by user, then XLA will consider all weights as constants.

[2021-08-12 22:43] yaochengji commented on #3081
Users should be responsible for that the weights will never change.

[2021-08-12 22:54] JackCaoG commented on #3081
It should be couple lines of change in [here](https://github.com/pytorch/xla/blob/master/torch_xla/csrc/tensor.cpp#L244), but then you need to separate weights from other scalar. Do you mind testing it out the speed? This is a bit risky(many more recompilation if using wrong) and a power user feature. Would be nice to find out what kind of speed gain we are talking about.

[2021-08-12 23:15] yaochengji commented on #3081
Thanks, I will have a try.

[2021-08-12 23:16] JackCaoG commented on #3081
@cjolivier01 I vaguely remember you had similar feature request and open a pr a while ago, is that the case?

[2021-08-12 23:38] cjolivier01 commented on #3081
I did have a PR for "treat all scalars as constants".

I am gathering that the ask is to extend this to weights (which may not be scalars) and hoping they will get constant-folded during the HLO passes?  My first inclination is that this is a bit trickier because it's not always so easy to recognize what is a weight in a general way (as it is a scalar), especially when it isn't going to be an alia

[2021-08-12 23:50] cjolivier01 commented on #3081
I apologize -- I take that back.  DeviceData nodes will tend to be weights, in which case it wouldn' t be too difficult.  I recall now that the distinguish problem I had been having was due to something specific to my use-case at the time (pruning some superfluous updates which weren't actually model parameters).

[2021-08-12 23:53] juneoh commented on #3079
In [Accurate, Large Minibatch SGD: Training ImageNet in 1 Hour (2017)](https://arxiv.org/abs/1706.02677), adjusting the learning rate as a linear function of the batch size was introduced as an approach to help optimization in distributed, synchronous SGD. That should be the idea — the batch size that you pass to DataLoader is the batch size *per core*, so with the global batch size of `batch_size

[2021-08-13 11:46] cjolivier01 commented on #3081
btw here was that PR: https://github.com/pytorch/xla/pull/2543

[2021-08-14 01:44] miladm commented on #3080
Based on the error above, `sgn_out` need to be lowered.

Are you using complex numbers in your model where `sgn_out` is called? Maybe in the loss function?

If so, this [issue](https://github.com/pytorch/xla/pull/3045) should improve the slow training.

[2021-08-14 21:53] david-littlefield commented on #3080
Thanks @miladm! I'll try that.

[2021-08-15 16:57] yaochengji commented on #3081
@JackCaoG Here's the PR: https://github.com/pytorch/xla/pull/3082

I did a rough test on Resnet (`print(loss.cpu())` on every iteration) and find that the performance gain is negligible.

[2021-08-16 16:41] JackCaoG commented on #3081
@yaochengji Thanks for testing out, in that case I would prefer not to merge this pr. It doesn't provide enough speed up and can cause a lot of trouble when being used incorrectly.

[2021-08-16 17:03] rwightman commented on #3080
@miladm @david-littlefield `sgn` is used in the derivative of `abs` (regardless of whether or not you use complex numbers) ever since abs was updated to support complex numbers, the lowering of sgn should be pretty high priority because this is easy to run into w/ abs or l1 loss

[2021-08-16 17:11] rwightman commented on #3079
@juneoh @DayuanJiang it's standard practice as per juneoh's comment to scale the lr linearly for SGD with the global batch size (and global batch size here increases with the number of processes). However it's more common to see it (in papers and practice) scaled per some fixed batch size like 256, where you'd specify lr per batch 256 and multiply that by global batch size which works better regar

[2021-08-16 17:20] david-littlefield commented on #3080
That's good to know, thanks @rwightman!

Hi @miladm, I'm currently taking a C++ course and will attempt your suggestions afterward.

[2021-08-16 19:50] JackCaoG opened #3086 "AMP stop working for Pytorch/XLA"
failure message
[code]

test is currently only being run on gpu so won't imapct upstream cpu CI. Will try to take a look today and disable it for now if needs additional time.

[2021-08-16 22:24] JackCaoG commented on #3086
Tried to run amp imagenet using the nightly cuda docker and saw the same
[code]

Speed dropped to slightly below the non-amp version. Looking into it.

@bdhirsh @yaochengji @codeislife99 @rwightman FYI.

[2021-08-16 22:27] JackCaoG commented on #3086
@bdhirsh What do you think is the best way to prevent this kind of regression from happening? We can always try to catch these on pt/xla land but fixing them after is a bit of burden. We currently only run cpu CI on pytorch/xla, would it be feasible to also run gpu CI from upstream? I think running amp test along for GPU would be enough.

[2021-08-16 22:31] yaochengji commented on #3081
@JackCaoG I'll close the PR for now. After finding a more suitable situation, we could reconsider it.

[2021-08-16 22:38] codeislife99 commented on #3043
A small update, we noticed that after removing the mark step from the main training file and adding the Parallel loader we get 3-4% speedup. However the real gains come in when we remove the Inf check from the optimizer, and we see overlap in full.

Of course, it's not possible to actually train the model when the inf check is removed. We were wondering of an alternate solution that perhaps doesn'

[2021-08-16 23:01] JackCaoG commented on #3086
@ezyang I think the regression is coming from [this pr](https://github.com/pytorch/pytorch/commit/324673a537fc818527b8375700a9b95a83a00c92#diff-688be417042a389cd06bdaa4f45d527c522ea010ced0b08282d0b5e55332497fR138). This is a bit tricky as there is not an easy way to check whether pt/xla is available (try import block would be a bit ugly, but this is the only way I can think of right now). WDYT?

I

[2021-08-16 23:27] JackCaoG commented on #3086
Ah using `torch.cuda.amp.common.amp_definitely_not_available()` instead resolved this issue, I will send a pr to pytorch.

[2021-08-17 21:15] bdhirsh commented on #3086
@JackCaoG Running some minimal xla amp tests sounds reasonable. I know we have separate `test_autocast.py` code in core vs. xla. Do you think it would be reasonable to modify a (maybe small piece of) the `test_autocast.py` in core to work with both xla and cuda? We talked a little in the original PR that added the tests to pytorch/xla about how making those tests device-generic is a decent amount

[2021-08-17 23:12] byronyi commented on #3043
I could look into the lowering of AMP into [XLA conditional](https://www.tensorflow.org/xla/operation_semantics#conditional).

Meanwhile, I suggest that you could try gradient accumulation so `optimizer.step(); optimizer.zero_grad()` occurs once in a while to amortize the sync overhead. `xm.mark_step` should still remain in each step to enable the overlap.

Copied from [here](https://kozodoi.me/py

[2021-08-18 03:38] ezyang commented on #3086
Can we make test_autocast.py use the generic backend machinery? If we had that, then XLA could easily reinstantiate it at XLA device and run the tests there.

[2021-08-18 20:15] JackCaoG commented on #3086
It is actually a bit hard to extend xla as a generic backend to this test because
1. some of the test just go through a list of ops and test amp, but xla doesn't have all lowering for them. When fallback happen the test will failed since some op doesn't have fp16 implementation on native CPU.
2. I only pick a set of test that will pass on pt/xla version of test_autocast.py. Some of the test are do

[2021-08-18 22:22] JackCaoG commented on #3081
Thanks @yaochengji , I will close this issue for now. Feel free to reopen if you have more topic to discuss.

[2021-08-18 22:22] #3081 closed

[2021-08-19 00:32] codeislife99 commented on #3043
Hey, @byronyi I understand the concept of how gradient accumulation can get around the problem but it's not a compiler level solution which is what we are specifically looking to resolve. Do you think it's possible for us to investigate an XLA written optimizer that will use the conditional and avoid the .item() call which is the root of the problem? Do you think such a solution is even possible?

[2021-08-19 01:13] gabrielwong1991 opened #3090 "How to concatenate all the predicted labels in XLA?"
## ❓ Questions and Help
Hi does anyone knows how to get all predicted labels from all 8 cores of XLA and concatenate them together?

Say I have a model:
`outputs = model(ids, mask, token_type_ids)`
`_, pred_label = torch.max(outputs.data, dim = 1)`

If I do
`all_predictions_np = pred_label.cpu().detach().numpy().tolist()`

apparently, this only sends the result to CPU from TPU core:0. How can I ge

[2021-08-19 01:47] JackCaoG commented on #3090
`xm.all_gather` will do what you described. `all_reduce`, `all_gather` and `all_to_all` are cross core communication methods we have right now.

[2021-08-19 01:48] JackCaoG commented on #3090
[here](https://github.com/pytorch/xla/blob/08ae1044c2a7e314895f9946104cbe399e096515/test/test_mp_all_gather.py) is an simple example of `all_gather` in pt/xla.

[2021-08-19 01:53] #3086 closed

[2021-08-19 02:10] JackCaoG commented on #3043
The problem here is that pytorch amp frontend want to inspect the value before the step end which will cause early execution. One idea I have is to use a combination of `TORCH.WHERE` `torch.isinf`, `torch.sum` to update the `v` in [here](https://github.com/pytorch/xla/blob/master/torch_xla/amp/grad_scaler.py#L10-L11) in a way to perform a no-op when there is inf in `v`. This way we can avoid trigg

[2021-08-19 03:53] #3049 closed

[2021-08-19 18:11] gabrielwong1991 commented on #3090
Hi, I try to follow the example of `all_gather` on `pred_label`:

`all_prediction_np = xm.all_gather(pred_label)`

It receives the following error:

`2021-08-19 18:10:26.491034: W   16036 tensorflow/core/distributed_runtime/rpc/grpc_remote_master.cc:157] RPC failed with status = "Unavailable: Socket closed" and grpc_error_string = "{"created":"@1629396626.490905199","description":"Error received f

[2021-08-19 19:33] gabrielwong1991 commented on #3090
I managed to use `xm.mesh_reduce("reduce", pred_label, torch.cat)` instead. Thanks

[2021-08-19 20:51] JackCaoG commented on #3090
hmm, yea the error seems like there is a remote crash on the server side, which is not expected. Glad that you find a solution that worked for you, feel free to reopen if you have any follow up question.

[2021-08-19 20:51] #3090 closed

[2021-08-19 21:17] codeislife99 commented on #3043
This won't work because even though .item() is not called we are doing the equivalent thing in another way. Just for completion I tested it out with
`if not sum(torch.is_nonzero(v) for v in optimizer_state["found_inf_per_device"].values()):
      retval = optimizer.step(*args, **kwargs)`

[2021-08-19 21:29] codeislife99 commented on #3043
We were also thinking along those lines of writing the optimizer in XLA itself, and do all the computation within to get rid of the python frontend.

[2021-08-20 22:53] #3044 closed

[2021-08-21 08:50] jinluyang commented on #3055
Hi, I have quited on the issue of ReleaseHandles, since I found the overhead of building the graph is very big compared to the GPU kernel. Maybe the best way of optimizing inference is to store the graph in some data structure, which is no longer a lazy-tensor approach.

[2021-08-21 08:50] #3055 closed

[2021-08-21 18:02] JackCaoG commented on #3055
Hmm, graph building should be overlapped with the kernel execution. If you have more info to share(what percentage of time that graph building has taken etc) we'd love to know.

[2021-08-22 06:02] JackCaoG commented on #2871
Close this issue as all change has been merged

[2021-08-22 06:02] #2871 closed

[2021-08-22 07:17] JackCaoG commented on #2976
I think this was fixed by https://github.com/pytorch/pytorch/commit/5408f739f79eb1ab2a6b3ef889e8a86a7bd20bdb. AMP speed should back to normal.

[2021-08-22 07:17] #2976 closed

[2021-08-22 23:05] akihironitta opened #3095 "Add `torchtext` to `env-setup.py`"
## 🚀 Feature
I'd like to suggest updating `contrib/scripts/env-setup.py` so that people don't have to manually adjust `torchtext`'s version similarly to `torchvision`'s one which is achieved at:

https://github.com/pytorch/xla/blob/61e3960cb3ad6401d8a4bf0e952a6e140de95ccb/contrib/scripts/env-setup.py#L23

## Motivation
With this change, users don't have to adjust `torchtext` version manually.

##

[2021-08-23 04:51] jinluyang commented on #3055
In a network which consists of a loop of tril、matmul and mult，the graph building time each loop is about 560 us, and the kernel time is about 81 us. I have a .qdrep file with nvtx.
I also tried a part of a gpt model, the graph-building time is 115ms, and the estimated kernel time (because there are some bugs, I couldn't directly run it, I used tensorflow XLA instead) is 5.99ms.
I also tried to bui

[2021-08-23 17:28] miladm commented on #3080
@david-littlefield `sgn` implementation is available on the `master` branch. Let us know how this feature addition helps your training speed performance.

[2021-08-23 18:44] JackCaoG commented on #3095
Hi @akihironitta , thanks for the request! Uploading a wheel is easy for us but we do not have test setup to test `torchtext`(both for stable release and nightly) for now. Adding the support officially will takes us a bit more time and resource. May we know what's your use case of `pytorch/xla` with `torchtext`?

[2021-08-23 18:45] JackCaoG commented on #3080
If you are using colab, you might want to checkout https://github.com/pytorch/xla/issues/2933 regarding a known issue and workaround of running pt/xla nightly on colab.

[2021-08-23 20:39] david-littlefield commented on #3080
Thanks @miladm  and @JackCaoG!

I'd like to be able to help lower operations for PyTorch XLA. I'm almost done with a C++ course. Then, I will complete the lowering tutorial by @tyoc213.

In the meantime, how do I make use of the `sgn` implementation in the master branch? I run into the same bottleneck when I rerun the project in colab.

I also run into an `undefined symbol` error when I implement

[2021-08-23 21:34] JackCaoG commented on #3055
Thanks!  These are very useful information, I will make a note of this and update you if we have a better solution.

[2021-08-24 09:21] ZhongYFeng opened #3099 "device=xm.xla_device(devkind='GPU')，Calling Net().to(device) interface throws an exception"
## 🐛 Bug

An exception is thrown when the model calls to translate to an XLA device running

## To Reproduce

Steps to reproduce the behavior:

...     def __init__(self):
...         super(Net, self).__init__()
...         self.conv1 = nn.Conv2d(1, 32, 3, 1)
...         self.conv2 = nn.Conv2d(32, 64, 3, 1)
...         self.dropout1 = nn.Dropout(0.25)
...         self.dropout2 = nn.Dropout(0.5)
..

[2021-08-24 16:39] miladm commented on #3080
You're welcome @david-littlefield!

To use the `sgn` op, install PyTorch XLA `master` branch latest commit. The rest is taken care of automatically; in general, when an op is lowered in PT/XLA, your ML program automatically runs that operation on the TPU.

Happy to answer your questions re: how to lower ops for PT/XLA. Feel free to ping us!

Re: the `undefined symbol` error, it seems your problem

[2021-08-24 16:43] JackCaoG commented on #3099
`was explicitly assigned to /job:localservice/replica:0/task:0/device:XLA_GPU:0 but available devices are [ /job:localservice/replica:0/task:0/device:CPU:0, /job:localservice/replica:0/task:0/device:XLA_CPU:0 ` This means that XRT runtime can not access the GPU device, it can only see CPU devices. Were you using the nightly GPU docker image we published? How did you install the PyTorch/XLA GPU?

[2021-08-24 18:45] akihironitta commented on #3095
@JackCaoG Hi, thank you for having a look! I was trying to use Lightning Flash (built on top of PyTorch Lightning) in a Kaggle notebook, and `torchtext` is one of the optional dependencies of Lightning Flash. After installing xla, I need to either:

- manually uninstall `torchtext`
- manually adjust the version `torchtext` for compatibility

to avoid `OSError` shown below. This is because `torchte

[2021-08-27 18:28] ymwangg opened #3102 "Understanding the impact of GetTensors and SyncTensors on memory usage"
We recently noticed an interesting behavior about the impact of `GetTensors` and `SyncTensors` on memory usage. We found inserting a `print(loss)` at the end of each training loop or inserting an extra `mark_step` just before `optimizer.step` can dramatically improve the maximum supported batch sizes. For example, on Tesla V100, the maximum batch size the following script can run is 17 with `--pri

[2021-08-28 03:29] ZhongYFeng opened #3103 "Why does XLA enable autocast so much slower than CUDA"
## ❓ Questions and Help
I run both xla and cuda training rates with mixed precision enabled using the ResNet50 model, and found that xla was significantly slower than cuda. I don't know why this is happening, and the kernel time XLA is also slower than cuda
## cuda amp train
**code:**
net = ResNet50()
device = 'cuda' if torch.cuda.is_available() else 'cpu'
def train():
    net.train()
    for batc

[2021-08-28 03:29] david-littlefield commented on #3080
@miladm I cloned the master branch of the XLA repository and moved the "torch_xla" subdirectory into the "/usr/local/lib/python3.7/dist-packages/" subdirectory in Google Colab. I must be doing something wrong because I'm still experiencing the same bottleneck.

[2021-08-30 07:00] ZhongYFeng commented on #3103
When judging whether the weight can be updated, the _maybe_opt_step method is called to determine whether there is INF or NAN. Here is a to_cpu operation, the graph will be compiled and executed once, and at the same time the operator aten::_local_scalar_dense will also be called. There is no lower for this operator. Therefore, every  step, it will consume a lot of time. Is there any better way to

[2021-08-30 14:54] narendra4 opened #3104 "Low TPU utilization and RAM Memory Leak"
## ❓ Questions and Help
I am trying to test run pytorch xla with multiprocessing on kaggle competition.
While the training proceeds I am getting RAM oom and also the TPU consumption is very low.  I tried to figure out for the xla lowering and the cpu context changes, but not able to understand the issue.

CPU is gettting utilized very high and RAM is consuming as the iterations progress.

Training

[2021-08-30 16:48] JackCaoG commented on #3080
@david-littlefield Please refer to [this colab](https://colab.sandbox.google.com/github/pytorch/xla/blob/master/contrib/colab/getting-started.ipynb), there is a cell explain how to switch to nightly in colab. Note you might run into some issue with libraries, please refer to [this issue](https://github.com/pytorch/xla/issues/2933) for solution.

[2021-08-30 17:09] JackCaoG opened #3105 "[PT_BREAK] Test crash after `torch.where` change"
Pytroch pr in https://github.com/pytorch/pytorch/pull/62084, failure log
[code]

[2021-08-30 18:17] JackCaoG commented on #3105
This seems to be introduced by the type promotion inconsistency between pt and pt/xla
[code]

PyTorch/XLA where is defined like
[code]
If I print `self` and `other` I see
[code]

It seem like scalar integer is being converted to a int64. PyTorch will handle this kind of mismatch type by promoting both `input` and `other` to `at::result_type(self, other)` . Pytorch/XLA can follow this behavior.

[2021-08-31 01:35] ymwangg commented on #3102
After some digging, I suspect this may be due to asynchronous execution in which `step i` and `step 1+1` consume GPU memory at the same time. I tested the effect of `time.sleep` and a manually-added `xm.barrier` function that performs `locker->Unlock(); locker->Unlock();` of `torch_xla::DeviceLocker`.
I tested different execution orders inside the training loop, and the following sequences can run

[2021-08-31 03:26] david-littlefield commented on #3080
Thanks, @JackCaoG. I tried that but I'm still getting an error message. I've found solutions to similar issues that have suggested downgrading, upgrading certain torch related libraries, and installing from source. What would you recommend?

[code]

[2021-08-31 03:39] JackCaoG commented on #3080
@david-littlefield It seems like you are using pt/xla through pytorch lighting. I think you need to manually install pytorch lighting nightly since our setup script will not reinstall lighting. I have never done that before through. @kaushikb11 is there an easy way to do this for colab?

[2021-08-31 03:45] david-littlefield commented on #3080
@JackCaoG That's good to know, thanks!

[2021-08-31 04:18] kaushikb11 commented on #3080
@david-littlefield Seems like the versions you installed are incompatible. Could you try this out?

[code]

[2021-08-31 05:38] david-littlefield commented on #3080
Thanks, @kaushikb11. I tried your suggestion and the script runs but nothing prints to the console. Also, will this version of Torch XLA include the recent `sgn` implementation that was added?

[2021-08-31 05:42] JackCaoG commented on #3103
My guess is that you are hitting those pt/xla common issues. For more info, you can read [this doc](https://github.com/pytorch/xla/blob/master/TROUBLESHOOTING.md). If all you want is resnet50 with amp, you can use our [code](https://github.com/pytorch/xla/blob/master/test/test_train_mp_imagenet.py) with `python test_train_mp_imagenet.py --fake_data --batch_size 128 --amp`. We have observed ~50% sp

[2021-08-31 07:19] kaushikb11 commented on #3080
@david-littlefield I don't think so. Could you follow the instructions the XLA folks mentioned to install XLA master & *then* install PytorchLightning?

[2021-08-31 07:37] miladm commented on #3080
`torch_xla-1.8` does not. `sgn` was recently pushed to master and will be part of an upcoming release (most likely 1.10
 - @JackCaoG can confirm). `sgn` is available via the nightly releases for the time being.

[2021-08-31 19:28] seemethere opened #3107 "xla/test/test_mp_rendezvous.py failing for GHA on `pytorch/pytorch`"
## 🐛 Bug

During the migration of xla jobs to Github Actions on `pytorch/pytorch` I encountered the following error (PR to migrate workflow: https://github.com/pytorch/pytorch/pull/64320)

Is there a way to debug this issue further?

Link to logs: https://github.com/pytorch/pytorch/runs/3476325065?check_suite_focus=true

<details>
<summary> Logs </summary>

[code]

</details>

## To Reproduce

Ste

[2021-08-31 19:57] JackCaoG commented on #3107
@seemethere I am suspecting this is just a a flaky test, maybe server goes down for some reason and other process can not finish the rendezvous. Can you rerun that CI and check if test will fail again?

[2021-08-31 20:35] seemethere commented on #3107
Yup! I'll re-run this workflow to see if that resolves the issue

[2021-08-31 21:35] seemethere commented on #3107
Looks like failure persists even after a re-run, are there any other debugging steps I can take for this?

[2021-09-01 00:01] JackCaoG commented on #3107
Is there an easy way for me to repo this on my end? Easiest way would be commented out [this line](https://github.com/pytorch/xla/blob/master/.circleci/common.sh#L98) and manually add `python3 "test/test_mp_rendezvous.py"`   to get a fast failure. You can also turn on debugging logging by env var
[code]
This should tell us what is going on.

[2021-09-01 00:28] david-littlefield commented on #3080
@kaushikb11 I think I've done that but I receive the [error](https://github.com/pytorch/xla/issues/3080#issuecomment-908868051) from earlier. I just tried it again and got the same error but maybe I'm doing something incorrectly.

@miladm Do I need to build Torch XLA from source to use nightly? I don't know where to go from here.

Also, is PyTorch XLA nightly compatible with PyTorch Lightning?

[c

[2021-09-01 08:40] soumochatterjee opened #3108 "unable to resolve the error : Input tensor is not an XLA tensor: torch.FloatTensor"
## ❓ Questions and Help
Need Help in resolving this bug :

Notebook : https://www.kaggle.com/soumochatterjee/g2netpytorch?scriptVersionId=73704807

[2021-09-01 17:36] JackCaoG commented on #3108
Looking at the stack trace
[code]

It seems like at least one of the three `at::Tensor` passed to convolution is not a `XLA Tensor`. This usually menas they are a cpu tensor. One easy way to debug this is to print all three tensors before calling `conv` and this should give you a better idea of what is going on.

[2021-09-02 00:53] JackCaoG commented on #3102
Can you check the `transferToServer` counter(it should also have sizes) before and after the `F.adamw`? There can be at most 1 execution happens in the same time(due to the device lock) but it is possible that `F.adamw` created a lot host->device upload which also consumes device memory. The transferToServer is in [here](https://github.com/pytorch/xla/blob/master/third_party/xla_client/xrt_computa

[2021-09-02 23:30] stephenneuendorffer commented on #2854
@byronyi I'm curious if you've made any further progress on this?

[2021-09-03 00:09] ymwangg commented on #3102
@JackCaoG Thanks a lot, this is very helpful. After adding a counter in [TensorToXlaData](https://github.com/pytorch/xla/blob/master/torch_xla/csrc/tensor_util.h#L32), I found `F.adamw` triggered `TensorToXlaData` 2 times while SGD does not trigger it at all after the first iteration. Furthermore, these two `TensorToXlaData` func calls are due to these two [variables](https://github.com/pytorch/py

[2021-09-03 01:06] JackCaoG commented on #3102
[code]

I think this part is expected. The IR value for two variable would just be `xla::device_data()`. The difference is that when the value of this device data changed, we need to reupload them. I think we have a cache for `device_data`, when you set those values to constant, it is likely you hit a `device_data` cache so no need to reupload.

For you second question, we actually just upload a s

[2021-09-03 01:30] byronyi commented on #2854
We have a prototype that utilizes PyTorch "meta" tensors for shape inference, and then capture the PyTorch ATen kernel execution sequence into MLIR graph of generic torch.kernel_call ops. It features an API that is compatible to Torch-XLA while much more ops are supported compared to the prototype you did last year (w/ meta tensors).

We have not started work on converter from ATen to MHLO, as the

[2021-09-03 01:48] stellaraccident commented on #2854
PyTorch is either being bold/right or is entering the oscillation phase that Tensorflow went into years ago, producing a bunch of partially complete, incompatible interface points. Time will tell, I guess. They seem pretty responsive to the community, so I'm hopeful that feedback over time will refine the path as it evolves.

One thing I've not seen spelled out yet: they are definitely not high on

[2021-09-03 02:47] #3017 closed

[2021-09-03 03:33] #3062 closed

[2021-09-03 05:12] lvjiujin opened #3113 "The TPU system has not been initialized"
## ❓ Questions and Help
When I use pytorch on google colab with the tpu, it occur the following error:
`Truncation was not explicitly activated but `max_length` is provided a specific value, please use `truncation=True` to explicitly truncate examples to max length. Defaulting to 'longest_first' truncation strategy. If you encode pairs of sequences (GLUE-style) with the tokenizer you can select th

[2021-09-03 05:13] pradeepkr12 opened #3114 "How to aggregate the results running on multiple tpu cores"
## ❓ Questions and Help
Hi, How can we aggregate the results or say combine all the predictions and use it further.

I understand this could be a issue addressed earlier, if yes please share some links related to this
[code]

[2021-09-03 20:11] miladm commented on #3114
You call one of PT/XLA's multi-core communication APIs, like `xm.all_reduce`.
Here are a few references to help you further: `[torch_xla.core.xla_model.all_reduce](https://pytorch.org/xla/release/1.9/index.html#torch_xla.core.xla_model.all_reduce)` and `[imagenet example](https://github.com/pytorch/xla/blob/master/test/test_train_mp_imagenet.py#L223)`

[2021-09-03 20:26] miladm commented on #3080
Yes, since `sgn` is currently available in the `master` branch only, you will need to build PT/XLA from source using nightly.

[2021-09-03 20:38] miladm commented on #3113
Can you please provide a reference to the code block / colab link that throws this error?

[2021-09-03 21:19] stephenneuendorffer commented on #2854
Thanks for this.  I think there are 2 separate questions here...
First: What are the basic abstractions that we can use for device dispatch?  Ideally these abstractions wouldn't change too much and would support operations that we know are important for todays devices (like operator fusing in a graph).
Second: What is necessary with current and future devices to get the highest level of performanc

[2021-09-03 21:40] miladm opened #3115 "NanToNum fails on TPU tests"
This failure occurs for `NanToNum`, `NanToNumInplace` and `NanToNumOut`.

[code]

[2021-09-03 22:58] miladm commented on #3115
My investigation suggests `std::numeric_limits<double>::infinity()` is always `double`. This is inconsistent with `scalar_type`  in the test loop.

[2021-09-04 01:52] david-littlefield commented on #3080
Cool, I'll give that a try. Thanks, @miladm!

[2021-09-04 08:21] #3114 closed

[2021-09-05 20:41] david-littlefield commented on #3080
@miladm @kaushikb11  I'm still getting the same error. Any suggestions?

[2021-09-07 21:36] miladm commented on #3115
Turns out the problem is caused by the [`nan_to_num`](https://github.com/pytorch/xla/blob/01e772a405450b8bf859ac14a8e2746ac8c8e9f7/test/cpp/test_aten_xla_tensor.cpp#L10729) implementation when the `scalar_type` is of  the `torch::kDouble` format.

[2021-09-10 21:49] ymwangg opened #3120 "[RFC] Introducing the zero gradients optimization for AMP"
## Introduction
Based on our discussions in #3043, we propose a solution (PR: #3119) to remove the extra host-device sync for NaN checking in GradScaler. We saw ~20% speedup in the `test_train_mp_imagenet.py` example and some improvements in other models with this optimization. However, this method may be controversial as it changes the training algorithm. So, we'd like to get some feedbacks from

[2021-09-10 22:38] JackCaoG commented on #3120
fyi @yaochengji

[2021-09-10 22:54] SilverOnemi opened #3121 "torch_xla import error in getting started Colab"
## 🐛 Bug

Dear Pytorch team,

I'm attempting to run the [Getting Started With Pytorch on Cloud TPUs notebook](https://colab.research.google.com/github/pytorch/xla/blob/master/contrib/colab/getting-started.ipynb).

Unfortunately,  i get the following error while importing torch_xla:

[code]

In addition, i have tried nightly using cell 3 in the colab, however i got the following error:

[code]

I m

[2021-09-11 01:07] rinabuoy commented on #3121
Just ran into the same issue.

[2021-09-11 01:18] rinabuoy commented on #3121
Please try this:

!pip uninstall -y torch
!pip install torch==1.8.2+cpu -f https://download.pytorch.org/whl/lts/1.8/torch_lts.html
!pip install -q cloud-tpu-client==0.10 https://storage.googleapis.com/tpu-pytorch/wheels/torch_xla-1.8-cp37-cp37m-linux_x86_64.whl
import torch_xla

It worked for me.

Source: https://github.com/googlecolab/colabtools/issues/2237

[2021-09-11 02:10] zinccat commented on #3121
It works, thanks.

[2021-09-11 11:28] sadimanna opened #3122 "ProcessExitedException: process 0 terminated with signal SIGABRT"
I am trying to train a model on Google Colab TPUs. I installed pytorch-1.8.2(cpu) and pytorch_xla-1.8

When I run the demo notebook "PyTorch on Cloud TPUs: MultiCore Training AlexNet on Fashion MNIST", I am getting no error in the training process. But I am getting the following error when I run my code.

[code]

I only instantiate my model once using `xmp.MpModelWrapper` and within the `_map_fn`,

[2021-09-11 12:38] SilverOnemi commented on #3121
It works on my side as well. Thank you for the suggestion @rinabuoy .

Hopefully we will be able to get support for pytorch 1.9.0

[2021-09-11 17:20] sadimanna commented on #3024
ANY SOLUTION FOR THIS ISSUE? I am repeatedly getting this issue on every run.

I installed torch-1.8.2 without cuda and torch-xla 1.8 on Google Colab

[2021-09-11 17:47] sadimanna commented on #3024
Hi @JackCaoG ,
In my case, the code does not always fail at the same spot. The process where I get the ProcessExitedException varies between different runs!!

[2021-09-12 01:29] tgisaturday opened #3123 "Previously working code fails on Cloud TPU with signal SIGABRT"
## 🐛 Bug

The source codes which were working fine now throws SIGBART errors.

Thess codes didn't cause any problem two week ago but now throws this error.
## To Reproduce

Here's the source codes and example run command:

https://github.com/tgisaturday/dalle-lightning
python train_vae.py --use_tpus --fake_data

https://github.com/tgisaturday/minGPT

python3 minGPT/benchmark.py --n_layer 14 --n_he

[2021-09-12 17:45] david-littlefield commented on #3080
@miladm @kaushikb11 @JackCaoG It doesn't seem like PyTorch Lightning is compatible with PyTorch XLA nightly. Maybe the `sgn` implementation would work with PyTorch Lightning once it's included in the official release of PyTorch XLA. But 3+ weeks waiting period for each lowered operation makes it impractical for me to invest the time needed to learn how to lower operations.

[2021-09-12 17:45] #3080 closed

[2021-09-12 19:54] mcarilli commented on #3120
@cbcase and I figured out a recipe for syncfree dynamic gradient scaling over a year ago that works with eager execution, but it requires a custom optimizer with modified CUDA kernels.
The optimizer's CUDA kernels must take an additional `has_nan` parameter that's a pointer to the one-element found_inf _device_ tensor, then the beginning of each optimizer kernel checks this value _on the device_ a

[2021-09-13 01:12] byronyi commented on #3120
The pseudo code should be changed to

[code]

And then the XLA could (not necessarily though) fuse these operations into a custom CUDA kernel, similar to `syncfree_optimizer_kernel`.

[2021-09-13 01:34] mcarilli commented on #3120
ohh gotcha, that'll work. But, as @ymwangg says, it's still true that for some optimizers (e.g. optimizers with momentum)
[code]
is not numerically equivalent to skipping `optimizer.step()`.

[2021-09-13 05:47] JackCaoG commented on #3123
Hi @tgisaturday, thanks for reporting! I want to ask some clarification question
When you mentioned this code previous worked, what's the
1. PyTorch version
2. PyTorch/XLA version
3. PyTorch Lighting version
4. TPUVM image version(I am guessing you are using TPUVM and the image version should be v2-alpha)?

I want to understand a bit more about what has changed between your previous run and your c

[2021-09-13 06:12] tgisaturday commented on #3123
1. Pytorch version: 1.8.1
2. Pytorch/XLA : 1.8.1
3. Pytorch Lightning: 1.4.0 maybe..? The actual one I was using is forked one here. https://github.com/tgisaturday/pytorch-lightning
4. TPU VM: v2-alpha

and train_mp_imagenet.py was working.

I've also created new TPU VMs but wasn't working either. To be more specific, the imagenet test code is working now, but none of my previously working codes.

[2021-09-13 16:12] sadimanna commented on #3122
Also receiving "ProcessExitedException: process 0 terminated with exit code 17"

[code]

[2021-09-13 16:36] sadimanna commented on #3122
Another such exception is occurring when using `loss.cpu().item()`

[code]

[2021-09-13 16:42] JackCaoG commented on #3122
Thanks for reporting.
[code]
is just a symptom and it usually means remote server crashed. I will try to repo your code, by running `MultiCore Training AlexNet on Fashion MNIST` myself.

[2021-09-13 16:43] sadimanna opened #3124 "ProcessExitedException: process 6 terminated with exit code 17"
I am trying to implement "Barlow Twins" using PyTorch and trying to run it on Google Colab TPUs

I am receiving Exceptions as mentioned in the title.

The first one I received when I was using `total_loss += loss.cpu().item()`

[code]

The other exception I obtained when I removed the previous line as I thought it was causing the exception. But then I received the exception again.

[code]

I can't

[2021-09-13 16:45] tiena2cva opened #3125 "XLA spend too much time for compile graph"
## ❓ Questions and Help

I want to fine tune wav2vec model on colab TPU and use [huggingface library](https://github.com/huggingface/transformers/tree/master/src/transformers/models/wav2vec2), which [support XLA](https://huggingface.co/blog/pytorch-xla)

But when I use TPU, training time got x100 slower than GPU. I have read [TROUBLESHOOTING doc](https://github.com/pytorch/xla/blob/master/TROUBLES

[2021-09-13 16:53] JackCaoG commented on #3125
It is a known problem, ctc_loss is not lowered for pt/xla which will always fallback to CPU and caused a great slow down.  You can check https://github.com/pytorch/xla/issues/2681#issuecomment-894468034 for a bit more detail. We are still a bit tight on the resource side and don't have timeline for this lowering yet.

[2021-09-13 16:59] tiena2cva commented on #3125
Thank you so much. I am back to GPU now :((

[2021-09-13 16:59] #3125 closed

[2021-09-13 17:10] sadimanna commented on #3122
@JackCaoG , I am generally not getting any error when running `MultiCore Training AlexNet on Fashion MNIST` as I have mentioned. I am getting the error when I am running my code with custom loss functions and custom DataSet modules.

However, I would like to know if this is caused by memory allocation issue? Like, if the model is large or the batch size is too big?

[2021-09-13 19:20] sadimanna commented on #3122
@JackCaoG

I have compiled my code in this Google Colab notebook!
I am pasting the link here. I hope it will help getting some more info about the issue!!

https://colab.research.google.com/drive/1Z58w4DhNgxLVITRz2A-j-OoasZGXjE-e?usp=sharing

[2021-09-13 20:57] JackCaoG commented on #3122
Thanks, I will try to repo it in next few days

[2021-09-13 23:45] juneoh commented on #3123
This may be something changed on the PyTorch Lightning side, especially since `test_train_mp_imagenet.py` is working and none of our related tests are breaking. Can you try:

1. [Disabling tcmalloc](https://cloud.google.com/tpu/docs/pytorch-xla-ug-tpu-vm#basic_setup) via `unset LD_PRELOAD`; or,
2. Reverting to a version of PyTorch Lightning that was previously working for you?

[2021-09-14 00:03] tgisaturday commented on #3123
@juneoh
 1. unset LD_PRELOAD causes errors.
 2. I've been already using my custom PyTorch Lightning Forked repo but same version isn't working now.
 @kaushikb11, Regrading Lightning, was there any major changes that might effect TPU side?

Here's the error I get when I disable tcmalloc:

free(): invalid pointer
https://symbolize.stripped_domain/r/?trace=7f48bd4c418b,7f48bd4c420f,7f48bd51647b,7f461

[2021-09-14 02:10] JackCaoG commented on #3123
@juneoh Can you try to repo this failure? This seems like a memory leak but it only happens when using through lighting. The only good news is that this crash seems deterministic. One thing you try is to switch to 1.9 and see if it makes any difference, we have instruction in [here](https://cloud.google.com/tpu/docs/pytorch-xla-ug-tpu-vm).

`_GLOBAL__sub_I_xla_cpu_device.cc` seems suspicious since

[2021-09-14 02:20] byronyi commented on #3120
Back quoting @mcarilli's comment in https://github.com/pytorch/pytorch/issues/61880#issuecomment-917300300

I am wondering if we could unify the Python API in here for both CUDA graph and torch-xla (or Lazy Tensor in core), so the users could supply additional hint on which part of the graph-capture are intended for reuse, e.g. wrap `model.forward()` or `optimizer.step()` in torch.fx. This hint co

[2021-09-14 03:15] ZhongYFeng opened #3126 "RuntimeError: tensorflow/compiler/xla/xla_client/mesh_service.cc:370 : Failed to meet rendezvous 'test_accuracy': Trying to connect an http1.x server (14)"
## ❓ Questions and Help
When I run /pytorch/torch-xla/test/test_train_mp_mnist.py, I get an exception. What is the cause of this problem?
python test_train_mp_mnist.py --num_cores=3
| Training Device=xla:0/0 Step=0 Loss=2.39107 Rate=27.37 GlobalRate=27.37 Time=11:05:33
| Training Device=xla:0/1 Step=0 Loss=2.39420 Rate=28.01 GlobalRate=28.01 Time=11:05:33
| Training Device=xla:0/2 Step=0 Loss=2.42

[2021-09-14 03:24] halfbottles opened #3127 "xla even can't impport"
## ❓ Questions and Help
With colab,xla even can't impport.
Checking the version of torch&xla,the version of xla has auto upgraded to 1.9.1 while torch is still in 1.9.1.

here is some code I use:
[code]
Collecting torch-xla==1.9
  Using cached https://storage.googleapis.com/tpu-pytorch/wheels/torch_xla-1.9-cp37-cp37m-linux_x86_64.whl (144.5 MB)
Requirement already satisfied: cloud-tpu-client==0.10

[2021-09-14 04:13] JackCaoG commented on #3127
Looking... This seems like a mistake, there is no pytorch/xla 1.9.1.

[2021-09-14 04:37] JackCaoG commented on #3121
Something is wrong with our 1.9 wheel, we are working on the it. Please use 1.8 as @rinabuoy suggested for now

[2021-09-14 04:44] JackCaoG commented on #3123
Something is wrong with our 1.9 wheel, I am working on a fix. Please don't try 1.9 for now.

[2021-09-14 04:52] JackCaoG commented on #3127
Please us 1.8 as https://github.com/pytorch/xla/issues/3121#issuecomment-917312179 suggested to unblock yourself for now.

[2021-09-14 05:52] kaushikb11 commented on #3123
Thanks @JackCaoG for the update!

[2021-09-14 06:42] juneoh commented on #3123
Trying to repro. tgisaturday/dalle-lightning seems to upgrade torch to the latest version, so I've tried tgisaturday/minGPT instead.

Its dependency on tgisaturday/lightning-pytorch's latest commit had some issues, so trying the previous commit `f1eed87` from yesterday instead. Also, I'm using the  below command:

[code]

Got the reported message:

[code]

But if I rewind tgisaturday/pytorch-light

[2021-09-14 06:43] juneoh commented on #3123
Also — the 1.9 issue seems unrelated, as I've reproduced this on 1.8.1.

[2021-09-14 06:49] tgisaturday commented on #3123
I've also tried official lightning stable release with minGPT and caused same error.

[2021-09-14 07:10] juneoh commented on #3123
Which version did you try? I've just tried installing `pytorch-lightning==1.4.6` asw ell, latest on PyPI, and it was able to train with your latest tgisaturday/minGPT:

[code]

[2021-09-14 07:12] juneoh commented on #3123
If `pytorch-lightning==1.4.6` and `tgisaturday/pytorch-lightning@325b67f` are both not working for you, can you try to create a new TPU VM instance and try afresh, for an off chance that the local environment's dependencies may have been corrupted?

[2021-09-14 07:58] tgisaturday commented on #3123
Here is current status in my attempts:
1. Using minGPT with lightning 1.4.6 is OK. (installing requirements in minGPT)
2. Using dalle-lightning with 1.4.6 is not working. (installing requirements in dalle)
3. Using minGPT with lightning 1.4.6 and more is not working. (installing requirements in dalle)
 @kaushikb11  is there any torch-xla dependency change between lightning 1.4.6 and newest? @JackC

[2021-09-14 14:17] juneoh commented on #3123
Nice find! It looks like something inside HuggingFace Transformers is the culprit here. Forcing `transformers==4.8.2` after dalle-pytorch installation works, but nothing higher than 4.8.2.

Digging in deeper, it looks like things broke around 2aa3cd (huggingface/transformers#11786), with a fix from huggingface/transformers#12591 required to run.

Tracing down the import path, the culprit is import

[2021-09-14 14:26] tgisaturday commented on #3123
@juneoh Thank you for all your dedication to this issue. Glad that simple workaround can temporarily solve this issue.

[2021-09-14 15:57] JackCaoG commented on #3127
This should be fixed now, can you retry?

[2021-09-14 15:57] JackCaoG commented on #3121
This should be fixed now, if you try to run the colab again 1.9 wheel should be installed correctly.

[2021-09-14 16:00] JackCaoG commented on #3123
hmm, I have seen this `importing tf and torch_xla` issue on huggingface before, @ultrons do you remembered how we get around it last time? Did we ask huggingface to switch the import order or do a conditional import?

[2021-09-14 20:42] SilverOnemi commented on #3121
Hello @JackCaoG , I managed to run a few hello world colabs plus one of my own, all seems to be working correctly. Thank you for the prompt response.

[2021-09-14 20:49] JackCaoG commented on #3121
I will close this issue for now, feel free to reopen if you see it happen again 😄 .

[2021-09-14 20:49] #3121 closed

[2021-09-14 23:09] ymwangg commented on #3120
@byronyi @mcarilli Thanks for bringing up the idea of `sync_free_optimizer`. We think another good alternative is to implement the `sync_free_optimizer` using XLA builder inside PT_XLA and it does not change the training algorithm.

[2021-09-14 23:28] JackCaoG commented on #3126
HI, you shouldn't use `--num_cores=3`, for a v3-8 and v2-8, we only support running with 1 core or 8 cores. Can your use the updated config and retry?

[2021-09-15 05:42] ultrons commented on #3123
@JackCaoG , sorry for the slow response on this.
I think my problem was solved by setting:
export USE_TORCH=ON

[2021-09-15 05:43] ultrons commented on #3123
More details in ./src/transformers/file_utils.py

[2021-09-15 06:59] halfbottles commented on #3127
i just try it.it is fixed.thx

[2021-09-15 07:00] #3127 closed

[2021-09-15 23:19] JackCaoG commented on #3120
@ymwangg I think using [`conditional`](https://github.com/pytorch/xla/blob/08ae1044c2a7e314895f9946104cbe399e096515/torch_xla/core/xla_builder.py#L526) in the op builder would be a way to go. However I think we are lacking an easy way to convert a python function(optimzier) into a `XlaComputation` which is the input to the `conditional`. I image you can also handcraft `XLAComputation` in this case

[2021-09-16 14:18] ezyang commented on #3120
Everything discussed here seems reasonable. This being eager mode we'll probably need a custom kernel for it, but it definitely seems worth doing.

[2021-09-16 23:35] miladm commented on #3122
Thanks for filing this issue! I will look into this in a next few days.

[2021-09-17 01:25] wconstab commented on #3120
Yes, we have not designed this yet for lazy tensor core, but we are thinking about having some explicit API to avoid retracing in known-static regions.  I hadn't thought about aligning the API with the cuda-graph one, but maybe that could work.

[2021-09-17 19:30] #3115 closed

[2021-09-18 19:17] sadimanna commented on #3122
@miladm Please check this code! This is my code on Google Colab where I was getting the error! This may help !

[2021-09-19 07:10] kakashiUc opened #3129 "Need of firewall rule for ssh/tcp:22 in GCP"
## ❓ Questions and Help
I am trying to run a tpu pod training on gcp, following https://cloud.google.com/tpu/docs/tutorials/pytorch-pod.
I keep getting ssh related errors, such as

[code]
and
[code]
Also, it sometime shows errors related to rendezous, such as
[code]
The gcp account has a policy setup which prevent setting up a firewall rule for tcp:22 or ssh connections. I'm suspecting these all e

[2021-09-20 17:15] JackCaoG commented on #3129
Hi @kakashiUc, based on the tutorial, I am guessing you are using TPU Node where you will create a TPU Node and a correspodning instance-group with (# core / 8) VMs.

Did you see these ssh error message once start training or when you tried to ssh to the instance group?

Also, we know also have TPUVM is public preview stage where you can directly ssh to TPU so you don't need to create an instance

[2021-09-20 21:23] JackCaoG opened #3132 "Support running PyTorch/XLA on docker on TPUVM"
## 🚀 Feature

## Motivation

This is to support running github CI on TPUVM

@sgugger @miaoshasha

[2021-09-20 21:23] JackCaoG commented on #3132
@miaoshasha has tried running
[code]

[2021-09-20 21:25] JackCaoG commented on #3132
I suspect this is a related to `libtpu.so` is not visable from the docker, therefore I manually copy the library over with
[code]

and I verified that libtpu is presented within the docker
[code]

However I still get
[code]

[2021-09-20 21:28] JackCaoG commented on #3132
One thing I noticed is that from the host, I can see the TPU chip under `/dev`
[code]

but these are not visible from the docker
[code]

For GPU, we need to pass `--gpus all` when launching docker. Checking with infra folks regarding the device not found issue.

[2021-09-20 22:48] JackCaoG commented on #3132
It turned out that we need to pass `--privileged` to make `/dev` accesiable and use `-v "/lib/libtpu.so:/lib/libtpu.so"` to pass libtpu through. The whole process looks like
[code]

Couple notes here
1. Pytorch/XLA publish docker image for tpuvm everyday, maybe it is easier to just use this docker image. If you want to use your own image, please build with `TPUVM_MODE=1`.
2. `libtpu.so`  on `v2-al

[2021-09-20 23:33] JackCaoG opened #3134 "[LAZY_TENSOR]Remove upcasting on U16 and S16"
## 🚀 Feature
PyTorch/XLA currently upcast U16 to U32 and S16 to S32 on TPU because 16 bits type was not supported on XLA:TPU. This restriction is no longer true and PyTorch/XLA should remove these casts.

## Motivation

As part of the Lazy Tensor refactoring, we want to make IR to also carry a logical type inferred from PyTorch meta tensor. However this logical type can diverge from the true under

[2021-09-21 02:47] kakashiUc commented on #3129
Actually both. This error is observed when I tried to ssh into any of the group VMs. So I can set a temporary ssh firewall rule or can ssh into VM through browser option.  And during training too.

But this question is related to occurrence this error during training.

Yeah, I can try that. One question, there's some limit on TPUs size on TPUVM? I mean if I use v3s then is there a limit on * for v

[2021-09-21 15:32] quantitative-technologies opened #3136 "notebook_launcher fails in colab"
## 🐛 Bug

`xla` is failing with the error

[code]
in a call to `spawn` from huggingface's `notebook_launcher`. This problem only occurs when running colab in the High-RAM TPU runtime type.

This bug was originally posted to the `huggingface/accelerate` repo [here](https://github.com/huggingface/accelerate/issues/166#issue-999025926) but it was felt that the issue was being caused by a timeout duri

[2021-09-21 16:09] hjm-aws opened #3138 "[RFC] Exposing additional XLA collective communication primitives."
## 🚀 Feature
Add the ability to translate the following Collective Communication ops to native
 XLA instructions:
 * `all_gather`
 * `reduce_scatter`
 * `collective_permute`
 * `send`
 * `recv`

At the moment `all_gather` is implemented with `all_reduce` in PyTorch/XLA. The other 4
operators are not yet implemented. We are proposing to change the current `all_gather`
implementation to generate nat

[2021-09-21 16:29] jysohn23 commented on #3136
Hi, I'm not able to reproduce your issue using [this colab notebook](https://colab.research.google.com/github/huggingface/notebooks/blob/9664c8b62e38083952b849da8912af13a35312b0/examples/accelerate/simple_nlp_example.ipynb). Is this the right notebook?

![Screen Shot 2021-09-21 at 12 27 52 PM](https://user-images.githubusercontent.com/19496130/134210004-8ff844bb-5ae8-4d22-82f8-955315df5abb.png)

[2021-09-21 16:52] jysohn23 commented on #3138
FYI, we had added support for `ReduceScatter` collective (https://github.com/pytorch/xla/pull/3075) but had to roll back due to new TF version breaking our internal builds. We should be rolling forward soon.

[2021-09-21 16:54] jysohn23 commented on #3138
Also, we do expose the `CollectivePermute` collective: https://github.com/pytorch/xla/blob/master/torch_xla/csrc/ops/collective_permute.cpp

[2021-09-21 16:56] quantitative-technologies commented on #3136
Yes, it's the right one. Did you change the runtype to High-RAM (TPU) before running it?

[2021-09-21 18:05] sgugger commented on #3132
Thanks for all the info (cc @LysandreJik)

[2021-09-21 18:19] jysohn23 commented on #3136
Yeah

[2021-09-21 23:37] JackCaoG commented on #3129
I only encountered similar behavior for some google internal project where it will constantly delete firewall rules. I have to keep adding `defualt-allow-ssh` while launching training. I don't think this is a global setting for all gcp projects through.

[2021-09-22 08:00] miladm commented on #3122
@sadimanna thanks for the link. I am looking into reproducing it.

[2021-09-22 16:20] kakashiUc commented on #3129
Was your training duration low(<10 mins) or it was of considerable amount of time? What was the duration after which the rule was getting deleted? - I want to understand whether you had to add the rule only at start of training or during the whole period of training.

[2021-09-22 16:47] JackCaoG commented on #3129
Training takes hours. The rule is deleted after ~ 1 minutes. I only need to manually add the rule once at the start of the training to make sure ssh connection establish among instance groups, ssh connection won't be kill when the firewall rule is deleted in my case. @jysohn23 Do you have more insight of this firewall issue?

[2021-09-22 17:27] JackCaoG opened #3141 "[PT_BREAK] nll_backward for negative weights"
Corresponding pytorch pr https://github.com/pytorch/pytorch/pull/64572

[code]

[2021-09-23 04:12] miladm commented on #3122
@sadimanna

+ I was able to internally run your code and see the underlying error. So far, it seems this issue is related to exceeding the memory space - WIP.

+ Can you please point me to the lines of code (loss functions, DataSet modules) you customized? Also do you make any changes to the input data? I assume not.

+ I spent some time adjusting your model parameters, and noticed when reducing `

[2021-09-23 14:17] sadimanna commented on #3122
@miladm

* The loss functions have been coded as per this https://github.com/facebookresearch/barlowtwins, official PyTorch implementation of the algorithm.

* I made the CIFAR10DataModule in the given notebook to download the data and return a dataloader which gives a batch of size B.

* I did not make any changes to the input data. I just download the data and stored it in an array.

* I will ru

[2021-09-23 19:32] hjm-aws commented on #3138
Thank you Daniel for your comment.

Regarding `ReduceScatter`, yes we noticed that it was only recently added to the XLA side in the last 2 - 3 months. It's great to hear that you already have an existing commit that you can roll forward. Let's ignore `ReduceScatter` in this RFC.

Regarding `CollectivePermute`, yes that's a mistake on my part to include it in the RFC. Let's ignore it.

Regarding t

[2021-09-23 20:02] JackCaoG commented on #3138
@sanjoy for CPU IR emitter question.

[2021-09-23 20:36] sanjoy commented on #3138
@d0k for XLA CPU.

[2021-09-24 03:22] kakashiUc commented on #3129
Let me try the TPU VM and invoking ssh rule at the beginning.

[2021-09-24 09:44] d0k commented on #3138
Collective ops on CPU are primarily being used to test XLA without accelerators present. Adding support for more collective primitives to XLA:CPU would be nice, but it is optional when your main target is an accelerator and not a requirement for this RFC.

[2021-09-25 01:56] hjm-aws commented on #3138
Thank you Benjamin for your clarification!

[2021-09-30 00:10] JackCaoG commented on #3141
forward should be fixed now, backward has some issue. Checking with pytorch folks in https://github.com/pytorch/pytorch/pull/64572#issuecomment-930624567

[2021-09-30 06:02] JackCaoG commented on #3105
This turn out to be more complicated than I thought. I want to reuse the pytorch/xla type promotion logic instead of force a casting at aten level, but somehow it does not work.

[2021-10-02 01:46] #3068 closed

[2021-10-02 01:46] #3041 closed

[2021-10-02 01:46] #2918 closed

[2021-10-02 01:46] #3001 closed

[2021-10-02 01:46] #3052 closed

[2021-10-02 05:35] #3141 closed

[2021-10-04 23:02] JackCaoG opened #3152 "[PT_BREAK] AtenXlaTensorTest.TestMatmul_1x2 failed"
## 🐛 Bug

With https://github.com/pytorch/pytorch/pull/64387, TestMatmul_1x2 failed. My guess is that test was checking `mm` but with the optimization a different op is being called when `torch::matmul` is being called.

[2021-10-05 00:03] Arka161 opened #3153 "Training a model using Torch XLA without TPU Pods/Pod Slices"
## ❓ Questions and Help
Hello,

For a student project, we were trying to train a model using PyTorch (PyTorch XLA) across multiple TPUs provided by [TPU Research Cloud](https://sites.research.google/trc/about/). The TPUs that we have access to are mentioned in the image below.

![image](https://user-images.githubusercontent.com/20723780/135940083-180bddea-9590-4279-917d-893b256597a8.png)

Basicall

[2021-10-05 02:39] JackCaoG commented on #3153
Hi @Arka161, you would not be able to use the `xla_dist` script we usually used for for pt/xla pod training. As of sea of devices mode, I think there are some works to be done on the python API to make it fully functional(pr in [here](https://github.com/pytorch/xla/pull/2314/files)). This feature has been in pause due to original author left and the lack of user request. We also never tried `sea o

[2021-10-07 21:42] hadaev8 opened #3156 "Whats expected speed difference between tpu v2 and p100?"
## ❓ Questions and Help

From my experiments on colab tpu ~x2 faster.

From google it seems tpu v2 have 180 tflops, while tesla p100 have 10 tflops.

So it should be 18 times faster?

Another observation, then printing devices, I'm getting this, like only 2 cores works.

[code]

[2021-10-08 05:56] kat25230 opened #3157 "Monitoring TPU-VM"
## ❓ Questions and Help
Hi Pytorch XLA team,

I'm training a pytorch model on a TPU-VM based on this [tutorial](https://cloud.google.com/tpu/docs/pytorch-quickstart-tpu-vm#tpu-vm_2).
I would like to monitor the performance of the TPU MXU, but when looking at the code base I only found trace functions see [here](https://github.com/pytorch/xla/blob/master/torch_xla/debug/profiler.py).

I was wonderi

[2021-10-11 22:21] seemethere opened #3159 "Update CI image to not be reliant on pytorch/pytorch"
Follow up to https://github.com/pytorch/xla/pull/3158

PyTorch CI is constantly changing and downstream projects should not rely on specific images as a side effect of PyTorch's CI since the upstream CI can change at any moment.

`pytorch/xla` should ideally build its own CI images so that changes to upstream CI should not disrupt CI within this repository

[2021-10-11 23:17] jysohn23 commented on #3157
Yeah we don't currently have that, but it should be pretty easy to add that API to PyTorch/XLA since we use the same underlying instrumentation.

Similar to this
https://github.com/pytorch/xla/blob/457270c2466b47ee15248f7dbac54915d26beca2/torch_xla/csrc/init_python_bindings.cpp#L676

You can add a binding that calls `monitor` instead: https://github.com/tensorflow/tensorflow/blob/ef594f97fb97bbaf2

[2021-10-12 19:15] codeislife99 opened #3161 "XLA Multi-Node Multi-GPU Training"
Hi,
    I wanted to know if there is a test example or test script which can successfully run Multi-Node Multi-GPU training for XLA. I tried the current multiprocessing scripts for mnist and they only seem to work for Single Node Multi-GPU. Is that expected behaviour ?

[2021-10-12 21:06] #3161 closed

[2021-10-12 21:19] codeislife99 opened #3162 "XLA Multi-Node Multi GPU training"
## 🐛 Bug

Running XLA MultiGPU MultiNode configuration fails with XRT OOM for all models / configurations (including MNIST)

## To Reproduce

Steps to reproduce the behavior:

1. Use latest `test_train_mp_mnist.py` script in `test` folder
2. Use multi-node multi-GPU training on any V100 instance

[code]
## Environment

 - V100 GPU with CUDA 11
 - Torch version 1.9

## Additional context
The BFC Al

[2021-10-12 23:31] yaochengji commented on #3162
Hi @codeislife99, I didn't use `xmp.spawn` directly. What I did was setup the torch/xla environment variables mannualy, such as `MP_DEVICE` and `LOCAL_WORKER`, and call python's multi-process launch function.

For your problem, I guess it is because each process actually ran on the same GPU. To confirm, you could `export TF_FORCE_GPU_ALLOW_GROWTH=1` and try the mnist example again.

[2021-10-13 02:57] codeislife99 commented on #3162
Yeah, using that environment variable the mnist example ran successfully. So this means that all the processes were on the same GPU and weren't actually using multiple GPUs.  It's interesting because when I use the same script w/o the env variable to run single-node multi-GPU it successfully uses multiple GPUs( I verified this with GPU memory usage) and works without problems, only when I go to mu

[2021-10-13 17:10] MathieuTuli opened #3163 "TPU fails to connect"
## 🐛 Bug

Unable to run ImageNet example [test/test_train_mp_imagenet.py](test/test_train_mp_imagenet.py), fails to connect to mesh master.

Currently running `toch-xla-1.9`.
Some other info:
[code]
## Error

*** End stack trace ***
Failed to connect to client mesh master: COMPUTE-VM-NAME.us-central1-a.cCOMPUTE-VM-NAME.internal:43781
Traceback (most recent call last):
  File "/usr/share/torch-xla-

[2021-10-14 03:43] MathieuTuli commented on #3163
Ah I see, yes you're right, when I use the proper IP address from the describe command, rather than the CIDR block, it works. The tutorial was a bit confusing on that point, and given only the last bits of the address were change I overlooked the slight various in CIDR block address vs. proper ip address, thanks! Closing now as this is resolved.

[2021-10-14 03:43] #3163 closed

[2021-10-14 10:01] Luvata opened #3165 "TPU VM - Couldn't open device: /dev/accel0 (Operation not permitted)"
## 🐛 Bug
My fresh TPU VM (created Oct 12, V3-8, v2 alpha) got `Couldn't open device: /dev/accel0 (Operation not permitted)` when run `xm.xla_device()` from default python3.

I follow this [Cloud TPU Pytorch/XLA](https://cloud.google.com/tpu/docs/pytorch-xla-ug-tpu-vm) and use default pytorch in python3 (I haven't tried changing PyTorch version)

## To Reproduce

Steps to reproduce the behavior:
[c

[2021-10-14 13:38] #3165 closed, assigned to nobody

[2021-10-15 05:22] JackCaoG commented on #3159
As part of this process, we should also migrate to cuda 11.2 since pytorch/xla will drop support for cuda 10.2. @seemethere Do you have any doc/suggestion on how can we build our own docker image? Is there an CI image that come with cuda 11.2(11.1) that we can use in the mean time?

[2021-10-15 17:20] Luvata opened #3167 "Tips when training with bfloat16"
## ❓ Questions and Help

I'm using Huggingface's [Accelerate](https://github.com/huggingface/accelerate) to train my custom model using TPU on TPU-VM. It worked as expect (and really fast on TPU). Then I tried experient bfloat16 using `XLA_USE_BF16=1` and double the batch size (without any change on code base), my code still run and it's even faster.

| TPU | dtype    | batch size (1 core) | secon

[2021-10-16 03:38] JackCaoG opened #3171 "OP lowering for slogdet"
## 🚀 Feature
Provide a op lowering for `torch.slogdet`.

[2021-10-21 02:57] #3167 closed, assigned to miladm

[2021-10-25 09:50] Jongchan opened #3180 "Low utilization of 3D convolution"
## ❓ Questions and Help

Hello, all!
I am running a 3D CNN in TPU v3-8, and the computation seems to be not well optimized.

**In short, the majority of the computation time seems to be wasted due to excessive padding in my first convolution**.

## Background Information
* PyTorch-XLA version: 1.9 (installed by the prebuilt docker `gcr.io/tpu-pytorch/xla:r1.9`)
* PyTorch version: 1.9.0a0+git1a7c23

[2021-10-25 19:03] JackCaoG opened #3181 "[PT_BREAK] kl_div_backward removal"
## 🐛 Bug
 PyTorch/XLA build failed as `kl_div_backward` is removed in https://github.com/pytorch/pytorch/pull/65469.

I tried to remove the `kl_div_backward` from pytorch/xla but it seems like now backward calls `xlogy` which is not lowered by pytorch/xla.

[code]

Working on the xlogy lowering now.

[2021-10-26 13:13] zou3519 opened #3184 "[PT_BREAK] Changed how dispatching works for advanced indexing operations"
Hi, https://github.com/pytorch/pytorch/pull/66506 is failing XLA CI and the failure seems real. For some more context, that PR fixes a bug in the dispatcher where the indices passed to advanced indexing (`tensor[idx0, idx1, ...]`) are not considered for dispatching; previously the dispatcher always dispatches on the dispatch keys in `tensor` but now the dispatcher considers all of the keys in `{te

[2021-10-28 09:59] SankhaJay opened #3186 "Pytorch/XLA nightly version do not work on google colab: /lib/x86_64-linux-gnu/libc.so.6: version `GLIBC_2.28' not found"
## 🐛 Bug

I want to use PyTorch/XLA nightly version on my project. But it does not work on google colab. Getting the error when importing torch

## To Reproduce
[code]

[code]

when I simply write
`import torch`
it gives the following error:

[code]

## Additional context

I am using the same code mentioned in the following notebook
https://colab.research.google.com/github/patil-suraj/exploring-T5

[2021-10-29 02:31] miladm opened #3187 "`adaptive_max_pool3d` is not supported"
## 🚀 Feature
Support `adaptive_max_pool3d`

## Motivation

Currently `adaptive_max_pool2d` is supported, but the `adaptive_max_pool3d` is not (see this [issue](https://github.com/pytorch/xla/issues/3049)). Please add the support.

[2021-10-29 08:03] mk-minchul opened #3189 "PReLU support"
## 🚀 Feature
Currently, prelu (https://pytorch.org/docs/stable/generated/torch.nn.PReLU.html#torch.nn.PReLU) does not seem to be supported by xla.
Is there a plan for adding PReLU to the xla?

Thanks

[2021-10-29 20:19] tmabraham commented on #2383
@rishishounak your notebook is private so no one will be able to help you...

FYI, from the error message I see, you are not even using PyTorch you are using Keras. If so, your problem is not at all related to the issue here, or even this repository.

[2021-10-29 20:51] rishishounak commented on #2383
ok thanks

[2021-10-29 23:18] codeislife99 commented on #3162
@yaochengji - So I have been trying to do that over the last few days. I have been using `torch.distributed.launch` to run the distributed process. I added `dist.init_process_group('nccl',init_method='env://', rank=gindex, world_size = args[0].total_num_gpus)` to `_start_fn`. However after doing this while the distributed setup works I am still not sure if the gradients are synchronized across the

[2021-10-30 00:56] yaochengji commented on #3162
@codeislife99

[2021-10-30 02:06] codeislife99 commented on #3162
Hey @yaochengji , thanks for your help. I have a small question. Are you using `torch.distributed.launch` or `torchrun` for multi-node training ? I ask because whenever I use that it forces me to use `dist.init_process_group(...)` or else throws an error saying it was not found.

[2021-10-31 07:50] codeislife99 commented on #3162
When I try to comment out the `TORCH_CHECK` for  `Tensors must be CUDA or dense` and other checks since we are running on XLA, I get `XLA tensors do not have storage`. So I am not sure if the `DistributedDataParallel` module is even usable with torch xla. If not , what is the replacement for it within XLA ?

[2021-11-01 20:11] dbalabka opened #3191 "libtpu can not be installed for 1.10.0 version"
## 🐛 Bug

During the installation of 1.10.0 version, pip throws an error because of not found file:
https://storage.googleapis.com/cloud-tpu-tpuvm-artifacts-dev/wheels/libtpu-nightly/libtpu_nightly-0.1.dev20211013-py3-none-any.whl

Still, the file exists under a different link:
https://storage.googleapis.com/cloud-tpu-tpuvm-artifacts/wheels/libtpu-nightly/libtpu_nightly-0.1.dev20211013-py3-none-an

[2021-11-01 22:19] JackCaoG commented on #3191
Thanks for reporting, this seems like an link issue on our end. @miaoshasha Can you take a look at this one? I think we need to update https://github.com/pytorch/xla/blob/master/setup.py#L57 for nightly and 1.10. We only need to rebuild the TPUVM wheel for this purpose.

[2021-11-02 00:01] rwightman opened #3192 "silu lowering regression in 1.10"
## 🐛 Bug

[code]

This was not a problem in the previous release.

## To Reproduce

Train a model using silu with PyTorch XLA 1.10

## Expected behavior

## Environment

 - Reproducible on XLA backend [CPU/TPU]: TPU
 - torch_xla version: 1.10

## Additional context

[2021-11-02 00:31] rwightman opened #3193 "lowering for `mish` activation"
## 🚀 Feature
The mish activation was added in PyTorch 1.9, it's not yet lowered in XLA.

https://pytorch.org/docs/stable/generated/torch.nn.functional.mish.html

## Motivation

Growing in use for number of image models, especially in object detection where a number of yolo variants have achieved great results with it.

## Pitch

## Alternatives

## Additional context

[2021-11-02 03:17] JackCaoG commented on #3105
After pytorch side update, xla seems to be get the fix for free
[code]

[code]

scalar was correctly cast to uint8.

[2021-11-02 03:21] rwbfd opened #3194 "torch_xla.distributed.parallel_loader.ParallelLoader lack the definition for the parameter"
## 📚 Documentation

"batches_per_execution" seems to have no explanation. In TensorFlow, it seems that you can feed several batches together to train, is this the right parameter?

[2021-11-02 03:26] JackCaoG commented on #3194
Looking at https://github.com/pytorch/xla/blob/223ca031bd7ac92ea55107a9d79e73b035e6cdec/torch_xla/distributed/parallel_loader.py#L44

I think it means the number of batch being loaded before the execution happens. I think it is the right parameter for your purpose.

[2021-11-02 04:33] JackCaoG commented on #3192
I am working on the lowering but I found one issue, Pytorch does not expose `silu_backward` aten string in https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/core/aten_interned_strings.h.

I am planning to backport the lowering to 1.10 to solve Ross's issue but I can't do that correctly unless pytorch have the `silu_backward` aten symbol.

One thing I can do is to reuse `silu` symbol for

[2021-11-02 14:07] bdhirsh commented on #3192
Hmm, https://github.com/pytorch/pytorch/pull/58661/ is the PR that ported `silu_backward` to structured in May, but it looks like before that PR, the out= variant (`silu_backward.grad_input`) didn't exist. I'm not sure at what point `silu_backward.grad_input` existed in a state that worked with pytorch/xla

There's an existing composite kernel for `silu_backward` though (the functional variant), s

[2021-11-02 14:08] bdhirsh opened #3196 "add Composite kernel for `silu_backward.grad_input`"
`silu_backward()` currently has a composite kernel, which means that backends like `XLA` get it for free. But the out= variant does not, so we should add one. See https://github.com/pytorch/xla/issues/3192.

We might want to consider adding codegen for this case automatically though, instead of manually adding a new composite kernel in-tree

[2021-11-02 17:02] JackCaoG commented on #3192
@bdhirsh Any chance this can be back ported to pytorch 1.10?

[2021-11-02 17:23] bdhirsh commented on #3192
I'm not 100% sure about being able to patch in a fix to 1.10, but I can check. It would probably easier if we can show that this bug didn't exist in 1.9. I'm still not sure how it could have worked before though, because I don't think the `out=` variant ever worked with pytorch/xla. Alternatively, if it's easier to patch into pytorch/xla then adding your lowering for `silu_backward` is probably fi

[2021-11-02 17:49] rwightman commented on #3192
@bdhirsh it also works fine in 1.8 FYI, I've been training with SiLU models on PyTorch XLA for better part of a year now.

I'm using train scripts from this branch in my model repo (https://github.com/rwightman/pytorch-image-models/tree/bits_and_tpu/timm/bits), but you should also be able to use any of the models with silu in your own scripts to verify ... (ie `timm.create_model('efficientnet_b0')

[2021-11-02 17:51] miaoshasha commented on #3191
to change to 1015 libtpu and update link
https://github.com/pytorch/xla/pull/3198
https://github.com/pytorch/xla/pull/3197

to rebuild wheels and images after these merged in

[2021-11-02 18:08] yaochengji commented on #3162
Hi @codeislife99 , I didn't use `torch.distributed.launch` or `DistributedDataParallel`. I didn't use much of the pytorch/xla distributed wrappers.

[2021-11-03 22:32] ymwangg opened #3200 "NaN loss when training on single node multi-GPUs in AMP mode"
## 🐛 Bug

We saw `NaN` loss when training with single node multi-GPUs in AMP mode.

## To Reproduce

Steps to reproduce the behavior:

On example is the `test_train_mp_imagenet.py` training script with real dataset.

1. Pull the nightly image and launch it with multiple GPUs.
[code]
2. Run the imagenet test case
[code]
You will see `NaN` loss within a few hundred steps.
Below is an example output.

[2021-11-04 18:39] shauheen commented on #3200
Thank you for reporting this issue, we will work on reproducing it on our side.

[2021-11-05 20:44] JackCaoG commented on #3192
Brain and I agree that we will merge this temporary fix into master and 1.10 to unblock Ross. We will fix it properly(tracked in https://github.com/pytorch/xla/issues/3196) in the future.

[2021-11-05 20:52] miladm commented on #3200
Hi @ymwangg. A

 follow up to your comment "But if pl.MpDeviceLoader causes the memory corruption, I'm not sure why this only happens in AMP mode."

From the repro comments, it sseems you tried FP32 on fake data only. Can you clarify if you also tried FP32 on real data?

[2021-11-05 23:46] ymwangg commented on #3200
@miladm FP32 works fine with both fake data and real data.
I've done additional tests. Interestingly, the AMP NaN loss issue seems to be gone after reducing the batch size to 32.
- [ ] NaN occurred `GPU_NUM_DEVICES=4 python test_train_mp_imagenet.py --datadir /dataset/ --num_epochs 1 --amp`
- [ ] NaN occurred `GPU_NUM_DEVICES=4 python test_train_mp_imagenet.py --datadir /dataset/ --num_epochs 1 --

[2021-11-06 01:26] miladm commented on #3180
Thanks for the updates @Jongchan.
Fee free to circle back in case you have more questions.

[2021-11-06 01:26] #3180 closed

[2021-11-06 01:55] yaochengji commented on #3200
Hi @ymwangg ,

I used the torch/xla amp to train Resnet about one year ago, the final accuracy is very simlilar to original pytorch's, with batch_size=256, GPU_NUM=8.

[2021-11-06 05:51] JackCaoG commented on #3191
Issue should be fixed now, I tried
[code]

and it seems like libtpu is being installed correctly.

[2021-11-06 05:54] JackCaoG commented on #3191
I will close this issue for now, feel free to reopen if you still run into this issue.

[2021-11-06 05:54] #3191 closed

[2021-11-08 18:47] miladm commented on #3200
Hi @ymwangg to repro using the exact same data, would you please share your dataset dowload instructions?

[2021-11-08 18:57] wonjoolee95 commented on #3200
Thanks for the response, @ymwangg.

I've tested running with fake data in AMP mode and did not observe any `NaN` on my end. Ran with `GPU_NUM_DEVICES=4 python pytorch/xla/test/test_train_mp_imagenet.py --fake_data --num_epochs 1 --amp`. I'll follow-up with running with real data in AMP mode.

[2021-11-08 20:09] ymwangg commented on #3200
@yaochengji Thanks for the info.

After some investigation, I found the `NaN` loss issue is related to #3175. I suspect this is due to the tensorflow update. I tested the following images and the older one works.
[code]

Another interesting thing I noticed is the image `nightly_3.7_cuda_10.2_20211020` still has `NaN` loss issue but occurs much less frequently (once every few hundred steps) and see

[2021-11-08 22:59] wonjoolee95 commented on #3200
Thanks for the detailed info, @ymwangg! I'll download the dataset and test it as soon as the download finishes.

[2021-11-09 01:07] leiboliu opened #3203 "Loss backward took forever until memory leaking on TPU v3"
I am fine tuning XLNet for multi-label text classification on a TPU v3. When the labels are under 100, the training went well and took about 10s per iterator(batch size 16). But if the labels are about 9000, the training stuck after the first batch forward at loss.backward. I tried to keep it running for about 4 hours until memory leaking. The model has about 131032033 parameters. The following is

[2021-11-09 01:39] leiboliu commented on #3203
removed to [pytorch forum](https://discuss.pytorch.org/t/loss-backward-took-forever-until-memory-leaking-on-tpu-v3/136350)

[2021-11-09 03:02] JackCaoG commented on #3203
It might be better to leave the issue here, since we check github issue much more often than pytorch forum

[2021-11-09 03:14] leiboliu commented on #3203
Thanks Jack. I have changed this back. Sorry for keeping 2 copies in github and pytorch forum for the same problem.

[2021-11-09 03:30] JackCaoG commented on #3203
I saw a couple of weird counters like
[code]

but the compilation of the graph is super quick
[code]
It is impossible to compile a graph with `41789` View op under 1s. I think what happened is that graph ended up way too big and it takes forever to compile the graph so it never finished. I would recommended you to reduce the label size.

[2021-11-09 03:48] leiboliu commented on #3203
Thanks Jack. I added 2 lable-wise attention layers above xlnet layers. That might be the problem for huge graph size. I exported the prediction results with all attention weights except xlnet for the under 100 labels. The size is quite big about 1.7GB. For 9000 labels, that will be extremely huge.

I also tried to train the model on one GPU with 16GB. I can only use batch size 1 to train it. It to

[2021-11-09 06:50] JackCaoG commented on #3203
One possible workaround would be manually cut the graph by inserting `xm.mark_step()`. I am a bit hesitated to proposed this solution because once a graph is being cut, the view relationship will be break(This is a known limitation).

If you do not rely on the view behavior of the pytorch ops(update the view tensor will also update base tensor), you can manually `mark_step`

[2021-11-09 07:02] JackCaoG opened #3204 "[PT_BREAK] Hardtanh backward is removed"
## 🐛 Bug

Pytorch pr https://github.com/pytorch/pytorch/pull/67475#

[2021-11-09 07:57] wonjoolee95 commented on #3200
Testing with real data with `--amp`, can confirm that NaN was observed.
[code]

First `NaN` was observed in around `Step=200`.

[2021-11-09 08:00] JackCaoG commented on #3105
was able to repo the error
[code]

[2021-11-09 08:10] JackCaoG commented on #3105
Seems like pytorch/xla can not handle mix of int64 and floating scalar
[code]

error message
[code]

[2021-11-09 11:30] cicirori commented on #3162
Hi, @yaochengji. Thanks for your code. I tried to arrange environment variables manually to launch training process. It works well without xmp.spawn. But I didn't do C++ code change above. I wonder why you delete them? Is there something I didn't notice?

[2021-11-10 00:55] JackCaoG opened #3206 "[PT_BREAK] test_advancedindex_mixed_cpu_devices_xla"
## 🐛 Bug

Got a bunch of email regarding this test failed on pytorch pr
[code]

[2021-11-10 00:55] JackCaoG commented on #3206
I will go ahead and disable the test for now and do the investigation later.

[2021-11-10 03:42] leiboliu commented on #3203
Thanks Jack for the suggestion. About manually mark_step, do you mean to mark_step during forward of the model?

I will also try to reduce the view ops and the graph size to see if it will get the model successfully trained.

Much appreciated for your help.

[2021-11-10 23:34] wonjoolee95 commented on #3200
It seems like it works fine with the latest `cuda_10.2` (i.e., `nightly_3.7_cuda_10.2_20211020`) but does **not work** with the latest `cuda_11.2` (i.e., `nightly_3.7_cuda_11.2_20211106`).

Upon some more investigation, no `NaN` was observed with `nightly_3.7_cuda_11.2_20211009`, so it appears there seems to be an issue between `nightly_3.7_cuda_11.2_20211009` and `nightly_3.7_cuda_11.2_20211106`.

[2021-11-11 00:46] JackCaoG commented on #3200
Hmm. interesting. We are actually thinking about deprecating cuda 10.2 due to known compilation issue with XLA:GPU and cuda 10.2.

My guess is that `nan` came from TF update(https://github.com/pytorch/xla/pull/3175) like @ymwangg suggested. In Tf update we also update XLA:GPU so there is a behavior change for some ops.

Something we can try
1. Update tf again. Sometime this kind of bug just fix by

[2021-11-11 05:45] JackCaoG commented on #3203
Every time you manually call `xm.mark_step()` it will force an execution of the pending graph. By doing it manually, you pretty much break the graph into multiple pieces. As long as you keep the `mark_step` in the same place for each training step, you should be keep executing subgraphs without additional compilation after first step.

[2021-11-11 06:59] JackCaoG opened #3210 "Index_add with alpha"
## 🚀 Feature
Support `Index_add` with `alpha` parameter. More context in https://github.com/pytorch/xla/pull/3209

[2021-11-11 21:43] NYNYNY67 opened #3211 "can not import torch_xla"
The tutorials notebooks do not work correctly now.
it may be version issue, and I have no idea how to fix it.

[2021-11-11 21:45] NYNYNY67 commented on #3211
WARNING:root:Waiting for TPU to be start up with version pytorch-1.9...
WARNING:root:Waiting for TPU to be start up with version pytorch-1.9...
WARNING:root:TPU has started up successfully with version pytorch-1.9
---------------------------------------------------------------------------
ImportError                               Traceback (most recent call last)
<ipython-input-4-ebe519c076f6> in

[2021-11-12 01:04] leiboliu commented on #3203
Thanks Jack. I will have a try and keep you updated. :)

[2021-11-12 01:38] JackCaoG commented on #3211
Thanks for reporting! Can you share a bit more detial? We have test running for 1.9 and everything seems fine on our end. Were you using colab or a Cloud VM? Can you share a small repo?

[2021-11-12 04:41] rwightman commented on #3211
@NYNYNY67 @JackCaoG I just ran into this on a colab notebook that was working 1 day ago, they just switched to pytorch 1.10. Tying `!pip install cloud-tpu-client==0.10 https://storage.googleapis.com/tpu-pytorch/wheels/torch_xla-1.10-cp37-cp37m-linux_x86_64.whl` didn't work as I end up with the GLIB  error in #3186

[2021-11-12 05:20] rwightman commented on #3211
At the start of the notebook, uninstalling torch, torchvision, torchtext, torchaudio and then installing 1.9 and related packages before install pytorch xla 1.9 works until there is a 1.10 solution

[2021-11-12 07:34] NYNYNY67 commented on #3211
@JackCaoG
thanks for your response
I'm using colab notebook.

@rwightman
It is exactly the issue I had and your solution worked for me thank you.
Added this cell on the top of the notebook.
[code]

[2021-11-12 08:26] ZhongYFeng opened #3212 "How to enable oneDNN optimization？"
## ❓ Questions and Help
I am doing training and inference on XLA_CPU, but I find that the training speed is particularly slow. Compared with pytorch, the training speed is about 10 times slower.
According to the log, I found that mklcnn acceleration is enabled by default during pytorch training, but when I use xla training, mklcnn is not enabled.

2021-11-12 16:12:44.683410: I tensorflow/core/plat

[2021-11-12 08:30] ZhongYFeng commented on #3212
When I was compiling xla, I added the --config=mkl option to the bazel build of the build_torch_xla_libs.sh file, but there was still the same warning, indicating that mkl did not take effect

[2021-11-12 08:36] ZhongYFeng commented on #3126
The problem caused by the proxy in the environment is solved after turning off the proxy.

[2021-11-12 08:36] #3126 closed

[2021-11-12 09:16] #3211 closed

[2021-11-12 18:08] miaoshasha commented on #3192
we updated the 1.10 1vm image tpu-vm-pt-1.10, silu works fine. Closing this bug.

[2021-11-12 18:08] #3192 closed

[2021-11-12 18:11] JackCaoG commented on #3211
@rwightman 1.10 is a known issue, it is tracked in https://github.com/pytorch/xla/issues/3186. We are working on compiling a new wheel that is compatible with colab

[2021-11-13 02:45] #3184 closed

[2021-11-14 01:02] leiboliu commented on #3203
Hi Jack. Just tried manually xm.mark_step. There was OOM error on each TPU core. It may bacause the tensors for high dimentional labels were too big and more than 16GB (TPU core memory). For this problem, I may need to adjust the model architecture or try other solutions. Thank you for help.

[2021-11-14 01:02] #3203 closed

[2021-11-14 13:20] robsonsan commented on #3121
Hello, I'm having the same problem in colab with version 1.10. Downgrading to v 1.8 correct the problem

[2021-11-15 07:51] MukundVarmaT opened #3214 "[question] libtpu.so already in used by another process."
Hi,
I was recently trying to set up a training experiment with torch and tpus (V3-8). While the code works as expected, there were repeated warning messages `libtpu.so already in used by another process. Not attempting to load libtpu.so in this process.` which is really annoying as it appears multiple times after each epoch. I only noticed this when training on multiple cores and not on a single c

[2021-11-15 10:21] NightMachinary commented on #803
How does this work for Colab?

[2021-11-15 14:52] BttMA opened #3215 "Error in Importing XLA"
## 🐛 Bug

I am trying to import `torch_xla` but I keep getting some bizarre import error :
[code]

I followed The exact same steps as in [this tuto](https://colab.research.google.com/github/pytorch/xla/blob/master/contrib/colab/getting-started.ipynb#scrollTo=H9KYz-Vk4fMa). It is not the first time I use XLA/TPU. This one is new to me. That is why I am opening this issue.

## To Reproduce

Steps to

[2021-11-15 16:24] blancsw commented on #3215
Same error for me on google colab. Worked well last week

[2021-11-15 18:07] JackCaoG commented on #3214
Hi @MukundVarmaT . This problem should be solved with the latest `tpu-vm-pt-1.10` image(with pt/xla 1.10 preinstalled)

[2021-11-15 18:12] JackCaoG commented on #803
@NightMachinary Please take a look at https://github.com/pytorch/xla/blob/master/contrib/colab/pytorch-xla-profiling-colab.ipynb

[2021-11-15 18:29] MukundVarmaT commented on #3214
hi @JackCaoG, I am using the latest `tpu-vm-pt-1.10` image but still get these warnings.

[2021-11-15 18:58] JackCaoG commented on #3214
Soory @MukundVarmaT I thought we fixed the issue with the new image, but seems like we didn't. We will work on the fix on the default image.

In the mean time, can you run
[code]

to bypass this error?

[2021-11-15 20:19] wonjoolee95 commented on #3200
I've tried updating the TF and training the model on `nightly_3.7_cuda_11.2_20211111`.

I was still observing sporadic `NaN` losses starting at `Step=1420` (much later compared to `Step=200` before updating the TF). Also this training was able to complete, while the training before updating the TF wasn't able to complete due to repeating `NaN` losses.

@JackCaoG, how do you think we should proceed

[2021-11-15 21:01] JackCaoG commented on #3200
@ymwangg Is Nan losses at step 1420 something that is acceptable to you?

[2021-11-16 06:00] cicirori opened #3216 "[Question] Why is there no initial model sync in data parallel training on GPU."
## ❓ Questions and Help

Hi, I am using test_train_mp_minist.py to test distributed training on GPU. But during this process I noticed that unlike DDP, torch xla doesn't seem to synchronize the model parameters at the beginning. I did not see the broadcast call in the NCCL log, and to verify if the model parameter synchronization was done somewhere, I performed an experiment: using two cards for d

[2021-11-16 08:09] MukundVarmaT commented on #3214
Yep thank you.
Hi just a follow-up unrelated question, when running on multiple cores, i get all `xm.xla_device()` to be `"xla:0"` except for one which is `"xla:1"`. Is this as expected? Shouldn't it be from `"xla:0"` to `"xla:7"`

[2021-11-16 13:55] blancsw commented on #3215
@BttMA
I found the problem, google colab upgrade the default pytorch version `1.9.0+cu111` to `1.10.0+cu111`.
So we need to downgrade the pytorch version by doing this:
[code]
Then you can import XLA
[code]

Enjoy !

[2021-11-16 14:34] BttMA commented on #3215
@blancsw Thanks man 👍  (It takes minutes to install and run but ... it works!)

@JackCaoG  @miaoshasha ; you need to think about updating cloud-tpu-clien, torch and torch_xla (with their dependancies) ;)

[2021-11-16 17:57] JackCaoG commented on #3214
It is expected. For one of the process `xla:0` is a cpu device, so it uses `xla:1`.
[code]

[2021-11-16 22:35] #3214 closed

[2021-11-16 23:47] ymwangg commented on #3200
@wonjoolee95 @JackCaoG Thanks for the debugging effort. Sporadic NaN that not affects training results should be acceptable. I think it's better to keep an eye on it but it's no longer critical.
@wonjoolee95 I found your fix (updating TF) works and I'm able to reproduce the sporadic NaN behavior. Additionally, I found reverting the following TF commit + using CUDA 11.4 (torch_xla==4863a3, tensorfl

[2021-11-17 09:13] BttMA commented on #3215
@JackCaoG @miaoshasha Now I have to tell you that this raise another warning related to the dataloader.
[code]
And there is no `shuffle=True` in my code (only in the train)
[code]

What should I do please ?

I even eliminated `shuffle=True` from the train_dataloader but the UserWarning persist and it freezes on epoch 0.

@blancsw It would be great if you could lead me through this please :)

[2021-11-18 22:07] miaoshasha commented on #3212
Thanks Zhong! We'll be looking at it and get back to you, thanks for bring the question up!

[2021-11-18 23:02] miaoshasha commented on #3216
I thought that script is for running on TPUs? can it run on GPUs as well? @miladm

[2021-11-18 23:50] jysohn23 commented on #3216
Hi @cicirori thanks for raising the discrepancy. As you describe, when you wrap your model with DDP it begins by synchronizing the buffers and params of the model: https://github.com/pytorch/pytorch/blob/ab1d879b33bae968e22e098b0e6aa01af821efe2/torch/nn/parallel/distributed.py#L603

For DataParallel mode (multithreading not multiprocessing) we used to do similar where we instantiate / copy model w

[2021-11-19 23:59] miladm commented on #3187
@miaoshasha can you please help with this issue?

[2021-11-20 00:23] miladm commented on #3210
@yeounoh can you please help with this issue?

[2021-11-20 00:24] miladm commented on #2987
@yeounoh can you please help with this issue?

[2021-11-20 00:34] miladm commented on #3193
@wonjoolee95 can you please help with this issue?

[2021-11-20 06:44] lihan commented on #3186
Same problem today.

[2021-11-21 14:12] DURA18 opened #3220 "FairSeq Roberta tutorial failed: Failed to connect to client mesh master"
## ❓ Questions and Help

Hi there,

I am trying to learn and run the tutorial
[Pre-training FairSeq RoBERTa on Cloud TPU using PyTorch](https://cloud.google.com/tpu/docs/tutorials/roberta-pytorch)

However, I got the following errors：

[code]

Could you please help me with this Error?

[2021-11-22 09:16] cicirori opened #3221 "[Question] How to do deterministic training on GPUs."
## ❓ Questions and Help
Hi, I'm testing torch xla on GPU. The script used is based on the test_train_mp_mnist.py. I changed the data input to be consistent for all workers (use the same dataset, no distributed sampler, turn off shuffle), don't adjust the learning rate, adding deterministic functions, andd adding logic to run with torch native.

The loss trends of the standalone torch xla and torch

[2021-11-22 09:29] cicirori commented on #3221
I also tried to keep torch xla's rng seed and running seed always 0 by modifying cpp code. But the inconsistent didn't disappear.

[2021-11-22 10:51] cicirori commented on #3221
I feel like I figured out the cause of the unstable results, and if I change the transformer of the dataset from

[code]
to simply
[code]

, I can get stable results without XLA_SYNC_WAIT on, but I'd like to know exactly why. I don't quite understand why native PyTorch doesn't need to do this.

[2021-11-22 18:11] JackCaoG commented on #3186
We have some trouble building the colab compatible wheel due to recent build image update. This affect 1.10 and nightly. We are still working on it.

[2021-11-22 19:38] yeounoh commented on #3220
Hi @DURA18, I was just able to run the model training following the tutorial instructions on my end. Let's confirm that we have the right setup in place. First stop, could we confirm that we have the correct TPU_IP_ADDRESS (of TPU VM) setup on your Compute VM:

https://cloud.google.com/tpu/docs/tutorials/roberta-pytorch#create_and_configure_the_pytorch_environment

You can find the TPU VM IP addre

[2021-11-22 19:52] miladm commented on #3206
@wonjoolee95 can you please take a pass at this issue?

[2021-11-22 19:53] JackCaoG commented on #3206
It is actually already fixed. Check https://github.com/pytorch/xla/pull/3213. I will close this issue.

[2021-11-22 19:53] #3206 closed

[2021-11-23 02:25] yeounoh opened #3224 "Nightly build test backward compatibility issue with syncfree"
## 🐛 Bug

Some of nightly build (master) test cases break with latest stable releases (e.g., `r1.10`, `r.1.9`, etc.) with syncfree AMP package import.

## To Reproduce

Steps to reproduce the behavior:

1. Create a torch-xla VM (use `--image-family=torch-xla`)
2. Activate torch-xla-1.10 virtualenv: `conda activate torch-xla-1.10`
3. Checkout pytorch/xla git repo `master` branch
4. Run: `python tes

[2021-11-23 19:11] yeounoh commented on #3224
Hi @ymwangg, thank you for the contribution #3145 . As I was investigating the backward compatibility issue here, I've noticed that the following test cases were expanded for different amp optimizer options:

- `test_train_mp_mnist_amp.py`
- `test_train_mp_imagenet.py`

and we have the following test cases as well:

- `test_syncfree_optimizers.py` (using mnist)
- `test_train_mp_mnist.py`

Normally

[2021-11-23 21:43] seemethere commented on #3107
Re-opening this, I finally have time to work on this again and this is still popping up, will do the debugging steps that @JackCaoG has recommended

[2021-11-23 21:50] seemethere commented on #3107
Related issues:
* https://github.com/pytorch/xla/issues/1795
* https://github.com/PyTorchLightning/pytorch-lightning/issues/1090

[2021-11-23 22:54] seemethere commented on #3107
Appears as though the problem manifests itself when setting `CPU_NUM_DEVICES` to any value that's not 1, I can reproduce on our GHA machines using the following:

[code]

<details>
<summary> Full logs </summary>

[code]

</details>

[2021-11-23 23:06] wonjoolee95 opened #3225 "PyTorch/XLA test failure on PyTorch PR"
Issue for tracking PyTorch/XLA test failure on PyTorch PR -- https://github.com/pytorch/pytorch/pull/67796.

[2021-11-24 00:32] wonjoolee95 commented on #3225
Steps to reproduce:
- Checkout the PR with GitHub CLI (or with `git`)
[code]
- Build PyTorch
[code]
- Build PyTorch/XLA
[code]
- Run PyTorch/XLA tests
[code]

[2021-11-24 00:55] ymwangg commented on #3224
@yeounoh The optimizer optimization related changes made in `test_train_mp_imagenet.py` and `test_train_mp_mnist_amp.py` are mainly used to demonstrate the performance improvement. Feel free to revert them if necessary.

[2021-11-24 08:34] pmeier commented on #3225
To give a little more context: the failure happens when trying to use `__and__`. It complains that this is only possible with boolean tensors, which seems fine. Problem is that the tensors in question are boolean tensors. They come from one of three sources:

- `.isnan()`
- `.isfinite()`
- `(a <= b)`

Thus, the error should be reproducible with something like

[code]

I don't have direct access to

[2021-11-24 11:41] Shan19900305 opened #3226 "Do xla support this operation, like a.data = b. (a is cpu tensor, b is tpu tensor)"
## ❓ Questions and Help
Do we have some way to do like this.
a = torch.randn(3,5)
b = torch.randn(3,5, device=xm.xla_device())
a.data = b
a.cpu()

[2021-11-24 15:28] DURA18 commented on #3220
Hi @yeounoh, thanks so much for your quick reply and your answer really solved my problem. Would you mind also explaining a bit about the  --input_shapes parameter in the tutorial. I saw there are three groups of input shapes in the tutorial as
'''
--input_shapes 16x512 18x480 21x384
'''
 I wonder what the batch size of the training model is in this case?

[2021-11-24 19:15] seemethere commented on #3107
Figured this out, turns out that the squid proxy we were using to proxy our requests was messing with the mesh server, I'm going to go ahead and just disable squid proxy for xla specific tests

[2021-11-24 19:15] #3107 closed

[2021-11-24 19:30] JackCaoG commented on #3107
Thanks @seemethere !

[2021-11-24 21:13] JackCaoG commented on #3226
We currently does not support this use case.

For some context, all xla_tesnor data is stored in the device. All XLA tensor will hold a handle(int64) that can be used to look up the actual data on the device. Therefore every time user attempt to access the `b.data`, it will trigger `xla::_to_cpu`. In that case if just want to copy the value you should just do
[code]

if you want `a` also on the TP

[2021-11-25 03:37] Shan19900305 commented on #3226
Thank you very much, but i still confused about this. If XLATensorImpl is inherit from TensorImpl, how to do this feature. (if we support this func, TensorImpl need to cast to XLATensorImpl? )
XLATensorImpl* GetXlaTensorImpl(const at::Tensor& tensor) {
  return dynamic_cast<XLATensorImpl*>(tensor.unsafeGetTensorImpl());
}

[2021-11-25 16:03] jysohn23 commented on #3220
The `input_shape` argument is a list of `batchsize` x `seqlen` pairs. For longer sequences we use smaller batch sizes, but for sequences with less number of tokens we can afford to increase our batch size since it still fits into HBM. So this way for shorter sequences we end up padding less and wasting less compute and memory at the cost of more initial compilation.

[2021-11-25 22:46] yeounoh commented on #3220
Thank you @jysohn23 . I am glad to hear that the issue was resolved @DURA18 , I will close the issue for now :)

[2021-11-25 22:46] #3220 closed

[2021-11-26 03:09] DURA18 commented on #3220
@yeounoh @jysohn23 Thanks so much for your help

[2021-11-29 16:57] mwesthelle commented on #2160
Hi @SriRangaTarun, did you manage to find a solution for this? I'm facing the same issue.

[2021-11-29 18:32] JackCaoG commented on #3226
@bdhirsh might have a better idea

[2021-11-29 18:41] bdhirsh commented on #3226
@Shan19900305 I don't really follow your question. At the python level, `a.data = b.cpu()` will take `b` (an xla tensor)`, call `_to_cpu()` (in C++) on it to create a new cpu tensor, and set `a.data` to that new cpu tensor.

[2021-11-29 20:47] wonjoolee95 commented on #3200
Thank you for the confirmation, @ymwangg. I'll close this ticket for now, since the NaN issue has been mitigated. I'll continue to look at this and open a separate issue for tracking updating the TF changes.

[2021-11-29 20:47] #3200 closed

[2021-11-29 23:57] wonjoolee95 commented on #3225
Just an update, I was able to reproduce the same error by following the steps in the first reply by checking out the PR and running tests with:
[code]

However, I was not able to reproduce the same error with commands (the code runs without failure):
[code]

[2021-11-30 07:29] pmeier commented on #3225
Hmm, in that case could you check if [`torch.isclose`](https://pytorch.org/docs/master/generated/torch.isclose) is working as expected? In the PR, I've re-implemented it from Python since it is a composite operator anyway, but the error remains the same.

[code]

[2021-11-30 16:20] SarthakYadav commented on #3070
Also facing this issue: cast op is failing with complexfloat to f32 conversion (did not check whether it works with no_grad though).

[2021-11-30 21:28] awshaichen opened #3230 "xla_builder.Op.tuple returns f32 data type regardless of operand data type"
## 🐛 Bug

When building a function that returns a tuple of tensors with mixed data type using `xla_builder.Op.tuple`, it somehow unifies all data types to f32 regardless of the original operand data type.

## To Reproduce

Applying the following patch into `test/test_operations.py` and then `python test/test_operations.py --verbosity=2`. `op_fn` is supposed to return a tuple of f32 and bf16, but i

[2021-11-30 22:28] awshaichen commented on #3230
PR: https://github.com/pytorch/xla/pull/3231

[2021-12-01 01:39] yeounoh opened #3232 "Ops test regression"
## 🐛 Bug

Some of the ops known to pass the reference tests on XLA started failing:
- AllowedOpInfoEntry('linalg.multi_dot'),
- AllowedOpInfoEntry('matmul'),
- AllowedOpInfoEntry('__rmatmul__'),

## To Reproduce
[code]

## Additional context
The above test ops were moved to the skiplist. To reproduce, you would need to reinstate them to `allowed_opinfo`

[2021-12-01 03:38] #3224 closed

[2021-12-01 20:15] #3189 closed

[2021-12-02 05:14] JackCaoG opened #3234 "`bool & byte` produce a incorrect dtype"
## 🐛 Bug

## To Reproduce

[code]

founded in https://github.com/pytorch/xla/pull/3231 with
[code]

`test_pred_type` will fail

[2021-12-02 19:05] wonjoolee95 commented on #3225
Thanks for the update, @pmeier. The `torch.isclose` seems to be working as expected from my testing. Also tried reordering the test cases to check if there was some kind of bug in the compilation cache but still seeing the same error. Just for visibility, I've pasted the error that I'm receiving here -- https://gist.github.com/wonjoolee95/65bab9af0f3b90aeb34fbecb7de7d992.

[2021-12-02 19:14] pmeier commented on #3225
That is weird. Do you need anything from my side to help locating or fixing the error?

[2021-12-02 19:17] JackCaoG commented on #3225
[code]

Hmm, you should try to print the `shape` to debug. Based on `a.to(torch.bool) & b.to(torch.bool)` both `a` and `b` should be `bool` which is a `PRED`.

[2021-12-03 08:11] pmeier commented on #3225
@wonjoolee95 Could you try to run only the offending test and see if it still fails?

[code]

@JackCaoG When `torch.isclose` is called, all the other checks for `shape`, `device` and so on have already happened. So if there were a mismatching shape, we wouldn't even get to the point the error is happening. Still, could you explain what a `PRED` is?

[2021-12-03 18:22] JackCaoG commented on #3225
@pmeier `PRED` are pretty much just XLA version of `boolean`.

[2021-12-03 20:28] wonjoolee95 commented on #3225
Just only ran that test `TestNNDeviceTypeXLA.test_rnn_retain_variables_xla_float64` and still seeing the same error.

Also when I print the tensors `a.to(torch.bool)` and `b.to(torch.bool)`, I see the expected boolean tensors like below:
[code]

[2021-12-04 00:24] wonjoolee95 commented on #3225
I've print the shape of tensors in both places:
- In `torch/testing/_comparison.py`, right before `mask = a.to(torch.bool) & b.to(torch.bool)`.
[code]
- In `xla/torch_xla/csrc/tensor_methods.cpp`, in the `bitwise_and` function.
[code]
So there seems to be some place that incorrectly passes in float tensor `f64[5,6,10]{2,1,0}` to the `bitwise_and` function. Which seems a bit odd, because although t

[2021-12-04 02:56] mweiss17 commented on #3138
Hello,
Any chance we'll be seeing an autograd version of `all_to_all`? I've implemented a Switch Transformer in torch-xla, but in order to have model parallelism I kinda need the all-to-all. I expect the all-gather to be quite inefficient for this application.

[2021-12-05 01:22] Arka161 commented on #3186
+1, getting the same issue if I run the following command for installing Torch XLA on Colab:

[code]

[2021-12-06 14:13] Shan19900305 commented on #3226
@bdhirsh I mean python code like: a = torch.randn(3,5)
b = torch.randn(3,5, device=xm.xla_device())
a.data = b  // for gpu side, this will using set_data(c++) interface, and shallow-copy b tensorImpl metadate to a tensorImpl.
a.cpu() // this code line is verify set_data operator success.

[2021-12-06 17:48] JackCaoG commented on #3186
Hi @Arka161 , 1.10 is not supported right now. You are installing pytroch 1.9 and torch_xla 1.10 which will not work. Can you use `torch_xla 1.9`  in the mean time? Thanks.

[2021-12-06 19:11] JackCaoG commented on #3230
PR is merged, close this bug

[2021-12-06 19:11] #3230 closed

[2021-12-06 19:42] JackCaoG commented on #3225
@wonjoolee95 What's the `f64[5,6,10]{2,1,0}`? Were you printing `input` and `other` of `bitwise_and`?

It seems like it is going through a reshape from `[5,6,10]` to `[300]`. Maybe you should find the corresponding tensor with shape `[5,6,10]`. It is possible that for some reason computation is delayed and error out in a later time. You can also dump the ir graph of `a` and `b` to check.

[2021-12-06 20:02] JackCaoG commented on #3221
My First guess is that `ToTensor` actually trigger the [convert](https://github.com/pytorch/xla/blob/08ae1044c2a7e314895f9946104cbe399e096515/torch_xla/utils/serialization.py#L30) which by default will use `wait=True` (Same as `XLA_SYNC_WAIT`).

In the multi-process training, it felt like we should always wait for sync to finished before moving to the next step. I might need to look at the code a

[2021-12-06 20:15] #3193 closed

[2021-12-06 21:00] wonjoolee95 opened #3237 "Move `softplus` op out of tensor_ops"
As discussed in this PR https://github.com/pytorch/xla/pull/3236:

"We should move the Softplus out of the tensor_ops and make it an regular IR in the future. We should create a BuildSoftPlus and BuildSoftPlusBackward function and use that for Mish lowering.

For the context, as we are moving toward the Lazy Tensor world, we are trying to get rid of this kind of IR level computation. It is better

[2021-12-06 23:38] JackCaoG commented on #3138
@mweiss17 Are you talking about something similar to https://github.com/pytorch/xla/blob/88474a32990bb8746a9bd2d481dab90ec48d33cf/torch_xla/core/functions.py#L55 ?

[2021-12-06 23:51] JackCaoG opened #3238 "PyTorch/XLA master build push failed"
## 🐛 Bug

log
[code]

Seems to be a package related issue.

[2021-12-06 23:58] JackCaoG commented on #3238
Issue seems to be in https://github.com/pytorch/xla/blob/08ae1044c2a7e314895f9946104cbe399e096515/docs/docs_build.sh

triggered by
https://github.com/pytorch/xla/blob/08ae1044c2a7e314895f9946104cbe399e096515/.circleci/doc_push.sh#L11

[2021-12-07 00:07] JackCaoG commented on #3238
build finished locally
[code]

[2021-12-07 00:14] JackCaoG commented on #3238
so in the circleCI I saw
[code]

and from the local env I saw
[code]

bumping up this version might help.

[2021-12-07 00:31] JackCaoG opened #3240 "Doc build warning message"
## 🐛 Bug

When building the doc I observe error messages like
[code]

## To Reproduce

pytorch/xla/docs$ ./docs_build.sh

## Expected behavior

no warning or we know warning can be ignored.

## Environment
 - torch_xla version: nightly

[2021-12-07 00:46] #3238 closed

[2021-12-07 03:24] wonjoolee95 commented on #3225
That is correct, I'm printing the `input` and `other` for `bitwise_and`. So according to the print statements, it show that there were a total of 3 calls in `bitwise_and` in XLA:
[code]

[2021-12-07 03:50] fhwzl opened #3241 "norm op with p = 0, use xla like (input != 0).to(input.dtype).sum()"
## 🚀 Feature
norm with p = 0, now use aten, can it use xla

## Motivation

## Pitch

## Alternatives

## Additional context

[2021-12-07 04:54] JackCaoG commented on #3241
Can you provide a bit more detail? A sample code will be helpful.

[2021-12-07 04:55] JackCaoG commented on #3225
@wonjoolee95 Can you dump the HLO? Where is the `f64[5,6,10]` coming from and why they are float?

[2021-12-07 06:48] wonjoolee95 commented on #3225
@JackCaoG, thanks for the suggestion, will do. One thing, how do I dump the HLO graph? Never have tried it before 😅

Do I set the flag `XLA_SAVE_HLO_FILE` while running the tests? I can follow-up offline tomorrow as well.

[2021-12-07 07:35] pmeier commented on #3225
Maybe this is an XLA thing that I'm not aware of, but shouldn't the error happen in the first call? How are we even getting to the second and third call?

[2021-12-07 18:22] JackCaoG commented on #3138
@mweiss17 Sounds good! We will be happy to take your contribution.

[2021-12-07 22:13] hjm-aws commented on #3138
@mweiss17 Hi, can you clarify which op you want to contribute for, `all-gather` or `all-to-all`? Thanks!

[2021-12-08 01:30] mweiss17 commented on #3138
Hi @hjm-aws, I'm adding an autograd `all-to-all` class to `torch_xla/core/functions.py`. Those functions seem to not have tests (if they do, let me know!), so I'm going to add a new test file as well.

[2021-12-08 18:07] #3181 closed

[2021-12-08 19:55] wonjoolee95 commented on #3225
The print statements may not be strictly in order, since it is possible that for some reason computation is delayed and error out in a later time.

Also have printed the IR graph for `self` and `other` tensors, pasted here -- https://gist.github.com/wonjoolee95/7e38a4bb4aa822cecb9d1347b74b51ba.

[2021-12-08 22:15] JackCaoG opened #3244 "TestKlDivBackward failed on master"
## 🐛 Bug

My pr https://github.com/pytorch/xla/pull/3185 was suppose to fix change introduced in https://github.com/pytorch/xla/issues/3181 but it seems like pytorch pr changed after I finished mine. Disable the test for now, I will further investigate the issue.

[2021-12-08 23:13] JackCaoG commented on #3225
@pmeier I will work with wonjoo on this issue. How urgent is this pr? I don't want to block you for too long.

[2021-12-09 01:39] wonjoolee95 commented on #3225
Thanks @JackCaoG for the investigation of the issue.

It seems like the PyTorch/XLA's implementation of `isNan` seems to be the cause of the issue. The `isNan` doesn't cast tensors to boolean tensors correctly underneath the hood. To more simply reproduce the issue, we can do:
[code]
As a fix, we'll need to update the PyTorch/XLA's implementation of `isNan` to do the proper casting to boolean tens

[2021-12-09 07:09] pmeier commented on #3225
Not urgent yet. I'm also waiting for input of other stakeholders.

[2021-12-09 23:19] wonjoolee95 commented on #3225
Posted a draft PR but currently having some issues with building it locally (not related to this change but due to some other environment changes in my local desktop). Now trying to verify the fix in a VM.

[2021-12-09 23:36] bdhirsh opened #3247 "some ops don't work with autograd"
I'm working on improving the error messages in the external codegen, and came across some ops in `xla_native_functions.yaml` that don't work with autograd, all of them for the same reason: The op in core doesn't have a derivative formula (it's composite), but xla provides a lowering for it.

Example failure (with `torch.std`):
[code]

The problematic ops are:
[code]

There are a few categories of

[2021-12-10 00:01] JackCaoG opened #3248 "Pass constant to `torch.pow` to give xla compiler more room to optimize"
## 🚀 Feature
Pass constant to `torch.pow` to give xla compiler more room to optimize

## Motivation

We currently pass a device data to `torch.pow`(unless scalar is 0 or 1). This will give TPU-compiler less room to optimize the speed and have some accuracy implication on TPU. The upside is when scalar changes we don't need to recompile, but the downside is the speed and accuracy.

[2021-12-10 00:02] JackCaoG commented on #3248
FYI @yeounoh @rwightman

[2021-12-10 00:25] yeounoh opened #3249 "Split variance mean and mean squared computations"
## 🚀 Feature
Use E[x^2] - E[x]^2 >=0 for variance computation to allow better XLA optimization

## Motivation
We currently compute variance as (x - E[x])^2 which is known to be less fusable/optimizable on XLA.

[2021-12-10 00:26] JackCaoG commented on #3247
Thanks @bdhirsh, can we make these ops in a  check list format so we can all take some to work on when we have time 😄

[2021-12-10 22:54] wonjoolee95 commented on #3225
The PR is now ready to be merged (currently just waiting for the CircleCI builds to finish). With the changes in the PR, confirmed that the tests are now passing:
[code]
Also the following now succeeds:
[code]

[2021-12-11 01:50] #3225 closed

[2021-12-14 01:13] wonjoolee95 commented on #3225
I've merged the PR above and closed the issue for now. Please feel free to re-open if the issue rises again, @pmeier. Thanks!

[2021-12-15 08:15] cicirori opened #3254 "AllReduce XLA Token support"
## ❓ Questions and Help

https://github.com/pytorch/xla/blob/master/torch_xla/csrc/init_python_bindings.cpp#L349
I was wondering if XLA AllReduce() already supports the standard xla token?
I'm trying to overlap the computation and communication of torch xla in a distributed training, which requires splitting of allreduce at the xla layer, and I'm considering what method to use to guarantee the ord

[2021-12-15 16:57] yeounoh commented on #3249
Aside from the fact that it would be more XLA fusable, I also saw a small improvement on the throughput and the convergence rate:

       model             | dataset  | epochs | top1 | rate | split var computation
regnetz_d8_evos | cifar100 | 20 | 29.37 | 750/s | FALSE
regnetz_d8_evos | cifar100 | 20 | 35.2 | 800/s | TRUE

[2021-12-16 19:14] wonjoolee95 opened #3256 "Update CircleCI to use cuda11"
Issue for tracking task to update CircleCI to use cuda11.

[2021-12-18 23:20] rnett opened #3257 "Support specified fallback device"
## 🚀 Feature
According to the docs, any ops without lowerings will fallback to the CPU.  I would like to be able to create a XLA_GPU device that falls back to a non-XLA GPU device.  This will cause fallbacks to have significantly less performance impact compared to falling back all the way to CPU.

Ideally, rather than something GPU-specific, `xla_device` would just take a device to use as the fal

[2021-12-19 03:47] rnett opened #3258 "Implementing a runtime JIT compiler around this and/or lazy tensors"
I've been toying with the idea of writing a JVM-style runtime JIT compiler for tensor computation graphs that would compile (only) hot paths using XLA.  I've been looking through this repo and pytorch, trying to find what integration and extension points I should look at.  Implementing it directly into [here](https://github.com/pytorch/xla/blob/master/torch_xla/csrc/op_by_op_executor.cpp#L185) see

[2021-12-19 05:17] JackCaoG commented on #3258
@wconstab should have better answers. Rule of thumbs is if you are trying to target PyTorch IR, you should implement an Lazy backend. If you are planning to add a XLA backend (take HLO as input instead of pytorch IR), you can extend pytorch/xla code.

[2021-12-19 05:21] rnett commented on #3258
Ok cool, this is definitely my target.  I don't have a good grasp on the status of the lazy backend, is the best place to look https://github.com/pytorch/pytorch/tree/lazy_tensor_staging?

[2021-12-19 05:24] JackCaoG commented on #3257
We have thought about this, the main problem I am seeing is whether `XLA_GPU`(it is a XLA device) holds a lock to the actual GPU device which prevents pytorch uses native CUDA device. We have never run the experiment through.

[2021-12-19 06:07] rnett commented on #3257
I know I can have eager and jit (i.e. XLA) tensorflow code together on GPU, see [example](https://colab.research.google.com/gist/rnett/f476141d86f8a89c2bde0a7e09cd7e6e/jit_compile.ipynb).  I've never tried it in parallel, but I don't think the XLA device for tf-function is transient so I would expect it to work.

[2021-12-19 06:13] #3237 closed

[2021-12-19 06:37] jhillhouse92 commented on #1911
Thanks @satyajitghana, this fixed the issue for me using xmp. I was also able to get it running with `multiprocessing` and `ProcessPoolExecutor` from `concurrent.futures` but there were issues with my training code and the concurrent library didn't reveal it like xmp did.

[2021-12-20 22:24] JackCaoG opened #3259 "[PT_BREAK] CI fails on pt/xla head"
## 🐛 Bug

CI fails on pt/xla head

## To Reproduce

run CI against pt/xla master

Reading the error log and found
[code]

[2021-12-20 22:39] JackCaoG commented on #3259
Sample error log: [here](https://circleci.com/api/v1.1/project/github/pytorch/xla/20067/output/105/0?file=true&allocation-id=61c0fb7ac0043d409c5147e4-0-build%2F3F08B48)

I think the error is coming from build split out too many logs and overwhelming the I/O. Majority of the log is in the format of

copying the header to build dir
[code]

and copying the build dir to conda dir
[code]

@mruberry Do

[2021-12-20 22:51] JackCaoG commented on #3259
Trying
[code]

which should make `stdout` `non-nonblocking`

[2021-12-21 01:59] #3259 closed

[2021-12-22 06:11] TPFRL opened #3264 "[TPU VM] std::bad_alloc if imported after importing tensorflow"
## ❓ Questions and Help
On TPU-VM (v2-alpha),
I sometimes get std::bad_alloc when I import packages in particular order.

For example,
1. **tensorflow must be imported after torch_xla**
Failure case : importing tensorflow before importing torch_xla
![image](https://user-images.githubusercontent.com/8455454/147042074-d3a12f3b-d233-491a-8dec-6363fd215b38.png)
Success :
![image](https://user-images.g

[2021-12-22 18:07] JackCaoG commented on #3264
We don't really support import `tf` and `pt/xla` in the same process since `pt/xla` also carry a version of `tensorflow` and there might be conflicts. If you find a way to get around it(with certain order) I would just stick with that for now.

[2021-12-22 18:46] yeounoh opened #3265 "Support `sorted` flag in topk implementation"
## 🚀 Feature
We should support the `sorted` flag in [topk](https://github.com/pytorch/xla/blob/220e879c3308b8477a5fb0d635c0a2f87f67409d/torch_xla/csrc/xla_lower_util.h#L19)), as specified in PyTorch [topk](https://pytorch.org/docs/stable/generated/torch.topk.html).

## Additional context

We have deprecated the flag in #3246  as the current implementation always returns a [sorted result](https://g

[2021-12-22 18:48] #2987 closed

[2021-12-23 02:47] yxd886 opened #3266 "Slower 1x when training with one GPU using Pytorch-xla compared with using pytorch only"
## 🐛 Bug

I am training a CNN model using Pytorch-xla, and found it is 1x slower when training with one GPU using Pytorch-xla compared with using pytorch only.

## Environment

 - Reproducible on XLA backend [CPU/TPU]: Tesla V100 GPU
 - torch_xla version: 1.11
 - using gcr.io/tpu-pytorch/xla:nightly_3.7_cuda_10.2

The metric report is listed below:
Metric: CompileTime
  TotalSamples: 9
  Accumulat

[2021-12-23 03:54] JackCaoG commented on #3266
Yea, we have https://github.com/pytorch/xla/issues/2932 to track the lowering of `im2col` and backward. I think it is from `F.unfold`

[2021-12-23 04:10] yxd886 commented on #3266
Dear JackCaoG,
    Thanks for your quick reply, yes, I found F.unfold in my code, and I also found that torch.distributions.normal.Normal.cdf torch.distributions.normal.Normal.pdf in my code will directly cause aten::_local_scalar_dense, is there any way to avoid this?

Thanks very much.

[2021-12-23 04:32] JackCaoG commented on #3266
I don't have a good solution for `unfold`, `_local_scalar_dense` happens when you convert a tensor to the scalar value (for example trying to print the value of a tensor). It is actually not the end of the world if it is not happening in the middle of the training.

If you can share the a sample code of `torch.distributions.normal.Normal.pdf` will trigger the `_local_scalar_dense` I can take a loo

[2021-12-23 06:50] #3256 closed

[2021-12-23 07:27] wonjoolee95 opened #3267 "Update TF to latest version"
We haven't updated TF in PyTorch/XLA in a while. Now that we have updated PyTorch/XLA CircleCI to cuda 11 with https://github.com/pytorch/xla/issues/3256, we want to update TF with the latest changes.

[2021-12-23 08:40] byronyi commented on #3266
I plan to work on supporting im2col with torch-xla.

[2021-12-23 09:24] TPFRL commented on #3264
Ah, thanks!

[2021-12-23 09:24] #3264 closed

[2021-12-23 22:08] #3249 closed

[2021-12-24 03:13] #3210 closed

[2021-12-27 16:59] seemethere opened #3270 "Upstream pytorch/pytorch CI failing with cannot unlink '/usr/bin/bazel'"
https://github.com/pytorch/pytorch/runs/4615376263?check_suite_focus=true#step:17:2560

Introduced in https://github.com/pytorch/xla/pull/3255

[code]

[2021-12-27 18:37] #3270 closed

[2021-12-28 06:05] yxd886 opened #3271 "How to specify compute capability when building from soruce to support GPU?"
Hello, when I finish building from soruce to support GPU, and run the test script test_train_mp_imagenet.py, a warning is shown:

TensorFlow was not built with CUDA kernel binaries compatible with compute capability 7.5. CUDA kernels will be jit-compiled from PTX, which could take 30 minutes or longer.

I am wondering how to specify the compute capability when building xla ?

Thanks very much!

[2021-12-28 18:20] wconstab commented on #3258
Yes, lazy_tensor_staging is our source of truth.  You'll notice that more and more of the core sources are moving to pytorch master branch under torch/csrc/lazy - our plan is to fully land this functionality over the next half.  Currently, it's partially landed and also partially working - it works for a number of models in torchbench (eval/train) but has issues with some.  We're prioritizing gett

[2022-01-04 17:37] yeounoh commented on #3271
Have you tried setting `XLA_CUDA` flag?
[code]

[2022-01-04 21:40] ymwangg commented on #3271
Building with
[code]
works for me.

[2022-01-05 02:01] yxd886 commented on #3271
Yes, I solved the problem by setting TF_CUDA_COMPUTE_CAPABILITIES="7.0,7,5".

[2022-01-05 02:01] yxd886 commented on #3271
Thanks very much!

[2022-01-05 17:54] cajoek commented on #3186
Hi @JackCaoG is pytorch 1.10 supported yet? Latest version says it does support it but I can't get it to work on Colab. What command should i use to install?

[2022-01-05 18:11] JackCaoG commented on #3186
@cajoek We didn't make much progress on 1.10(and nightly) on colab yet. It is moving pretty slowly.

[2022-01-05 18:28] wonjoolee95 opened #3277 "Broken build due to PyTorch change in softplus"
Pulling the latest PyTorch changes now will cause our PyTorch/XLA build to fail. It seems like they have pushed a commit last week that changes an op's input parameters (https://github.com/pytorch/pytorch/pull/70296). This breaks our build because we had this op (softplus_backward) already lowered with the original input parameters.

[2022-01-05 18:31] cajoek commented on #3186
I see, are the problems specifically related to Colab?

[2022-01-05 18:40] JackCaoG commented on #3186
@cajoek It is related to colab's base os(I think it is ubuntu 18.02). PyTorch/Xla has moved its build to debian 10(to fix a different build issue) which has a newer version of GLIBC and incompatible with ubuntu. While colab team is working on upgrading their base os to a newer version and we are trying to build pt/xla on debian 9 too, both of these efforts goes pretty slowly.

[2022-01-05 19:35] yeounoh commented on #3271
Thank you @yxd886 , glad it worked :)

[2022-01-05 19:35] #3271 closed

[2022-01-05 19:36] yeounoh commented on #3265
Good first issue, based on an offline discussion with @JackCaoG

[2022-01-05 22:52] wonjoolee95 opened #3279 "PyTorch test_upsamplingBicubic2d_correctness_xla failing"
As noted in https://github.com/pytorch/xla/pull/3276, After pulling in latest changes for PyTorch, test `test_upsamplingBicubic2d_correctness_xla` fails with error:
[code]

This test has been pushed a week ago from PyTorch -- https://github.com/pytorch/pytorch/pull/68819.

[2022-01-07 02:28] ronghanghu commented on #3214
I once encountered a frequent GRPC error `tpu-vm-pt-1.10`. After upgrading to `libtpu_nightly-0.1.dev20211015-py3-none-any.whl`, the error seems gone for me.

[2022-01-08 16:31] wjakob opened #3283 "How to benchmark the JIT / XLA?"
## ❓ Questions and Help

Dear JAX developers,

I am trying to better understand the performance of JAX and its underlying just-in-time compilation architecture, but am puzzled how to get access to this information. For example, it would be helpful to distinguish how much time is spent tracing in Python, doing HLO optimizations within XLA, and time spent further downstream in LLVM->PTX and PTX->SAS

[2022-01-10 06:11] JackCaoG commented on #3283
Metric utility we developed is pytorch only hence can not be used by JAX.

[2022-01-10 08:26] wjakob commented on #3283
My apologies, I wanted to open this ticket in the JAX repository and got mixed up with the browser tabs. 🤦

[2022-01-10 08:26] #3283 closed

[2022-01-10 15:41] jeffhataws commented on #3216
@miaoshasha , @JackCaoG , when we will have this automatic sync in PyTorch-XLA? Would you also update documentation to indicate this "quirk" until there's an automatic sync implementation? We also see this same issue with HuggingFace BERT multi-worker training, where there's difference between DDP and XMP spawn on GPU due to this missing sync in XLA. We also found that keeping the same seed in all

[2022-01-10 22:09] #3248 closed

[2022-01-10 22:25] JackCaoG commented on #3265
@will-cromar

[2022-01-11 04:25] wonjoolee95 opened #3284 "Tests test_CTCLoss_no_batch_dim_reduction_sum_use_module_form failing"
Tests `test_CTCLoss_no_batch_dim_reduction_sum_use_module_form_True_xla` and `test_CTCLoss_no_batch_dim_reduction_sum_use_module_form_False_xla` are failing after pulling in latest changes for PyTorch. These tests are been disabled for now.

[2022-01-11 05:14] JackCaoG opened #3286 "Training Mnist with pt/xla prints warning message"
## 🐛 Bug

Training Mnist with pt/xla prints warning message.

/usr/local/google/home/jackcao/anaconda3/envs/pytorch2/lib/python3.7/site-packages/torch/utils/data/_utils/collate.py:138: UserWarning: An output with one or more elements was resized since it had shape [75264], which does not match the required output shape [96, 1, 28, 28].This behavior is deprecated, and in a future PyTorch release ou

[2022-01-11 19:00] wonjoolee95 commented on #3284
Tests `test_CTCLoss_no_batch_dim_reduction_mean_use_module_form_True_xla` and `test_CTCLoss_no_batch_dim_reduction_mean_use_module_form_False_xla` are also failing.

[2022-01-12 18:59] yeounoh commented on #3159
Hi @seemethere I've created a new build image for xla. Could you help adding it to the PyTorch ECR base image repo?
[code]
Repo name can be something like,
[code]
we can fix the repo name to be `xla_base` per a single repo tracking different base image versions.

[2022-01-12 21:26] aws-rhsoln opened #3290 "Should Parameters that are outputs of computation be aliased"
## 🐛 Bug
Parameters of an HLO module that live out of entry computation are not aliased with the outputs. In case of XLA_CPU, such HLO module would be modified by the CopyInsertion pass in tensorflow backend resulting in a copy instruction been added. This ends up allocating a new memory for the output tensor.
## To Reproduce

Consider the example below:
[code]

This should generate the following

[2022-01-12 21:27] aws-rhsoln opened #3291 "View tensors not respecting the definitions"
## 🐛 Bug
According to pytorch documentation, any changes made to view tensors should be reflected in the input tensor (whose view is been created). This property is not respected if we have a mark_step after view and make the changes to the view after the mark_step.
Another property that view has: the view and the input tensor share the same storage. It looks to me from the TF logs (turn TF_CPP_MA

[2022-01-12 22:18] JackCaoG commented on #3290
Thanks for reporting. This is a known behavior that `view tensor` will drop its relationship with the base tensor after a `mark_step`. `out` tensor has its own storage is an expected behavior and will prevent segfault( and stop acting as a view ).

Note that we didn't intend to use `alias` to implement the pytorch `view`. You can check the comment at https://github.com/pytorch/xla/pull/3018. This

[2022-01-12 22:21] JackCaoG commented on #3291
This is a known behavior, check my comment at https://github.com/pytorch/xla/issues/3290#issuecomment-1011502424. @bdhirsh is working on upstreaming the pt/xla view handling logic to pytorch core. We think that should solve this problem.

In the mean time, we tried to not touch the previous old tensor after a `mark_step` to avoid the computation incorrectness.

[2022-01-13 06:40] MrRobot2211 commented on #2434
Hi ,I am having trouble with this. I am using `TFRecordReader` inside a torch `IterableDataset` but then once I input the Dataset to the DataLoader it starts conflicting with the `DistributedSampler`. Is there a standard way to bypass the use of the Sampler for this case?

[2022-01-13 07:55] davidel commented on #2434
Can you post the implementation of your *Dataset* and the specific error you get?
It is hard to help without more information 😉

[2022-01-13 08:43] zhb0920 opened #3293 "Error: torch_xla/csrc/convert_ops.cpp:83 : Unsupported XLA type 15"
## ❓ Questions and Help
跑到这里就报错
    mask_fft=torch.fft.fft2(mask_sigmoid)
RuntimeError: Error while lowering: f32[288,288]{1,0} xla::cast, type=f32, dtype=Float, stype=ComplexFloat
Error: torch_xla/csrc/convert_ops.cpp:83 : Unsupported XLA type 15

[2022-01-13 16:56] aws-rhsoln commented on #3291
But the users can have such behavior in their script (though a corner case) and might see discrepancies.

Is there a timeline, when the view handling logic will be upstreamed?