[2021-01-27 16:17] jfrankle commented on #2757
Looks like calling `xm.mark_step()` led to an OOM error. I'm reducing the batch size to avoid that going forward.

[2021-01-27 16:17] jfrankle commented on #2757
Running now with the smaller batch size. Stay tuned...

[2021-01-27 16:18] jysohn23 commented on #2757
This one actually looks like it's somehow the same graph as w/o calling `xm.mark_step()` every iteration hmm..

[2021-01-27 16:28] jfrankle commented on #2757
It's now running crash-free when calling `xm.mark_step()` on every iteration, just very very slowly (about five seconds per loop iteration vs. < 1 second for fprop and bprop on the model itself). I'm collecting the metric report and debugging data now. Stand by...

[2021-01-27 16:42] jfrankle commented on #2757
@jysohn23  Metric report:

[code]

[2021-01-27 16:47] jysohn23 commented on #2757
FYI, for the loop unrolled graph, when I try to run with some of our tooling it looks like one op in the graph that's causing the crash:
[code]

Where you see the types for the compared tensors are signed s64 types, whereas the actual comparison op is unsigned. But I think that we've got the `mark_step` one not crashing, we can focus on the slow `mark_step` one for now.

[2021-01-27 16:58] jysohn23 commented on #2757
Taking a look at the metrics you can see that:
[code]

We have something that's dynamic going on, since we're compiling 13 times for 13 steps (exited out while 13th compile still ongoing). Also `CompileTime` >> `ExecuteTime` which is why it's so slow per step. Though, we no longer have the `aten::` op so the graph looks fully fused to me, which is good progress.

So to figure out why the graph is

[2021-01-27 17:04] jfrankle commented on #2757
The output of ten steps from the flags `TF_CPP_MIN_LOG_LEVEL=0 TF_CPP_VMODULE=tensor=5,computation_client=5,xrt_computation_client=5` is below. Working on following your instructions above now.

[code]

[2021-01-27 17:17] jfrankle commented on #2757
@jysohn23 I ran the debugging command you suggested on three iterations of the loop, single-core. I got the following file. I'm not quite sure how to interpret it.

[out.log](https://github.com/pytorch/xla/files/5881898/out.log)

[2021-01-27 17:20] jfrankle commented on #2757
@jysohn23 The corresponding source is [here](https://drive.google.com/file/d/1HqHjUxziABSX6vTbKohShbFW6ql8v1ZI/view?usp=sharing).

[2021-01-27 21:52] #2696 closed

[2021-01-28 01:58] byronyi commented on #2756
XLA at::Tensor are merely symbolic; they do not represent materialized value unless explicitly requested through sync points (e.g. copy back to cpu).

[2021-01-28 03:59] jfrankle commented on #2757
One additional update: Once it gets through the first call to the predict function, it runs much more quickly on subsequent passes. I think it's treating each loop iteration as a distinct graph and compiling them separately.

[2021-01-28 06:54] fortianyou commented on #2756
Yes, XLATensor was used to trace symbolic IR ops. But I think the XLA at::Tensor that I referenced is [XLATensor::tensor_data](https://github.com/pytorch/xla/blob/master/torch_xla/csrc/tensor.h#L1245), which should have been materialized after sync.

[2021-01-28 07:12] jfrankle commented on #2757
@jysohn23 I managed to get it solved. To do so, I had to replace all indexing operations with calls to the various `torch.index_` functions as follows. I've marked all of the places where I've added lines (# NEW) and modified existing lines (# MODIFIED).

Thank you so much for your help! I'd very much still welcome further suggestions to improve the code.

[code]

[2021-01-28 07:15] #2757 closed

[2021-01-28 15:11] jysohn23 commented on #2757
Nice work on getting the graph static! So essentially I think in your previous example, one problem is how these two HLO graphs are considered different:
[code]
Looping in @JackCaoG our compilers expert: do you think this can somehow made the same graph, maybe by using gathers instead?

Also, yes please I think it'd be great if you could add some documentation on TROUBLESHOOTING doc.

[2021-01-28 21:06] jfrankle commented on #2757
Yup - I think that's the core of the issue. Simple indexing operations (like getting or setting the `i`th column of a tensor) were treated as separate operations. I'm no expert, but perhaps - even if general indexing isn't supported - there are ways of automatically performing the conversions that I did under the hood? Everything I did was purely mechanical once I understood the semantics of the `

[2021-01-29 00:11] taylanbil commented on #2636
After investigation seems like this issue is not anymore reproducible with the latest builds, and no changes are needed. Closing the issue now.

[2021-01-29 00:11] #2636 closed

[2021-01-29 00:11] taylanbil commented on #2730
@kkissmart can you try w/ the latest nightly? dropout should be fast now per https://github.com/pytorch/xla/issues/2636#issuecomment-769481853

[2021-01-30 18:54] tyoc213 opened #2762 "compile/install locally requires numpy and I have numpy"
## 🐛 Bug

When trying to compile or build lib, I got numpy not found even that if I open a python terminal and import it can do it without error

[code]

## Environment

 - torch_xla version: just cloned form the repo
[code]

## Additional context

Same prompt, can import numpy

[code]

[2021-01-30 19:43] tyoc213 commented on #2762
seem it comes from this folder... which was modified 10 days a go https://github.com/tensorflow/tensorflow/tree/master/third_party/py

[2021-01-30 20:23] tyoc213 commented on #2762
Found solution here https://github.com/google/mediapipe/issues/724#issuecomment-657189385

so I did `which python` to find the path, then

[code]

Not so sure why I need now to set up PYTHON_BIN_PATH as the times I have compiled before, this wasn't a requeriment.

Will leave this open for the moment so that ppl can read it and maybe provide some feedback in why or why not for local installs under

[2021-01-31 02:05] tyoc213 commented on #2762
Got again the error tracked here https://github.com/pytorch/xla/pull/2721#issuecomment-757013666 and need to apply same solution

[code]

[2021-01-31 04:19] 1374839016 opened #2763 "Why loss becomes zero after calling xm.optimizer_step()?"
## ❓ Questions and Help
I use pytorch xla to train my model on kaggle, but something strange is that ,the first epoch , I calculate loss with mesh_reduce function ,it return a correct value,but after calling  xm.optimizer_step() function ,the loss become zero,after the first epoch,the loss is zero in each opoch.
But if I delete optimizer_step() , the loss become correct in several opochs ,but stil

[2021-02-01 18:55] ailzhang commented on #2762
@tyoc213 This sounds like an mismatch environment issue, maybe check:
1. `which pip` and see if matches your `python` from conda?
2. Try `python setup.py install` instead of `pip install`?

[2021-02-01 19:43] JackCaoG commented on #2758
@aingo03304 Thanks for reporting, will take a look. Do you mind sharing the config you used to setup the multi-GPU?

[2021-02-01 19:55] JackCaoG commented on #2756
Hi @fortianyou Sorry for the late reply. I don't think we test the multi-node GPU setup very well internally. For you question

**1. Each xla tensor sync create a SyncTensorGraph, the compilation slow down very much.**
This should not happen, this sounds like
https://github.com/pytorch/xla/blob/ee43111408778968431143471b03f445d48b9e6a/torch_xla/csrc/tensor.h#L174
instead of `SyncTensor`. One thing

[2021-02-01 20:03] ailzhang commented on #2756
@fortianyou XLA GPU backend is hidden behind XLA backend from pytorch perspective, which means pytorch doesn't have access to the memory address of a XLA GPU backend tensor until it's explicitly materialized, and the materialization comes with a copy. This copy is required since XLA doesn't support storage like CPU or native GPU backend.
Let us know if this doesn't answer your question!

[2021-02-01 20:43] JackCaoG commented on #2742
Hi @fhwzl I was not able to repo this error using pytorch and pytorch/xla head. I got

[code]

What version of pytorch and pytorch/xla you were using?

[2021-02-01 22:40] tyoc213 commented on #2762
Yeah, indeed it was (I can compile now), but before I didn't need that I have set `PYTHON_BIN_PATH`.

[2021-02-02 00:22] taylanbil commented on #2763
It's hard to debug issues such as these w/o a runnable repro script. Nothing pops in the image above to me that would cause something like this. Does this happen w/ 1 core? Could you provide more info, and better, a script that I can run and reproduce this?

[2021-02-02 01:25] 1374839016 commented on #2763
Yes,thanks for your help.It's a kaggle kernel,I made this kernel public,you can fork and run, and you can see the bug.
[https://www.kaggle.com/jianxinhu/efficientnet-5-fold-train-mian-baseline-add-tpu](url)

[2021-02-02 01:35] ailzhang commented on #2762
Cool I'll close this issue as resolved then, feel free to reopen if you have followup questions!

[2021-02-02 01:35] #2762 closed

[2021-02-02 07:03] aingo03304 commented on #2758
@JackCaoG
Thank you for the response. Here are my env variables I set.
[code]

By the way, do you have any plan to officially support pytorch-xla for gpu?

[2021-02-02 08:46] fhwzl commented on #2742
Hi @JackCaoG:
    torch 1.7.0 and  torch_xla 1.7.0，you may need to run several times In my case (randomness). thx

[2021-02-03 22:28] denfromufa commented on #2607
@JackCaoG fyi, I have access to tpuvm directly for JAX, but pytorch xla 1.7 is crashing there.

[2021-02-03 22:43] JackCaoG commented on #2607
Hi @denfromufa, PT/XLA 1.7 won't work for TPUVM. We are continuing working on this and you should hear more from us in this quarter.

[2021-02-04 01:34] taylanbil commented on #2763
Does this happen with one core?

[2021-02-04 02:44] 1374839016 commented on #2763
I follow your advice and rerun my code,but the error still happen even with a single TPU core.I try to use different sampler,if I use torch.utils.data.RandomSampler ,at first epoch,the loss is not zero,but since second epoch,the loss become zero again,which has the same phenomenon as 8 TPU cores.
![image](https://user-images.githubusercontent.com/51019236/106836675-9131ec00-66d4-11eb-9188-189c7814

[2021-02-04 03:03] taylanbil commented on #2763
running with one core, could you inspect your input, output and target when loss is zero? i feel like this could be a data related issue.

[2021-02-04 03:39] 1374839016 commented on #2763
Yes,you are right.I print the output,at first mini-batch,the model has normal output value,but after that ,the model output nan and loss become zero,but I don't know why this happened.
`start_training
tensor([[ 0.3164,  3.7344,  6.4375,  8.5000, -1.2109],
        [ 1.9922,  0.8203,  3.9375,  1.1250,  0.5039],
        [ 1.0000,  0.6953,  5.1562,  6.9688, -1.6797],
        [-0.9492,  2.6250,  1.2031

[2021-02-04 03:42] taylanbil commented on #2763
so, the input is not nan, but the output is nan? what is the loss value in the step *before* you see the nans?

[2021-02-04 03:57] 1374839016 commented on #2763
Yes,input is correct.It's not nan,but the model output nan,so I think it's the problem related to model parameters.Before I see nan,the loss is normal,usually 1~2,so the first mini-batch doesn't have any issue.

[2021-02-04 04:04] taylanbil commented on #2763
can you check if model params are nan?
something like:
[code]

[2021-02-04 05:27] 1374839016 commented on #2763
I check the parameters of my model,for 8 TPU cores,at first mini-batch,all model has normal parameters,they are not nan,but since second mini-batch,the model parameters become nan.And I also check the output for each TPU core,I find at first mini-batch,five cores can output correct output,others will output nan. I print the parameters of these model which output nan,their parameters aren't nan,but

[2021-02-04 07:31] taylanbil commented on #2763
I think we could focus on the one core case to debug.

We would need to edit the model's forward method to isolate when the flowing tensor becomes nan during the fwd pass. This is certainly not related to xm.optimizer_step, but it could be a bug in torch_xla.

Are you able to put some checks after each model layer, and see when it produces a nan?

[2021-02-04 09:05] 1374839016 commented on #2763
Yes,you are right,the output become nan when pass through the network.The output of first few layers are normal,and become nan after several layers.
![image](https://user-images.githubusercontent.com/51019236/106869302-be00f600-670a-11eb-838c-a1295f9af18c.png)
And I also find this bug is related to model architecture,the model will have normal output with resnext50_32x4d archirecture,but nan with

[2021-02-04 16:57] taylanbil commented on #2763
good progress.. now we need to understand what kind of layer is "blocks", and what is the input to it.

[2021-02-04 21:03] #2741 closed

[2021-02-04 22:13] taylanbil commented on #2763
I'm not experienced w/ Kaggle, I tried to repro but I'm getting
[code]

The curl command times out, looks like my notebook has no access to internet?

[2021-02-05 01:43] 1374839016 commented on #2763
Yes,you must make sure the internet is connected before running the code. Internet button is on the right.

[2021-02-05 03:38] JackCaoG commented on #2758
HI @aingo03304 , sorry for the late reply. I think I need more time to look into this. For me if only exporting
[code]

will hit https://github.com/pytorch/xla/blob/9917e41f60354ce96b3181acf30dff422d3c8716/torch_xla/distributed/xla_multiprocessing.py#L382 and everything seems fine.

If I use
[code]
I will hit a different issue with my setup. I need to look into it a bit more. I don't think you nee

[2021-02-05 05:56] aingo03304 commented on #2758
@JackCaoG Yes, I can reproduce your comment. Thank you for the reply.
The actual situation I mentioned was
[code]
Then you can reproduce the python error like this.
[code]
Clearly, this is an error on the python side.

However, now I encounter an error like this and it seems something that is in XLA and/or NCCL.
[code]

Any thought on this? I think this error is in the TensorFlow code so I should

[2021-02-05 21:30] taylanbil commented on #2763
I'm not sure how to edit the model's forward in this environment, in order to inspect the input to `self.blocks` and the output.

[2021-02-05 23:49] 1374839016 commented on #2763
Sorry，I rarely edit the forward directly，maybe you can find answer on google.

[2021-02-08 18:27] JackCaoG commented on #2727
Close this issue as upstream torch pr is discarded

[2021-02-08 18:27] #2727 closed

[2021-02-10 00:27] taylanbil commented on #2749
sorry for the delayed response. One thing I'm noticing is, you are sampling the validation dataset, but you've turned off `drop_last`, so it may be that the validation iterators are of different length. That would cause a hang, because the cores w/ extra batch will wait for the other cores to join the rendezvous, but that'll never happen. I'm not sure if this is the case since I'm not able to repr

[2021-02-10 09:54] tchaton opened #2772 "Using xmp.spawn, state_dict gets locked and the model can't be saved."
## 🐛 Bug

## To Reproduce

Here is the current PR I am working on: https://github.com/PyTorchLightning/pytorch-lightning/pull/5878/files
It seems I can't save the model as it gets locked.
Any idea ?

Steps to reproduce the behavior:

1.
2.
3.

## Expected behavior

## Environment

 - Reproducible on XLA backend [CPU/TPU]:
 - torch_xla version:

## Additional context

[2021-02-10 16:19] tchaton opened #2773 "TypeError: 'mappingproxy' object does not support item assignment"
## 🐛 Bug

## To Reproduce

The callbacks type in the checkpoint created by this function raised `TypeError: 'mappingproxy' object does not support item assignment` when running xm.save(checkpoint, ...)

[code]

Would it be possible for you to support resolve this bug, as it is currently breaking PyTorch Lightning TPU support for callbacks states.

Steps to reproduce the behavior:

1.
2.
3.

## Exp

[2021-02-10 19:06] zcain117 commented on #2773
I am able to run e.g. `xm.save(model.state_dict(), 'mnist-xm-save.pth')` and it works as intended

How were you trying to use `xm.save`?

[2021-02-10 19:38] taylanbil commented on #2772
That's a big pr, haven't been able to look at all of it, but usually the hang during `xm.save` is due to the [rendezvous](https://github.com/pytorch/xla/blob/master/torch_xla/core/xla_model.py#L819) at the end. If for some reason, each and every core doesn't arrive at the rendezvous, process will hang.

This happens, for example, when users have an if statement around `xm.save`, which for some cor

[2021-02-10 19:47] JackCaoG commented on #2758
Hi @aingo03304 Sorry for the late reply, the last error seem to coming from the NCCL group config, in https://github.com/tensorflow/tensorflow/blob/b681785237799530623e94455751a02c43eca1d7/tensorflow/compiler/xla/service/gpu/nccl_all_reduce_thunk.cc#L164

I will try to repo this when I am a bit more free, but this error might not be directly related to pt/xla.

@tyoc213 You were also looking into

[2021-02-10 20:25] zcain117 commented on #2772
Also curious: does this happen when you run `tpu_cores=1` or some other method of running on just 1 core?  If it doesn't happen there, that's more evidence of Taylan's theory of different cores not reaching the rendezvous.

If you're using 8 cores with the normal `xmp.spawn`, then you don't need any `if` statement since `xm.save` will already make sure that only the master core performs the write:

[2021-02-10 21:32] AugustasMacys commented on #2749
Hi @taylanbil ,

I wanted to notify you that I tried your suggestion and it did not help. However, I looked through my flag values again and I a bit played with them and when I set **num_workers** to 0 the code works and not freezes. However, the code is much slower. I have tried looking for information and I found: https://github.com/pytorch/xla/issues/1184

which states that num_workers should b

[2021-02-10 23:51] taylanbil commented on #2749
This sounds like the issue lies in the data-loading part. if you set num workers to 0, main process does the loading. If you set it to 1+, a subprocess is spawned that processes and loads the data.

The root cause can lie in several places; maybe the loading pipeline is not coded up correctly, or maybe the spawned subprocesses are put to sleep by the jupyter notebook, etc. Could you try the follow

[2021-02-11 00:18] #2754 closed

[2021-02-11 00:19] taylanbil commented on #2730
closing, please reopen if needed.

[2021-02-11 00:19] #2730 closed

[2021-02-11 00:20] #2713 closed

[2021-02-11 15:23] TaridaGeorge commented on #1725
I have a similar problem: Unsupported XLA type 10 while trying to train wav2vec2.0

`Traceback (most recent call last):
  File "/anaconda3/envs/torch-xla-1.6/bin/fairseq-hydra-train", line 33, in <module>
    sys.exit(load_entry_point('fairseq', 'console_scripts', 'fairseq-hydra-train')())
  File "/home/tarida_george/saa-asr/sssr/libs/fairseq/fairseq_cli/hydra_train.py", line 91, in cli_main
    h

[2021-02-11 15:53] TaridaGeorge opened #2774 "Error while lowering: f32[768]{0} xla::cast, location=build_fp32_params@fp16_optimizer.py:66, type=f32, dtype=Float, stype=Half"
## 🐛 Bug

Error: torch_xla/csrc/convert_ops.cpp:84 : Unsupported XLA type 10

## Environment

 - Reproducible on XLA backend [CPU/TPU]: TPU
 - torch_xla version: nightly

## Additional context

[code]

[2021-02-11 17:52] taylanbil commented on #1725
@TaridaGeorge [here's a working branch](https://github.com/taylanbil/fairseq/commits/w2v2_rebased) of wav2vec2.0

[2021-02-11 17:54] taylanbil commented on #2749
you can also run w/ 1 core, num_workers 4 and see if that hangs as well.

[2021-02-11 18:01] AugustasMacys commented on #2749
Thanks very much @taylanbil I have not looked into it after yesterday, but I will have a look again tomorrow.

[2021-02-11 20:42] zcain117 commented on #2749
When using multiprocessing, each process will use num_workers

So effectively it will try to spin up 8 * num_workers processes. I'd recommend setting num_workers to be equal or less than num_cpu_cores/8, otherwise you'll get CPU cores swapping between workers and it will get very slow

When I train resnet for example, I use a 64-core VM and I use num_workers=8

[2021-02-12 02:36] TaridaGeorge commented on #1725
@taylanbil which branch?

[2021-02-12 02:37] TaridaGeorge commented on #1725
using w2v2_rebased I get this error:

[code]

[2021-02-12 02:48] taylanbil commented on #1725
@TaridaGeorge let s keep this issue as is, and discuss the crash in a separate issue. could you open a new issye with more info, such as instructions to repro, when the crash hapoens etc.

[2021-02-13 08:03] aingo03304 commented on #2758
@JackCaoG I want to fix this and run my code using multiprocessing asap.
I am not that familiar with NCCL API though, can you elaborate on NCCL group config?
In GPU xla backend code you mentioned, I cannot find any reason to fail ncclGroupEnd.

Don't know what `ncclUnhandledCudaError` exactly means, but the documentation of NCCL describes it as `A call to a CUDA function failed.`. Is there any way

[2021-02-13 10:04] mobassir94 opened #2776 "NormFreeNets are not working in pytorch XLA"
i was trying to use nf_resnet50 model in this notebook : https://www.kaggle.com/mobassir/faster-pytorch-tpu-baseline-for-cld-cv-0-9 from this repository : https://github.com/rwightman/pytorch-image-models

like other models,i followed these steps for using this model :

i include this updated dataset : https://www.kaggle.com/mobassir/timm2021 in my notebook(latest version of that timm repository),

[2021-02-13 17:21] zcain117 commented on #2758
Is this a setup with multiple machines, each machine having a few GPUs?  Or is this 1 machine with 4 GPUs?

If it's single-node, multi GPU you can just use e.g.:
[code]

this will run multiprocessing with 4 processes

you would need CUDA installed, for example you could use our public docker image: `gcr.io/xl-ml-test/pytorch-xla:nightly_3.6_cuda`

[2021-02-14 01:56] aingo03304 commented on #2758
@zcain117 Thank you for the response. My setup is on a single machine.
I'll try with the docker image and let you know the result. Probably my local CUDA setting is somehow improper for pt/xla.

[2021-02-14 22:41] tyoc213 commented on #2758
Sorry for late answer have been a little busy, yeah I can work locally with pytorch/XLA on GPU, but I only have 1 GPU the nearest thing I found was this https://github.com/pytorch/xla/issues/2670

[2021-02-15 05:53] robin5540 opened #2777 "XLA ops parity"
## ❓ Questions and Help
These are probably noob questions:
1. Is there a place where I can find feature parities of torch-xla? A list that shows me if an op or feature is supported on CPU, GPU, and XLA will help a lot. Say, sparse tensors are not supported on TPU.
2. Is there a way to check that my model is XLA compatible without connecting to a Cloud TPU. If not, I think this would be a great fea

[2021-02-15 07:38] robin5540 commented on #2777
a few additional context:
1. I tried to run torch-xla on CPU, but was my python process seems to get stuck at `torch_xla.core.xla_model.get_xla_supported_devices(devkind="CPU")`
2. I'm mainly curious about dataloader. Here is mental disconnect: [GCP documentation](https://cloud.google.com/tpu/docs/tutorials/pytorch-pod) seems to suggest a small VM as the "driver" instance, like a n1-standard-16, w

[2021-02-15 07:58] aingo03304 commented on #2758
@zcain117

It seems that the image is not public...

[2021-02-15 08:21] aingo03304 commented on #2758
@tyoc213 Actually I fixed the code and can run `test_train_mnist.py`. And now I encounter NCCL related error above.
(Thank you for the blog post. It really was really helpful!)

@zcain117

I encounter the same error:
[code]

Is there any information I should give you so you can figure out what the problem is?

[2021-02-15 13:58] jysohn23 commented on #2777
We don't have an exhaustive list of documentation, but if you have any specific questions you can feel free to ask. Like you say things like sparse tensors are not supported, or other stuff that needs storage.

XLA is a device agnostic linalg compiler, so you can target CPU/GPU/TPU alike. Just set your workers to be XLA:CPU and run your model to then collect a metrics report or run in `PT_XLA_DEBU

[2021-02-15 17:11] zcain117 commented on #2758
Sorry about that, I gave the wrong GCR image. The public one should be:

`gcr.io/tpu-pytorch/xla:nightly_3.6_cuda` ( or you can use `nightly_3.7_cuda` )

[2021-02-16 06:28] aingo03304 commented on #2758
@zcain117 I can reproduce the same error on docker image you gave.
[code]
This result is reproduced on another machine with two TitanXp.

[2021-02-16 06:32] aingo03304 commented on #2758
Here is my NCCL debug logs.
[code]

[2021-02-16 06:42] aingo03304 commented on #2758
@zcain117 This is logs when I turn on `TF_CPP_MIN_LOG_LEVEL=0`.
[code]

Because there is no issue on NCCL in tensorflow repo, I suspect `xla_client` is somehow wrong.

[2021-02-16 18:35] taylanbil commented on #2776
AFAIU the newly introduced code for these is in the optimizer. Lack of batchnorm should not lead to xla-problems such as dynamic shapes, frequent context switches from device to cpu etc. If you wanted to test this, you could switch your optimizer to something that is known to be fast, such as `torch.optim.SGD` (for debugging purposes only).

Could you collect some more debug info per the [troubles

[2021-02-17 00:20] taylanbil commented on #2776
I was incidentally listening to https://www.youtube.com/watch?v=rNkHjZtH0RQ and around [this section](https://youtu.be/rNkHjZtH0RQ?t=931) they talk about NF nets, and seems like the custom operation they do is in the model, not in the optimizer. This is very likely to be the culprit, the way they implemented in the repo you're using may not be compatible w/ XLA.

[2021-02-17 08:30] chaitnayabasava opened #2779 "Is model parallelism supported in xla for tpu?"
## ❓ Questions and Help
I am trying to train Stylegan2 pytorch implementation on colab TPU. But the session is getting crashed with OM error due to the huge size of the generator model.

The `xmp.spawn` function is parallelising the data loader and optimization across all available tpu cores but due to the size of the model, it is getting impossible to train on each core.

Each of the 8 available

[2021-02-18 21:04] rwightman commented on #2776
@taylanbil I can't speak to the OP specific impl, but there is no special optimizer with these models. A gradient clipping impl is suggested by the authors but it is optional and can be used with standard grad clipping.

The only slightly unusual aspect of these models is weight standardization in convs, but is fairly straightforward PyTorch. https://github.com/rwightman/pytorch-image-models/blob/

[2021-02-18 22:13] taylanbil commented on #2776
right, the optimizer comment was me confusing the NFNets w/ Normalizer Free Resnets (recent paper by Google).

@rwightman I took a brief look @ the code, thanks for linking. I indeed quickly found the issue; I had a hunch that `torch.std_mean` wasn't lowered to xla because I'm seeing this for the first time. I put together the minimal test:

[code]

and observed that the `aten` counter is there in

[2021-02-18 22:16] rwightman commented on #2776
@taylanbil thanks for the quick response, for @mobassir94' benefit, I imagine var_mean (or at least separate var/std + mean) is lowered? So if he changed to code to my 'alternate' impl or something similar at https://github.com/rwightman/pytorch-image-models/blob/master/timm/models/layers/std_conv.py#L124 ... things should work?

[2021-02-18 22:19] taylanbil commented on #2776
Unfortunately `var_mean` is not lowered either, `Counter: aten::var_mean` appears in the metrics report if I change to `torch.var_mean`.

[2021-02-18 22:24] taylanbil commented on #2776
separating works

[code]

results in

[code]

so you could separate and it'll work. We should lower `std_mean` regardless though. @mobassir94 If youwant to unblock yourself and not wait for the lowering, you can separate as above.

[2021-02-19 00:28] taylanbil commented on #2779
There are many types of model-parallelism, and currently some of those ways are possible on pt/xla.

- [here](https://github.com/pytorch/xla/blob/master/contrib/colab/Distributing_Large_Embedding_tables.ipynb) is an example colab that parallelizes the (one) embedding table in an NLP workload.
- [here](https://github.com/taylanbil/dlrm/blob/tpu-criteo-kaggle/dlrm_s_pytorch.py) is a branch of DLRM,

[2021-02-19 06:10] mli opened #2783 "randn causes recompile even data shapes are unchanged"
I run the following code and expect it should be compiled once as data shapes are not changed.

[code]

but according the metric, every execution caused a compilation, which causes a big performance issue. Is there any specialty in randn causes this behavior?

[code]

[2021-02-19 08:03] taylanbil commented on #2783
Could you remove the float() call, set `_ = y.sum()` and add a `xm.mark_step()` after that line?

[code]

[2021-02-19 08:29] yzhliu commented on #2783
@taylanbil that triggers only 1 compilation. any idea what causes the difference?

[2021-02-19 08:47] taylanbil commented on #2783
So what's happening underneath is roughly as follows:

- Python code such as `torch.matmul(a,b)` doesn't actually execute the matrix multiplication, but it appends this operation to the IR graph, which is to be executed later by the XLA device.
- Device executes (after it compiles if needed) when it sees `xm.mark_step()`. This function materializes all live tensors.
- so in a for loop w/o `xm.mark

[2021-02-19 08:50] taylanbil commented on #2783
Since `torch.randn` works fine, I'm going to go ahead and close this. Please re-open if needed, and don't hesitate to follow-up w/ questions if there are any. Thanks.

[2021-02-19 08:50] #2783 closed

[2021-02-19 14:37] ahmedo42 opened #2785 "Model training works on GPU but not on Pytorch/XLA"
## Issue description

I'm finetuning a BERT model , the model trains just fine on GPU but when I use TPU on Kaggle kernels or Colab it produces the following stack trace

[code]
## Code example

I believe the error happens when I'm calculating the loss using `nn.BCEWithLogitsLoss()` due to some type error?

this is how I'm doing it in training:

[code]

[2021-02-19 14:43] jysohn23 commented on #2785
Yeah it looks like there's some type mismatch where one isn't able to be promoted to the other. I see you're using `autocast` could you try disabling that if you haven't already?

[2021-02-19 14:58] ahmedo42 commented on #2785
I set `with_amp=False` by default , even though if it is  `True `  it should work according to this https://pytorch.org/docs/stable/amp.html#prefer-binary-cross-entropy-with-logits-over-binary-cross-entropy .

[2021-02-19 15:08] jysohn23 commented on #2785
Yeah just that for AMP we have our own flavor just literally introduced in https://github.com/pytorch/xla/pull/2654.

Would you try log the types the `output` and `label` tensors? Also do you have a small repro you could share with us?

[2021-02-19 17:13] ahmedo42 commented on #2785
so I removed the whole amp decorator and ran the code on GPU , both are of type `torch.float32` before being called by the loss function any idea why TPU might behave differently ?

[2021-02-19 17:18] yzhliu commented on #2783
@taylanbil I don't think it's due to early compilation `float(...)`, if we replace `torch.randn` with `np.random.randn` and `torch.from_numpy`, everything looks as expected,

[code]
compilation triggers only once,

[code]

[2021-02-19 18:15] taylanbil commented on #2783
In [previous comment](https://github.com/pytorch/xla/issues/2783#issuecomment-782215286) context has changed a little bit, let me explain;

- If you use `np.randn`, xla has no idea a random operation has taken place, so every graph that it sees is one single `matmul`.
- Therefore in that case there's only 1 compilation triggered by the `float` call, even though you're not marking step. (and that c

[2021-02-19 19:13] taylanbil commented on #2776
Curious, @mobassir94 did you try separating std and mean? Are there any other issues you've encountered?

[2021-02-19 19:18] mli commented on #2783
Thanks for your very detailed explanation, @taylanbil

An additional question about the cost when `mark_step` is not used,  I'm not sure which one of the following is correct:

1. since the operator shape doesn't change, so there is no cost to re-compile `matmul` and `sum`. compile the graph means chains the cached operators's IR (very fast), but need some additional XLA pass (the main bottleneck)

[2021-02-19 19:22] taylanbil commented on #2783
I'd like to also point out that in real applications, we recommend using our wrapper loader as in [this example](https://github.com/pytorch/xla/blob/master/test/test_train_mp_imagenet.py#L232) which marks the step every time it yields the next batch, so user doesn't have to worry about marking step in code.

[2021-02-19 19:28] taylanbil commented on #2783
@mli I think the fact that the code w/ numpy from https://github.com/pytorch/xla/issues/2783#issuecomment-782215286 compiles only once shows that in the event that no mark_step is called and everything is triggered by early execution, there's no cost to re-compile matmul and sum (and other ops that doesn't create a different graph every time they are called. It's just that randn involves the movin

[2021-02-19 19:47] mli commented on #2783
@taylanbil is it possible to add `mark_step` to the functions that need the actual value such as `float` and `.cpu()`, so no need to call `mark_step` explicitly? Or there are other considerations not to do it.

[2021-02-19 19:51] taylanbil commented on #2783
https://github.com/pytorch/xla/pull/2770 tries that, but unfortunately it's blocked by pytorch `view`'s as explained in https://github.com/pytorch/xla/pull/2770#issuecomment-780092708

[2021-02-19 20:23] mobassir94 commented on #2776
@taylanbil  i spend all my kaggle tpu quota for a kaggle competition, so i couldn't check this but tomorrow i get get back new 50 hour weekly tpu quota from kaggle,i will try this and will let you know then,thanks

[2021-02-20 18:15] mobassir94 opened #2789 "Exception in device=TPU:3: Input contains NaN, infinity or a value too large for dtype('float32')."
i tried to convert this pytorch gpu notebook : https://www.kaggle.com/underwearfitting/single-fold-training-of-resnet200d-lb0-965

into torch xla, my train function and valid function looks like this for tpu  :

[code]

i  have 2 questions now
1. is my macro_multilabel_auc() implementation here okay for 8 core tpu training?(it worked well on single gpu)
2. why i am getting this error : Exception i

[2021-02-20 18:45] mobassir94 commented on #2776
sorry for this silly question,
i see @rwightman updated this file 2 days ago :  https://github.com/rwightman/pytorch-image-models/blob/master/timm/models/layers/std_conv.py#L124

so i am currently using the last updated version of timm and still it blocks me from using nf_resnet50  on torch xla,

i do not understand where to use this code :

[code]

[2021-02-20 20:05] rwightman commented on #2776
@mobassir94

If you are using the `dm_` model variants with weights that require SAME padding support, you change this line `https://github.com/rwightman/pytorch-image-models/blob/master/timm/models/layers/std_conv.py#L136` ... for the other models, this one https://github.com/rwightman/pytorch-image-models/blob/master/timm/models/layers/std_conv.py#L94

You could also try setting the `use_layerno

[2021-02-20 20:28] mobassir94 commented on #2776
hi @rwightman inside StdConv2d class,i modified get_weight function like this :

from :

[code]

to :

[code]

also doing the same in ScaledStdConv2dSame class,am i right?

[2021-02-20 20:32] rwightman commented on #2776
@mobassir94 yes, that is correct, I suggest trying each approach and seeing what works better (faster).  Don't think you want the `.data` there though for the mean.

[2021-02-20 20:33] mobassir94 commented on #2776
so should i replace mean = torch.mean(self.weight, dim=[1, 2, 3], keepdim=True)
wtih :

mean = torch.mean(self.weight, dim=[1, 2, 3], keepdim=True)

right?

[2021-02-20 20:54] mobassir94 commented on #2776
i have updated std_conv.py file like this : https://pastebin.com/Yix7zdP2

then i tried dm_nfnet_f0 model and got this error :

[code]

@taylanbil @rwightman

[2021-02-20 21:02] taylanbil commented on #2776
havent read the thread fully, but answering last comment:

that is not the real error, that s the xmp.spawn quitting because child processes crashed,  see if you have another stack trace in stderr output.

[2021-02-20 21:03] taylanbil commented on #2776
when you are in dev mode like this,it makes sense to use one core instead of eight, you will see things more clearly and also you can use pdb.

[2021-02-20 21:18] mobassir94 commented on #2776
problem solved after restarting notebook,it works fine with the separation change @taylanbil suggested
thanks @taylanbil and @rwightman for your time

[2021-02-20 21:18] #2776 closed

[2021-02-20 21:31] taylanbil commented on #2776
could you file an issue to lower std_mean and var_mean so it doesn't get lost? Thanks @mobassir94

[2021-02-20 21:36] mobassir94 commented on #2776
@taylanbil  should i create another xla issue for lowering std_mean and var_mean?

[2021-02-20 21:55] taylanbil commented on #2776
yes, thanks

[2021-02-20 22:06] mobassir94 opened #2790 "please lower std_mean and var_mean"
torch.std_mean wasn't lowered to xla

here : https://github.com/pytorch/xla/issues/2776 @taylanbil shared his minimal test with following code :

[code]

and observed that the **aten** counter is there in the metrics report:

...
Counter: XrtSubTuple_Empty
  Value: 128
Counter: aten::std_mean
  Value: 1
Counter: xla::_copy_from
  Value: 2
...

So this op need to be lowered.

var_mean was not lower

[2021-02-20 22:11] mobassir94 commented on #2789
with the following updated code :

[code]

i am getting the same error but it comes after 100% in validation phase :

[code]

[2021-02-20 22:30] mobassir94 commented on #2789
here : https://www.kaggle.com/c/ranzcr-clip-catheter-line-classification/discussion/218299 i can see from first comment that for distributed training,gpu code for multilabel auc is like this :
[code]
i think my above multilabel auc implementation is wrong for TPU,can you please suggest me updated multilabel AUC implementation for 8 core torch xla trainingÉ thank you

[2021-02-20 22:37] mobassir94 commented on #2789
is the below implementation correct for TPU? :

[code]

[code]

[2021-02-20 23:47] taylanbil commented on #2789
you can use xm.all_gather to gather remote tensors.

once you gather tensors, you can xm.mark_step, and then send tensors to cpu. after that, you can compute roc however you wish. You will probably have to reshape the gathered tensors first and then send to numpy, qnd then use sklearn.metrics.rocaucscore with binarized labels.

I can work on a prototype next Monday if this doesn't work.

[2021-02-20 23:55] mobassir94 commented on #2789
with the code shown above i got this error Exception in device=TPU:2: zeros_like(): argument 'input' (position 1) must be Tensor, not numpy.ndarray :

`Exception in device=TPU:2: zeros_like(): argument 'input' (position 1) must be Tensor, not numpy.ndarray
Traceback (most recent call last):
  File "/opt/conda/lib/python3.7/site-packages/torch_xla/distributed/xla_multiprocessing.py", line 330, in _

[2021-02-21 00:12] mobassir94 commented on #2789
i got this error when i tried to use xm.all_gather :

Exception in device=TPU:0: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()
Traceback (most recent call last):
  File "/opt/conda/lib/python3.7/site-packages/torch_xla/distributed/xla_multiprocessing.py", line 330, in _mp_start_fn
    _start_fn(index, pf_cfg, fn, args)
  File "/opt/conda/lib/python3.7/

[2021-02-21 11:38] ahmedo42 commented on #2785
Hi! , The issue has been resolved , I formatted the dataset columns to the appropriate dtypes beforehand instead of converting them on the fly.

[2021-02-21 11:38] #2785 closed

[2021-02-22 01:32] aingo03304 commented on #2758
@JackCaoG Ping. Any progress on this?

[2021-02-22 01:43] JackCaoG commented on #2758
@aingo03304 Sorry for the very late replay. My hand is tight with the upcoming 1.8 release right now, will try to circle back when I am a bit more free. @ailzhang is looking at the currently nightly failure of mnist with 2 gpu in https://github.com/pytorch/xla/pull/2787. This might be related.

[2021-02-22 09:02] ydcjeff opened #2791 "non_blocking in .to() of XLA tensor"
## ❓ Questions and Help
I am just adapting the code that runs on cuda to xla.
Following the Running on a Single XLA Device code sinppet, and I have `non_blocking=True` for cuda device.
Question is can `non_blocking=True` convert to xla tensor asynchronously like cuda tensor does?

Thank you!

[2021-02-22 09:38] mobassir94 commented on #2789
if this valid_function implementation is correct on GPU :

[code]

then is this torch xla conversion correct like above gpu implementation? :

[code]

[2021-02-22 11:11] jiangyangzhou commented on #2658
I also meet this problem , how to solve this?

[2021-02-22 13:41] jysohn23 commented on #2791
Check out how PyTorch/XLA runtime works: https://github.com/pytorch/xla/blob/master/API_GUIDE.md#xla-tensors-are-lazy

When on 'xla' device, during your model calls, instead of actually executing the ops, we build and IR graph which only gets executed once you call `xm.mark_step()`, which actually gets taken care of as long as you use `pl.MpDeviceLoader`: https://github.com/pytorch/xla/blob/767158

[2021-02-22 14:55] ydcjeff commented on #2791
Thank you @jysohn23

[2021-02-22 14:55] #2791 closed

[2021-02-22 19:55] taylanbil commented on #2789
I would implement the roc_auc_score computation as follows:

[code]

you can roll the allgathers inside the roc function as you wish.

The nan-inf-float too large thing is a separate issue, likely not related to your usage. The data has some nan in it likely caused by something unrelated. Could you insert a pdb breakpoint and inspect your tensors (launch 1 process not 8)?

[code]

[2021-02-22 20:03] mobassir94 commented on #2789
@taylanbil thank you,i was waiting for your reply so badly,,i will try your metric implementation and yes i tried single process instead of 8(IF you check my last comment here carefully) but got same error,
i also observed nan train loss,i don't know why,,,is this implementation correct? :

[code]

[2021-02-22 20:13] mobassir94 commented on #2789
i was using this :

[code]

then using it in valid function like this :

[code]

so i can say that the metric implementation that i am trying is correct,right?
only thing was missing there is xm.mark_step()

let me add it,but i am still trying to understand how i am getting nan,,

[2021-02-22 20:16] mobassir94 commented on #2789
i see you are asking me to do pdb breakdown and try :

print(torch.isinf(label))
print(torch.isinf(pred))

i am confused,why print and not xm.master_print?

[2021-02-22 20:17] taylanbil commented on #2789
I think nan is not related to your metric implementation. nan is coming from the model probably (this is very likely true since your loss is nan.)

so we need to understand where the nans are coming from.

your metric implementation is inefficient (due to premature .cpu and .item calls). I highly recommend my way of doing it.

Also, I don't think reducing the roc scores themselves makes sense, sin

[2021-02-22 20:20] taylanbil commented on #2789
you will need to run in 1 core mode to easily use pdb anyway, so xm.master_print will be same as print.

[2021-02-22 20:40] mobassir94 commented on #2789
@taylanbil thanks
i am trying to update the valid function,i am trying this now  :

[code]
is it better now? any bug?

[2021-02-22 21:08] taylanbil commented on #2789
Here are my recommendations:

- not sure what `bar` is, but it's likely that `bar.set_description` calls .item() underneath and slows you down. I would get rid of it if you don't absolutely need it.
- `bar` doesn't seem to be an instance of `pl.MpDeviceLoader`, which does the sending to device in background, so your code will be more efficient if you use that as in https://github.com/pytorch/xla/b

[2021-02-22 21:11] mobassir94 commented on #2789
i get this error :

[code]

can you please edit this function of mine? :

[code]

[2021-02-22 21:18] taylanbil commented on #2789
`PREDS` and `TARGETS`, the arguments to `xm.all_gather`, have to be tensors, not np.array's. so instead of `np.concatenate`, you need to use something like `torch.cat` (https://pytorch.org/docs/stable/generated/torch.cat.html), which outputs a tensor. Be careful to concatenate on the right dimension.

To address the slowness, please incorporate the suggestions from my previous comment, and then le

[2021-02-22 21:33] mobassir94 commented on #2789
should i use xm.mark_step like this? :

for batch_idx, (images, targets) in enumerate(bar):

    images, targets = images.to(device), targets.to(device)

    logits = model(images)
    PREDS += [logits.sigmoid()]
    TARGETS += [targets]
    xm.mark_step()
    if logits.isinf().any() or logits.isnan().any():
        print('output has inf/nan in step', batch_idx)
        import pdb; pdb.set_trace()

[2021-02-22 21:39] mobassir94 commented on #2789
i get oom during validation phase only,was trying this code :
[code]

error log :

`---------------------------------------------------------------------------
RuntimeError                              Traceback (most recent call last)
<timed exec> in <module>

/opt/conda/lib/python3.7/site-packages/torch_xla/distributed/xla_multiprocessing.py in spawn(fn, args, nprocs, join, daemon, start_method)

[2021-02-22 21:48] taylanbil commented on #2789
That makes sense, since you're not using `pl.MpDeviceLoader`, there's no `xm.mark_step()` being called, and the graph you end up producing in the for loop becomes huge, and causes the oom when it tries to execute.

In comment https://github.com/pytorch/xla/issues/2789#issuecomment-783675450, I recommended using `pl.MpDeviceLoader`. This takes care of marking step every time it yields a batch. If y

[2021-02-22 21:54] mobassir94 commented on #2789
let me know if this implementation is correct or not :

i used mark_step

last time i tried it after for loop and got oom,now trying it inside for loop

[2021-02-22 21:58] taylanbil commented on #2789
that looks ok to me, but I'd add another `xm.mark_step()` just prior to the line w/
`    PREDS, TARGETS = PREDS.detach().cpu(), TARGETS.cpu()`

This way, the allgather actually happens and tensors are materialized.

[2021-02-22 21:59] mobassir94 commented on #2789
i got oom again,,in the middle of validation phase with the code i shared in last comment,, error coming from for loop,please check this :

[code]

[2021-02-22 22:16] taylanbil commented on #2789
hmm I wonder if we have to detach before appending to PREDS.. Could you try `PREDS.append(logits.sigmoid().detach())`?

what's the `batch_idx` when you hit this oom?

[2021-02-22 22:23] mobassir94 commented on #2789
tried my past implementation,which was this :

[code]

it works fine,but you said it is inefficient so i want  your implementation to work,i am trying to add .detach()
i don't know the batch index but according to progress bar i get the error in the middle of validation phase or around middle,,so it is like if there are 300 samples then after 150 or around that number i get OOM

[2021-02-22 22:25] mobassir94 commented on #2789
even after detach i get same OOM,,,after 57% (85/150) step i get OOM

[code]

[2021-02-22 22:30] taylanbil commented on #2789
ok let's move tensors to cpu then..

based on the code from https://github.com/pytorch/xla/issues/2789#issuecomment-783700227, could you add, after         `xm.mark_step()`
[code]

[2021-02-22 22:37] mobassir94 commented on #2789
after moving them in CPU i also need to do this after for loop? :
`PREDS, TARGETS = PREDS.detach().cpu(), TARGETS.cpu()`

[2021-02-22 22:49] mobassir94 commented on #2789
with the code i shared in my last comment of this thread,i again get OOM during validation and this time little bit faster,now i get same OOm after 34% in validation phase

[2021-02-23 19:49] zcain117 commented on #2789
so it sounds like training works with no issues, right?
and validation causes OOM when you try in on TPU, right?

[here](https://github.com/pytorch/xla/blob/master/test/test_train_mp_imagenet.py#L217) is an example validation loop we recommend for an image model. Note that the [loader here](https://github.com/pytorch/xla/blob/master/test/test_train_mp_imagenet.py#L233) is wrapped with `pl.MpDevice

[2021-02-23 19:55] mobassir94 commented on #2789
@taylanbil and @zcain117 today i tried this implementation :

[code]

[code]

it works fine on tpu(on 8 core training),but i have a question "is this implementation ERROR FREE?"

with GPU within 2 epochs i can get >80% accuracy with ease but  same model on tpu can't even get 50% validation accuracy within 2 epochs, i have a feeling that my implementation maybe not working well on 8 core training,c

[2021-02-23 19:57] zcain117 commented on #2789
is the TPU doing better than random?  if so, it seems like it's converging and maybe you need to adjust the hyperparameters to meet the accuracy of your previous model

is the loss curve similar on TPU and GPU?

[2021-02-23 20:11] mobassir94 commented on #2789
loss looks similar but validation accuracy is different.

this is my gpu setting :

[code]

TPU setting :

[code]

loss function same and it's BCEWithLogits,
on gpu i use batch size 4 and on tpu 8x8 for vit-base
but on gpu training looks like this :

epoch 1 validation acc : 0.78
epoch 2 validation acc: 0.82

on tpu :

epoch 1 validation acc : 0.456
epoch 2 validation acc: 0.4599

[2021-02-23 20:16] taylanbil commented on #2789
- This code is validation only, and there's no accuracy there, is 50% the roc score or accuracy?
- The inf/nan issue seems to be gone, can you confirm?
- I would make the following changes:
  - move `xm.mark_step()` before the line with `PREDS.append(logits.sigmoid().detach().cpu().numpy())`
  - remove `if logits.isinf().any() or logits.isnan().any():` if this is never hit, and roc's are computed

[2021-02-23 20:19] mobassir94 commented on #2789
sorry,i mean "roc_auc_max" score

yes ` loss = criterion(logits, targets)` used both on gpu and tpu so for performance large difference it shouldn't be the culprit, it is intended,i can't understand why huge performance gap between gpu and tpu

[2021-02-23 20:26] taylanbil commented on #2789
roc being around 50% means model is random and it's not learning.

If you're using `nn.BCEWithLogitsLoss`, indeed feeding logits is the correct approach.

I can see that if we didn't apply `.sigmoid()` before feeding to ROC, the array may cointain +/- inf. so that's probably what fixed the original issue.

If loss is the same but roc score is different, then it's likely that there's a bug we are m

[2021-02-23 20:28] taylanbil commented on #2789
oooh sklearn's roc_auc score takes truth as first arg and predictions as second arg... 😄

[2021-02-23 20:31] mobassir94 commented on #2789
[code]

this is what i am using so already using truth as first arg and predictions as second arg,no?

[2021-02-23 20:39] taylanbil commented on #2789
could you print roc's before all gather? print from all cores, do they look significantly better than 50%?

[2021-02-23 20:43] mobassir94 commented on #2789
1 epoch training takes 1 hour on tpu,if i try this in debug mode then it takes less than 10 minutes but then i can't compare it with original gpu trainer model

[2021-02-23 21:06] taylanbil commented on #2789
your training seems to be suffering from the early `.item()` calls as well. https://github.com/pytorch/xla/pull/2770 addresses this, but to get full speed, I'd strongly advise removing the .item() calls and usage of tqdm.set_description as well. maybe set description every 50 steps or so.

[2021-02-23 21:09] taylanbil commented on #2789
I think I found the issue. will update soon.

[2021-02-23 21:14] mobassir94 commented on #2789
is colab free tpu slower than kaggle? i think in kaggle my tpu training was much faster

[2021-02-23 21:18] taylanbil commented on #2789
AFAIK colab uses tpu v2's, I'm not sure what kaggle uses, could be v3's, which would explain speed difference.

[2021-02-23 21:19] mobassir94 commented on #2789
still colab using v2? i thought it's v3 in colab,,yeah kaggle uses v3-8,,it was much faster there :(

[2021-02-23 21:34] taylanbil commented on #2789
I thought I found the issue but I didn't. I'm back to

- if loss is same b/w gpu and tpu, it's going down etc, then model seems to be converging.
- roc being ~50% suggests model is _not_ converging.
- I cannot spot a mistake in the roc computation code.

[2021-02-23 21:39] mobassir94 commented on #2789
i am training both on gpu and tpu at this moment,,here is a nfnets f2 model with batch size 2 and image size 384 and batch size only 2 looking like :

[code]

on colab my tpu code is validating,,after few minutes 1 hours training will be done and i can share you the 1st epoch training performance on tpu,,,on tpu i am trying even bigger stuffs,,,on tpu experiment i am using image size 768 batch siz

[2021-02-23 21:43] mobassir94 commented on #2789
frustration after 1 hours slow training on colab,,,first epoch done,,and here is the training log again :

[code]
@taylanbil  :(

[2021-02-23 21:48] taylanbil commented on #2789
can you share colab?

[2021-02-23 21:50] mobassir94 commented on #2789
yes,why not? here it is : https://colab.research.google.com/drive/1oHA1sLe56FVfuJvW_9PBrNVkBWLlUyER?usp=sharing

if you need dataset access for running the notebook please give me your email id then,thanks

[2021-02-23 21:53] mobassir94 commented on #2789
here is the gpu training code that i tried : https://pastebin.com/vN52LU3S

you can compare and see if you can find my mistake that i am doing on tpu,thanks

[2021-02-23 22:03] zcain117 commented on #2789
it looks like TPU training loss is 0.71 vs 0.54 on GPU.  So the loss is much worse on the TPU model, right?  Then it is kind of expected that validation score will be worse too.

You mentioned `all other hyper parameter setting is similar to GPU` - if you are using different batch size and different image size then maybe you need different hyper params. Do you get the same results if you use same

[2021-02-23 22:08] mobassir94 commented on #2789
i can't use same batch size on tpud gpu,,on gpu i use 4 and on tpu i can't use 4,it will be 4x8 or tpu or simply 1x8

and personally i don't think robust tpu setting is depending too much on hyperparameter,on similar hyper parameter i trained models using tpu and on cassava competition and it worked fine there,,,the issue is definitely not related to hyperparameter(i can assure you that), i tried

[2021-02-23 22:18] mobassir94 commented on #2789
sorry, i think your observation can be right too @zcain117

probably hyperparameter is causing trouble,,,can you suggest me a good hyperparameter value for my tpu setting? i will try that now then

[2021-02-23 23:01] mobassir94 commented on #2789
now trying learning rate 1e-4 and using scheduler after 1st epoch,just to compare first epoch performance with gpu

previously it was lr = 1e-4/3
and then before starting first epoch,,1 step of gradual warmup scheduler of warmup_factor = 10

now not using scheduler for first epoch and using 1e-4 and adam for first epoch,if it get's low score too then please let me know where i am making mistakes,t

[2021-02-23 23:07] mobassir94 commented on #2789
now let's get back to the main problem, @taylanbil loss NaN issue hasn't solved

this model doesn't work on pytorch xla(it gives NaN) :

[code]
ResNet200D model of came from @rwightman timm library doesn't work on pytorch xla,,,i tried other models and never got NaN but for ResNet200D i got NaN,

[2021-02-23 23:31] taylanbil commented on #2789
does loss become nan immediately? is there something in this model that's not in another one that works fine?

[2021-02-23 23:37] mobassir94 commented on #2789
loss becomes NaN very fast,i am seeking the paper of this model so that i can learn more, maybe  @rwightman can help

on the other hand @taylanbil i tried different learning rate for adam,like 1e-5 , 1e-4

and without scheduler for first fold,loss is not getting below 0.7

few days ago on another data problem i used wrote 2 torch tpu kernel and never observed a problem like this before, can't unde

[2021-02-23 23:39] mobassir94 commented on #2789
and new problem,

just got improvement with 1e-6 learning rate and without scheduler but got error xm.save()

check this error log :

[code]

i hope i will be able to make nfnets working but resnet200d still not working,,even with 1e-6 lr,,,so surely that resnet200d model is not working on torch xla

[2021-02-23 23:51] rwightman commented on #2789
@mobassir94 not something I can dig into, seems likely to be a task/situation specific tuning issue. The model trains fine in PyTorch GPU. As per docs, you can create any timm model without the classifier head and pooling (or various combos) https://rwightman.github.io/pytorch-image-models/feature_extraction/#create-with-no-classifier-and-pooling .. will be the same for every model (with exception

[2021-02-24 00:13] zcain117 commented on #2789
if you're seeing `rendezvous` error with `xm.save`, make sure you don't have any code that is performing an `if/else` around the checkpoint saving. `xm.save` already makes sure that only 1 of your 8 cores will save the checkpoints, so you don't need anything such as `if master: xm.save()`

[2021-02-24 00:37] mobassir94 commented on #2789
How do i save best weight then?

[2021-02-24 01:11] zcain117 commented on #2789
are your TPU cores all sharing gradients?  If so, every core should have the same (or extremely similar) trained representation. So you would just call `xm.save()` without any if/else surrounding it

For example, after [this line](https://github.com/pytorch/xla/blob/master/test/test_train_mp_mnist.py#L171) you could add another line like below:

before:
[code]

after:
[code]

[2021-02-24 07:03] DarshanDeshpande opened #2792 "Fixing dataset and model loading 8 times in transformers library"
## ❓ Questions and Help
I am new to torch_xla. The current implementation of [run_mlm.py](https://github.com/huggingface/transformers/blob/master/examples/language-modeling/run_mlm.py) with [xla_spawn.py](https://github.com/huggingface/transformers/blob/master/examples/xla_spawn.py) from the transformers library loads the dataset for each tpu core which takes almost 10x the RAM required to load it

[2021-02-24 15:59] cjolivier01 opened #2793 "Parameter server"
## ❓ Questions and Help
Is there anything barring ptxla from using a parameter server with sharded weights?
Is there any way, do you think, to point it at a tensorflow parameter server rather than a pytorch one?

[2021-02-24 16:48] taylanbil commented on #2792
This tool exists, see `xm.MpModelWrapper` as in https://www.github.com/pytorch/xla/tree/master/contrib%2Fcolab%2Fresnet18-training.ipynb

[2021-02-24 18:48] DarshanDeshpande commented on #2792
Hey @taylanbil I tried using `xm.MpModelWrapper` both inside and outside the `map_fn`. It still gives the `Cannot replicate if number of devices (1) is different from 8` error when the model is initialized outside (and assigned to the xla device inside) `map_fn` whereas it loads the dataset and model 8 times when it is initialized inside. Any idea what could be wrong?

[2021-02-24 19:53] taylanbil commented on #2792
This error will happen if you use an api from `xm`, including acquiring the device via `xm.xla_device`, outside of `map_fn`. If you eliminate all of those, do you still see it?

[2021-02-25 01:41] #2793 closed

[2021-02-25 02:13] DarshanDeshpande commented on #2792
@taylanbil Unfortunately, yes. The code looks something like this
[code]
This still throws the error

[2021-02-25 18:23] taylanbil commented on #2792
This works for me:

[code]

The differences I'm seeing b/w this and your code snippet are:
- I am using `if __name__...` and you are not, and if I delete that, torch.distributed.spawn throws for me, but it's a different error than "cannot replicate...". Could you try w/ adding this before `xmp.spawn`?
- I'm not using a Huggingface model. Maybe when you import the model they acquire an xla device?

[2021-02-26 07:23] DarshanDeshpande commented on #2792
I am using Colab's TPU so I created a script and executed it through a cell and `if __name__ == "__main__"` does not seem to be working. I tried using MpSerialExecutor as was done in the example that you shared with me but that didn't work as well. What seemed weird to me was that if I initialize a model from scratch, the code does not give me any error but if I load it from a checkpoint, it start

[2021-02-26 18:19] StephennFernandes opened #2795 "Unable to train RNN models with BucketIterator using TPUs"
the Pytorch BucketIterator is very effective to batch samples of similar length, thus minimizing padding and optimizing RNN training.

But unfortunately `BucketIterator` class doesn't have a `sampler` args in them, sampler would help set `DistributedDataSampler` for TPU devices to do distributed training.

I tried to emulate  Bucketing similar length functionality by using the bucket_sampler args

[2021-02-26 19:09] taylanbil commented on #2792
I cloned the HF repo and it looks like they indeed send model to device in `from_pretrained`. see https://github.com/huggingface/transformers/blob/master/src/transformers/modeling_utils.py#L1187

You could make a feature request to huggingface about this. In the current state, loading pretrained weights to a model seems to initialize xla apis, which conflicts with the usage of `xmp.MpModelWrapper`

[2021-02-26 19:12] taylanbil commented on #2792
To get around this issue, you could delete the if block https://github.com/huggingface/transformers/blob/master/src/transformers/modeling_utils.py#L1184, use MpModelWrapper and then send model to device in the spawned processes.

[2021-02-26 19:42] taylanbil commented on #2795
If I understand correctly, this seems like a `BucketIterator` related issue, not torch_xla specific. Sounds like you would have the same issue for distributed GPU/CPU training as well.

I can't follow the part w/ `DataLoader` + `collate_fn` + `DistributedDataSampler`. That combination should work for the bucketing problem in hand. Could you explain the problem you're having in that part?

[2021-02-26 21:05] taylanbil commented on #2792
Closing this as it seems to be an HuggingFace feature request rather than a torchxla issue. @DarshanDeshpande Please reopen if needed, if the suggested fix above doesn't work.

[2021-02-26 21:05] #2792 closed

[2021-02-26 21:30] taylanbil opened #2796 "Hang when no rendezvous / optimizer_step is used."
## 🐛 Bug

Very simple job hangs in the absence of a rendezvous / optimizer_step.

## To Reproduce

[code]

- putting rendezvous anywhere in the code -> no hang.
- putting `xm.optimizer_step` in code -> no hang
[code]

## Expected behavior

no hang.

## Environment

 - Reproducible on XLA backend [CPU/TPU]: TPU
 - torch_xla version: nightly

[2021-02-27 01:40] DarshanDeshpande commented on #2792
@taylanbil Yes that does fix the model issue but the dataset issue still exists. Inspite of using the MpSerialExecutor, the dataset is still loaded 8 times. The trainer has its own Parallel Loader [here](https://github.com/huggingface/transformers/blob/master/src/transformers/trainer.py#L1004) which I think is causing the issue but since the resnet example also uses ParallelLoader, I'm unsure if t

[2021-02-27 01:46] taylanbil commented on #2792
dataset being loaded many times is a general concept as well, all distributed workloads will have that. not a torchxla specific issue.

[2021-02-27 01:51] DarshanDeshpande commented on #2792
But is this not wasteful? What if my dataset is very large (about a TB in size)? I'm not going to want to fit the entirety of it in the memory right?

[2021-02-27 03:02] taylanbil commented on #2792
Have a look at https://discuss.pytorch.org/t/how-to-use-dataset-larger-than-memory/37785. This is a common problem, and there are tools and tricks you can use to address, which are discoverable via a google search.

[2021-02-27 04:45] DarshanDeshpande commented on #2792
Yes I understand the concept of lazy loading and datasets, it's just that I'm familiar with tensorflow's implementation for TPU strategy where it automatically lazy loads and splits the dataset for each core through the tf.data.Dataset pipeline without having to load the entire dataset in memory eight separate times. I was wondering if something similar can be achieved using torchxla since Hugging

[2021-03-01 17:34] cjolivier01 opened #2799 "tf.while, tf.cond"
## ❓ Questions and Help
Are there any plans to handle control flow such as tf.cond or tf.while?  Whether by override or direct op?

[2021-03-01 18:35] JackCaoG commented on #2799
Hi @cjolivier01, you can try our XLA_BUILDER which give you access to XLA ops,
https://github.com/pytorch/xla/blob/3eaee46ef679cc6a0f1f694bd0a007dbfd09c51b/torch_xla/core/xla_builder.py#L567

You can find more example in
https://github.com/pytorch/xla/blob/7eeaa33973335959110e262689f4324b4429a9a9/test/test_operations.py#L1798

[2021-03-01 20:13] cjolivier01 commented on #2799
whoa, how did I miss that? I guess because I stay mostly out of the python world when I can :)  thank you so much.

[2021-03-01 20:13] #2799 closed

[2021-03-03 20:32] alexwong opened #2806 "TorchScript and XLA"
## ❓ Questions and Help
I thought when referring to PyTorch's IR, it is commonly interchanged with TorchScript and we run torch.jit.trace/script on a model and from the ScriptModule, we can get the graph which is essentially the IR. It seems like the integration here with XLA doesn't use that? How does pytorch/xla partition the graph and translate ops to HLO? Are there differences when converting

[2021-03-03 22:26] ailzhang commented on #2806
Pytorch/xla integrates to pytorch eager mode by implementing aten op kernels like CPU and CUDA. It construct its HLO graph by translating aten op to HLC when it's called (note the graph is not executed).
Torchscript IR is mostly interchanged with aten ops but since scripting looks at ast you'll get IR node for control flow in torchscript graph which doesn't exist in pytorch/xla graph.
pytorch/xla

[2021-03-03 23:29] JackCaoG opened #2808 "TestMnist failed with http error"
Test currently failed with
[code]

[2021-03-03 23:46] zcain117 commented on #2808
Could we just use `--fake_data` all the time?

[2021-03-04 00:26] taylanbil commented on #2808
that would mean we're not testing the convergence. Can we download the data to a PD and use that pd instead of having a dependency to download?

[2021-03-04 00:35] zcain117 commented on #2808
The PR #2809 was regarding circleCI, idk if they have any native persistent disk options

for xl-ml-test we can definitely use a PD

[2021-03-04 00:38] taylanbil commented on #2808
ok then I propose:

- the dependency to download is not ideal. let's get rid of it, use `--fake_data`
- Make the fake data generator contain some pattern that model could learn. something like, generate the tensor, and multiply it w/ 2 if the target is 1 and w/ 1 if the target is 0.
- This way, we still somewhat test for convergence in circleci.

[2021-03-04 15:55] cpuhrsch commented on #2808
This is the approach torchvision took: https://github.com/pytorch/vision/pull/3499/files

[2021-03-04 16:00] cpuhrsch commented on #2808
since XLA depends on torchvision for the dataset here, this fix will soon propagate from torchvision

[2021-03-05 13:55] StephennFernandes commented on #2795
@taylanbil , currently BucketIterator class doesnt support sampler arguments so i am unable to set a DistributedDataSampler object to  BucketIterator instance , thus it doesn't allow me to train my model on TPUs or any multiple GPUs .

Please could show me an example where i can train a simple seq2seq or text classification RNN model with TPUs using pytorch and torchtext DataLoader classes.

[2021-03-05 16:38] StephennFernandes commented on #2795
Hey this issue is solve for me by the torchtext team. thanks for your concern btw.

[2021-03-05 16:38] #2795 closed

[2021-03-08 04:32] tumble-weed opened #2815 "ImportError while running the example Multicore Alexnet Notebook"
## 🐛 Bug

I get an importerror when importing torch_xla:
ImportError: /usr/local/lib/python3.7/dist-packages/_XLAC.cpython-37m-x86_64-linux-gnu.so: undefined symbol: _ZNK3c104Type14isSubtypeOfExtERKSt10shared_ptrIS0_EPSo

## To Reproduce

I just ran the example notebook suggested in the README: https://colab.research.google.com/github/pytorch/xla/blob/master/contrib/colab/multi-core-alexnet-fashio

[2021-03-08 13:57] jysohn23 commented on #2815
Can you try running: `!pip install torch==1.8.0` as well?

[2021-03-08 19:17] allenwang28 commented on #2774
My guess here is that `fp16` is being used in the optimizer and is being cast to `fp32` which is not supported in this code path: https://github.com/pytorch/xla/blob/master/torch_xla/csrc/convert_ops.cpp#L83

Maybe we need to set `XLA_USE_F16=1` (https://github.com/pytorch/xla/blob/master/TROUBLESHOOTING.md#environment-variables), but preferably use BF16 instead.

CC: @taylanbil, have you seen thi

[2021-03-08 19:58] alexwong commented on #2806
I see, thank you. I see this PR https://github.com/pytorch/xla/pull/1940/files for an example of adding a new op lowering. But I'm unsure how we go from PyTorch to pytorch/xla still. For the training case, it seems everything happens at runtime and the user only has to define input tensors with the xla device parameter and call xm.mark_step() at the end of each iteration of the training loop.

Cou

[2021-03-09 06:33] byronyi commented on #2806
http://blog.ezyang.com/2020/09/lets-talk-about-the-pytorch-dispatcher/

[2021-03-09 22:52] JackCaoG opened #2818 "`index_copy_` test fails on PyTorch/XLA"
Mirror of https://github.com/pytorch/pytorch/issues/53256. `test_index_copy_scalars` added in https://github.com/pytorch/pytorch/pull/52203/files only fail on PT/XLA.

[2021-03-09 23:22] JackCaoG commented on #2818
Was able to repo after patching the pytorch pr, error looks like
[code]

[2021-03-11 07:41] world2vec commented on #2747
problem was disappear in 1.8
Thanks

[2021-03-11 07:41] #2747 closed

[2021-03-12 07:57] fortianyou commented on #2756
It seems there are multiple why to trigger a Compilation, such as SyncLiveTensors, SyncTensors, ToTensor, GetTensors. What difference between those methods?

[2021-03-15 16:39] wenleix opened #2823 "[PT_BREAK] Pass scalar by reference"
PyTorch is changing to pass scalar by reference (https://github.com/pytorch/pytorch/pull/53583). This will change native function signatures with Scalar and thus break PyTorch/XLA build.

The fix is prepared via https://github.com/pytorch/xla/pull/2817 .

cc @ailzhang

[2021-03-15 17:05] tottenjordan commented on #2690
Thank you @harpone. After exploring petastorm, I've started to focus on webdataset. I got simpler examples to work, but now I'm trying to apply to the distributed training setting. The webdataset API version I am using has a slightly different approach for `shard_selection` and `shard_shuffle` whereas I am using `splitter` and `nodeplitter` in the `wds.WebDataset()` function (example [here](https:

[2021-03-15 18:54] taylanbil commented on #2774
Mixed precision is used in fairseq w/o issues in many settings. Can we get some more info on this? What's the dtype of input tensor? which model/task is being trained?

[2021-03-15 19:17] ailzhang opened #2824 "Benchmark to see if we can remove monkey-patch for clip_grad_norm_"
according to discussions in https://github.com/pytorch/pytorch/pull/53843

[2021-03-16 17:01] tottenjordan commented on #2690
I have a working implementation of Webdataset which is achieving epoch times of ~40s. Loss is dropping as expected and validation accuracy seems to be on par with other configurations.

The data is now stored in POSIX tar files on GCS and I'm using webdataset to retrieve each shard, shuffle shards and samples, and deliver to the PyTorch Dataloader as usual. Essentially replacing `DistributedSample

[2021-03-16 21:58] zcain117 commented on #2690
3 things:
1. Does this setup work on CPUs / GPUs?
2. I see  `.batched(batch_size)` when creating the WebDataset but then `loader = torch.utils.data.DataLoader(dataset, batch_size=None, shuffle=False, num_workers=FLAGS.num_workers)`. Have you tried `batch_size=batch_size` when making the `DataLoader`?  Or is there a reason to leave `batch_size=None` for your case?
3. Have you tried `drop_last=True`

[2021-03-16 22:36] tmbdev commented on #2690
I'm updating the distributed training examples; I hope I can push those out this week.

Please also see my comments on https://github.com/tmbdev/webdataset/issues/47

[2021-03-17 00:56] tottenjordan commented on #2690
1. Have not tried CPU or GPU
2. When `batch_size=batch_size` in the `DataLoader`, training hangs before epoch 1 and never begins. Also, webdataset recommends to do batching in the dataset and leave `batch_size=None` in the `DataLoader`
3. Yes, tried `drop_last=True`, but error message said this couldnt be used while `batch_size=None` in the `DataLoader`. Trying both of these gave me answer to (2)

[2021-03-17 09:19] harpone commented on #2690
Oops forgot to reply yesterday... anyway, seems you got the IterableDataset issue fixed. Never got exactly same warnings like you, but got similar ones when I was explicitly setting the length kwarg in wds.

I think I got a similar `BrokenPipeError` at the end of each epoch when one of the "pipes" ran out of images (I think... I'm using pytorch lightning and it was with CUDA). I'm now simply stopp

[2021-03-17 21:29] taylanbil opened #2830 "xm.get_rng_state hangs on tpu version 1.8"
## 🐛 Bug

`xm.get_rng_state` hangs on tpu version 1.8.

Combinations:

- torchxla 1.7, tpu 1.7 -> no hang
- torchxla 1.8, tpu 1.7 -> no hang
- torchxla 1.7, tpu 1.8 -> hang
- torchxla 1.8, tpu 1.8 -> hang

## To Reproduce

[code]

## Expected behavior

No hang.

[2021-03-17 23:08] JackCaoG commented on #2830
It turned out to be a tpu was in a bad state, creating a new tpu with 1.8 solved this problem.

[2021-03-17 23:08] #2830 closed

[2021-03-18 07:15] #2789 closed

[2021-03-18 17:03] soumochatterjee opened #2831 "RuntimeError: Cannot access data pointer of Tensor that doesn't have storage, how to resolve it?"
## Issue description
Currently I am trying to solve an object detection problem using FastRCNN model with the help of Pytorch XLA module
But while training I am getting a  **RuntimeError: Cannot access data pointer of Tensor that doesn't have storage**
It was working fine when I trained the model in GPU kernel, but started giving error when I switched to TPU

## Code example
Here's the link to my

[2021-03-18 17:11] tottenjordan commented on #2690
When trying to run 90 epochs, something is accumulating memory and by epoch ~16 i get the following:

`RuntimeError: [enforce fail at CPUAllocator.cpp:65] . DefaultCPUAllocator: can't allocate memory: you tried to allocate 77070336 bytes. Error code 12 (Cannot allocate memory)`

This might be related to my use of `repeatedly()`, which i originally chose to ensure device/worker has the same number

[2021-03-18 17:37] zcain117 commented on #2690
I don't see that error in the logs you gave. Is that TPU OOM or an OOM on the python/VM side?

[2021-03-18 19:00] tottenjordan commented on #2690
Damn you're right. When training restarted, I must not have captured both reports. I'll try to recreate

[2021-03-18 23:29] KatiaSN602 opened #2832 "Trying to install torch XLA from sources"
## Issue description

Trying to install torch-xla from sources I'm following this script: https://github.com/pytorch/xla/blob/master/scripts/build_torch_wheels.sh

OS: Ubuntu 18.04.5
Python version: Python 3.7.6
PIP version: pip 20.0.2
Bazel version: Build label: 3.7.2

The script fails on `xla/test/cpp/run_tests.sh`:

[code]
Any ideas what might be the issue?

thanks for the help!

[2021-03-18 23:50] taylanbil commented on #2832
are you doing this on GCP? If so, you could use a vm with pre-built conda environments.

If you wanted to build your custom code, you could again use a vm w/ pre-built conda environments. after git clone'ing pytorch and xla (place it under /path/to/pytorch/) and use (fill in the env name):

[code]

[2021-03-19 01:26] KatiaSN602 commented on #2832
I want to build it locally on my own machine.
Tried running your script but it fails on the same issue.

How do I use the

any pointers?

[2021-03-19 04:14] taylanbil commented on #2832
https://cloud.google.com/tpu/docs/tutorials/resnet-pytorch here is a quick tutorial on how to create resources (vm and tpu) on GCP and fire up a training job.

This will be definitely the easier way to use pytorch/xla.

When building locally, does the build complete succesfully? do you encounter error when running tests after building only?

[2021-03-19 05:41] ailzhang commented on #2832
what commits of pytorch/pytorch and pytorch/xla do you have respectively?

[2021-03-19 07:43] soumochatterjee commented on #2831
I saw this [forum](https://github.com/pytorch/xla/issues/929) while googling find the answer in order to resolve this but unable to understand where to make the changes.

[2021-03-19 16:16] tottenjordan commented on #2690
Not sure why the memory errors are not getting copied in my `grep "10.164.15.214" /tmp/out-wds-2.log` but I attached the metrics-debug report (which didnt copy the memory errors for some reason) and `metricsD17-MemErrors.txt` where I manually copied them from shell. They start during Epoch 21 train.

Also attached the training code for this run. Notice I didnt use the `repeatedley()` and still got

[2021-03-19 17:14] JackCaoG commented on #2831
Sorry for the late reply, pytorch/xla has its own version of `nms`, more detail in https://github.com/pytorch/xla/issues/1667. Do you want to give it try?

[2021-03-19 17:35] JackCaoG opened #2833 "[PT_BREAK]test_index_select failed"
change in https://github.com/pytorch/pytorch/pull/53898 breaks test_index_select, and it is disabled now.

[2021-03-19 19:16] KatiaSN602 commented on #2832
I was able to successfully, build torch, but it fails when I try to build torch_xla. And I see the error above. So I assume so... since it fails on the `run_tests.sh` script.

[2021-03-19 19:20] KatiaSN602 commented on #2832
pytorch/pytorch - HEAD git hash is a95abc46
pytorch/xla -  HEAD git hash is 9c2f91e3

[2021-03-19 19:29] zcain117 commented on #2690
Looks like your VM is running out of memory and seems unrelated to TPUs, so I don't think anything in this TPU metric report will help much

I guess the data is not being released after the epoch ends and the new data is loaded

In your code, you are using MpDeviceLoader, which is not directly a PyTorch DataLoader. It is a class that maintains its own queues and loads data for every call to `__ite

[2021-03-19 20:35] wenleix commented on #2823
Resolved by https://github.com/pytorch/xla/pull/2817

[2021-03-19 20:35] #2823 closed

[2021-03-20 19:10] harpone commented on #2690
Oh yeah damn, I had a similar issue... you could track the number of running python processes to see if they're increasing at the beginning of each epoch. Definitely happened also with GPUs. I don't remember how I resolved that :(

[2021-03-22 19:29] KatiaSN602 commented on #2832
Also tried to compile it from the docker and still hitting the same test error.
Would appreciate any pointers on how to resolve this!

Thanks in advance!

[2021-03-23 00:58] ailzhang commented on #2832
@KatiaSN602 From the stack trace in the description, it's very likely that you have an old version of pytorch installed and somehow your newly built pytorch is not used.
For example, there's no longer CAFFE2_API in pytorch master branch. (removed in https://github.com/pytorch/pytorch/pull/49496) but it showed up in your stack trace.
To verify, you can print your pytorch version using
[code]

[2021-03-23 01:00] JackCaoG commented on #2832
Could you try
[code]
couple times and rebuild the torch?

[2021-03-23 13:05] jysohn23 commented on #2493
Circling back on this, we've released our PyTorch/XLA profiler tooling, which you can try out using this tutorial: https://cloud.google.com/tpu/docs/pytorch-xla-performance-profiling

[2021-03-23 21:09] tottenjordan commented on #2690
Hi @tmbdev , can you take a look at the memory errors cited above? I was thinking that perhaps the data loader was accumulating samples over training, but I implemented the following to check the loader size during each train epoch:

[code]

- I removed the `islice(loader...)`
- The memory of the loader is staying constant between epochs at 56
- The number of samples cycle through the train and te

[2021-03-23 22:37] tottenjordan commented on #2690
I noticed that switching to `spawn` in ```xmp.spawn(_mp_fn, args=(FLAGS,), nprocs=FLAGS.num_cores, start_method='spawn')``` reduced the rate at which memory is utilized over training. Was able to get to 31 epochs vs 20 epochs with `fork`

![image](https://user-images.githubusercontent.com/39886184/112227939-6bb65e80-8bfe-11eb-8471-20ab003539e5.png)

[metricsD19-wds-128bs-8wrks-90epoch-MemError-31e

[2021-03-24 00:46] tmbdev commented on #2690
We have been using WebDataset in workers for a long time and not seen any memory leaks.

WebDataset doesn't operate any differently whether it runs standalone, inside a worker, or on another node. If you suspect a memory leak in the worker process, you can simply run it standalone and see what happens to the memory:

    # testing the WebDataset pipeline for memory leaks
    import ...
    dataset

[2021-03-24 07:53] KatiaSN602 commented on #2832
![image](https://user-images.githubusercontent.com/74271676/112269954-50674580-8c36-11eb-9d62-904ca33ac1f8.png)

![image](https://user-images.githubusercontent.com/74271676/112274072-4d228880-8c3b-11eb-81da-8a3aba03f434.png)

[2021-03-24 12:22] turian commented on #1858
@JackCaoG Any update? Why is this issue closed?

[2021-03-24 17:32] tchaton opened #2836 "Using XLA with subprocesses.Popen instead of spawn"
## ❓ Questions and Help

Dear people from torch-xla,

PyTorch Lightning currently implements a TPUSpawn training_type_plugin relying on `xmp.spawn(self.new_process, **self.xmp_spawn_kwargs)`
https://github.com/PyTorchLightning/pytorch-lightning/blob/master/pytorch_lightning/plugins/training_type/tpu_spawn.py#L279 to launch training.

I would like to create a TPUPopen version relying on subprocesss

[2021-03-25 10:03] tchaton commented on #2836
@dlibenzi  any thoughts ?

[2021-03-25 14:27] tottenjordan commented on #2690
Ok - a stupid, careless mistake was leading to the memory leakage. In the validation dataset/loader I was using `splitter=None` instead of `splitter=my_worker_splitter`.

Seems this issue occurs when we do not correctly split dataset instances between both nodes/devices and workers - observed this issue when setting either and both the worker and node splitters to `None` in the validation dataset/

[2021-03-25 19:01] hyang0129 opened #2840 "xm.optimizer_step does not state that it takes the average gradient across cores"
torch_xla.core.xla_model.optimizer_step calls the torch_xla.core.xla_model.reduce_gradients method, which implicitly executes all_reduce(REDUCE_SUM, gradients, scale=1.0 / count, groups=groups, cctx=cctx).

Most users (me) would expect the optimizer to make a step of size LR, but it actually makes a step of size LR/cctx.world_size. This is opposite to the expected behaviour when converting a cuda

[2021-03-25 19:56] zcain117 commented on #2836
Can you give a summary of why this would be a good thing? Like what kind of performance improvements or usability improvements would we expect?

[2021-03-25 20:35] taylanbil commented on #2840
This depends on how your loss function is reduced. For example, take `nn.CrossEntropyLoss`, as in [this example](https://github.com/pytorch/xla/blob/08ae1044c2/test/test_train_mp_imagenet.py#L199).

If you are using loss reduction `sum`, then you would expect the gradients to be added up. If you are using loss reduction `mean`, then the gradients should be averaged instead. Since the default reduc

[2021-03-25 20:41] hyang0129 commented on #2840
Yes that is what I would expect. However, comparing same batch size and learning rate using nn.CrossEntropyLoss and a SGD optimizer between GPU and TPU results in the TPU making significantly smaller gradient updates. Would it be helpful if I implement an example in google colab to reproduce this behaviour?

Essentially, one would reasonably expect that nn.CrossEntropyLoss using mean reduction wou

[2021-03-25 20:56] taylanbil commented on #2840
Example would be nice, but before that, can you describe the two setups? how many gpus/tpus, what is the **per device** batch size, etc?

[2021-03-25 20:57] hyang0129 commented on #2840
1 GPU vs 1 TPU with 8 cores. Per device batch size is 16 for TPU and 128 for GPU. The total batch size should be 128 for both

[2021-03-25 20:58] taylanbil commented on #2840
and what kind of loss are you using? Can you include the training loop code?

[2021-03-25 20:59] hyang0129 commented on #2840
nn.CrossEntropy with SGD. I'll reproduce the issue

[2021-03-25 21:38] tchaton commented on #2836
Hey @zcain117 ,

There would be several reasons.
Each version (popen vs spawn) has its own advantage.

A popen version would work with objects which can t be pickled and enable some Pytorch Lightning features to work for TPUs.

It also clean user code as they don t need to wrap their logic within a function to be passed to spawn.

PyTorch 1.9 will actually support both version natively.

Best,
T.C

[2021-03-25 22:47] hyang0129 commented on #2840
The real issue lies in not reading the documentation for the Parallel loader. Both nn.DataParallel and Tensorflow 2.0 shard an existing batch across the GPUs or TPU cores. Parallel loader allocates a batch to a core, similar to how a dealer would deal cards.

This behaviour isn't very clear until you read the argument devices : The list of devices where the data has to be sent. The i-th sample ret

[2021-03-25 23:03] taylanbil commented on #2840
Parallel loader does not change anything about the dataloader's behavior. All it does is send batches to the device in the background. The behavior you are describing is controlled by the `sampler` argument, as seen [here](https://github.com/pytorch/xla/blob/master/test/test_train_mp_imagenet.py#L165). If this sampler was set to `None`, then every device would receive the same batch.

[2021-03-25 23:14] hyang0129 commented on #2840
Yep its kinda not obvious but logically straight forward.

[2021-03-25 23:14] #2840 closed

[2021-03-26 13:37] evanatyourservice opened #2843 "Revisiting SyncBatchNorm"
## 🚀 Feature

Hello all,

I am wondering if there is any interest in supporting Pytorch's SyncBatchNorm, also mentioned in issue #2223. This is a commonly used tool nowadays.

## Alternatives

This is the alternative I just came up with:
[code]
but can anyone think of a more efficient way to do this for now?

[2021-03-28 09:04] discort opened #2844 "CTCLoss is slow on TPU"
## 🐛 Bug

Backprop of [CTCLoss](https://pytorch.org/docs/stable/generated/torch.nn.CTCLoss.html) is calculated slowly.
I got the [metric report](https://github.com/pytorch/xla/blob/master/TROUBLESHOOTING.md#get-a-metrics-report) and found `aten::_ctc_loss` and `aten::_ctc_loss_backward`:
[code]

## To Reproduce

Steps to reproduce the behavior:

1. Run the collab [file](https://colab.research.goog

[2021-03-29 08:39] tchaton opened #2845 "Inverse of torch_xla._XLAC._xla_set_default_device(device)"
## 🚀 Feature

## Motivation

Dear people from XLA Team,

I was wondering if they were a simple way to detect if xla was available. It seems calling xla_device is the only way. However, this attach the xla core to the current process.

This is pretty unfortunate when running TPU CIs and switching between 1-8 cores.
It would be nice to be able to detach a process from xla and have a nice utils to kn

[2021-03-29 10:17] discort commented on #2844
Just have found similar https://github.com/pytorch/xla/issues/2163#issuecomment-639486271

@davidel
just wondering are you planning to add support of CTCLoss in xla into your queue?

[2021-03-29 16:39] tchaton opened #2846 "TPU + Hydra"
## 🐛 Bug

I am using a model with object from Hydra and OmeConf: https://github.com/facebookresearch/hydra and https://github.com/omry/omegaconf.

It seems the xm.save gets into an infinite loop.

[code]

## To Reproduce

Steps to reproduce the behavior:

1.
2.
3.

## Expected behavior

## Environment

 - Reproducible on XLA backend [CPU/TPU]:
 - torch_xla version:

## Additional context

[2021-03-29 17:53] JackCaoG commented on #2844
We already have https://github.com/pytorch/xla/issues/2399 open, I will close this one. We will try to lower this one soon (~2 months)

[2021-03-29 17:53] #2844 closed

[2021-03-29 18:35] nupurkmr9 opened #2847 "[question] Pytorch XLA 1.8 TPU v2-8 code freezes on clip_grad_norm_"
I am trying to run stylegan2-pytorch-diffaugment (https://github.com/mit-han-lab/data-efficient-gans) code on TPU. I am using Pytorch-xla-1.8 env and v2-8 TPU. For gradient clipping I am using the following:
[code]

clip_grad_norm takes forever to run.
Can anyone help me what is going wrong?

[2021-03-29 18:40] JackCaoG commented on #2847
Hi @nupurkmr9 Thanks for reporting! Any chance you can provide us a short repo that we can run and test?

[2021-03-29 18:46] tchaton commented on #2847
[code]

[2021-03-29 18:48] tchaton commented on #2847
Tagging @omry.

[2021-03-29 18:49] tchaton commented on #2846
Here is a reproducible script

[code]

Tagging @omry

[2021-03-29 18:54] JackCaoG commented on #2845
Hi @tchaton Could you be a bit more specified about "detect if xla was available". Are you running on TPU machine and want to check if the `device`(tpu core) is already assigned to other process?

[2021-03-29 19:05] JackCaoG commented on #2843
@evanatyourservice thanks for reporting! I think we could lower this op but under the hood we will use using the existing cross_replica_reduce methods in https://github.com/pytorch/xla/blob/08ae1044c2a7e314895f9946104cbe399e096515/torch_xla/csrc/cross_replica_reduces.cpp#L137 to implement it. @jysohn23 wdyt?

[2021-03-29 19:48] omry commented on #2846
Which version of OmegaConf?

As a workaround, you can covert the config to a plain container with OmegaConf.to_container().

[2021-03-29 21:25] nupurkmr9 commented on #2847
Hi, thanks for the quick response.
I have put the code to replicate this at [https://github.com/nupurkmr9/data-efficient-gans](https://github.com/nupurkmr9/data-efficient-gans)
I have also put a sample data folder of 100 images at:
https://drive.google.com/file/d/1OBR7UXkW2BhPgSNyciK7VFUazUbb5enq/view?usp=sharing

The commands required for replicating the issue is:
cd DiffAugment-stylegan2-pytorch

[2021-03-29 21:53] JackCaoG commented on #2847
@nupurkmr9 Looking through you `train.py` briefly, I didn't see you import `torch_xla`, nor did you use https://github.com/pytorch/xla/blob/ba015ce9a1a5430fcceaf9c21b07d9f210e58e96/test/test_train_mp_imagenet.py#L179 to set the device to be a xla_device. How do you make your code running with the tpu?

For a reference, you can check our https://github.com/pytorch/xla/blob/master/test/test_train_mp

[2021-03-29 22:03] nupurkmr9 commented on #2847
training/training_loop.py is the main script for training loop over dataset. device initialization and torch_xla is imported in that file.

[2021-03-30 07:14] tchaton commented on #2845
Dear @JackCaoG,

In PyTorch Lightning, we are using this code to detect if TPU is available: https://github.com/PyTorchLightning/pytorch-lightning/blob/master/pytorch_lightning/utilities/xla_device.py#L96

[code]

[2021-03-30 07:23] tchaton commented on #2846
Hey @omry

Currently using Omagaconf `2.1.0dev24` and `conda activate torch-xla-1.7` from GCP docker image.
Yes, I know we could convert OmegaConf to their container, but it would be nice if this feature was supported by `xm.save` directly.
It would enable to have hydra config saved/loaded on TPUs.

Best,
T.C

[2021-03-30 07:25] tchaton commented on #2836
@JackCaoG

[2021-03-30 07:30] omry commented on #2846
I agree.
Narrowing it down to see if it's a bug in OmegaConf or `xm.save` will help.

If you drill in and see that OmegaConf is misbehaving, please file an issue with a minimal repro (without external dependencies) against the OmegaConf repo.

[2021-03-30 07:34] omry commented on #2846
Looking at the [line](https://github.com/pytorch/xla/blob/master/torch_xla/utils/utils.py#L201-L206), this is definitely doing something unsupported.
OmegaConf is hiding the internal representation very carefully, but that code goes straight into the __dict__.

[2021-03-30 08:37] tchaton commented on #2846
Hey @omry,

I will let you handle support for OmegaConf on TPU as you already narrowed the call causing the infinite looping.
Does it seem to you  the `_for_each_instance_rewrite` function or `DictConfig __dict__` should be modified ?

Best,
T.C

[2021-03-30 08:42] tchaton commented on #2773
Hey @zcain117,

yes, state_dict works fine, but in PyTorch Lightning, we will save the trainer states too (callbacks, etc ...)

In TPUSpawn, I had to remove callbacks to avoid this error as it seems type can't be saved.
https://github.com/PyTorchLightning/pytorch-lightning/blob/master/pytorch_lightning/plugins/training_type/tpu_spawn.py#L306

Modify this line to trigger the error:
[code]

Best,
T.

[2021-03-30 08:51] omry commented on #2846
I can't decide for this project what is the right way to deal with this (especially if they do not want to add a dependency on OmegaConf).
One possible solution is to change the checks for isinstanceof dict and of list to check for MutableMapping and MutableSequence (https://github.com/pytorch/xla/blob/master/torch_xla/utils/utils.py#L176-L187).

I have no plans to change DictConfig internal repre

[2021-03-30 12:33] jysohn23 commented on #2843
Yeah I'm pretty sure that's what tf2xla bridge also does for SyncBN.

[2021-04-01 03:29] JackCaoG commented on #2845
I think you really meant `TPU device` instead of `XLA_DEVICE`.

Couldn't you just check `XRT_TPU_CONFIG`? I think device is generated from this config for TPU case (most likely).

[2021-04-01 10:15] tchaton opened #2851 "xm.get_xla_supported_devices("TPU") hangs when no TPU is available."
## 🐛 Bug

## To Reproduce

To reproduce the bug:

[code]

Don't connect a TPU instance.

Run python:
[code]

As environment variable are set but no TPU is available and no timeout, the call will hang.

Steps to reproduce the behavior:

1.
2.
3.

## Expected behavior

## Environment

 - Reproducible on XLA backend [CPU/TPU]:
 - torch_xla version:

## Additional context

[2021-04-01 14:16] MouathAb commented on #1245
Thank you all,

    reproducible on XLA backend [CPU/TPU]: TPU (google colab)
    torch_xla version: 1.7
    model: Vision Transformer

I've got the same problem with model accuracy (after restore) on TPU, and I think this time it's not about saving/loading the model!
This is a part of the code for train/valid:
`    for epoch in range(1, epochs + 1):
        gc.collect()
        para_train_loader

[2021-04-01 15:32] evanatyourservice commented on #2843
Awesome, I'm not that versed so I don't think I can help, but was just curious!

[2021-04-01 21:46] JackCaoG commented on #2851
This is a expect behavior, when exporting `XRT_TPU_CONFIG` with a remote `TPU_IP_ADDRESS`, it will try to connect to the tf server at that IP address. If that IP is not reachable, it will hang for a while.

I am still a bit unsure what you want to do here. Are you still trying to check if it is a tpu use case? The problem here is that the vm that you are running on is just a regualr vm. The TPU li

[2021-04-01 21:46] JackCaoG commented on #2847
Sorry for the delay, I will try to repo this when I am a bit more free,

[2021-04-01 23:59] Halmoni100 commented on #2772
I am having a similar issue where the code is hanging when trying to move a tensor from TPU in xmp.spawn to CPU with more than one process.  Seems to work fine with a single process.

[2021-04-02 01:26] byronyi opened #2854 "mlir-npcomp intersects with torch-xla"
# Background

[ATen device capture](https://github.com/llvm/mlir-npcomp/tree/main/frontends/pytorch) is an attempt to produce MLIR from tracing PyTorch program running on CPU. It largely modeled after torch/xla in [its very first version](https://github.com/llvm/mlir-npcomp/pull/30) contributed by @stephenneuendorffer from Xilinx.

@stellaraccident [refactored](https://github.com/llvm/mlir-npcomp/

[2021-04-02 02:46] stellaraccident commented on #2854
+1 on option 2, which I don't think will be that hard (earlier on, I did make an attempt at it and so had issues, but I think I may have been holding it wrong).

[2021-04-02 04:43] tonychenxyz opened #2855 "If Statement Very Slow"
## 🐛 Bug

if statement seems to be very slow when using PyTorch on TPU compared to that on GPU.

Here's what happens on GPU:
![image](https://user-images.githubusercontent.com/13805929/113381116-b4190d80-93b0-11eb-86de-085e91e7a3f5.png)

Here's what happens on TPU:
![image](https://user-images.githubusercontent.com/13805929/113381149-d0b54580-93b0-11eb-94e2-71df617c490a.png)

tokenizer.stoi["<eos>

[2021-04-02 10:04] MouathAb opened #2856 "[Does xm.master_print() print the performance of the model on 1/num_cores of the validation data?]"
XLA backend : TPU (google colab)
 torch_xla version: 1.7
 model: Vision Transformer

The model accuracy after restoring on TPU is changing.
I think that the printed accuracy with xm.master_print [during train/valid] is the accuracy on only 1/num_cores (num_cores=8 in my case) of the validation dataset; which may be different when evaluating the saved model on the whole validation set.

This is a p

[2021-04-02 10:56] Clive2312 opened #2857 "Crashing while using torch.nn.functional.normalize() with amp enabled"
## 🐛 Bug
Program crashes when using normalize() with amp patch from #2654

Here's the error msg:

## To Reproduce

[code]

Steps to reproduce the behavior:

1. run the code above

## Expected behavior

## Environment

 - Reproducible on XLA backend [CPU/TPU]: XLA GPU
 - torch_xla version: 1.7.0 with #2654

## Additional context

The error msg is dot op doesn's support mixed presicion so I tried to

[2021-04-02 15:45] hyang0129 opened #2858 "Unable to Load XLA Tensors from Statedict on GPU only Machine"
## 🐛 Bug

A state dict was saved without using xm save. This resulted in tensors saved as device = XLA. Trying to load the tensors without an XLA device results in the following error.

## To Reproduce

I believe the team has encountered a similar issue with state dicts not saved via xm.save. Is there a workaround to load the tensors?

## Expected behavior

Tensors load by default to cpu before be

[2021-04-02 15:51] hyang0129 commented on #2858
please change or overload or idk do something to this function  below

`def _rebuild_xla_tensor(data, dtype, device, requires_grad):
    tensor = torch.from_numpy(data).to(dtype=dtype, device=device)
    tensor.requires_grad = requires_grad
    return tensor
`
the issue is resolved by changing the device = device to device = 'cpu'.

`def _rebuild_xla_tensor(data, dtype, device, requires_grad):

[2021-04-02 15:55] hyang0129 commented on #2858
Anyone else having the same issue can override the function as the first line of code in your import section

`import torch

def _rebuild_xla_tensor(data, dtype, device, requires_grad):
    tensor = torch.from_numpy(data).to(dtype=dtype, device='cpu')
    tensor.requires_grad = requires_grad
    return tensor

torch._utils._rebuild_xla_tensor = _rebuild_xla_tensor`

[2021-04-02 17:17] taylanbil commented on #2856
`xm.master_print` will print whatever data the main process has that the code is printing. If this is only part of the total validation data (standard practice), then `xm.master_print` will print that.

In the code above, if I understand correctly, `valid_sampler` shards the total validation data, so the main process will have 1/num_cores of the total validation data. Thus, `xm.master_print` will

[2021-04-02 19:10] zcain117 commented on #2773
repro steps:
[code]
If I use `torch-xla-nightly` I get an unrelated crash that seems to be because of Tensorboard

If I use `torch-xla-1.8` I get a crash like this:
[code]

If I use `torch-xla-1.7`, then I get the same crash.

@tchaton it seems like your CI is using `torch-xla-1.7`, since I see a line like this: `Downloaded newer image for pytorchlightning/pytorch_lightning:base-xla-py3.6-torch1.7

[2021-04-02 19:46] zcain117 commented on #2773
Ok I think I understand better now:
* there was some new checkpointing behavior added but it doesn't work yet on TPUs, so you built a `checkpoint_callback` flag in the `trainer` to avoid the new behavior. So now your CI is using that flag and that's why it passes.
    * I think the CI is still using 1.7 though (correct me if I'm wrong)
* I verified that training works (at least for `pl_examples/do

[2021-04-02 20:22] nupurkmr9 commented on #2847
Sure, Thanks!
I found that whenever I did a for loop like:
 `for p in module.parameters():
              #do something`
the code slows down.

[2021-04-02 21:15] silvasean commented on #2854
+1 on option 2 as well.

[2021-04-03 04:47] ailzhang commented on #2854
Thanks for providing detailed context in the issue! I haven't gone through all details here yet, will take another look on Monday!
cc: @ezyang @wconstab @asuhan @bdhirsh for more visibility.

[2021-04-05 13:11] byronyi commented on #2854
I just found the [structured kernel RFC](https://github.com/pytorch/rfcs/blob/rfc-0005/RFC-0005-structured-kernel-definitions.md#get-tracing-with-meta-tensors-working) as I was thinking that dynamic shape support would need something like meta tensors where you can run the operator statically with type and shape but no real data or computation.

Not sure how long it would take to migrate most exis

[2021-04-05 18:55] ezyang commented on #2854
So if I understand correctly, the menu of choices from Option 1 - Option 3 represent most conservative to most radical changes to the torch_xla project. Although no one seems to be advocating for it in the short-mid term, Option 3 in particular seems like a really radical change for the torch_xla project, which has from the start been HLO first. Because torch_xla is a real project that people are

[2021-04-05 18:57] ezyang commented on #2854
@byronyi

Unfortunately I'm not sure how much this actually helps you. In particular meta tensors still have exact shape/dtype information everywhere (I did want to support symbolic, but it was too hard to figure out how to do that at the same time as other the design constraints), so you won't be able to get dynamic shapes without rerunning the network, at which point XLA's current strategy works

[2021-04-05 23:27] eellison commented on #2854
I think it's possible that JIT symbolic shape analysis could help you here, but there's a lot left to be designed...

[2021-04-06 01:50] shauheen commented on #2854
Thanks @ezyang, I will need some more time to read through the RFC and the other proposal but just to comment on this:

Want to clarify that MLIR will be used for optimizing many things including XLA however there are no current plans to replace XLA.

[2021-04-06 01:56] silvasean commented on #2854
If the goal is to avoid excessive recompilation for dynamic shapes, it probably makes more sense to capture multiple traces and opportunistically erasing shapes to a common supertype if the traces are structurally the same -- should converge to a most de-refined supertype for all ops in the steady state. This could be done "under the hood".

[2021-04-06 03:20] byronyi commented on #2854
I was just skimming through TPU headers and found XRT variants of `TpuCompile`: https://github.com/tensorflow/tensorflow/commit/c31e582af5cc8fe4190bcb4743b6914a2c634f70

So TPU runtime still accepts XLA/HLO (only?), and whether frontends other than TF migrates to MLIR should largely depend on if we would like to share some of the optimization passes between these lowering paths (which is exactly w

[2021-04-06 22:28] edenlightning commented on #2773
@zcain117 let us know if there's work required on the lighting side

[2021-04-07 09:03] jiasenwu commented on #2790
Similar issue here in NFNet in timm:
https://github.com/rwightman/pytorch-image-models/blob/779107b693010934ac87c8cecbeb65796e218488/timm/models/layers/std_conv.py#L9

When training on TPU, I see the report of unlowered `std_mean`. At the moment, we apply a patch to separate the op into `std` and `mean`, as suggested above.

[2021-04-07 17:24] zcain117 commented on #2773
Could you share what kind of object is having trouble being saved? And a minimal repro?

[2021-04-07 18:38] zcain117 commented on #2773
the repro I shared above no longer works for me, so I'm wondering if you have any suggested method.

I am doing this:
1. create VM
2. create TPU
3. (inside vm) `git clone https://github.com/PyTorchLightning/pytorch-lightning.git`
4. (inside vm) modify as needed - I added `self.save(checkpoint, filepath)`
5. (inside vm) `cd pytorch-lightning`
6. (inside vm) `pip install .`
7. (inside vm) `pip insta

[2021-04-07 20:07] ailzhang commented on #2854
@byronyi @stellaraccident @silvasean
For option 2, I wonder what do you expect to gain compared to your current mode-base approach? I took a quick look at your mode-based approach (which toggles the included keyset of TLS), although it's slightly different from how xla carries keys on the tensor, it's still a way to tweak our dispatcher and they're not fundamentally different. I feel issues you're

[2021-04-08 01:00] JackCaoG commented on #2857
I checked our 1.7 pin tensorflow version and it seems like `dot` is not supported for mix precision https://github.com/tensorflow/tensorflow/blob/981d2f56c4189b5ae3b0418d16887bc0349e7e0b/tensorflow/compiler/xla/service/hlo_verifier.cc.

However our 1.8 pin tensorflow version has `dot` supported https://github.com/tensorflow/tensorflow/blob/00d31f1d50c3ef475d8301f70ffbf0647038f53f/tensorflow/compil

[2021-04-08 01:27] JackCaoG commented on #2855
I tried
[code]

and use
[code]
to print the metric. Above code actually did not get executed on TPU so it is "fast".  If I put above code into a if statement I see
[code]

PT/XLA tensor is lazy and only get executed when  the output of the tensor is required. My guess is that python code bypass the `==` since it does not affect the result.

On a separate note, calling `.cpu()` will result in a dat

[2021-04-08 01:35] JackCaoG commented on #2858
Yea, we require user to move the tensor to `CPU`  before calling `xm.save`. more detail in https://github.com/pytorch/xla/blob/08ae1044c2a7e314895f9946104cbe399e096515/API_GUIDE.md#saving-and-loading-xla-tensors

I will close this issue since it is resolved. Please reopen for any further questions.

[2021-04-08 01:35] #2858 closed

[2021-04-08 01:50] ailzhang opened #2865 "[PT_BREAK]Makes torch.cuda.amp.GradScaler scale updates in-place for better composability with graph capture"
https://github.com/pytorch/pytorch/pull/55562
This PR requires a followup change on pytorch/xla side, @yaochengji would you mind helping on it? Thanks!

[2021-04-08 05:28] yaochengji commented on #2865
Sure. I will take a look this week.

[2021-04-08 07:47] raman-rajarathinam opened #2866 "IterableDataset has no len()"
## 🐛 Bug

When using `IterableDataset`, training is getting terminated before it starts

Example is given by Pytorch-Lightning: https://www.kaggle.com/pytorchlightning/pytorch-on-tpu-with-pytorch-lightning

## To Reproduce

Steps to reproduce the behavior:
1. `pip install` the following
    - cloud-tpu-client==0.10
    - https://storage.googleapis.com/tpu-pytorch/wheels/torch_xla-1.8-cp37-cp37m-li

[2021-04-08 14:24] hyang0129 commented on #2858
@JackCaoG yeah but like why not just update the code to load tensors onto CPU first? I don't consider it a bug, I'm just wondering why it is a feature to load all tensors back to the original device they were trained on? Like this behaviour is not expected when we train GPU tensors and load them on a non GPU device.

[2021-04-08 14:58] jysohn23 commented on #2866
Yeah it looks like it's this line that's trying to get the length even if length is not requested by user:
https://github.com/pytorch/xla/blob/86463f894eb21f31dcd3449e4e55cc45b8a8586a/torch_xla/distributed/parallel_loader.py#L89

Will submit fix for it.

[2021-04-08 17:22] stellaraccident commented on #2854
This is my question as well. I've swapped a lot of the context out and would have a hard time articulating it, but ~6 months ago, I did read/trace through all of the PyTorch code in this area, thought I understood it, and did try a version that was more true to the device extension guide. As you note, this doesn't change a lot of the mechanics, and indeed didn't magically fix anything. But I also

[2021-04-08 17:38] ailzhang commented on #2854
@stellaraccident Overall we're interested in unblocking you if there's any dispatcher related bugs/issues. :D So I'm personally interested in what's your current blockers in mode-based approach before we choose among option1/2/3 :D.
@smessmer recently fixed some issues for backend fallback (details in https://dev-discuss.pytorch.org/t/backend-fallbacks/195 ) and it could enable xla to AtenXlaTypeD

[2021-04-08 18:46] ailzhang commented on #2865
@yaochengji I'm thinking about having a channel among us and @mcarilli on slack to better discuss and cooridinate amp related changes. Do you want to join? ;) (Let me know your email if that sounds good!)

[2021-04-08 22:23] Varun9213 commented on #2735
Having the same issue

[2021-04-08 23:45] ailzhang commented on #2865
@yaochengji @byronyi Done! Please let me know if you don't see the invitation email! (there's an open channel called #amp that's created for all amp-related discussions :D

[2021-04-09 00:41] #2866 closed

[2021-04-09 04:40] raman-rajarathinam commented on #2733
I tried installing `master` to my work env by running `pip install git+https://github.com/pytorch/xla`, which exited with some error.
Can anyone tell me how to install from master?

[2021-04-09 04:54] JackCaoG commented on #2733
We don't expect `pip install git+https://github.com/pytorch/xla` to work, if you want to build from scratch, please refer to https://github.com/pytorch/xla/issues/2733#issuecomment-760612734

[2021-04-09 17:10] codeislife99 opened #2870 "PyTorch XLA for GPU"
## ❓ Questions and Help
### Usecase:
Run PyTorch XLA for GPU(s)
### Details:
I am using [Google Colab tutorial for TPUs](https://colab.research.google.com/github/pytorch/xla/blob/master/contrib/colab/getting-started.ipynb#scrollTo=3P6b3uqfzpDI) with GPU enabled.  I used the following environment variables to make it work for GPU device but it doesn't seem to work while doing `xm.xla_device()`
`exp

[2021-04-09 22:09] bdhirsh opened #2871 "Using a PyTorch-core codegen API"
Below is a proposal for taking the codegen that pytorch/xla currently performs in-tree, and shifting that into pytorch core as a public codegen API that pytorch/xla can call. Sharing the design here for visibility! cc @ezyang @ailzhang

**Background**

The below two resources are commonly used when implementing operators for external backends.

* https://pytorch.org/tutorials/advanced/extend_dispa

[2021-04-10 08:23] ozlerhakan opened #2875 "Failed to run custom training using TPU"
## ❓ Questions and Help

Hi, we use the script mentioned in this blog https://huggingface.co/blog/pytorch-xla with small changes to train our custom data which is 30GB usingTPU. It works well with small data like 10k but we couldn't reach an end with the whole data, this is what we have in the log file: (just get the error lines because the log file is huge)

[code]

other error logs:

[code]
our

[2021-04-10 16:04] zcain117 commented on #2875
Sounds like it works fine with small dataset and then with larger dataset it is able to train for a little while and then it crashes?

I don't see the root cause in the log snippets but maybe you're running out of memory on the TPU - could you search in the logs for "oom" or "hbm"? Or you could try running with a smaller number for `per_device_train_batch_size`

Might also be worth trying `torch-x

[2021-04-10 16:54] ozlerhakan commented on #2875
Exactly.

I couldn't find any thing related with memory, oom, hbm in the log.  Next time, we can try `per_device_train_batch_size=4` and `torch-xla-1.8`.

I have found a bit more logs:

[code]

[2021-04-10 17:22] ozlerhakan commented on #2875
I add more logs as long as I find:

[code]

[code]

[2021-04-10 18:27] yaochengji commented on #2865
PR submitted: https://github.com/pytorch/xla/pull/2874

[2021-04-12 05:29] Clive2312 commented on #2857
Ok and thanks. I'll switch to 1.8.1.

[2021-04-12 05:29] #2857 closed

[2021-04-12 07:03] ozlerhakan commented on #2875
After using `per_device_train_batch_size=4` and `torch-xla-1.8` we receive the following error logs @zcain117 :
[code]

[2021-04-12 13:12] jysohn23 commented on #2875
It looks like something caused the "Teardown" and the SIGKILL we see. Could you check whether your colab runtime is running out of memory? You can check this in your colab runtime logs (Runtime > Runtime Logs).

[2021-04-12 13:46] ozlerhakan commented on #2875
I have checked the VM logs and found the cause now:

[code]
@zcain117 @jysohn23

[2021-04-12 13:48] jysohn23 commented on #2875
Yeah that would make sense. How did you create your notebook? Could you try making a copy out of this one and making your edits on top of it: https://colab.research.google.com/github/huggingface/blog/blob/master/notebooks/13_pytorch_xla.ipynb? (should grant access to potentially beefier machines).

[2021-04-12 14:09] ozlerhakan commented on #2875
I think we need to change core TPU resource rather than v3-8.

[2021-04-12 14:12] jysohn23 commented on #2875
What do you mean use other TPU resource than v3-8?

First try to identify what's causing that OOM RAM. That OOM is not device HBM OOM, its the GCE VM OOM. If it is because the dataset is too big, yeah using something like a v3-32 may help since then you can use a distributed sampler.

[2021-04-12 14:19] ozlerhakan commented on #2875
That's true, we have a plan to find the limit we have by testing incrementally the train size.

[2021-04-12 15:55] zcain117 commented on #2875
some other options for avoiding OOM on the VM:

- use fewer workers
- use a smaller `prefetch_factor` when making a `DataLoader`

it's also possible you have a memory leak somewhere. In the Google Cloud console you can view the VM's memory usage over time (under "monitoring" tab for that VM) and see if it's climbing every epoch

[2021-04-12 21:00] KatiaSN602 commented on #2832
I was getting the same error

[2021-04-12 21:37] JackCaoG commented on #2832
Like Ailing suggested, files under `/usr/local/lib/python3.7/site-packages/torch` seems to be out of date. One thing you could try is to remove the entire `/usr/local/lib/python3.7/site-packages/torch` and rebuild torch from scratch and see if that will help.

[2021-04-13 00:45] tyoc213 commented on #2405
Hi there @JackCaoG, Im back on this issue so I will give a try!

[2021-04-13 02:45] JackCaoG commented on #2871
Hi @bdhirsh , thanks for making this contribution, I think upstreaming this part of code to pytorch core is a good idea but this also requires pytorch core team to be more careful when making any future changes as it won't be as easy for pt/xla to fix those issues.

I do have couple comments we can discuss in details in Thursday's meeting

[code]
any chance we can automate this process(figure this

[2021-04-13 08:50] ozlerhakan commented on #2875
Here is the updates when training 1M data with train-validation sets memory and mlx usage of tpu v3-8:

![Memory Utilization_20210413](https://user-images.githubusercontent.com/1964927/114524740-2362ed00-9c4e-11eb-9b10-49d6f0d40236.png)
![TPU runtime memory usage (All Workers)_20210413](https://user-images.githubusercontent.com/1964927/114524965-5c02c680-9c4e-11eb-8e0a-ad062393351d.png)

I expecte

[2021-04-13 12:59] ozlerhakan commented on #2875
- current worker size 0
- when I set prefetch_factor less than 2 (by default) it gives an error. (`prefetch_factor option could only be specified in multiprocessing. let num_workers > 0 to enable multiprocessing.`)

[2021-04-13 15:34] zcain117 commented on #2875
Hmm so I guess the OOM is a RAM OOM on the machine that has the TPU and not on your VM

* Do you happen to be using a WebDataset like in [this issue](https://github.com/pytorch/xla/issues/2690#issuecomment-806850132)?
* Does the problem happen if you use a smaller dataset but do more epochs over the same data over and over?
* What are some of the "small changes" to the original script?  Anything t

[2021-04-13 17:12] bdhirsh commented on #2871
We can discuss more during the meeting, but some quick answers:

The idea behind the yaml was that it saves you work by killing `aten_xla_type.h`: instead of having to add the entire new function signature to that header (and risk typing it incorrectly), you just add the operator name to the yaml and the codegen generates the headers for you. And yeah, it also saves us from having to maintain pars

[2021-04-13 17:34] ezyang commented on #2871
Well, it probably will be nice to autogenerate the shiny new YAML file :) Also, something that we didn't really deal with in this proposal is detecting when a BC-breaking change to a signature was made; that's something we'll need to talk about more.

Also to clarify slightly, we're trying to make the external behavior exactly identical to what it was previously. So we're going to implement CPU fa

[2021-04-13 17:41] bdhirsh commented on #2871
Oh, if you're talking about the opt-in process of creating the yaml for the first time, 100% 😛 I actually generated it in my prototype by hacking the `aten_xla_type.h` codegen

[2021-04-14 05:36] ozlerhakan commented on #2875
We don't use a WebDataset.

I will observe again with 10k data, right now we train 100M data after training with 1M.

We use `RobertaConfig`, `RobertaTokenizerFast.from_pretrained()`, `RobertaForMaskedLM` and the following code snippet to split data into train and validation:

[code]

We use the default implementation of the `transformers.Trainer` class

[2021-04-14 09:52] alatas commented on #2340
I had the same issue (`RuntimeError: vector::_M_range_check`) in collab and solved it with the nightly build. Thanks,

[2021-04-14 12:51] jysohn23 commented on #2875
You don't really need to worry about TPU runtime memory, that's a managed service. The one that's been causing your error would be the VM Memory (the one that OOM'ed on Colab).

[2021-04-14 16:00] tyoc213 commented on #2340
remembering this from a long time a go... just for the note, I think I was calling two times `backward` so the second one failed because it didn't have the `preserve_flag` or something related

[2021-04-14 19:24] bdhirsh opened #2881 "copying from CPU -> XLA doesn't work if the XLA tensor is resized first"
## 🐛 Bug

If I perform a resize on an XLA tensor and then try to copy the contents of an equally sized cpu tensor into that XLA tensor, it looks like the copy doesn't respect the `resize`. See below for a better example with IR graph output.

## To Reproduce

Here's a minimum repro, which I reproduced on [collab](https://colab.research.google.com/github/pytorch/xla/blob/master/contrib/colab/gettin

[2021-04-14 19:47] bdhirsh commented on #2881
One thing I noticed (hopefully this isn't completely going down the wrong direction):

`torch.copy_` is currently written to error out when the sizes of the inputs are different, which is why I have a call to `resize_` first. However, `torch.copy_` eventually calls into `AtenXlaType::_copy_from` ([here](https://github.com/pytorch/xla/blob/46e3fa68f28fca8fd1e31ec9302fdfba981c8352/torch_xla/csrc/ate

[2021-04-15 02:42] KatiaSN602 opened #2883 "How to dump HLO IR"
## ❓ Questions and Help

Hi,
I want to extract the HLO PROTO/TEXT of a function/module that I wrote in  PyTorch.
Something similar to what jax is doing [here](https://jax.readthedocs.io/en/latest/jax.html#jax.xla_computation):

[code]

Is there something similar that I can do it torch_xla?

[2021-04-15 02:58] asuhan commented on #2883
Yes, set `XLA_SAVE_TENSORS_FILE` to the path where you want the dump and `XLA_SAVE_TENSORS_FMT` to `hlo`. You can fine more details here: https://github.com/pytorch/xla/blob/master/TROUBLESHOOTING.md#environment-variables.

[2021-04-15 11:18] carmocca opened #2884 "About torch.nn.utils clipping functions"
## ❓ Questions and Help

Hello,

I noticed xla patches the `torch.nn.utils.clip_grad_norm_` function. Allegedly due to performance issues. From https://github.com/pytorch/xla/blob/master/TROUBLESHOOTING.md:

PyTorch's implementation of `clip_grad_norm_` was updated in https://github.com/pytorch/pytorch/pull/32020 (which made it into 1.5.0) so the computation no longer relies on `.item()`

Does tha

[2021-04-16 01:31] JackCaoG opened #2890 "[PT_BREAK] Add correction parameter to std/var"
added in pytorch pr https://github.com/pytorch/pytorch/pull/50903

[2021-04-16 02:05] JackCaoG commented on #2871
Another thing I noticed inside of `aten_xla_type_default.cc` is `XLA_FN_TRACK(3);` and `XLA_COUNTER("aten::prod", 1);`. There are pretty useful since it help us to track which op calls fallback to CPU and can help user to find out the potential slowdown. Can we have something similar for the new codegen API?

[2021-04-16 06:51] ozlerhakan commented on #2875
After 2 days, we received the following errors about "closed session" even the TPU is alive :(
[code]

[2021-04-16 09:16] a-runner commented on #602
I have the same problem,and I have not found a useful solution.

[2021-04-16 14:51] imaginary-person opened #2892 "[PT_BREAK] pytorch_xla_linux_bionic_py3_6_clang9_test failing"
## 🐛 Bug

`pytorch_xla_linux_bionic_py3_6_clang9_test`  [failed](https://app.circleci.com/pipelines/github/pytorch/pytorch/303208/workflows/22fa993b-f51d-4775-9690-906a240ac16e/jobs/12490336) in PyTorch PR 56227 with this debug info:

## To Reproduce

https://github.com/pytorch/pytorch/pull/56227

## Expected behavior

`pytorch_xla_linux_bionic_py3_6_clang9_test` should pass

## Environment
PyTorc

[2021-04-16 17:14] JackCaoG commented on #2892
Thanks @imaginary-person ! Looking at the failure message I am suspecting this is not caused by your change. Could you rerun the test and see if it will pass?

[2021-04-16 17:46] imaginary-person commented on #2892
Hello @JackCaoG, thanks for taking a look!
I don't think either that the issue was caused by the changes in the PR, but I reported this issue only because the debug message stated so. It failed once with that cause in four CI runs having the same base commit of the master branch.
Nevertheless, I've triggered the CI checks again.

[2021-04-16 20:28] imaginary-person commented on #2892
Hello @JackCaoG, the CI check passed this time around.

[2021-04-16 20:48] JackCaoG commented on #2892
Thanks @imaginary-person for reporting! I will close this issue for now then.

[2021-04-16 20:48] #2892 closed

[2021-04-16 22:02] swolchok opened #2894 "[PT_BREAK] resize functions now take and return const Tensor&"
See PR https://github.com/pytorch/pytorch/pull/55351

[2021-04-16 22:06] swolchok commented on #2894
I think https://github.com/pytorch/xla/blob/7a067f7de7355195c2a050c65b55b18a48da4405/torch_xla/csrc/aten_xla_type.cpp#L2809 just needs to take & return `const Tensor&` after the patch. Not sure if there's a non-breaking way to land this change though.

[2021-04-16 22:09] JackCaoG commented on #2894
Thanks for reporting! I can work on a quick fix on the pt/xla part.

[2021-04-16 22:45] JackCaoG commented on #2894
@swolchok I tried to apply your patch on top of pytorch head and got
[code]

I did a `python setup.py clean` before the build. Error message actually make sense given `x.resize_` returns `const Tensor&`. Do you know how can I fix this compilation error?

[2021-04-16 22:49] swolchok commented on #2894
I think you need to pull; set_requires_grad returns const Tensor& now. https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/templates/TensorBody.h#L683

[2021-04-16 22:53] JackCaoG commented on #2894
Ah you right, I was actually in a temporary  branch due to previous patch.

[2021-04-16 23:09] codeislife99 commented on #2587
Hi, has anyone figured out how to solve this issue, None of the comments/ workarounds here seem to work for me .

[2021-04-17 01:27] ozlerhakan commented on #2875
I have received another error after re-run:

[code]

wdyt @zcain117  @jysohn23 ?

[2021-04-17 04:55] tyoc213 opened #2896 "`if_with_tpu_support` not found"
## ❓ Questions and Help

Hi there, Im trying to build again xla in my PC (mostly following #2642), but got that `if_with_tpu_support` is not defined, it is inside the bzl, but the bzl that imports it says it doesnt exist

![image](https://user-images.githubusercontent.com/506234/115102142-baf66300-9f0e-11eb-9bc6-2d270426888c.png)

And the erorr is

[code]

So what I did was delete the import/usage

[2021-04-19 13:33] jchwenger opened #2897 "Handling `Error while lowering ...`"
Hi,

I've been working on adapting [Karpathy's MinGPT](https://github.com/karpathy/minGPT) to run on TPU Pods (see [my fork here](https://github.com/jchwenger/xla/blob/mingpt/test/test_train_mp_mingpt_amp.py), copying `test_train_mp_mnist_amp.py`), and I get the following error:
[code]

The same happens if I enable `XLA_USE_BF16=1`

[code]

By printing the metrics report inside the _mp_fn I get th

[2021-04-19 15:09] jysohn23 commented on #2896
It sounds like your TF submodule dependency's commit might be old. Could you check what TF commit you're at (`cd xla/third_party/tensorflow/ && git log -1`)? `if_with_tpu_support` was introduced in https://github.com/tensorflow/tensorflow/commit/c5f474d1c8b4956dae0585960a388dc948221662

You could simply also run `git submodule update --init --recursive` to checkout the TF commit that PT/XLA specif

[2021-04-19 20:27] bdhirsh commented on #2871
Yep. As part of the initial PR I'll be directly copying that logging information into the codegen, but eventually it would be nice to keep all of that logging information while factoring the xla-specific bits out of the codegen.

[2021-04-19 23:50] JackCaoG opened #2899 "[PT_BREAK] clamp with `min` and `max` as tensor"
In https://github.com/pytorch/pytorch/pull/52695 pytorch added a new signature for clamp
[code]

Pytorch / XLA already supported
[code]

and we generate `clamp_out` based on our implementation of the `clamp`. Since the new signature is added, gen script will try to generate the `out_fn` but it failed to find the corresponding base kernel.

The workaround would be remove the `clamp_out` from the ge

[2021-04-20 00:02] JackCaoG commented on #2899
According to https://www.tensorflow.org/xla/operation_semantics#clamp `xla::clamp` should handle the tensor `min` `max` case already. I will see if I can add a quick lowering for that.

[2021-04-20 01:35] JackCaoG commented on #2899
@ailzhang @bdhirsh I actually have a question regarding the overloading of `out` function, after I patch the pytorch pr mentioned above, I saw
[code]

It seems like for some reason `clamp_max` with `const at::Tensor & max` is not generated in my `aten_xla_type_default.h` and if I call
[code]
I saw
[code]

I checked the pytorch pr and I saw https://github.com/pytorch/pytorch/pull/52695/files#diff-6

[2021-04-20 04:49] JackCaoG commented on #2897
What version of pytorch/xla did you installed on your machine? Amp changes currently only show up in pt/xla nightly and pt/xla 1.8.1.

Another thing I want to mention is that pt/xla amp is only tested on xla::GPU by @yaochengji . I believe if we want to make it work on TPU, we need to provide TPU specified AMP rules, @ailzhang should know more about this.

To your question, the problem is that TPU

[2021-04-20 04:54] codeislife99 opened #2901 "PyTorch GPU XLA 15% slower than Vanilla PyTorch (Imagenet Classification w/ R-50, Densenet etc.)"
## 🐛 Bug

PyTorch GPU XLA seems to be 15% slower than Native PyTorch with the official CUDA XLA containers at gcr.io.

## To Reproduce

Steps to reproduce the behavior:

1. Run `GPU_NUM_DEVICES=1 /pytorch/xla/test/test_train_mp_imagenet.py` inside the publicly available container
2. Change device to `cuda` from script in (1) and optimizer to torch optimizer to run non-xla(vanilla PT) version of tr

[2021-04-20 05:26] byronyi commented on #2901
XLA shines when AMP is enabled. You should try enable fp16 for your model.

[2021-04-20 09:18] codeislife99 commented on #2901
Thank you, it is indeed faster now by 27% 🙏 . Can you tell me (or link me) why AMP is a huge factor for improvement in XLA ?

[2021-04-20 10:23] jchwenger commented on #2897
Oh, I used gcloud instances using the `ml-images` project and the `torch-xla` family, with the `torch-nightly` conda env (I tried tpus with both `pytorch-1.8` and `pytorch-nightly` versions, and had also tried the `torch-1.8` conda env), as in the readme. I tried a few other tests before starting my adaptation, and they all worked.

To be fair, I saw the scripts with `amp` and gave it a try, since

[2021-04-20 22:15] tianyu-sun opened #2905 "Docker Setup"
## ❓ Questions and Help
Hi, I built the torch-xla image and run it. When I started a python cli, I still can not do 'import torch_xla', do you have any assumptions on environmental variables or which python I should use? Thank!

[2021-04-20 22:21] JackCaoG commented on #2905
Could you try using python3? You can also considering using prebuilt docker image following instructions in https://github.com/pytorch/xla#-consume-prebuilt-docker-images

[2021-04-20 23:20] tianyu-sun commented on #2905
It works. Thanks!

[2021-04-20 23:20] #2905 closed

[2021-04-20 23:22] tianyu-sun opened #2906 "CPU-only Mode"
## ❓ Questions and Help
Hi, I'm trying to do some prototypes locally and I'm wondering if torch-xla can be used without TPU configuration cuz I don't have TPU locally. Thanks!

[2021-04-20 23:29] JackCaoG commented on #2906
yup, our circle CI runs on CPU and GPU. You can use
[code]
to run pt/xla on CPU.

[2021-04-20 23:33] byronyi commented on #2901
XLA does kernel fusion to reduce memory access footprint. Float16 computation utilizes tensor core: these ops are so fast that memory bandwidth becomes bottleneck.

[2021-04-20 23:35] tianyu-sun commented on #2906
It works! Thank you!

[2021-04-20 23:35] #2906 closed

[2021-04-21 00:10] codeislife99 commented on #2901
Thanks 😊

[2021-04-21 03:41] codeislife99 commented on #2901
Reopening this, it was faster on Tesla T4s, however the exact same model with same parameters and CUDA versions is slower by 16% on V100, Densenet is even slower (by 30%) and overall the numbers look pretty bad for XLA. Is this expected ?

[2021-04-21 04:04] byronyi commented on #2901
I suspect that it's an environment issue. Mind to post your env here? If we see raw performance numbers it would be easier to help.

[2021-04-21 04:11] codeislife99 commented on #2901
Sure,
Env: Tesla V100, CUDA 10.2 , batch_size 128,  AWS - p3.2xlarge, Ubuntu18.04 Deep Learning AMI , The following table summarizes my performance evaluation

Model | # GPUs | Instance | Batch Size | Other relevant variables | w/ XLA Amp Throughput | Vanilla PT Amp Throughput | Speedup | Notes
-- | -- | -- | -- | -- | -- | -- | -- | --
Resnet-50 | 1 | p3.2xlarge | 128 | syn data, CUDA 10.2 | 634

[2021-04-21 06:01] byronyi commented on #2901
Do you have numbers for T4? It should be about 1/3 of V100 w/ AMP and XLA.

[2021-04-21 06:03] codeislife99 commented on #2901
Yes its 305 for w/XLA and 240 for Vanilla PT.

[2021-04-21 07:20] codeislife99 commented on #2901
The default container at gcr.io/tpu-pytorch/xla:nightly_3.6_cuda supports CUDA 10.2 , therefore I decided to use 10.2 for the corresponding PT comparison as well.

[2021-04-21 09:08] byronyi commented on #2901
Could you try using the same 10.1 container on V100? That certainly helps.

[2021-04-21 17:03] rwightman commented on #2524
@jysohn23 I've got a use case where I'd prefer to use a wrapper I've written around TFDS instead of using tf_record_reader ... reason, I want to use some out-of-the box TFDS datasets for transfer learning experiments and use consistent splits, etc.

Are there any workarounds possible?

[2021-04-21 18:36] codeislife99 commented on #2901
Just tried it using 10.1. The performance numbers are the same for both p3.2xlarge and p3.16xlarge . No difference at all.

[2021-04-21 19:16] rwightman commented on #2524
For reference, this is the TFDS wrapper I've written. Still not perfect in some split/sharding situations, but I've used it for Imagenet-1k, birds, and pets quite a bit already
https://github.com/rwightman/pytorch-image-models/blob/master/timm/data/parsers/parser_tfds.py

[2021-04-21 20:12] rwightman commented on #2901
I've been working on XLA support for some of my code and ended up trying the XLA + GPU + AMP on nightly docker containers. I've noticed some gap in performance too, varies quite a bit based on model arch. For classic resnet I only see approx 8% lower on Titan RTX PyTorch XLA GPU + AMP on 3.7 nightly docker vs a comparable PyTorch 10.2 cuda conda env.

I'm seeing a bigger gap w/ larger batch sizes

[2021-04-21 20:20] JackCaoG commented on #2901
I am suspecting https://github.com/tensorflow/tensorflow/pull/44985 will help, will try to get it merge and update tf for pt/xla.

[2021-04-21 20:36] codeislife99 commented on #2901
@JackCaoG  Ok, that seems to be a large improvement of almost 76%. The PR seems to have been opened last year so let me know if there is anything I could help with to speed up the process.
@rwightman I have made the same observations as you on all fronts (model arch, batch size, and multi-GPU setting). Do you mind posting your benchmark numbers here for the community or any other concrete observat

[2021-04-21 20:47] rwightman commented on #2901
@codeislife99 these are all on Titan RTX w/ AMP enabled in both pytorch-3.7-cuda nightly docker from a day ago and pytorch 1.7.1 10.2 (no different from 1.8.x 10.2 builds when tested on the same model before).

Single GPU, batch_size 129
Pytorch XLA: ~530img/s
PyTorch 1.7.1 CUDA 10.2: ~570img/s
PyTorch NGC 21.03 w/ cuda11.2, cudnn8 channels_last: 700+ img/s

2x GPU distributed training
PyTorch XLA

[2021-04-21 22:12] #2894 closed

[2021-04-21 22:30] tianyu-sun opened #2907 "Dump HLO IR for Function"
## ❓ Questions and Help
Hi, I'm trying to dump HLO IR for my PyTorch code. I'm using the 'torch_xla._XLAC._get_xla_tensor_hlo' function. It seems this function only accept torch tensors. Is there a similar function which takes in a function and produce HLO IR with '%arg'? BTW where can I find the source code of 'torch_xla._XLAC._get_xla_tensor_hlo'?

[2021-04-21 23:49] JackCaoG commented on #2907
`_get_xla_tensor_hlo`implemention is in
https://github.com/pytorch/xla/blob/08ae1044c2a7e314895f9946104cbe399e096515/torch_xla/csrc/init_python_bindings.cpp#L749

We don't really have a way to dump hlo for a given python function. You could use https://github.com/pytorch/xla/blob/08ae1044c2a7e314895f9946104cbe399e096515/torch_xla/csrc/init_python_bindings.cpp#L948

to dump all of the tensor with t

[2021-04-21 23:54] tyoc213 commented on #2896
Hi @jysohn23 I updated the ref and Im pointing to

 https://github.com/tensorflow/tensorflow/commit/00d31f1d50c3ef475d8301f70ffbf0647038f53f

Still got this

[code]

Yeah, I wonder why if it is the pined one I fail to build, will keep checking!

[2021-04-22 06:38] tyoc213 commented on #2896
@jysohn23 will not believe what it was

[code]

It seens that I needed to make a `make clean` but for bazel, even that I was at the pined tf commit, it could not compile it correctly without this

[code]

[2021-04-22 06:38] #2896 closed

[2021-04-22 09:27] ozlerhakan commented on #2875
we have new issues, we couldn't reach an end:

[code]

@zcain117 @jysohn23

[2021-04-22 15:03] zcain117 commented on #2875
I have never seen that before: `Driver must be Open to DMA map`

@JackCaoG have you seen this before?

@ozlerhakan so this only happens with a large dataset and does not happen with a small dataset?

[2021-04-22 15:11] jysohn23 commented on #2896
Ah right :| I've seen this similarly before where I've had to just `rm -rf` manually the bazel cache. Just running `bazel clean` without expunge didn't work for me either. Thanks for circling back on this issue.

[2021-04-22 15:20] jysohn23 commented on #2875
To me it sounds like the first session was cancelled by client side and thus the server side was getting shut down, during which a different session.run was issued by PT/XLA stack but received a `Driver must be Open to DMA map` since the server was being shut down.

Can you verify whether the user VM was running out of memory or similar (this is **not** the TPU memory graph, but the GCE VM one).

[2021-04-22 17:54] swolchok opened #2910 "[PT_BREAK] as_strided will now take & return `const Tensor&`"
See https://github.com/pytorch/pytorch/pull/55875 .

I think https://github.com/pytorch/xla/blob/7a067f7de7355195c2a050c65b55b18a48da4405/torch_xla/csrc/aten_xla_type.cpp#L639 just needs to take & return `const Tensor&` after the patch, similar to the resize change.

[2021-04-22 18:32] ozlerhakan commented on #2875
I have the error above when I train the model with 100M rows without the **"do-eval"** option after 5 days, since the validation phase gave us another error during the past trainings. With small data like 10k and 1M rows, we did not get a problem.

This time, there is no memory error in the GCE VM logs.
![Memory Utilization](https://user-images.githubusercontent.com/1964927/115767765-1e224280-a3b2

[2021-04-22 20:12] qshzh opened #2911 "Sync initial model other than set fixed random seed"
Thanks for this amazing package.

I see some colab demos, it suggests that using [a fixed random seed](https://github.com/pytorch/xla/blob/ec130ecb003fe3b0a781f4f8b743da2da740982f/test/test_train_mp_mnist.py#L62) to guarantee that the initial models across different process share the same weight.

Can we use another way to sync initial weights? During my training, I need to generate random noise.

[2021-04-22 22:35] tianyu-sun commented on #2907
Hi, thanks for the detailed reply! I'm trying to do a similar thing like this in Jax, 'jax.xla_computation(function)(*args)', and I'd like to disentangle function and args so that I don't need to provide the exact args at this time. Do you have a plan for supporting dumping functions? I think this is very important for developers who are using Jax and PyTorch at the same time and we need to be abl

[2021-04-22 23:26] tyoc213 commented on #2896
@jysohn23 where will be located the bazel cache? (just to have in mind if I ever need to test that option)

[2021-04-23 02:04] JackCaoG commented on #2907
I checked how jax implemented `xla_computation` and it seems like they are  using xlaBuilder's python api. I think it will be more complicated for us to implemented the same since the pt/xla depend on pt to call our lowering (JAX is built on xla directly and they have full control of the lowering path).

Feel free to open a feature request for this, we are also happy to take external contributions

[2021-04-23 02:07] JackCaoG commented on #2884
Thanks! We meant to test this out. I agree that `torch.nn.utils.clip_grad_norm_` seems fine now. We need to double check the speed on TPU before removing the patch. @ailzhang tried this once and run into a weird error last time.

[2021-04-23 03:09] tyoc213 commented on #2896
@jysohn23 well, that was for TF, just updated master of xla and apply patches, but go this error

[code]

[2021-04-23 12:57] jysohn23 commented on #2911
Yeah the way you're doing it would work on a single host setup, but wouldn't really work across hosts unless you're storing the model weights to some shared filesystem/storage. But we don't currently have something equivalent to DDP which you describe.

Alternatively, you could just set the seed first at the beginning, initialize the model weights and then reset the seed to some unique number like

[2021-04-23 13:22] jysohn23 commented on #2896
For bazel cache dir it should be by default at `~/.cache/bazel`.

Also, that API mismatch sounds like you have mismatched upstream pytorch/pytorch and pytorch/xla versions. Can you make sure you're either at matching official releases or master head for both?

[2021-04-23 20:22] ptrblck opened #2914 "[numpy] BC-breaking floor_divide in np>=1.20.0 lets binary_ufuncs tests fail"
## 🐛 Bug

Since `numpy>=1.20.0`, `np.floor_divide` returns now `Infs` for `np.floor_divide` instead of `Nan`s in previous versions.
[Numpy release notes](https://numpy.org/doc/stable/release/1.20.0-notes.html#changed-behavior-of-divmod-1-0-and-related-functions) explain these changes.

This lets a few `binary_ufuncs` tests fail, as PyTorch uses the "old" numpy behavior, i.e. returning `Nan`s.

In

[2021-04-23 20:23] ptrblck commented on #2914
Accidentally created it in `pytorch/xla`, sorry! Closing this one and opening a new one in `pytorch/pytorch`.

[2021-04-23 20:23] #2914 closed

[2021-04-23 20:42] jysohn23 commented on #2524
Thanks Ross. I haven't had the time to look today, but I'll take a look next week.

[2021-04-23 20:58] rwightman commented on #2524
@jysohn23 no rush, it is working for some reason on the tpuvm default python3 env, including the latest version with 1.8.1.

I just had to update tensorflow since the default TF installed in tpuvm is missing GS bucket reading support. But installing tensorflow-datasets  on the PyTorch XLA CUDA docker nightly leads to the VariantDecodeFn error that started this issue when running with XLA GPU. I ne

[2021-04-24 00:24] rwightman commented on #2843
Definitely of value for some nets in the large image size categories where batch sizes need to be small and stability is problematic without synbn, thinking of many situations for object detection/segmentation/etc.

@evanatyourservice what you're doing there actually works quite well to keep running stats in sync between distributed replicas when not using syncbn. It's cheap because it's done once

[2021-04-24 01:09] KatiaSN602 commented on #2907
Hi There, I'm actually also interested in this feature.
I was wondering if you could elaborate, why it is more complicated in pt/xla?
Why can't you pybind the function that actually outputs the lowering? Don't you also have at some point a hlo-xla IR of the PyTorch model/function?
Thanks!

[2021-04-24 03:44] evanatyourservice commented on #2843
@rwightman Oh I see, seems I don't know enough about how the variance is calculated to do this properly, I'll have to look into it. I've been running that after every backward pass and it doesn't seem to add much overhead at all.

[2021-04-24 04:23] qshzh commented on #2911
Thanks for your suggestion. Playing with random seeds is faster.

[2021-04-24 04:23] #2911 closed

[2021-04-24 05:03] rwightman commented on #2843
@evanatyourservice yeah, speed of your approach isn't an issue

Here are two reasonble refs that are fairly clear... a TF TPU oriented impl and the PyTorch APEX Amp impl.  The PyTorch native one isn't as easy to read and is split across multiple files...

https://github.com/tensorflow/tpu/blob/master/models/official/efficientnet/utils.py#L118

https://github.com/NVIDIA/apex/blob/master/apex/parall

[2021-04-24 07:58] qshzh commented on #1963
I encountered the similar problem when running a simple cifar classification task, it raises the error after about 2000 iterations
[code]

[2021-04-24 17:43] tyoc213 commented on #2896
You are right, synched and almost there, Im on b7be346a5f0da78875cce927eaa1e6549be4abab and for pytorch https://github.com/pytorch/pytorch/commit/e4efc0c948ea656bd066f86649e9059e72d6d660

[code]

[2021-04-24 18:55] rwightman commented on #2836
I also prefer this style to spawn and spent a bit of time hacking about to see if I could get it working.

@tchaton I got this working locally on XLA GPU with 2x GPU following a similar path as I. I used a launcher script like the pytorch distributed.launch, called the prefork setup in that, and then at the start of the launched script performed the _prepare_env_for_index and setup_replication...

[2021-04-24 19:04] rwightman commented on #2836
It's not quite clear to me how those lower level service threads (processes?) get kicked off. Any pointers where to look in the code would be appreciated, I'm game to take a look and would likely learn something in the process.

This isn't a high priority for me, but I assumed it would have been a quick fix to get it working.

[2021-04-25 17:31] qshzh opened #2917 "test demo amp error Unsupported XLA type 10"
## 🐛 Bug

[code]

## To Reproduce

Steps to reproduce the behavior:

1. Follow the instructions in readme
2. run on container `gcr.io/tpu-pytorch/xla:nightly_3.7`
3. Container Image id: accc39d863bc

## Expected behavior

## Environment

 - Reproducible on XLA backend [CPU/TPU]: tpuv3-8
 - torch_xla version: 1.8.1

## Additional context

[2021-04-26 08:59] jchwenger commented on #2897
Hi,

Follow-up: I got an [ampless version](https://github.com/jchwenger/xla/blob/mingpt/test/test_train_mp_mingpt.py) to work! That's great.

I have other questions, however, and wondering if I should open other issues for them?
- I'm able to run the above script on a TPU pod with an instance group of size 4, but when I try to test it with just one TPU and one instance, the script hangs (as well a

[2021-04-26 22:52] JackCaoG commented on #1963
Yea, it is the hard limit of number of parameter right now. I will work on a change on the pt/xla side to pass the parameter as a tuple and that should solve this error.

[2021-04-26 22:54] JackCaoG commented on #2907
The complication coming from `getting the hlo text without running the function`. `XLA_DUMP_HLO_GRAPH ` should already doing sometime similar to dump the hlo text got executed.

[2021-04-26 22:57] JackCaoG commented on #2917
Please check https://github.com/pytorch/xla/issues/2897#issuecomment-822970891. I will try to add a warning message of some sort to make it clear that amp does not work for TPU yet.

[2021-04-26 23:10] tyoc213 commented on #2896
SOme hint about that @jysohn23 (sorry for pinging)

[2021-04-26 23:22] JackCaoG commented on #2896
hmm.. wierd, linker error seems to come from `torch_xla` which should be build with the same command. Can you try to clean the build with `python setup.py clean` and rebuild pt/xla? This should not erase the tf so hopefully it won't take too long.

Another thing you could try is to build without the cppTest  with `BUILD_CPP_TESTS=0` env var.

[2021-04-26 23:44] JackCaoG commented on #2836
@rwightman For 2vm setup this should not be an issue since server is started in a remote vm.

On the tpuvm non-pod setup, it will be the master process (assuming 8 process multi-processing) to start the local xrt service in the same process. You can find the code in
https://github.com/pytorch/xla/blob/759e765860bef772b86a80c7c6269249e233b493/third_party/xla_client/xrt_computation_client.cc#L1937
I

[2021-04-27 05:42] codeislife99 opened #2918 "BERT Training XLA AMP - "No inf checks were recorded for this optimizer" & 50X Slower than native PyTorch"
## 🐛 Bug
When I run BERT-base with AMP enabled on XLA GPU I get the following error. The same code with CUDA device instead of XLA GPU it works fine.
[code]
When I run it without AMP enabled, the speed is 50X slower than native PyTorch GPU without AMP

## To Reproduce
Script: https://github.com/codeislife99/xla/blob/master/test/test_train_mp_bert.py
Dataset:  Easy download -> `wget https://raw.git

[2021-04-27 06:35] codeislife99 opened #2919 "BERT Training Bug with PyTorch XLA GPU"
## 🐛 Bug
When I run BERT-base w/ & w/o on XLA GPU, it fails with different errors. The same code works with Native PyTorch CUDA.

## To Reproduce
Script: https://github.com/codeislife99/xla/blob/master/test/test_train_mp_bert_hf.py

Steps to reproduce the behavior:
1. Download the dataset using the following steps:
`wget http://ai.stanford.edu/~amaas/data/sentiment/aclImdb_v1.tar.gz`
`tar -xf aclI

[2021-04-27 07:36] tchaton commented on #2836
Hey @JackCaoG,

Thanks for giving details.

Hey @rwightman, would you like us to collaborate and give it a try ?
If so, please join PyTorch Lightning Slack channel and ping me directly on my GitHub username.

Best,
T.C

[2021-04-27 20:39] zcain117 commented on #2918
Have you tried the `xmp.spawn` API as shown in this AMP example?
https://github.com/pytorch/xla/blob/master/test/test_train_mp_mnist_amp.py

This is how we recommend structuring pytorchXLA training scripts. Without using the `xmp.spawn` API, I worry the other `xm` calls won't work right

I am assuming you also ran something like `export GPU_NUM_DEVICES=1` before training

[2021-04-27 21:12] codeislife99 commented on #2918
Yes for both `xmp.spawn` and the `export GPU_NUM_DEVICES=1` . It doesn't make any difference.

[2021-04-27 21:52] zcain117 commented on #2918
Does this work on TPU?

[2021-04-27 22:31] codeislife99 commented on #2918
No it fails to work even for TPU. I just tried it out.

[2021-04-27 22:50] zcain117 commented on #2918
Thanks for trying that out.

I am confused though - you say it is slow on TPU but also that it fails to work. So does it run slowly for a while and then crash or is the crash immediate?

If it runs for a while, I am curious about the metrics report: https://github.com/pytorch/xla/blob/master/TROUBLESHOOTING.md#get-a-metrics-report

Maybe there is some op that pytorch/XLA doesn't support that is ca

[2021-04-27 23:00] codeislife99 commented on #2918
So it fails to work when AMP is enabled and is slow when AMP is disabled, just like the PT XLA GPU case.

[2021-04-27 23:04] zcain117 commented on #2918
do you have a metrics report for the version that is slow but doesn't crash?

[2021-04-27 23:07] codeislife99 commented on #2918
[code]

[2021-04-27 23:17] zcain117 commented on #2918
Thanks for sharing that.  I see in the report that the model is calling to `aten::masked_select`

I know in the past this has caused problems for models, such as: https://github.com/pytorch/xla/issues/1522#issuecomment-576248833

@JackCaoG might know best about the latest `aten::masked_select` status. Maybe it is not an issue anymore or maybe there is some workaround

[2021-04-27 23:56] codeislife99 commented on #2918
Out of curiosity, how did you know that `aten::masked_select` is the problem, is this from your knowledge of previous issues ?
I am also noticing that the GPU utilization is at 0% for 95% of the time. I thought this might be due to the dataloader so I switched to a different loader with this change `train_device_loader = pl.MpDeviceLoader(dataloaders_dict['train'], device)`. This gave rise to a ne

[2021-04-28 02:56] tyoc213 commented on #2896
cleaning I got the following error, but I could build ignoring tests (which is probably not what I want in some future), thx will move forward, try later with tests enabled.

[code]

[2021-04-28 23:25] JackCaoG commented on #2897
@jchwenger Sorry for the late reply. I think the easiest way would be to use our nightly docker container for XLA:GPU

so
[code]

in the container, you can run

[code]

to verify.

You will need to have `nvidia-container-toolkit` and `NVIDIA kernel drivers` installed first (and `sudo systemctl restart docker` after you are done). Might be easier if you just use a image with CUDA preinstalled.

[2021-04-29 01:48] JackCaoG commented on #2918
We have some debug tips on https://github.com/pytorch/xla/blob/master/TROUBLESHOOTING.md#understand-the-metrics-report.

There are couple things show up in this metric report
[code]

There are 27 compiles and 27 execute. This means the graph keeps being updated and xla needs to recompile the graph for every execution. Please check https://github.com/pytorch/xla/blob/master/TROUBLESHOOTING.md#known

[2021-04-29 02:58] JackCaoG commented on #2917
submitted https://github.com/pytorch/xla/pull/2921 to make it explict

[2021-04-29 06:08] byronyi commented on #2917
If you only want to use bf16, there is an env var to enable it. PyTorch-native AMP support for bf16 is not there yet.

[2021-04-29 07:56] codeislife99 commented on #2487
Hi, has there been any progress on this issue ? I am facing the same problem.

[2021-04-29 08:29] byronyi commented on #2487
Nah, dynamic shape isn't something XLA like.

Unfortunately torchvision detection models use `nonzero`, `index.Tensor`, and `nms` heavily. All of those produce dynamically sized results.

[2021-04-29 08:59] codeislife99 commented on #2487
So, is the consensus from the XLA team to never officially support PT-XLA ? I believe that a custom model can be written which is more geared towards XLA. What are your thoughts / opinions on this ?

[2021-04-29 11:06] jchwenger commented on #2897
@JackCaoG grand, my [amp fiddle](https://github.com/jchwenger/xla/blob/mingpt/test/test_train_mp_mingpt_amp.py) works like a charm.

If it might be of interest of anyone, I added those instructions to the [readme in my fork](https://github.com/jchwenger/xla/blob/mingpt/README.md#-running-pytorch-on-cloud-gpus-with-google-cloud-platform), as well as a few beautifications just above for VM commands

[2021-04-29 11:06] #2897 closed

[2021-04-29 11:22] byronyi commented on #2487
"never officially support PT-XLA" that not what I mean. My hunch is just the underlying hardware (CloudTPU) doesn't run these models efficiently enough to compete with GPU solution, and it manifests itself to be an XLA coverage issue.

[2021-04-29 18:37] codeislife99 commented on #2487
I see, thanks so much for expanding on this , another question I had was that XLA is supposed to cluster and partition only subgraphs of ops that it supports. Therefore, theoretically it should still work with those unsupported ops (NMS, etc..). How does this not happen in this case ?

[2021-04-29 21:41] #2910 closed

[2021-04-30 00:32] byronyi commented on #2487
@codeislife99 Take a look on the Alex's reply.

[2021-04-30 10:06] kaushikb11 opened #2923 "Include documentation about Env variables"
## 📚 Documentation

Would have loved to read details about the Environment variables being used in XLA.
Ref: https://github.com/pytorch/xla/blob/master/torch_xla/core/xla_env_vars.py

[2021-04-30 19:01] litanlitudan opened #2924 "How does XLA distinguish input & weight in the XLA-HLO IR?"
## ❓ Questions and Help

Hi torch-xla folks,
I am working on an accelerator project and thought that torch-xla could be a perfect choice to support pytorch using HLO.
However, I looked at a simple HLO ir for logreg training and realized that there's no explicit identifier for weight tensors.
Meanwhile, I noticed that weight tensors are treated as a arguments in the IR.
So how does XLA identify the

[2021-04-30 19:22] litanlitudan commented on #2924
Here is the dumped XLA-HLO IR.
[code]

[2021-04-30 20:04] JackCaoG commented on #2923
A lot of these are setup automatically. Most of the environments that we expect user to set is explained in https://github.com/pytorch/xla/blob/master/TROUBLESHOOTING.md#environment-variables

[2021-04-30 23:00] JackCaoG commented on #2924
1. So how does XLA identify the weight tensors and return it back to the host memory?

This should be the same as how pytorch handles it. Whenever pytorch execute a python op or tensor update on any of the xla tensor, we generate corresponding HLOs to execute.

so for a quick example
[code]

Note that HLO changed after we try to update tensor `t1`'s value. When we execute the second HLO, the tenso

[2021-05-01 00:20] litanlitudan commented on #2924
Thanks Jack,

Then what if the op fusion case. That is
{
    update(weight0),
    update(weight1),
    update(weight2)
}
Assume that all the logic above is fused into one operator and dispatch to accelerator for performance reason.
Then how does the XLA know what are the updated weight value, especially for those intermediate weights and transfer them back to host?

[2021-05-03 13:19] kaushikb11 commented on #2735
@tsuga Could you try `pytorch-lightning` master?

[2021-05-03 13:21] kaushikb11 commented on #2735
@tsuga Could you try the `pytorch-lightning` master? It should work for TPU 8 cores.
I am facing this issue with TPU v3-32

[2021-05-03 17:48] thisiscam opened #2925 "Possible to build xla_ops manually / use JAX?"
## ❓ Questions and Help

Hi,

My end goal is to be able to compile and run a custom reduce/scan operation on XLA.
e.g. https://github.com/pytorch/xla/blob/master/torch_xla/core/xla_builder.py#L470.

To that end, I have thought about two alternatives:
1) Is it possible to build a XLA operation manually in pytorch_xla?
2) Since the first option is a bit messy, is it possible to use JAX for this? In

[2021-05-03 19:28] JackCaoG commented on #2924
From XLA's perspective, everything is just a graph to execute. It is pytorch that handles weight update. Backward pass is a layer above the pytorch/xla and by running the training, pt/xla will generate the graph to perform both forward and backward pass.

My understanding is that if the intermediate value is required by the backward graph, xla will be smart enough to handle that(either not fusing

[2021-05-03 19:35] JackCaoG commented on #2925
1. Yes it is possible to build a XLA operation in pt/xla. You can refer to https://github.com/pytorch/xla/pull/2507/files for detail. You don't need to modify the `xla_op_builder.cpp` if the XLAOP you needed is already there.

2. I think it is possible, but imo will be complicated.  We never tried to use JAX and pt/xla in the same time. I would expect both library carry a slightly different versio

[2021-05-03 20:23] #2899 closed

[2021-05-03 20:54] codeislife99 commented on #2918
While I am still looking into this slowdown cause, do you have any ideas around why the AMP run failed outright ?

[2021-05-03 21:26] JackCaoG commented on #2918
Suspecting it is something similar to https://github.com/PyTorchLightning/pytorch-lightning/issues/4524#L1229

[2021-05-03 22:28] codeislife99 commented on #2918
I read that thread when I first came across the problem , but it doesn't have any fixes or solutions. My code is pretty simple and I am not using PyTorch Lightning, and I still see this error. Also I DON'T see this error when I use regular pytorch but only when I use XLA. This means that something must be wrong with the latter (either in my script or in the library itself)

[2021-05-03 23:22] thisiscam commented on #2925
@JackCaoG Thanks for the quick response.

This is what I figured out:
[code]

Is this the right way to do it?
Specifically, I don't know what magic `xor.register` is doing -- it appears to have lifted my function's arguments to `xla_buider.Op`.

Thanks a bunch

=====
BTW, there's a typo at https://github.com/pytorch/xla/blob/33bd09759fa86329d1723a838be017b1e004b72e/torch_xla/core/xla_builder.py#L7

[2021-05-04 03:21] NakedKoala opened #2927 "How to install torch_xla with python version 3.9.2"
## ❓ Questions and Help

I have to use 3.9.2 for other dependency. Given that my python version must be 3.9.2, how do I install torch_xla ?

I tried these 2 method shown in tutorial

1)

`!pip install cloud-tpu-client==0.10 https://storage.googleapis.com/tpu-pytorch/wheels/torch_xla-1.8.1-cp37-cp37m-linux_x86_64.whl`

This ( and c38 c39 variant of it ) does not work.

<img width="682" alt="Screen

[2021-05-04 03:59] JackCaoG commented on #2927
We do not release any wheel for python 3.9, I am not sure if pytorch release 3.9 wheel too. One thing you could try is to build pytorch and pytorch/xla from scratch. Please follow https://github.com/pytorch/xla/blob/master/CONTRIBUTING.md#build-from-source

[2021-05-04 04:19] JackCaoG commented on #2925
nice catch for the typo.. I will submit a pr to fix it.

Your implementation seems right to me.  If you are wondering how this works, you can check out

https://github.com/pytorch/xla/blob/06dd1e106be159a5e5c8711fcb3e8a5d92bf56db/torch_xla/core/xla_op_registry.py#L42

and

https://github.com/pytorch/xla/blob/06dd1e106be159a5e5c8711fcb3e8a5d92bf56db/torch_xla/csrc/ops/user_computation.cpp#L33

`xor

[2021-05-04 04:32] thisiscam commented on #2925
Thanks for confirming.

Regarding my 2. point (which I don't need for now):
I see. I can see that the machinery is there, is just a question whether implementing something like it could be useful.

IMHO, ideally pytorch upstream should provide some API to do loops like JAX's `fori_loop`, `scan` etc.
These could be unoptimized implementations if not run on XLA, but could use some good speedup other

[2021-05-04 19:36] litanlitudan commented on #2924
@JackCaoG hahaha, I agree with you exactly. I guess the interesting question is how does XLA retrieve that value or just not fusing at all. If it's the later case, that would be disappointing, hahaha. But it's a great pointer for me to start with. Thanks!

[2021-05-04 23:09] JackCaoG commented on #2925
Yea, ideally pytorch can provide a node for `for_loop` that we can lower. I will close this issue for now. Thanks!

[2021-05-04 23:09] #2925 closed

[2021-05-05 04:11] sanjoy commented on #2854
We (TensorFlow/XLA GPU team) are incrementally refactoring XLA GPU to use MHLO and LMHLO (latter being bufferized version of MHLO), with the intent of supporting unbounded dynamic shapes, better custom calls (both of which are important for TensorFlow as well) amongst other things.

OOC, can you share why you need more flexibility in XLA custom calls?

The current "cut point" for this transition i

[2021-05-05 17:33] byronyi commented on #2854
There are two kinds of custom calls as we see: (1) standard XLA ops getting thunked to vendor libraries for better performance (2) custom ops implemented in CUDA that have not yet be standardized/upstreamed into core TF/PyTorch. Some cases in category (2) could be implemented as composite ops using framework primitives, but they got fused by hand mostly for performance reason. In the long run we e

[2021-05-05 23:12] JackCaoG opened #2931 "[PT_BREAK]Scatter op signature change"
In Pytorch pr https://github.com/pytorch/pytorch/pull/57015, `c10::optional<std::string> reduce` is added, pt/xla needs to follow this change.

[2021-05-05 23:21] sanjoy commented on #2854
Thanks @byronyi; by custom call I meant (2).  I consider (1) to be just an implementation detail.  Have you looked into wrapping PT implementations in XLA's `custom-call`s?

This is convenient, but as you know it is a double edged sword; if we make this too easy / streamlined then we may end up with too many of handwritten lowerings, which prevents getting the full benefit of HLO.

[2021-05-05 23:42] byronyi commented on #2854
I agree; IMHO it is a trade-off between getting more users onboard for lazy tensor API w/ perf perks in short term when we try to optimize the compiler stack to support dynamic shapes in the front end. If MHLO will have better support for either (1) dynamic shape or (2) custom call in near future, we probably won't spend too much time to figure out custom calls in HLO.

The line between being prag

[2021-05-05 23:46] byronyi commented on #2854
And we have seen DSA vendors having slightly different opinions on which ops are better lowered via HLO and which ops are better lowered directly to their own stack. We probably would like to leave room for those ideas (at the end of the day raw perf speaks) but our work are mainly focused on HLO/MHLO.

[2021-05-06 00:42] NakedKoala opened #2932 "Supporting aten::im2col, aten::im2col_backward ops"
## 🚀 Feature

Can we support  `aten::im2col, aten::im2col_backward`

### Motivation

I was using pytorch_lightning to run TPU training. And the model runs extremely slow. It takes 20 secs per iteration, whereas on a single GPU, the model averages 2-3 iteration per second.

Upon profiling, I see these message gets printed out during training steps

[code]

### Pitch

Please support `aten::im2col, a

[2021-05-06 00:52] helloworld123-lab opened #2933 "Pytorch/XLA nightly version do not work on google colab: OSError: libmkl_intel_lp64.so.1: cannot open shared object file: No such file or directory"
## 🐛 Bug

I want to use pytorch/XLA nightly version on my project. But it does not work on google colab and kaggle now.

To install nightly version, I simply write:
[code]

And it gives the following output:
[code]

when I simply write
`import torch`
it gives the following error:
[code]

[2021-05-06 07:42] sooftware opened #2934 "Check TPU utilization"
## Check tpu utilization❓

Hi! Thanks for your great project. I tried MNIST training with TPU using `pytorch_lightning`. I success MNIST training. But I want to check TPU utilization.

Is there a function that returns tpuTPU usage? I want to leave it in the log.
Thank you!

[2021-05-06 12:16] codeislife99 commented on #2918
Hi, I thoroughly checked my scripts, and to me it doesn't appear that I am doing any of the pitfalls mentioned in the section. I am using the model directly provided by hugging-face which is supported on TPU as well. It seems that the GPU utilization is high only for a very small period of time which might be related to the slowdown. So I tried to use the `pl.MpDeviceLoader` and when I do that it

[2021-05-06 12:17] codeislife99 commented on #2918
I have also updated the code I am using so all of this is reproducible.

[2021-05-06 14:10] jysohn23 commented on #2934
We currently don't have `torch_xla` APIs to query for TPU MXU utilization, but you should be able to get such usage metrics by using our profiler tooling, which should give you much more than just the MXU utilization metrics as well: https://cloud.google.com/tpu/docs/pytorch-xla-performance-profiling#tpu_server_profiling

We do have an API for querying TPU device memory usage here in case you find

[2021-05-07 03:33] thisiscam opened #2935 "Async copy from TPU to CPU"
## ❓ Questions and Help

Hi,

JAX has a function `jax.device_get` (https://github.com/google/jax/blob/master/jax/_src/api.py#L2286), which copies a TPU tensor to CPU asynchronously.

I wonder if pt/xla has something similar?
In particular, I think `tensor.cpu()` or `tensor.to("cpu")` does *not* do asynchronous copies?

In general, I'm also curious about performance implications of frequent TPU ->

[2021-05-07 05:52] sooftware commented on #2934
Thank you @jysohn23!!

[2021-05-07 05:52] #2934 closed

[2021-05-07 07:39] IvanYashchuk commented on #2755
Hi @JackCaoG! In PyTorch, we'd like to use the new function for svd, `at::linalg_svd`, and deprecate the old one.
See https://github.com/pytorch/pytorch/pull/57772. This change would break `torch.pinverse` on XLA and expectedly we get XLA test failure for `AtenXlaTensorTest.TestPinverse`.

I think the fix is rather simple: we need to add to `xla/torch_xla/csrc/aten_xla_type.cpp`
[code]
Note that t

[2021-05-07 16:43] gabrielwong1991 commented on #2933
Same problem here: https://stackoverflow.com/questions/67257008/oserror-libmkl-intel-lp64-so-1-cannot-open-shared-object-file-no-such-file-or?noredirect=1#comment119195593_67257008

[2021-05-07 19:43] JackCaoG commented on #2755
Thanks! I will take a look.

[2021-05-07 21:43] #2890 closed

[2021-05-08 00:28] JackCaoG commented on #2932
Hmm, I can't find any document about `im2col`, is there any way for me to find out what this ops does besides reading pytorch native implementation @ailzhang 😄 ?

I am surprise that when you call `nn.unfold`, it didn't use `at::unfold`. We attempted to lower `unfold` in https://github.com/pytorch/xla/pull/2326/files using convolution but run into some performance issue.

[2021-05-08 10:48] yuangan commented on #2932
How about aten::col2im, aten::col2im_backward? When I call `nn.fold`,  the same issue will occur.
And `met.metrics_report()` goes like this:

  Value: 9
Counter: aten::col2im_backward
  Value: 3
Counter: aten::im2col
  Value: 9
Counter: aten::im2col_backward
  Value: 2

torch version: 1.8.1
xla version: torch_xla-1.8.1-cp37-cp37m-linux_x86_64

[2021-05-09 19:15] rwightman commented on #2932
unfold is im2col, https://github.com/pytorch/pytorch/blob/master/torch/nn/functional.py#L4420-L4455
and fold col2im

So this issue likely the same as #2239

I ran into this w/ an attn based module recently https://github.com/pytorch/pytorch/blob/master/torch/nn/functional.py#L4420-L4455 ... use seems to be cropping up more frequently with attn mechanisms using overlapping windows...

[2021-05-09 20:19] rwightman commented on #2932
FYI, I was looking at some approaches, had one conv2 based soln that blew up the memory, and found a jax impl that might be better.. have yet to try a closer equivalent in Pytorch XLA...

https://github.com/google/jax/blob/594309c12b39ccc79df142b85af40c53fa780468/jax/_src/lax/other.py#L23
https://github.com/google/jax/discussions/5968

[2021-05-10 01:27] kaushikb11 commented on #2735
@Varun9213 Could you try again?

[2021-05-10 15:02] IvanYashchuk commented on #2755
Note that `_svd_helper` is an internal function (name starts with an underscore) that should not have been exposed in `at::` namespace, there is no backward compatibility guarantee and it may be removed in the future.

[2021-05-10 17:10] gabrielwong1991 opened #2937 "Training works with nprocs = 1 but not nprocs = 8"
## ❓ Questions and Help
Hi all, I am training a transformer model with custom dataset (~ 800mb data) in Colab (or Kaggle) TPU and my code works when setting nprocs = 1 but will hang when after reaching `xm.mark_step()` in first step and entering second step.

Unfortunately, I cannot run `met.metrics_report()` since it won't reach the first step though I could produce when nprocs = 1.

I tried trou

[2021-05-10 18:12] NakedKoala opened #2939 "Error: torch_xla/csrc/convert_ops.cpp:83 : Unsupported XLA type 10"
## 🐛 Bug

When using pytorch-lightning to run TPU training, Encounter below error message
[code]
I believe the error related to lowering is coming from xla and not pytorch-lightning.

### To Reproduce

Sorry that I don't have further detailed info on what is causing the error

Please run this colab notebook,

https://colab.research.google.com/drive/1IlhXRWP84c3mXgjJMsypmhIC-4sSsDQf?usp=sharing

##

[2021-05-10 19:30] JackCaoG commented on #2939
The code is trying to cast some variable to `float16` which is not supported on TPU. TPU uses `bfloat16`. Do you know where this cast coming from? Are you using AMP for example?

[2021-05-10 22:52] JackCaoG commented on #2933
Thanks for reporting, I am able to repo. Taking a look now.

[2021-05-10 23:18] tsuga commented on #2735
@kaushikb11 Thank for your note. I tried this last night but am having some difficulties by #1666
Once I have this sorted out, I'll report back here.

[2021-05-10 23:19] tsuga commented on #2933
Having the same issue on my end as well.

[2021-05-11 00:07] JackCaoG commented on #2933
[code]

fix my problem. Could you guys give it a try? I will try to push the fix internally.

[2021-05-11 00:38] thisiscam commented on #2935
@JackCaoG Thanks for the info!

[2021-05-11 00:39] #2935 closed

[2021-05-11 02:24] JackCaoG commented on #2755
yea, but I can't overwrite `linalg_svd`. Looking at the `native_functions.yaml`, my guess is that `linalg_svd` does not have `dispatch` field. If this is not intentional, I am happy to overwrite `linalg_svd` instead.

[2021-05-11 02:26] JackCaoG commented on #2755
Looking at generated aten_xla_type_default.h, I only see
[code]

[2021-05-11 04:57] mruberry commented on #2755
What would you need to overwrite linalg_svd, @JackCaoG?

[2021-05-11 13:36] jysohn23 commented on #2937
Like you say on single core it looks like training is working fine and performing well.

On the 8 core setup, could you try re-running with the following environment variables?
[code]

That should tell us exactly what is happening within our framework when it's hanging.

Also I noticed that `data_loader` in your train loop fn is already a `pl.ParallelLoader` you don't need to manually do:
* `ids =

[2021-05-11 21:56] #2933 closed

[2021-05-11 22:14] bdhirsh commented on #2755
It looks like `linalg_svd` is a composite op according to `native_functions.yaml`: it's implementation is backend-agnostic, and `at::_svd_helper` does the real backend-dependent work under the hood.

I don't think any changes on the pytorch core side are required to lower it though: the codegen (both new and old) should deal with composite ops correctly, as long as you write your own lowering. Giv

[2021-05-11 22:20] JackCaoG commented on #2755
Thanks Brian! Pytorch/xla rarely lower the composite op unless native implemantion does not work. I think I will stick with only lowering `_svd_helper` for now.

[2021-05-12 06:50] ZhaofengWu opened #2946 "Floor division"
I'm very new to xla, but what's the best way to do floor division of an s32 tensor by a scalar integer and expect another s32 tensor? `//` or `torch.floor_division` seem to trigger a re-compilation. `torch.div(a, b, rounding_mode="floor")` yields an f64 tensor in the IR even though the result is actually a torch.int tensor in pytorch. I also tried to explicitly do `torch.div(a, b, rounding_mode="f

[2021-05-12 09:53] ZhaofengWu opened #2947 "Very low MXU utilization"
## ❓ Questions and Help
Hi, this is my first time using a TPU -- on Google Cloud's monitoring console, I'm seeing extremely low MXU utilization (mostly 0, with occasional 0.01% spikes). The TPU runtime CPU utilization is normal, at around 100%. This is only for inference, not training, so it's not a crazy workload, but I think 0.01% utilization is still too low. What are some good ways to debug th

[2021-05-12 13:47] jysohn23 commented on #2947
Are you making sure to batch your requests etc. to maximize utilization?

To monitor your performance with more detail this performance profiling tooling should help: https://cloud.google.com/tpu/docs/pytorch-xla-performance-profiling

[2021-05-12 18:28] ZhaofengWu commented on #2947
Thanks! If I have seen TPU OOM, does that necessarily mean I have batched things correctly?

[2021-05-12 19:03] JackCaoG commented on #2946
Yea.. it is from
https://github.com/pytorch/xla/blob/af0e2ef4b8220ee87f556ec6e4cacf5e7a54f3cf/torch_xla/csrc/tensor_methods.cpp#L1123

Torch `div` once default all divide to `true divide`(still the case if `rounding_mode` is not specified) so I converted `input` and `other` to floating IR. I guess for floor division we don't need to do that since floor is the default behavior of int division. Let

[2021-05-12 21:17] ZhaofengWu opened #2948 "Timing execution time only"
## ❓ Questions and Help
Is there a way to time a run excluding the compilation time? I can place timers around `mark_step()`, but I think that would include the compilation time.

[2021-05-12 21:22] kurtamohler opened #2949 "[PT_BREAK] Changing PyTorch `std::string` arguments to `c10::string_view`"
I'm working on a PR to change PyTorch's operators to use `c10::string_view` arguments instead of `std::string` in https://github.com/pytorch/pytorch/pull/57680. This breaks the `pytorch_xla_linux_bionic_py3_6_clang9_build` CI job:

https://app.circleci.com/pipelines/github/pytorch/pytorch/321809/workflows/c409bddc-12c5-465e-8a29-7eb859717286/jobs/13444678
[code]

[2021-05-12 21:40] JackCaoG commented on #2948
Please check https://github.com/pytorch/xla/blob/master/TROUBLESHOOTING.md#get-a-metrics-report. There is a `ExecuteTime` metric

[2021-05-12 23:24] ZhaofengWu commented on #2948
Thanks, but could you help explain the report a little bit? For example, for the `CompileTime` in the doc that you linked, is `Counter` the total time taken? It seems that it's not the case that `Rate * TotalSamples = Counter`.

Also, if I call `metric_report()` multiple times, are the values accumulated throughout the entire program run?

[2021-05-13 00:53] JackCaoG commented on #2946
Actually we do need to cast to floating point when we perform the floor divide. If we don't cast, for things like `-1 // 10` will return 0 instead of -1 for pt/xla. Maybe I should cast the IR to corresponding pytorch dtype to resolve this mistach in pytorch dtype and IR type.

[2021-05-13 03:29] JackCaoG commented on #2948
unfortunately we don't have such docs. I think `ValueRate` is just `Counter/Sample`, it doesn't make much sense for most metrics.

Counter is the accumulated value of this metric from the beginning of the run to the time you call `metric_report`. `metric_report` is just a snapshot of the current metric, calling it won't reset anything if that is your question.

[2021-05-13 03:37] ZhaofengWu commented on #2948
It seems that, at least for the values in the doc, `ValueRate * Sample != Counter`. And `Rate * Sample != Counter` either. The format of `ValueRate` is also a bit strange: `TIME / second`.

![image](https://user-images.githubusercontent.com/11954789/118073819-7b7e3380-b361-11eb-9739-96bfe71130f3.png)

[2021-05-13 13:01] jysohn23 commented on #2947
Not necessarily as you may just have been leaking HBM with random tensors that weren't cleaned up. If you observed the OOM as you kept on increasing inference batch size, it probably means you're doing it right.

[2021-05-13 18:07] gabrielwong1991 commented on #2937
Hi does anyone know how to turn on XLA debug mode in colab? I followed jysohn23 by adding the suggested environment variables it is not printing. Thanks

![image](https://user-images.githubusercontent.com/30657000/118167237-60bdc480-b41e-11eb-9870-3c05b9bfa169.png)

[2021-05-14 22:02] #2946 closed

[2021-05-15 18:09] ZhaofengWu commented on #2947
Ok, thank you!

[2021-05-15 18:09] #2947 closed

[2021-05-17 23:37] gabrielwong1991 commented on #2937
Hi! I have finally able to pull information out from enabling the environment variables by running the script in .py instead of running in .ipynb like: `!PT_XLA_DEBUG=1 TF_CPP_LOG_THREAD_ID=1 TF_CPP_MIN_LOG_LEVEL=0 TF_CPP_VMODULE=tensor=5 computation_client=5 xrt_computation_client=5 aten_xla_type=1 python -u train.py`

Here are the results though I don't think it tell much about the process?

[co

[2021-05-18 13:01] jysohn23 commented on #2937
OK, thanks for the info! Looks like the graph execution is hanging as you can see in the last log. For us to be able to dump the graph that is hanging on execution by setting `XLA_SAVE_TENSORS_FILE=path/to/file.hlo XLA_SAVE_TENSORS_FMT=hlo XLA_IR_DEBUG=1 XLA_HLO_DEBUG=1`.

What is weird though is that I don't see logs printed after "Loss" as I'd expect execution after "Backward" and "Mark Step" ar

[2021-05-18 15:44] gabrielwong1991 commented on #2937
Hi, this is the graph for the first step since it does not finish the second step I think the graph is not saved.

[tensor_dump.hlo.zip](https://github.com/pytorch/xla/files/6502567/tensor_dump.hlo.zip)

I am trying to make the script accessible perhaps one could reproduce the problem?

Thanks!

[2021-05-18 16:23] gabrielwong1991 commented on #2937
Hi, I have made the notebook accessible it should work straight away. Thanks.

https://colab.research.google.com/drive/1cOiQjaElTXsdxNVDhSMfvauibyNzkImW?usp=sharing

[2021-05-19 09:31] hzfan opened #2957 "How to compile xla_ltc_plugin"
I was following https://github.com/pytorch/xla/tree/asuhan/xla_ltc_plugin to build ltc-based torch/xla. I compiled ltc successfully but encountered errors when compiling xla. I guess I must have missed something here. Help is greatly appreciated :) cc @asuhan

<details>

  <summary>Error log</summary>

[code]

</details>

It seems `lazy_tensor_core/lazy_tensors/computation_client` and `xla/third_p

[2021-05-19 18:25] asuhan commented on #2957
Does it work if you manually delete `/home/ubuntu/pytorch/xla/third_party/tensorflow/bazel-tensorflow/tensorflow/compiler/xla/xla_client/client_data.h`?

I don't have time for it right now, but we'll find a robust solution to this. I've encountered the same issue but now I cannot replicate anymore. It's always tricky to combine setuptools with Bazel, but we'll fix it.

[2021-05-19 22:40] fdabek1 opened #2958 "Reshape 3D/4D tensors to 2D?"
In the original BERT Tensorflow code, they reshape matrices to always be 2D and they reference that it is done to speed up the performance on the TPU.  Does this same logic apply when using XLA on TPU's?

Here is the source code location from the original BERT Tensorflow: https://github.com/google-research/bert/blob/master/modeling.py#L932

[code]

[2021-05-21 04:00] rish-16 opened #2960 "Getting Error: Input tensor is not an XLA tensor: torch.FloatTensor"
## ❓ Questions and Help

Hello,

I'm trying out PT XLA on a Colab TPU and ran into the following error:

TLDR ERROR:
[code]

SEE FULL ERROR:
<details>
    <summary>click to see</summary>

[code]
</details>

My training loop is as such:

[code]

Any help here would be great. Thank you!

[2021-05-21 04:24] rish-16 commented on #899
Hey everyone,

Don't mind me jumping in here 😓  I received similar errors where the TPU instance crashes because my data is apparently a `FloatTensor` and not a `XLA Tensor`. I follow the similar steps prescribed in the `PT XLA MNIST on TPU` Colab notebook.

As mentioned above, I added the `.to(xla_device)` to my dataloader tensors `x` and `y`. It still gave me the same error.

I describe my error

[2021-05-21 15:41] #2949 closed

[2021-05-21 17:09] JackCaoG commented on #2958
Hi @fdabek1 I don't think this will apply to pt/xla. I chatted with Blake from the xla team and it seem like `you have to reshape a >= rank 2 to matrix to improve the speed` is a bug and have been resolved.

[2021-05-22 02:49] #2960 closed

[2021-05-22 04:59] yingyukexiansheng commented on #1280
can you tell me the fairseq version that you had uesd, i not find the --num_cores command in my version, my version is 0.10.2 ,thank you very match

[2021-05-22 10:52] Adnios commented on #2892
Hello @JackCaoG . I have almost the same problem. See pr https://github.com/pytorch/pytorch/pull/58648. This may be caused by my additions of `test_mish_inplace_overlap_xla` function. Would you take a look？

[2021-05-24 10:10] hzfan commented on #2957
Hi @asuhan, I went through the lazy tensor core code base these days and find it quite promising. I am working on a POC to integrate a customized backend into pytorch. LTC serves as a perfect bridge.

IIUC, in https://github.com/pytorch/xla/tree/asuhan/xla_ltc_plugin, `xla/lazy_xla/csrc/aten_xla_type.cpp` hooks the imperative pytorch operators to symbolic lazy tensors, which seems like a trace-bas

[2021-05-24 12:09] byronyi commented on #2957
@hzfan Take a look at https://github.com/pytorch/rfcs/pull/18

[2021-05-24 13:59] bdhirsh opened #2964 "Support as_strided() for all shapes"
The current [as_strided implementation](https://github.com/pytorch/xla/blob/815197139b94e5655ed6b347f48864e73dc73011/torch_xla/csrc/aten_xla_type.cpp#L655) only supports a limited set of shapes, and currently falls back to the "default" implementation on CPU for shapes that it doesn't support.

That's technically incorrect behavior, since the fallback creates the view on CPU, and copies the result

[2021-05-24 15:37] hzfan commented on #2957
@byronyi Thanks for bringing this up. The RFC confirms that ltc is based on trace and comes with no support for control flow.

Nevertheless it would be great if we can discuss the possibility. An IR with control flow gives backends more optimization opportunities. https://github.com/pytorch/xla/issues/2431 requests the same feature.

[2021-05-24 19:17] JackCaoG commented on #2964
Thanks for brining this up! Fully supporting `stride` and `view` is challenging for pt/xla since it does not have storage. We convert `stride` to a bunch of reshape but that doesn't work for all cases.

Fallbacking or materializing view tensor will cause some issue.  This is a known problem also reported in https://github.com/pytorch/xla/pull/2770#issuecomment-780092708. Although it is technically

[2021-05-24 19:24] JackCaoG commented on #2958
I will close this issue for now, feel free to reopen if you have any followup questions. 😄

[2021-05-24 19:24] #2958 closed

[2021-05-24 19:49] codeislife99 commented on #2918
@yaochengji Do you mind sharing the BERT codebase/script you used to run it successfully with good performance , I am facing a lot of issues ? Thanks.

[2021-05-24 21:33] asuhan commented on #2957
@hzfan I've added a comment to the RFC discussion addressing that. I think we all agree that lazy tensors alone cannot address all training scenarios and some degree of help from TorchScript, used for small sections of the model, is a sweet spot we can achieve.

[2021-05-24 21:51] yaochengji commented on #2918
@codeislife99 I'm sorry I cannot because of the company regulation.

[2021-05-24 21:56] yaochengji commented on #2918
https://github.com/codeislife99/xla/blob/9f3b7f2b8d60ee4e2e10548ba2470aff3ca170cd/test/test_train_mp_bert.py#L177
I think you should swap L177 and L179.

[2021-05-24 22:08] yaochengji commented on #2918
For the `Internal: Seen floating point types of different precisions in` issue, I also find that there's something wrong when the pytorch `autocast` logic deals with `fp64`. A workaround is to change all `fp64` to `fp32`.

[2021-05-24 22:18] codeislife99 commented on #2918
Wow @yaochengji - Swapping those lines solved the optimizer issue I was encountering with AMP. Now its 20% faster than native pytorch CUDA with AMP enabled. I never would have even thought it would be so trivial. Do you know what changes internally when these two lines are swapped ??
cc: @JackCaoG

[2021-05-24 22:19] codeislife99 commented on #2918
I will try the fp64 to fp32 and see if things change.

[2021-05-24 22:24] codeislife99 commented on #2918
Another question, I have is, you said that you weren't able to see a speedup for BERT, but I was able to see 20% for this specific model. Most probably we are using different BERT models. Is your model heavier or if that's something you cannot disclose that's fine too.

[2021-05-24 22:33] codeislife99 commented on #2918
Another question, I have is, you said that you weren't able to see a speedup for BERT, but I was able to see 30% slowdown for this specific model. Most probably we are using different BERT models. Is your model heavier or if that's something you cannot disclose that's fine too.

[2021-05-24 22:33] yaochengji commented on #2918
The previous version fails because optimizer is constructed with non-xla device model.

[2021-05-24 22:42] yaochengji commented on #2918
The model I tested before was written by others, hence what I know is only that it is a bert-like model. It is possible different models has different performances. For the 30% slowdown, I suppose you could use https://github.com/pytorch/xla/blob/master/TROUBLESHOOTING.md#understand-the-metrics-report. to make sure there's only one computing graph to maximize the ability of pytorch/xla.

[2021-05-24 22:46] codeislife99 commented on #2918
Yeah, I see that, but when we switch from CPU <-> GPU in native PyTorch, even though optimizer is constructed with CPU model, it doesn't have the same errors. So what changes with XLA was what I wanted to ask

[2021-05-24 22:50] codeislife99 commented on #2918
Yeah now that I am able to get it working with some reasonable speed, I will do a thorough analysis. Just wanted to get a high level idea of what your model looked like,  so thanks for sharing that information :)

[2021-05-25 11:29] gabrielwong1991 commented on #2937
Hi... Is there anything I can do to understand the issue more? Thanks

[2021-05-25 12:29] codeislife99 commented on #2918
These are the metrics that I generated. I see that `aten::masked_select` is not present anymore and also that compilation is occuring very rarely and only occurred mostly initially. Trying to find out what other reasons might be for the slowdown.
`Metric: CompileTime
  TotalSamples: 5
  Accumulator: 04m19s324ms429.976us
  ValueRate: 964ms427.143us / second
  Rate: 0.018595 / second
  Percentiles:

[2021-05-25 14:26] jysohn23 commented on #2937
Hi sorry for the slow response, running it myself currently.

You can also view the turned on debug logging under `Runtime > View Runtime Logs`:
![Screen Shot 2021-05-25 at 10 19 40 AM](https://user-images.githubusercontent.com/19496130/119514049-b9f0f680-bd42-11eb-9862-2654066c8cf1.png)

Also, given that it looks like you're trying to train using HF transformers library have you given the trainer

[2021-05-25 15:50] gabrielwong1991 commented on #2937
Thanks, Daniel I will have a look at the trainer.py script. The reason for this script is to learn the underlying nuts and bolts for the task at hand rather than calling higher-level trainer.py to do the job.

Anyhow, apparently there is something inside TPU that is out of my expertise as this script works with 1 core.

Please, only when you have time, look into this issue as I am curious as to wh

[2021-05-25 22:12] codeislife99 commented on #2918
@JackCaoG @yaochengji Is it really possible to eliminate this `aten::_local_scalar_dense` given that it is coming from `GradScaler()` or should I just look for alternate areas of slowdown?

[2021-05-27 23:03] ultrons opened #2967 "Lowering for aten::amax op"
Used in a vision model.
Full details of the performance impact is not available yet.

@JackCaoG  creating this as discussed.

[2021-05-27 23:26] JackCaoG opened #2968 "Lowering of OP IsNan and LERP"
Per user request.

[2021-06-02 22:22] yaochengji opened #2973 "Coexist with Tensorboard"
## 🐛 Bug

## To Reproduce

[code]

## Expected behavior

[code]

## Environment

 - Reproducible on XLA backend : XLA backend has not been set.
 - torch_xla version: 1.8

## Additional context

[2021-06-03 14:34] jysohn23 commented on #2973
I'm not really able to reproduce the issue with the environments we provide on our GCE images:
[code]

With:
[code]

Can you report the result of running `pip freeze | grep "torch\|tensor"` on your environment? We should be hitting this path instead using TF stub defined by Tensorboard: https://github.com/tensorflow/tensorboard/blob/abf1759113bae2097e6e5a5482cef86abacbb594/tensorboard/compat/__ini

[2021-06-03 17:50] yaochengji commented on #2973
[code]

And I find if I uninstall tensorflow, it could succeed. :)

[2021-06-03 23:18] rwightman opened #2976 "CUDA nightlies performance regression"
## 🐛 Bug

I've been using `nightly_3.7_cuda` containers to test my XLA training code locally during development. There has been a significant performance regression since the 0421 container. I first noticed w/ 0510 nightly but haven't done a bisect to find exact nightly it changed. Since then I've tried two others to see if it was fixed, most recently 0601. Still the same.

## To Reproduce

Issue

[2021-06-03 23:53] JackCaoG commented on #2976
Thanks @rwightman , I will try to bisect the change and report to the XLA:GPU team. @yaochengji Did you observer similar regression to your gpu workload?

[2021-06-03 23:58] rwightman commented on #2976
One more datapoint, less to do with the regression but more to do with the gap btw XLA vs standard PyTorch. W/ channels_last enabled on the NGC 21.05 container, the 2x setup above yields approx 2000 img/s.

Based on my JAX/Flax usage it was my understanding that XLA should deal with the optimal memory layout and should in theory already be trying to use the optimzied Tensor Core kernels that get a

[2021-06-04 00:04] yaochengji commented on #2976
I haven't find any regression on resnet-like models yet. What I use is v1.8.1 on V100 GPU, trained on Resnet 50, together with real data pre-processing and peripheral code.

Single GPU:
pytorch: 760 images/s per GPU
torch/xla: 1050 images/s per GPU

8 GPUs:
pytorch: 670 images/s
torch/xla: 950 images/s

[2021-06-04 00:06] yaochengji commented on #2976
I also find pytorch could speed up a lot when enabled channels_last. But when it comes to torch/xla, I could not see any apparent improvement.

[2021-06-04 00:24] rwightman commented on #2976
@yaochengji I don't believe the memory format has any impact in PyTorch XLA, I was under the impression that the XLA compiler should change the memory format if it knows that it's optimal for a given dtype, would also need to know the SM it's targetting and I'm not sure how that works with PyTorch XLA CUDA builds. With JAX I built the jaxlib from source in an NGC container with latest cuDNN.

[2021-06-04 01:36] JackCaoG commented on #2973
I will close this issue since it is resolved. Fell free to reopen if you have further questions.

[2021-06-04 01:36] #2973 closed

[2021-06-07 17:52] ezyang opened #2978 "Bot that automatically merges pull requests when the upstream PR they pin to gets merged"
This is not a very major problem, but a common problem is an pytorch/pytorch PR gets merged at some point, and then whenever someone on XLA side notices they need to merge the XLA side PR.

What if we had a bot that could automatically merge XLA side PRs when the pytorch/pytorch PR shows up on master? Could probably implement it without too much difficulty in https://github.com/pytorch/pytorch-pro

[2021-06-07 18:17] JackCaoG commented on #2968
Both lowering is merged, close this issue

[2021-06-07 18:17] #2968 closed

[2021-06-07 18:52] JackCaoG opened #2979 "Force a build error when upstream pytorch op signature changed"
I found one annoying problem with removing `AtenXlaType`  prefix for all of the methods in `aten_xla_type.cpp`. When there is an op signature change, the compilation will not fail but will throw a error like
[code]
when that function is actually used.

I am afraid this will make it harder for us to catch the op signature change. I think we need a way to force function implementation in `aten_xla_t

[2021-06-08 00:42] tyoc213 opened #2981 "Where is torch_xla/csrc/XLANativeFunctions.h?"
## 🐛 Bug

Trying to compile master found that there is no https://github.com/pytorch/xla/blob/master/torch_xla/csrc/XLANativeFunctions.h after updating to latest master.

How this file is generated? (aka which step Im missing?)

[code]

## Environment

 - Installing from source on Linux/CUDA:
 - torch_xla version: master

[2021-06-08 00:48] JackCaoG commented on #2981
@bdhirsh recently submit a bunch of pr regarding pt/xla code gen and `XLANativeFunctions.h` replaces previous `aten_xla_type.h`. I think if you update your pytorch to nightly you should be able to generate this file

[2021-06-08 21:24] JackCaoG opened #2987 "Support Stable sort"
There was an op signature change to `torch.sort` which support stable sorting. I submited https://github.com/pytorch/xla/commit/2f30eb9541bd5f75687d78fccdf14e1b620a6d6c#diff-f57297d1529a97aaa12d95b780d8305f5bf35a7277c21c042aa394649ffe35bb but later revert this pr with the upstream pytorch pr. I think the stable sort has been separated from native sort for BC reason and is now has a different entry

[2021-06-09 01:43] tyoc213 commented on #2981
You where right that I need to update  pytorch on xla the following err which I can skip if `xport BUILD_TEST=0`

[code]

[2021-06-09 02:51] tmabraham opened #2988 "PyTorch XLA nightly doesn't work on Kaggle"
See the following Kaggle Notebook:
https://www.kaggle.com/tanlikesmath/pytorch-xla-nightly-import-bug

I simply try to `import torch` and I get:
[code]

This seems to be related to #2933 but the fix described in there does not work.  Specifically, I tried running the following code:
[code]
I get the following output for the above code:
[code]
(the last line remains if I remove `sudo` from the abov

[2021-06-09 03:00] tyoc213 commented on #2981
mmm, I think Im still getting error, (also I still could not build with test on) but I have try `export BUILD_TEST=0` got same result

[code]

[2021-06-09 21:07] ailzhang opened #2989 "gradient for collective apis"
Reported by @ronghanghu in https://github.com/pytorch/xla/pull/2086#issuecomment-857394739.

[2021-06-11 01:45] #2865 closed

[2021-06-13 07:52] #2749 closed

[2021-06-13 14:56] helloworld123-lab commented on #2988
The following code works for me.
[code]

[2021-06-14 12:13] codeislife99 opened #2997 "Lowest Level HLO Graph"
I wanted to get the lowest level HLO graph, which is the graph after all fusions and optimizations have been done. The HLO Dump that I get with the environment variables in the troubleshooting README has aten operations in it. However when I profile the code, I see a bunch of `fusion_xx`(fusion_13, fusion_967 etc) kernels. I would like to know which operators are contributing to these fusion kerne

[2021-06-14 21:50] rwightman commented on #2790
@mobassir94 @jiasenwu to workaround this issue in `timm` I'll be merging a change that uses F.batch_norm shortly, keeps it all in one kernel (and I can throw in the scale too). Other uses of std_mean for standardization / z-score can also use this approach.

[code]

[2021-06-14 22:18] JackCaoG commented on #2790
We are working on this lowering, should be available on nightly soon.

[2021-06-14 23:17] JackCaoG commented on #2997
If you set the `XLA_SAVE_TENSORS_FMT ` to `hlo` and set `XLA_SAVE_TENSORS_FILE`, you should be able to get the hlo dump (without any fushion through). Regarding the fused kernel, @jysohn23 I remembered there were some frictions for us to know the op that was fused. Is that still true?

[2021-06-14 23:34] codeislife99 commented on #2997
Hi Jack, thanks for your response.

I am already doing what you said, but because I am trying to profile bottlenecks, and kernels which are launched are named like `fusion_xx` the graph dumps by enabling those environment variables are not very helpful. This is because I want to correlate lets say `fusion_33` with some real ops (like fc + softmax etc.). The lowest level HLO pass should give me thi

[2021-06-15 13:04] jysohn23 commented on #2997
You mention you're profiling. Are you profiling the execution of the graphs on TPU? If you aren't already, can you try running with `XLA_HLO_DEBUG=1`? With that turned on the execution traces should also show additional op metadata on the execution traces in addition to just `fusion_xx`. Ex: https://cloud.google.com/tpu/docs/images/pytorchxlaperf--pltdmhvn17.png

[2021-06-15 20:16] codeislife99 commented on #2997
I am on a GPU. I don't see the correspondence in my trace viewer. `XLA_HLO_DEBUG=1` and `PT_XLA_DEBUG=1` both are already turned on.
![image](https://user-images.githubusercontent.com/17168743/122117599-e812a500-cddb-11eb-952f-6b603e2dad32.png)

[2021-06-16 09:47] codeislife99 commented on #2997
So it turns out that the way to get the HLO graph before and after each optimization is to simply use the following env variables.
[code]
More options can be found [here](https://docs.rs/tensorflow_proto/0.2.0/tensorflow_proto/xla/struct.DebugOptions.html#)